Repository apache/trafficserver, pull requests merged in 2018-11, with the labels that each got.

#4529 Some C++ cleanup for header_rewrite
  plugins/header_rewrite/condition.h
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/expander.h
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/operator.h
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
  plugins/header_rewrite/parser.h
  plugins/header_rewrite/regex_helper.h
  plugins/header_rewrite/resources.h
  plugins/header_rewrite/ruleset.h
  plugins/header_rewrite/statement.h
  plugins/header_rewrite/value.h
Labels: Cleanup, Plugins

#4528 Removes ref-counting from background_fetch
  plugins/background_fetch/background_fetch.cc
  plugins/background_fetch/configs.h
Labels: Cleanup, Plugins

#4537 Make sure ua_session is not nullptr
  proxy/http2/Http2ConnectionState.cc
Labels: Backport, HTTP/2

#4526 Atomic: Convert ProxyConfig to use std::atomic.
  mgmt/ProxyConfig.cc
  mgmt/ProxyConfig.h
Labels: Cleanup

#4532 Remove explicit free of ref-counted object.
  mgmt/ProxyConfig.h
Labels: Crash, OnDocs

#4527 Remove FAQ entry claiming that Traffic Server does not support expect-100
  doc/appendices/faq.en.rst
Labels: Documentation

#4125 ssl_session_reuse plugin
  build/hiredis.m4
  configure.ac
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/ssl_session_reuse.en.rst
  plugins/Makefile.am
  plugins/experimental/ssl_session_reuse/.gitignore
  plugins/experimental/ssl_session_reuse/Makefile.inc
  plugins/experimental/ssl_session_reuse/example_config.config
  plugins/experimental/ssl_session_reuse/src/Config.h
  plugins/experimental/ssl_session_reuse/src/ats_ssl_plugin.cc
  plugins/experimental/ssl_session_reuse/src/common.h
  plugins/experimental/ssl_session_reuse/src/config.cc
  plugins/experimental/ssl_session_reuse/src/connection.cc
  plugins/experimental/ssl_session_reuse/src/connection.h
  plugins/experimental/ssl_session_reuse/src/globals.h
  plugins/experimental/ssl_session_reuse/src/message.h
  plugins/experimental/ssl_session_reuse/src/openssl_utils.cc
  plugins/experimental/ssl_session_reuse/src/publish.cc
  plugins/experimental/ssl_session_reuse/src/publisher.h
  plugins/experimental/ssl_session_reuse/src/redis_auth.h
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.cc
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.h
  plugins/experimental/ssl_session_reuse/src/session_process.cc
  plugins/experimental/ssl_session_reuse/src/session_process.h
  plugins/experimental/ssl_session_reuse/src/simple_pool.cc
  plugins/experimental/ssl_session_reuse/src/simple_pool.h
  plugins/experimental/ssl_session_reuse/src/ssl_init.cc
  plugins/experimental/ssl_session_reuse/src/ssl_key_utils.cc
  plugins/experimental/ssl_session_reuse/src/ssl_utils.h
  plugins/experimental/ssl_session_reuse/src/stek.h
  plugins/experimental/ssl_session_reuse/src/subscriber.cc
  plugins/experimental/ssl_session_reuse/src/subscriber.h
  plugins/experimental/ssl_session_reuse/tests/plug-load.test.py
Labels: Plugins, TLS

#4453 TCL: Code relocation in HttpCompact and HttpBodyFactory for TCL removal
  .gitignore
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/HdrTest.h
  proxy/hdrs/HttpCompat.cc
  proxy/hdrs/HttpCompat.h
  proxy/http/HttpBodyFactory.cc
  proxy/http/HttpBodyFactory.h
  proxy/http/Makefile.am
  proxy/http/unit_tests/test_ForwardedConfig.cc
  proxy/http/unit_tests/test_ForwardedConfig_mocks.cc
  proxy/http/unit_tests/test_error_page_selection.cc
  proxy/http/unit_tests/unit_test_main.cc
Labels: Cleanup, Core

#4543 Fixes memory leaks in header_rewrite
  plugins/header_rewrite/condition.h
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/ruleset.cc
  plugins/header_rewrite/ruleset.h
  plugins/header_rewrite/statement.h
  plugins/header_rewrite/value.h
Labels: Backport

#4539 Docs: Change to run python directly, require python 3.4
  configure.ac
  doc/Makefile.am
  doc/checkvers.py
Labels: Documentation

#4538 Fix privilege acquisition to work better with docker
  src/traffic_manager/traffic_manager.cc
  src/tscore/ink_cap.cc
Labels: Core, Security

#4459 Move the test-only plugins test_hooks and test_cppapi to tests/tools/plugins.
  plugins/Makefile.am
  plugins/for_testing_only/test_cppapi/Makefile.inc
  plugins/for_testing_only/test_hooks/Makefile.inc
  tests/gold_tests/autest-site/trafficserver_plugins.test.ext
  tests/gold_tests/pluginTest/cppapi/cppapi.test.py
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/tools/plugins/test_cppapi.cc
  tests/tools/plugins/test_hooks.cc
Labels: Plugins, Tests

#4559 This hides the memory leak that CA otherwise finds
  plugins/experimental/magick/magick.cc
  plugins/experimental/webp_transform/ImageTransform.cc
Labels: clang-analyzer

#4558 Ignore the entire doc/_build directory that is generated
  .gitignore
Labels: Build

#4557 access_control: changes after 1st integration
  plugins/experimental/access_control/headers.cc
  plugins/experimental/access_control/headers.h
  plugins/experimental/access_control/plugin.cc
Labels: Plugins

#4552 Print error message for unimplemented commands
  src/traffic_ctl/traffic_ctl.cc
Labels: Commands

#4442 Don't buffer the logging for TSError
  src/traffic_server/InkAPI.cc
  tests/gold_tests/headers/domain-blacklist-30x.test.py
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
Labels: Logging, OnDocs, TS API

#4541 Doc minor fixes.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/ssl_session_reuse.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.rst
  doc/ext/traffic-server.py
Labels: Documentation

#4536 Minor C++ cleanup for background_fetch
  plugins/background_fetch/background_fetch.cc
  plugins/background_fetch/configs.h
Labels: Cleanup, Plugins

#4544 Updated Dockerfile with some additional dependencies
  ci/docker/yum/Dockerfile
Labels: CI

#4550 Doc: Describe parent weight and format
  doc/admin-guide/files/parent.config.en.rst
Labels: Documentation

#4565 Doc: Describe parent weight and format
  doc/admin-guide/files/parent.config.en.rst
Labels: Backport, Documentation

#4560 Add the TLSv1_3 setting to disable TLSv1_3
  doc/admin-guide/files/records.config.en.rst
  iocore/net/SSLConfig.cc
  mgmt/RecordsConfig.cc
  tests/gold_tests/tls_hooks/tls_hooks.test.py
Labels: Documentation, TLS, Tests

#4554 Make autests friendlier with openssl 1.1.1
  tests/gold_tests/headers/forwarded.gold
  tests/gold_tests/headers/via.gold
  tests/gold_tests/redirect/gold/redirect.gold
  tests/gold_tests/tls/ssl-post.c
  tests/gold_tests/tls/tls.test.py
  tests/gold_tests/tls/tls_ticket.test.py
Labels: TLS, Tests

#4567 Cleanup: Update Version support to be actual C++ code.
  include/tscore/I_Version.h
  iocore/aio/AIO.cc
  iocore/aio/I_AIO.h
  iocore/aio/P_AIO.h
  iocore/aio/test_AIO.cc
  iocore/cache/Cache.cc
  iocore/cache/CacheRead.cc
  iocore/cache/I_Cache.h
  iocore/cache/I_CacheDefs.h
  iocore/cache/P_CacheVol.h
  iocore/dns/DNS.cc
  iocore/dns/I_DNSProcessor.h
  iocore/dns/I_SplitDNS.h
  iocore/dns/P_SplitDNS.h
  iocore/dns/P_SplitDNSProcessor.h
  iocore/dns/SplitDNS.cc
  iocore/dns/test_I_DNS.cc
  iocore/eventsystem/EventSystem.cc
  iocore/eventsystem/I_EventSystem.h
  iocore/eventsystem/P_EventSystem.h
  iocore/eventsystem/test_Buffer.cc
  iocore/eventsystem/test_Event.cc
  iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
  iocore/hostdb/HostDB.cc
  iocore/hostdb/I_HostDB.h
  iocore/hostdb/I_HostDBProcessor.h
  iocore/hostdb/P_HostDB.h
  iocore/hostdb/P_RefCountCache.h
  iocore/hostdb/RefCountCache.cc
  iocore/hostdb/test_I_HostDB.cc
  iocore/hostdb/test_RefCountCache.cc
  iocore/net/I_Net.h
  iocore/net/Net.cc
  iocore/net/P_Net.h
  iocore/net/test_I_Net.cc
  iocore/net/test_I_UDPNet.cc
  iocore/net/test_P_Net.cc
  src/traffic_cache_tool/CacheDefs.cc
  src/traffic_cache_tool/CacheTool.cc
  src/traffic_server/traffic_server.cc
Labels: Cleanup

#4551 Fix TLS hooks diagram and other docs cleanup
  doc/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.rst
Labels: Documentation

#4570 MIME: Add string_view based overload for value_get.
  proxy/hdrs/MIME.h
Labels: Cleanup

#4568 Adjusts the format for header_rewrite string concatenation
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/header_rewrite_test.cc
  plugins/header_rewrite/parser.cc
  plugins/header_rewrite/parser.h
  plugins/header_rewrite/regex_helper.cc
  plugins/header_rewrite/regex_helper.h
  plugins/header_rewrite/value.cc
Labels: Plugins

#4574 Allows the use of certs with no commonName, but with subjectAltNames
  iocore/net/SSLUtils.cc
Labels: Bug

#4577 Doc: change code snippet highlighting scheme
  doc/conf.py
Labels: Documentation

#4573 access_control: reduced some log errs to debug
  plugins/experimental/access_control/plugin.cc
Labels: Plugins

#4581 Doc: Add missing overrides and sort
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
Labels: Documentation

#4572 Fixes another memory leak related to OCSP
  iocore/net/OCSPStapling.cc
Labels: Bug

#4473 Cleanup: Replace DynArray with STL vector
  include/tscore/DynArray.h
  proxy/ControlMatcher.h
  proxy/RegressionSM.cc
  proxy/RegressionSM.h
  proxy/hdrs/HdrHeap.cc
  proxy/hdrs/HdrHeap.h
  proxy/http/HttpPages.h
  src/traffic_server/CoreUtils.cc
  src/traffic_server/CoreUtils.h
  src/tscore/Makefile.am
Labels: Cleanup

#4580 Make double_h2 reliably wait for stats to be ready
  tests/gold_tests/continuations/double.test.py
  tests/gold_tests/continuations/double_h2.test.py
  tests/gold_tests/continuations/openclose.test.py
  tests/gold_tests/continuations/openclose_h2.test.py
  tests/tools/plugins/continuations_verify.cc
  tests/tools/plugins/ssntxnorder_verify.cc
Labels: Tests

#4586 Turn this Debug back into an Error
  plugins/header_rewrite/factory.cc
Labels: Plugins

#4587 Remove unused code
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#4571 ArgParser: standardize version message and usage exit code
  doc/developer-guide/internal-libraries/ArgParser.en.rst
  include/tscore/ArgParser.h
  src/traffic_cache_tool/Makefile.inc
  src/traffic_layout/traffic_layout.cc
  src/tscore/ArgParser.cc
Labels: Commands

#4594 Release the mutex after the events are cancelled
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#4592 Doc: sort overrides in table; remove missing references
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
Labels: Documentation

#4585 Runroot: make runroot_handler support both ink_args and ArgParser
  include/tscore/runroot.h
  src/traffic_layout/traffic_layout.cc
  src/tscore/runroot.cc
Labels: Commands

#4590 Print thread name instead of thread id
  configure.ac
  include/tscore/ink_thread.h
  src/tscore/BufferWriterFormat.cc
  src/tscore/Diags.cc
Labels: Logging

#4605 Ability to turn off traffic manager listening to proxy ports
  doc/appendices/command-line/traffic_manager.en.rst
  mgmt/LocalManager.cc
  mgmt/LocalManager.h
  src/traffic_manager/traffic_manager.cc
Labels: Manager

#4599 Doc: Remove pipeline references
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#4616 [WEBP] Transform images when a client accepts image/webp.
  plugins/experimental/webp_transform/ImageTransform.cc
Labels: Plugins

#4617 Release the mutex after the events are cancelled
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#4534 Fix logging log file roll issue (#2544).
  proxy/logging/LogFile.cc
Labels: Backport

#4622 QUIC: Fixed the signalActivity is not work on QUIC branch
  iocore/net/UnixNet.cc
Labels: QUIC

#4619 Doc: cache.config isn't a substitute for Cache-Control
  doc/admin-guide/files/cache.config.en.rst
Labels: Documentation

#4625 Fix mips & mipsel builds
  build/atomic.m4
  configure.ac
Labels: Build

#4297 Don't update records.config when other configs are reloaded
  lib/records/P_RecCore.cc
Labels: Configuration

#4591 An example of our preferred indentation style
  lib/records/RecCore.cc
  lib/records/RecRawStats.cc
Labels: Cleanup

#4615 Changes remap_purge to update the purge state immediately
  plugins/experimental/remap_purge/remap_purge.c
Labels: Plugins

#4628 QUIC: Fixes receive side delay
  iocore/net/QUICPacketHandler.cc
Labels: QUIC

#4627 Add test and fix regression with disable_h2 option
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
Labels: Configuration, HTTP/2, Tests

#4626 Fix and add tests for requiring TLS certs from user agent.
  iocore/net/SSLUtils.cc
  tests/gold_tests/tls/ssl/server.key
  tests/gold_tests/tls/ssl/server.pem
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
Labels: TLS, Tests

#4598 Changed the random number generator for QUICPathValidator
  iocore/net/quic/QUICPathValidator.cc
Labels: QUIC

#4629 Use LoopTailHandler in UDPNetHandler to support signalActivity
  iocore/net/P_UDPNet.h
  iocore/net/UnixUDPNet.cc
Labels: UDP

#4589 Refactor H2 cross thread event handling
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#4633 Avoid doubling the size of ats_unique_buf instances.
  include/tscore/ink_memory.h
  src/tscore/ink_memory.cc
Labels: Core

#4606 TLS Bridge: Fix remap for UA connection, tweak docs for remap support.
  doc/developer-guide/plugins/example-plugins/tls_bridge.en.rst
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Plugins

#4623 Keep frame id and frame generator instead of actual frame instance
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICFrame.cc
  iocore/net/quic/QUICFrame.h
  iocore/net/quic/QUICFrameGenerator.h
  iocore/net/quic/QUICLossDetector.cc
  iocore/net/quic/QUICPacket.cc
  iocore/net/quic/QUICPacket.h
  iocore/net/quic/test/test_QUICFrame.cc
  iocore/net/quic/test/test_QUICLossDetector.cc
  iocore/net/quic/test/test_QUICPacketFactory.cc
  iocore/net/quic/test/test_QUICVersionNegotiator.cc
Labels: QUIC, WIP

#4640 QUIC: Records frame information which needs to be tracked
  iocore/net/quic/QUICFrameGenerator.cc
  iocore/net/quic/QUICFrameGenerator.h
  iocore/net/quic/QUICFrameRecord.h
Labels: QUIC

#4641 Issue #4637: Clean up / unify hex conversions.
  CMakeLists.txt
  proxy/logging/LogFieldAliasMap.h
  proxy/logging/LogUtils.cc
Labels: Cleanup, Logging

#4487 Cleanup: replace multiple HashMap with STL unordered_map
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLSNI.h
  iocore/net/SNIActionPerformer.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLUtils.cc
Labels: Cleanup, Core

#4553 hostdb: Replace the last TSHashTable with IntrusiveHashMap.
  iocore/hostdb/HostDB.cc
  iocore/hostdb/P_RefCountCache.h
Labels: Cleanup

#4579 traffic_ctl: Refactor and convert traffic_ctl to use ArgParser
  include/tscore/runroot.h
  src/traffic_ctl/alarm.cc
  src/traffic_ctl/config.cc
  src/traffic_ctl/host.cc
  src/traffic_ctl/metric.cc
  src/traffic_ctl/plugin.cc
  src/traffic_ctl/server.cc
  src/traffic_ctl/storage.cc
  src/traffic_ctl/traffic_ctl.cc
  src/traffic_ctl/traffic_ctl.h
Labels: Commands

#4542 TCL: Replace RawHashTable with STL and refactor HttpBodyFactory
  include/tscore/RawHashTable.h
  proxy/hdrs/HttpCompat.h
  proxy/http/HttpBodyFactory.cc
  proxy/http/HttpBodyFactory.h
  proxy/http/unit_tests/test_error_page_selection.cc
  src/tscore/Makefile.am
  src/tscore/RawHashTable.cc
Labels: Cleanup

#4620 Doc: removing stale while revalidate plugin doc (marked deprecated in 7)
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/stale_while_revalidate.en.rst
Labels: Documentation

#4645 Cleanup: Remove Map.h including HashMap, Vec and TSHashTable
  include/tscore/Map.h
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLNetProcessor.h
  iocore/net/P_SSLSNI.h
  iocore/net/SNIActionPerformer.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSessionCache.h
  src/tscore/Makefile.am
  src/tscore/suppression.txt
  src/tscore/unit_tests/test_Map.cc
  src/tscore/unit_tests/test_Vec.cc
Labels: Core

#4646 TCL: Remove TCL from our code base
  README
  build/tcl.m4
  ci/docker/yum/Dockerfile
  ci/jenkins/jobs.yaml
  ci/regression
  configure.ac
  contrib/install_trafficserver.sh
  contrib/vagrant-setup.sh
  doc/Doxyfile
  doc/admin-guide/installation/index.en.rst
  doc/getting-started/index.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/installation/index.en.po
  doc/locale/ja/LC_MESSAGES/getting-started.en.po
  doc/locale/ja/LC_MESSAGES/getting-started/index.en.po
  include/tscore/ink_hash_table.h
  iocore/aio/Makefile.am
  iocore/eventsystem/Makefile.am
  iocore/hostdb/Makefile.am
  iocore/net/Makefile.am
  mgmt/api/Makefile.am
  proxy/hdrs/Makefile.am
  proxy/http/Makefile.am
  proxy/http2/Makefile.am
  src/traffic_cache_tool/Makefile.inc
  src/traffic_crashlog/Makefile.inc
  src/traffic_ctl/Makefile.inc
  src/traffic_layout/Makefile.inc
  src/traffic_logcat/Makefile.inc
  src/traffic_logstats/Makefile.inc
  src/traffic_manager/Makefile.inc
  src/traffic_server/Makefile.inc
  src/traffic_top/Makefile.inc
  src/tscore/Makefile.am
  src/tscore/ink_hash_table.cc
  tools/package/trafficserver.spec
Labels: Cleanup, Core

#4601 Update logging.yaml documentation
  doc/admin-guide/files/logging.yaml.en.rst
Labels: Documentation, Logging

#4650 Doc: Repair various format errors.
  doc/ext/traffic-server.py
Labels: Backport, Documentation

#4644 Add h2disable test.
  tests/gold_tests/h2/h2disable.test.py
Labels: Tests

#4653 Remove ssl.enable flag
  mgmt/RecordsConfig.cc
Labels: TLS

#4398 Removes the old expander feature of header_rewrite
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/Makefile.inc
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/expander.cc
  plugins/header_rewrite/expander.h
  plugins/header_rewrite/header_rewrite_test.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/value.cc
  plugins/header_rewrite/value.h
  tests/gold_tests/headers/domain-blacklist-30x.test.py
Labels: Cleanup, OnDocs, Plugins

#4566 Include additional names of events for debug output.
  lib/records/RecHttp.cc
  proxy/http/HttpDebugNames.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/pluginTest/test_hooks/log.gold
Labels: Logging

#4531 Rewrite url after running all remap plugins
  proxy/http/remap/RemapPlugins.cc
  proxy/http/remap/RemapPlugins.h
Labels: Core, HTTP

#4655 Add verify_server test without pristine header.
  tests/gold_tests/tls/tls_verify_not_pristine.test.py
Labels: TLS, Tests

#4666 Allow empty fqdn in ssl_server_name for unset SNI case.
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_SSLSNI.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLUtils.cc
  proxy/http/HttpSM.cc
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/tools/plugins/ssl_sni_rename_test.cc
Labels: TLS, Tests

#4613 Runroot: Update verify command and refactor
  doc/appendices/command-line/traffic_layout.en.rst
  src/traffic_layout/engine.cc
  src/traffic_layout/engine.h
  src/traffic_layout/traffic_layout.cc
  src/tscore/ArgParser.cc
  tests/gold_tests/runroot/runroot_init.test.py
  tests/gold_tests/runroot/runroot_verify.test.py
Labels: Cleanup

#4624 Do not reload remap.config when calling verify_config
  proxy/ReverseProxy.cc
  proxy/ReverseProxy.h
  src/traffic_server/traffic_server.cc
Labels: Bug

#4669 Cleanup: This is just a stylistic cleanup of PR 4531.
  proxy/http/remap/RemapPlugins.cc
  proxy/http/remap/RemapPlugins.h
Labels: Cleanup

#4657 TLS Bridge: Fix error where connect failure lead to a silent timeout.
  doc/developer-guide/plugins/example-plugins/tls_bridge.en.rst
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Plugins
