Repository apache/trafficserver, pull requests merged in 2018-04, with the labels that each got.

#3373 QUIC: Fix compiler warning
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3140 QUIC: Add refcount to protect qvc
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICClosedConCollector.cc
  iocore/net/QUICNet.cc
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3376 QUIC: Change QUIC closing period dynamically
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICLossDetector.cc
  iocore/net/quic/QUICLossDetector.h
Labels: QUIC

#3382 QUIC: Fix clang warning
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3374 QUIC: Check congestion window when sending packet
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICCongestionController.cc
  iocore/net/quic/QUICLossDetector.h
Labels: QUIC

#3370 Document proxy.config.ssl.client.cipher_suite
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#3366 A better way of testing thread configs
  tests/gold_tests/thread_config/check_threads.py
  tests/gold_tests/thread_config/gold/thread_100_0.gold
  tests/gold_tests/thread_config/gold/thread_100_1.gold
  tests/gold_tests/thread_config/gold/thread_100_10.gold
  tests/gold_tests/thread_config/gold/thread_1_0.gold
  tests/gold_tests/thread_config/gold/thread_1_1.gold
  tests/gold_tests/thread_config/gold/thread_1_10.gold
  tests/gold_tests/thread_config/gold/thread_2_0.gold
  tests/gold_tests/thread_config/gold/thread_2_1.gold
  tests/gold_tests/thread_config/gold/thread_2_10.gold
  tests/gold_tests/thread_config/gold/thread_32_0.gold
  tests/gold_tests/thread_config/gold/thread_32_1.gold
  tests/gold_tests/thread_config/gold/thread_32_10.gold
  tests/gold_tests/thread_config/thread_100_0.test.py
  tests/gold_tests/thread_config/thread_100_1.test.py
  tests/gold_tests/thread_config/thread_100_10.test.py
  tests/gold_tests/thread_config/thread_1_0.test.py
  tests/gold_tests/thread_config/thread_1_1.test.py
  tests/gold_tests/thread_config/thread_1_10.test.py
  tests/gold_tests/thread_config/thread_2_0.test.py
  tests/gold_tests/thread_config/thread_2_1.test.py
  tests/gold_tests/thread_config/thread_2_10.test.py
  tests/gold_tests/thread_config/thread_32_0.test.py
  tests/gold_tests/thread_config/thread_32_1.test.py
  tests/gold_tests/thread_config/thread_32_10.test.py
Labels: Tests

#3346 Added support for C++17
  build/ax_cxx_compile_stdcxx.m4
  configure.ac
  lib/ts/TextView.h
  lib/ts/string_view.h
Labels: Build

#3360 Potential traffic_cop crash due to leftover data in socket
  mgmt/api/CoreAPIRemote.cc
Labels: Cop

#3371 Adds a hint if layout found under /bin
  tests/gold_tests/autest-site/setup.cli.ext
Labels: Tests

#3377 Uses the normal WKS tokenizer for ACL methods
  proxy/http/remap/RemapConfig.cc
Labels: Cleanup, Configuration

#3359 Doc: Fix warnings / errors in cache architecture.
  doc/developer-guide/api/types/SystemTypes.en.rst
  doc/developer-guide/architecture/cache-store.en.rst
  doc/developer-guide/cache-architecture/core-cache-functions.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
Labels: Documentation

#3391 Add SO_MARK functionality to header_rewrite plugin.
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
Labels: Network, Plugins

#3383 Write_pos should be initialized with offset of the content start
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Cache, Tools

#3384 Fix freelist loop check and cleanup code
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Cache, Tools

#3394 README.md for micrserver
  tests/tools/microServer/README.md
Labels: Tools

#3390 Patch for gcc 6 and incorrect template function overload resolution for string_view
  lib/ts/TextView.h
Labels: Core

#3395 Modify cache tool commands and update the doc
  cmd/traffic_cache_tool/CacheTool.cc
  doc/appendices/command-line/traffic_cache_tool.en.rst
Labels: Tools

#3396 Removes unused RecPipe code
  lib/records/P_RecFile.h
  lib/records/RecFile.cc
Labels: Cleanup

#3323 Fixes various issues with brotli compression
  plugins/gzip/gzip.cc
Labels: Plugins

#3401 HostDB - removing infinite ttl (0)
  iocore/hostdb/HostDB.cc
  iocore/hostdb/I_HostDBProcessor.h
  iocore/hostdb/P_HostDBProcessor.h
  lib/ts/ink_std_compat.h
Labels: DNS

#3402 Refactor: Move stripe and span structure to CacheDefs
  cmd/traffic_cache_tool/CacheDefs.cc
  cmd/traffic_cache_tool/CacheDefs.h
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Cleanup, Tools

#3333 Add verify functionality for runroot of traffic_layout
  cmd/traffic_layout/engine.cc
  cmd/traffic_layout/engine.h
  cmd/traffic_layout/file_system.h
  cmd/traffic_layout/traffic_layout.cc
  lib/ts/runroot.cc
  lib/ts/runroot.h
Labels: Core

#3293 Add and update autest of runroot
  tests/gold_tests/runroot/runroot_init.test.py
  tests/gold_tests/runroot/runroot_remove.test.py
  tests/gold_tests/runroot/runroot_use.test.py
Labels: Tests

#3392 Fix post process to propagate early server response.
  proxy/http/HttpSM.cc
  tests/gold_tests/post_error/create_post_body.py
  tests/gold_tests/post_error/gold/post_error.gold
  tests/gold_tests/post_error/post_error.test.py
  tests/gold_tests/post_error/post_server.c
Labels: HTTP, Tests

#3410 Make CryptoHash::toHexStr const.
  lib/ts/CryptoHash.cc
  lib/ts/CryptoHash.h
Labels: Cleanup

#3407 Add nullptr checks in Http2Stream::update_write_request()
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#3414 Fixed error message about no-noexcept-type when compiling C
  configure.ac
Labels: Build, Cleanup

#3412 Fixed length calculation for url_sig excl regexes.
  plugins/experimental/url_sig/url_sig.c
Labels: Plugins

#3413 Fixes a case on chunked cached objects, 304s and Ranges
  proxy/http/HttpTransact.cc
Labels: HTTP

#3378 Removes the now obsolete ref-counting on configs / conts
  plugins/header_rewrite/header_rewrite.cc
Labels: Cleanup, Plugins

#3397 Catch up draft-10
  iocore/net/quic/QUICDebugNames.cc
  iocore/net/quic/QUICFrame.cc
  iocore/net/quic/QUICFrame.h
  iocore/net/quic/QUICHKDF.cc
  iocore/net/quic/QUICKeyGenerator.cc
  iocore/net/quic/QUICPacket.cc
  iocore/net/quic/QUICTypes.h
  iocore/net/quic/test/test_QUICFrame.cc
  iocore/net/quic/test/test_QUICKeyGenerator.cc
  iocore/net/quic/test/test_QUICPacket.cc
  lib/ts/ink_inet.cc
Labels: QUIC

#3422 TextView: Change 'set_view' to 'assign'.
  lib/ts/BufferWriterFormat.cc
  lib/ts/TextView.cc
  lib/ts/TextView.h
  lib/ts/ink_inet.cc
Labels: Cleanup

#3421 TSHttpTxnOutgoingAddrSet: Add documentation, implement for HTTP/2.
  doc/developer-guide/api/functions/TSHttpTxnOutgoingAddrGet.en.rst
  proxy/ProxyClientSession.h
  proxy/ProxyClientTransaction.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/Http1ClientTransaction.cc
  proxy/http/Http1ClientTransaction.h
  proxy/http2/Http2SessionAccept.cc
Labels: Core, HTTP/2

#3322 Add MemArena allocator
  doc/developer-guide/internal-libraries/MemArena.en.rst
  doc/developer-guide/internal-libraries/index.en.rst
  lib/ts/Makefile.am
  lib/ts/MemArena.cc
  lib/ts/MemArena.h
  lib/ts/MemSpan.h
  lib/ts/unit-tests/test_MemArena.cc
Labels: Core

#3420 Ran clang-tidy with modernize-loop-convert
  example/cppapi/async_http_fetch_streaming/AsyncHttpFetchStreaming.cc
  example/cppapi/clientrequest/ClientRequest.cc
  example/cppapi/serverresponse/ServerResponse.cc
  iocore/net/SSLUtils.cc
  iocore/net/UnixNetProcessor.cc
  lib/cppapi/AsyncHttpFetch.cc
  lib/cppapi/Headers.cc
  lib/records/RecHttp.cc
  lib/ts/test_PriorityQueue.cc
  lib/ts/unit-tests/test_IpMap.cc
  mgmt/LocalManager.cc
  plugins/s3_auth/aws_auth_v4.cc
  proxy/InkAPI.cc
  proxy/logging/LogObject.cc
Labels: Cleanup

#3368 Tests wait until microserver is ready
  tests/gold_tests/autest-site/microserver.test.ext
  tests/gold_tests/continuations/double.test.py
  tests/gold_tests/transaction/txn.test.py
  tests/tools/microServer/README.md
  tests/tools/microServer/uWServer.py
  tests/tools/sessionvalidation/response.py
  tests/tools/sessionvalidation/sessionvalidation.py
Labels: Cleanup, Tests

#3348 Add wrapper class for TSCont to CPPAPI.
  lib/cppapi/Continuation.cc
  lib/cppapi/Makefile.am
  lib/cppapi/include/atscppapi/Continuation.h
  plugins/test_cppapi/Makefile.inc
  plugins/test_cppapi/test_cppapi.cc
Labels: CPP API

#3429 Updates for editors that use CMakeLists.txt
  CMakeLists.txt
Labels: Cleanup

#3434 Fixes a build issue with latest XCode / clang
  plugins/experimental/acme/acme.c
Labels: Plugins

#3435 Ran clang-tidy with readability-braces-around-statements
  cmd/traffic_layout/engine.cc
  cmd/traffic_layout/file_system.cc
  cmd/traffic_layout/info.cc
  cmd/traffic_layout/traffic_layout.cc
  iocore/dns/DNSConnection.cc
  iocore/eventsystem/UnixEThread.cc
  iocore/hostdb/HostDB.cc
  iocore/net/SNIActionPerformer.cc
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLUtils.cc
  iocore/net/UnixNet.cc
  iocore/net/UnixNetProcessor.cc
  lib/ts/BufferWriterFormat.cc
  lib/ts/Diags.cc
  lib/ts/runroot.cc
  lib/tsconfig/Errata.cc
  mgmt/api/NetworkMessage.cc
  plugins/experimental/tls_bridge/regex.cc
  plugins/experimental/tls_bridge/tls_bridge.cc
  plugins/experimental/url_sig/url_sig.c
  plugins/header_rewrite/conditions.cc
  proxy/InkAPI.cc
  proxy/InkAPITest.cc
  proxy/Main.cc
  proxy/http/HttpConnectionCount.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransactHeaders.cc
  proxy/http/remap/RemapProcessor.cc
  proxy/logging/LogObject.cc
Labels: Cleanup

#3439 string_view: Remove C++14 operators to avoid ambiguity.
  lib/ts/TextView.h
  lib/ts/string_view.h
Labels: Cleanup

#3437 CacheTool: Replace errata message with stdout
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Tools

#3440 Updates to clang-tidy target
  Makefile.am
  build/tidy.mk
  cmd/traffic_cache_tool/Makefile.am
  cmd/traffic_cop/Makefile.am
  cmd/traffic_crashlog/Makefile.am
  cmd/traffic_ctl/Makefile.am
  cmd/traffic_layout/Makefile.am
  cmd/traffic_manager/Makefile.am
  cmd/traffic_top/Makefile.am
  cmd/traffic_via/Makefile.am
  cmd/traffic_wccp/Makefile.am
  configure.ac
  example/Makefile.am
  iocore/Makefile.am
  iocore/aio/Makefile.am
  iocore/cache/Makefile.am
  iocore/dns/Makefile.am
  iocore/eventsystem/Makefile.am
  iocore/hostdb/Makefile.am
  iocore/net/Makefile.am
  iocore/utils/Makefile.am
  lib/bindings/Makefile.am
  lib/cppapi/Makefile.am
  lib/records/Makefile.am
  lib/ts/Makefile.am
  lib/tsconfig/Makefile.am
  lib/wccp/Makefile.am
  mgmt/Makefile.am
  mgmt/api/Makefile.am
  mgmt/utils/Makefile.am
  plugins/Makefile.am
  proxy/Makefile.am
  proxy/hdrs/Makefile.am
  proxy/http/Makefile.am
  proxy/http/remap/Makefile.am
  proxy/http2/Makefile.am
  proxy/logging/Makefile.am
  proxy/shared/Makefile.am
  tests/unit_tests/Makefile.am
Labels: Build

#3446 Fix #pragma once error in WCCP.
  lib/wccp/WccpMeta.h
Labels: Cleanup

#3436 Replaces deprecated STL fun_ptr with lambda, thanks amc
  plugins/experimental/server_push_preload/server_push_preload.cc
Labels: Plugins

#3452 Replace spaces for a tab to fix macOS issue
  tests/unit_tests/Makefile.am
Labels: Build

#3453 Fixed unmatched brace issue from clang-tidy
  plugins/experimental/tls_bridge/regex.cc
Labels: Cleanup

#3451 Fix typo for debug tag in README
  plugins/experimental/multiplexer/README
Labels: Cleanup, Plugins

#3449 Need to call signalActivity() to wake up epoll_wait()
  iocore/net/UnixNetVConnection.cc
Labels: Core, Performance

#3441 QUIC: Send MAX_XXX_FRAME 2 rtt before sender to get blocked
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICFlowController.cc
  iocore/net/quic/QUICFlowController.h
  iocore/net/quic/QUICLossDetector.cc
  iocore/net/quic/QUICLossDetector.h
  iocore/net/quic/QUICStream.cc
  iocore/net/quic/QUICStream.h
  iocore/net/quic/QUICStreamManager.cc
  iocore/net/quic/QUICStreamManager.h
  iocore/net/quic/test/Makefile.am
  iocore/net/quic/test/test_QUICFlowController.cc
Labels: QUIC

#3461 QUIC: make ack creator derive from QUICFrameGenerator
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICAckFrameCreator.cc
  iocore/net/quic/QUICAckFrameCreator.h
  iocore/net/quic/test/test_QUICAckFrameCreator.cc
Labels: QUIC

#3433 Adds squid log sub-codes for detail
  doc/admin-guide/logging/cache-results.en.rst
  doc/admin-guide/logging/formatting.en.rst
  proxy/hdrs/HTTP.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.h
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
  proxy/logging/LogAccessHttp.cc
  proxy/logging/LogAccessHttp.h
Labels: Logging

#3141 Separate mutex of Http2ClientSession and Http2Stream
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#3460 Explicitly cast to void * when initializing a memory with a pointer for a class object
  cmd/traffic_cache_tool/CacheTool.cc
  iocore/cache/Cache.cc
  iocore/cache/CacheDir.cc
  iocore/cache/CacheHosting.cc
  iocore/cache/CacheWrite.cc
  iocore/cache/RamCacheCLFUS.cc
  iocore/cache/RamCacheLRU.cc
  iocore/net/I_NetVConnection.h
  lib/ts/Map.h
  lib/ts/ink_memory.h
  tools/jtest/jtest.cc
Labels: Core

#3459 Fix cache_read_busy_success_stat
  iocore/cache/CacheRead.cc
  iocore/cache/P_CacheInternal.h
Labels: Core

#3448 Add ats_ip_range_parse to ink_net.h to improve/replace ExtractIpRange.
  lib/ts/ink_inet.cc
  lib/ts/ink_inet.h
  lib/ts/unit-tests/test_ink_inet.cc
Labels: Core

#3340 bwformat: Add support for bool, and fix center align bug.
  lib/ts/BufferWriter.h
  lib/ts/BufferWriterFormat.cc
  lib/ts/BufferWriterForward.h
  lib/ts/unit-tests/test_BufferWriterFormat.cc
Labels: Core

#3464 Fix README typo of OSX
  README
Labels: Build

#3470 QUIC: Adding total offset in Stream Manager
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICStreamManager.cc
Labels: QUIC

#3467 Ran clang-tidy with modernize-loop-convert
  cmd/traffic_cache_tool/CacheDefs.cc
  example/cppapi/serverresponse/ServerResponse.cc
  iocore/dns/P_DNSProcessor.h
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
  plugins/esi/lib/Variables.h
  proxy/hdrs/HdrHeap.h
  proxy/http/HttpSM.h
  proxy/http/HttpTunnel.h
Labels: Cleanup

#3466 Cache_tool: replace MD5CTX with CryptoContext
  cmd/traffic_cache_tool/CacheDefs.cc
  cmd/traffic_cache_tool/CacheDefs.h
  cmd/traffic_cache_tool/CacheTool.cc
  cmd/traffic_cache_tool/Makefile.am
Labels: Tools

#3419 BufferWriterFormat: add handling for 'p'/'P' pointer type override.
  lib/ts/BufferWriter.h
Labels: Core

#3471 Define htobe64 for macOS
  configure.ac
  lib/ts/ink_endian.h
  lib/ts/ink_platform.h
Labels: Build, Core

#3479 TSThreadFunc should return a pointer
  example/thread_pool/psi.c
  example/thread_pool/thread.c
  example/thread_pool/thread.h
Labels: Build, Cleanup

#3478 TSEventFunc should return an integer
  plugins/experimental/cache_range_requests/cache_range_requests.cc
Labels: Build, Cleanup

#3474 Ran clang-tidy with modernize-use-bool-literals
  cmd/traffic_cache_tool/CacheDefs.cc
  cmd/traffic_layout/file_system.cc
  cmd/traffic_top/stats.h
  iocore/net/I_NetVConnection.h
  iocore/net/P_NetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/utils/diags.i
  proxy/http/HttpCacheSM.h
  proxy/http/HttpSM.h
  proxy/logging/LogFieldAliasMap.h
Labels: Cleanup

#3476 Fixes a build issue with latest XCode / clang
  plugins/experimental/acme/acme.c
Labels: Backport, Plugins

#3475 Adds more flag settings to the configure output
  configure.ac
Labels: Build

#3477 add support for TSHttpTxnOutgoingAddrSet in ts_lua
  doc/admin-guide/plugins/ts_lua.en.rst
  plugins/experimental/ts_lua/ts_lua_server_request.c
Labels: Lua, Plugins

#3485 Updates the STATUS file with all recent releases
  STATUS
Labels: Build

#3484 Makes the CI work again with ClangAnalyzer v6.x
  ci/jenkins/bin/clang-analyzer.sh
Labels: Build

#3495 Fix test to support fix in autest 1.5.0
  tests/bootstrap.py
  tests/gold_tests/autest-site/init.cli.ext
  tests/gold_tests/h2/gold/post_chunked.gold
  tests/gold_tests/headers/cache_and_req_body-hit.gold
  tests/gold_tests/headers/cache_and_req_body-hit_close.gold
  tests/gold_tests/headers/cache_and_req_body-miss.gold
  tests/gold_tests/headers/cache_and_req_body.test.py
Labels: Tests

#3490 Corrects boolean argument validation/error message
  tests/tools/microServer/uWServer.py
Labels: Tests, Tools

#3500 ts_lua -- Exposes the TS API function TSHttpTxnNextHopAddrGet()
  doc/admin-guide/plugins/ts_lua.en.rst
  plugins/experimental/ts_lua/ts_lua_server_request.c
Labels: Lua, Plugins

#3507 Documentation: point to GitHub issues instead of Jira
  doc/preface/index.en.rst
Labels: Documentation

#3486 Separate mutex of Http2ClientSession and Http2Stream
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
Labels: Backport

#3492 Fix post_error test by initializating the address length of accept
  tests/gold_tests/post_error/post_server.c
Labels: Tests

#3508 Corrects return value for success case in TSHttpTxnOutgoingAddrSet
  proxy/InkAPI.cc
Labels: Core

#3509 Clarifies when API function should be called
  doc/developer-guide/api/functions/TSHttpTxnOutgoingAddrGet.en.rst
Labels: Documentation

#3506 Acquire mutex lock of Http2Stream before starting new transaction
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#3517 Multiplexer plugin causing unnecessary ASAN alert
  plugins/experimental/multiplexer/original-request.cc
Labels: Plugins

#3450 Added config option proxy.config.thread.max_heartbeat_mseconds
  doc/admin-guide/files/records.config.en.rst
  iocore/eventsystem/I_EThread.h
  iocore/eventsystem/UnixEThread.cc
  mgmt/RecordsConfig.cc
  proxy/Main.cc
Labels: Core

#3518 Clean up state machine id and make it 64 bit
  proxy/http/HttpSM.cc
Labels: Cleanup, HTTP

#3514 Parent Selection -- Make self-detection configurable.
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/ParentSelection.cc
Labels: Parent Proxy

#3510 Fix remap to use ats_ip_range_parse for better range parsing.
  proxy/http/remap/AclFiltering.cc
  proxy/http/remap/AclFiltering.h
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/UrlRewrite.cc
Labels: Cleanup, Core

#3527 Cleans up some pylint issues in the python code
  doc/ext/traffic-server.py
  tests/gold_tests/headers/forwarded-observer.py
  tests/gold_tests/headers/via-observer.py
Labels: Cleanup, Tests

#3524 Adds a basic .editconfig, should follow clang-format rules
  .editorconfig
Labels: Build, WIP

#3531 Doc: Unify ":unit:" to ":units".
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/statistics/core/bandwidth.en.rst
  doc/admin-guide/monitoring/statistics/core/cache-volume.en.rst
  doc/admin-guide/monitoring/statistics/core/dns.en.rst
  doc/admin-guide/monitoring/statistics/core/general.en.rst
  doc/admin-guide/monitoring/statistics/core/hierarchical.en.rst
  doc/admin-guide/monitoring/statistics/core/hostdb.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  doc/admin-guide/monitoring/statistics/core/http-document-size.en.rst
  doc/admin-guide/monitoring/statistics/core/http-transaction.en.rst
  doc/admin-guide/monitoring/statistics/core/log.en.rst
  doc/admin-guide/monitoring/statistics/core/misc.en.rst
  doc/admin-guide/monitoring/statistics/core/network-io.en.rst
  doc/admin-guide/monitoring/statistics/core/origin.en.rst
  doc/admin-guide/monitoring/statistics/core/ssl.en.rst
  doc/developer-guide/api/functions/TSVConnArgs.en.rst
  doc/ext/traffic-server.py
Labels: Cleanup, Documentation

#3533 Doc: various fixes
  doc/admin-guide/files/hosting.config.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/volume.config.en.rst
  doc/admin-guide/plugins/tcpinfo.en.rst
  doc/admin-guide/storage/index.en.rst
Labels: Documentation

#3535 Move inline functions into class
  iocore/cache/Cache.cc
  iocore/cache/CacheDir.cc
  iocore/cache/CachePagesInternal.cc
  iocore/cache/CacheRead.cc
  iocore/cache/CacheVol.cc
  iocore/cache/CacheWrite.cc
  iocore/cache/P_CacheDir.h
  iocore/cache/P_CacheVol.h
Labels: Cleanup

#3538 doc/admin-guide: minor fixes
  doc/admin-guide/files/index.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
Labels: Cleanup, Documentation

#3542 Fixes build on linunx/clang/libc++ combo
  lib/ts/string_view.h
Labels: Build

#3415 Update traffic_layout runroot commands and switches
  cmd/traffic_layout/engine.cc
  tests/gold_tests/runroot/runroot_init.test.py
  tests/gold_tests/runroot/runroot_remove.test.py
Labels: Core

#3534 API for setting OCSP Callback
  doc/developer-guide/api/functions/TSSslContext.en.rst
  doc/developer-guide/api/functions/TSSslServerContextCreate.en.rst
  doc/developer-guide/api/functions/TSTypes.en.rst
  lib/ts/apidefs.h.in
  proxy/InkAPI.cc
  proxy/InkAPITest.cc
  proxy/api/ts/ts.h
Labels: TS API

#3494 Use epoll instead of negative events for DNS
  iocore/dns/DNS.cc
  iocore/dns/DNSConnection.cc
Labels: DNS, Performance
