Repository apache/trafficserver, pull requests merged in 2018-02, with the labels that each got.

#3105 Adds a new header_rewrite condition %{CIDR}
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
Labels: Plugins

#3108 Restores traffic_top -s option to be in seconds
  cmd/traffic_top/traffic_top.cc
Labels: Tools

#2691 Kill unused .c file which contains code in a language invented by a Danish guy.
  iocore/net/Makefile.am
  iocore/net/NetTest-http-server.c
Labels: Cleanup

#3099 More AUTest test cases for HTTP/2
  tests/gold_tests/h2/gold/httpbin_1_stderr.gold
  tests/gold_tests/h2/gold/httpbin_1_stdout.gold
  tests/gold_tests/h2/gold/httpbin_2_stderr.gold
  tests/gold_tests/h2/gold/httpbin_2_stdout.gold
  tests/gold_tests/h2/gold/httpbin_access.gold
  tests/gold_tests/h2/httpbin.test.py
Labels: HTTP/2, Tests

#3092 Cleanup Http2Stream
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#3034 TextView: Fix svtoi for other bases, operator!, add verification tests.
  lib/ts/TextView.cc
  lib/ts/TextView.h
  lib/ts/unit-tests/test_TextView.cc
Labels: Core

#3097 More documentation for internal cache data structures
  doc/developer-guide/api/functions/TSTypes.en.rst
  doc/developer-guide/api/types/CoreTypes.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  doc/developer-guide/index.en.rst
Labels: Cache, Documentation

#2892 Adds Debug diagnostics for the final cache key string
  proxy/hdrs/URL.cc
Labels: Cache

#3072 Race condition when starting accept threads
  iocore/net/P_NetAccept.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetProcessor.cc
  proxy/InkAPI.cc
  proxy/Main.cc
  proxy/http/HttpProxyServerMain.cc
  proxy/http/HttpProxyServerMain.h
Labels: Core

#3113 Decrement stream counts immediately when the stream is removed from stream_list
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#3117 introduce init function to initailize QUICPollEvent and remove short queue
  iocore/net/P_QUICNet.h
  iocore/net/QUICNet.cc
  iocore/net/QUICPacketHandler.cc
Labels: QUIC

#3112 Replaces TSHttpTxnFollowRedirect with TSHttpTxnConfigIntSet for Lua
  plugins/experimental/ts_lua/ts_lua_http_config.c
Labels: Lua

#3106 Adds a new configuration proxy.config.http.allow_multi_range
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  lib/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/experimental/ts_lua/ts_lua_http_config.c
  proxy/InkAPI.cc
  proxy/InkAPITest.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
Labels: Configuration, HTTP

#3116 Drain all of udp packets and make sure PollCont run before UDPNetHandler
  iocore/net/P_UDPNet.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/UnixUDPNet.cc
Labels: QUIC

#3120 Use the correct Lua symbol for verify-server setting
  plugins/experimental/ts_lua/ts_lua_http_config.c
Labels: Lua

#3111 Mark TSHttpTxnFollowRedirect() as deprecated.
  proxy/InkAPI.cc
  proxy/api/ts/ts.h
Labels: TS API

#3121 Doc: Add java/plantuml dependency to building the documentation.
  configure.ac
  doc/.gitignore
  doc/Makefile.am
  doc/checkvers.py
  doc/conf.py
  doc/ext/local-config.py.in
  doc/plantuml_fetch.sh
  doc/sbuild
  doc/uml/Makefile.am
  doc/uml/images/.gitignore
  doc/uml/images/l4-basic-sequence.svg
  doc/uml/images/l4-example-cdn-layout.svg
  doc/uml/images/l4-sni-routing-seq.svg
Labels: Documentation

#3126 Doc: Clean up build warnings.
  doc/developer-guide/api/functions/TSTypes.en.rst
  doc/developer-guide/api/types/CoreTypes.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  doc/developer-guide/index.en.rst
  doc/uml/Makefile.am
Labels: Documentation

#3129 Ignores the ICC warning on expression constants to asserts
  configure.ac
Labels: Build

#3130 Doc: Remove man page reference to congestion.config which no longer exists.
  doc/manpages.py
Labels: Documentation

#3132 Added -f to rm to fix build
  doc/uml/Makefile.am
Labels: Build, Cleanup

#3133 QUIC: Push closed conn into closed queue
  iocore/net/Makefile.am
  iocore/net/P_QUICClosedConCollector.h
  iocore/net/P_QUICNetVConnection.h
  iocore/net/P_QUICPacketHandler.h
  iocore/net/QUICClosedConCollector.cc
  iocore/net/QUICNetVConnection.cc
  iocore/net/QUICPacketHandler.cc
  iocore/net/quic/QUICConnectionTable.cc
Labels: QUIC

#3134 Test: fix string_view unit test.
  lib/ts/unit-tests/test_string_view.cc
Labels: Tests

#3124 Disables the support for multi-range request by default
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.h
Labels: Configuration, HTTP

#3104 Don't read DNS responses until we get at least two bytes
  iocore/dns/DNS.cc
Labels: DNS

#3125 Fix documentation for transaction_active_timeout_in default value.
  doc/admin-guide/performance/index.en.rst
Labels: Documentation

#3131 Add TLS Bridge plugin to plugins/experimental.
  doc/developer-guide/plugins/example-plugins/index.en.rst
  doc/developer-guide/plugins/example-plugins/tls_bridge.en.rst
  doc/ext/local-config.py.in
  doc/uml/TLS-Bridge-Messages.uml
  doc/uml/TLS-Bridge-Plugin.uml
  plugins/Makefile.am
  plugins/experimental/tls_bridge/Makefile.inc
  plugins/experimental/tls_bridge/README
  plugins/experimental/tls_bridge/regex.cc
  plugins/experimental/tls_bridge/regex.h
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Plugins

#2914 Add path param url signing option and client ipv6 verification to url_sig plugin
  doc/admin-guide/plugins/url_sig.en.rst
  plugins/experimental/url_sig/README
  plugins/experimental/url_sig/sign.pl
  plugins/experimental/url_sig/url_sig.c
  plugins/experimental/url_sig/url_sig.h
Labels: Plugins

#3119 Add move operator and constructor to Result and TextBuffer
  lib/ts/Result.h
  lib/ts/TextBuffer.h
Labels: Core

#3098 Corrects off-by-one error, adds test
  lib/ts/BufferWriter.h
  lib/ts/unit-tests/test_BufferWriter.cc
Labels: Core

#3137 Doc: Add internal documenation for ts::string_view.
  doc/developer-guide/internal-libraries/index.en.rst
  doc/developer-guide/internal-libraries/string_view.en.rst
Labels: Documentation

#3146 Call mark_body_done() when response body is empty
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#3144 Doc: Fix more documentation build warnings.
  doc/developer-guide/api/types/CoreTypes.en.rst
  doc/developer-guide/api/types/TSEvent.en.rst
  doc/developer-guide/cache-architecture/core-cache-functions.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  doc/developer-guide/internal-libraries/memview.en.rst
  doc/developer-guide/internal-libraries/scalar.en.rst
  doc/developer-guide/internal-libraries/string_view.en.rst
  doc/developer-guide/threads-and-events.en.rst
Labels: Documentation

#3153 Adds tcpi_total_retrans to tcpinfo
  plugins/tcpinfo/tcpinfo.cc
Labels: Plugins

#3152 Doc: Update documentation building documentation.
  doc/developer-guide/documentation/building.en.rst
Labels: Documentation

#3156 QUIC: Fix Unexpected event on state_connection_closing
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3109 Handle MIME hdr parsing edge case
  proxy/hdrs/MIME.cc
Labels: Core, HTTP

#3145 Add TSAPI functions TSRemapFrom/ToUrlGet(). Allow TSMBuffer pointer passed to TSUrlStringGet() to be null.
  doc/developer-guide/api/functions/TSRemapFromToUrlGet.en.rst
  doc/developer-guide/api/functions/TSUrlStringGet.en.rst
  proxy/InkAPI.cc
  proxy/api/ts/ts.h
Labels: Documentation, TS API

#3081 uses BufferWriter to compose format string
  lib/ts/Diags.cc
Labels: Feature, Logging

#3164 Doc: Fix 7.1.x documentation building for Sphinx 1.7.0.
  doc/Makefile.am
  doc/admin-guide/configuration/cache-basics.en.rst
  doc/admin-guide/monitoring/statistics/core/general.en.rst
  doc/admin-guide/storage/index.en.rst
  doc/appendices/faq.en.rst
  doc/developer-guide/api/functions/TSHttpHdrHostGet.en.rst
  doc/developer-guide/api/functions/TSHttpTxnIntercept.en.rst
  doc/developer-guide/api/functions/TSHttpTxnServerIntercept.en.rst
  doc/developer-guide/api/functions/TSSslServerContextCreate.en.rst
  doc/developer-guide/api/functions/TSTypes.en.rst
  doc/developer-guide/api/functions/TSUrlStringGet.en.rst
  doc/developer-guide/api/types/TSHttpHookID.en.rst
  doc/developer-guide/api/types/TSHttpStatus.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  doc/developer-guide/architecture/architecture.en.rst
  doc/developer-guide/architecture/data-structures.en.rst
  doc/developer-guide/documentation/building.en.rst
  doc/developer-guide/documentation/plugins.en.rst
  doc/developer-guide/plugins/http-headers/mime-headers.en.rst
  doc/developer-guide/plugins/http-headers/urls.en.rst
  doc/developer-guide/plugins/io/io-buffers.en.rst
  doc/ext/traffic-server.py
  doc/getting-started/index.en.rst
Labels: Documentation

#3165 QUIC: Remove useless scheduling event
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3166 QUIC: Send close frame packet when we are in close period
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3168 QUIC: Clean the inactive timeout in closing and draining state
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3033 Expanding the cases where the server_entry gets cleared on error.
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: Crash

#3142 BufferWriter: Documentation and some API cleanup.
  doc/developer-guide/internal-libraries/buffer-writer.en.rst
  doc/developer-guide/internal-libraries/index.en.rst
  iocore/eventsystem/I_MIOBufferWriter.h
  iocore/eventsystem/unit-tests/test_MIOBufferWriter.cc
  lib/ts/BufferWriter.h
  lib/ts/Diags.cc
  lib/ts/unit-tests/test_BufferWriter.cc
  proxy/http/HttpTransactHeaders.cc
Labels: Cleanup

#3062 Make string_view available in plugin cppapi.
  lib/ts/Makefile.am
Labels: CPP API

#3171 xdebug X-Remap documentation update neglected due to senior moment.
  doc/admin-guide/plugins/xdebug.en.rst
Labels: Documentation

#3173 corrects truncation of timestamp string
  lib/ts/Diags.cc
Labels: Logging

#3170 Eliminate incorrect -1 adjustment to buffer size for snprintf() calls.
  example/remap/remap.cc
  lib/ts/Diags.cc
  lib/ts/ink_error.cc
  plugins/background_fetch/background_fetch.cc
  plugins/experimental/acme/acme.c
  plugins/experimental/cache_promote/cache_promote.cc
  plugins/experimental/cache_range_requests/cache_range_requests.cc
  plugins/experimental/collapsed_connection/collapsed_connection.cc
  plugins/experimental/geoip_acl/geoip_acl.cc
  plugins/experimental/header_normalize/header_normalize.cc
  plugins/experimental/hipes/hipes.cc
  plugins/experimental/money_trace/money_trace.cc
  plugins/experimental/tls_bridge/tls_bridge.cc
  plugins/experimental/ts_lua/ts_lua_util.c
  plugins/experimental/uri_signing/uri_signing.c
  plugins/gzip/gzip.cc
  plugins/header_rewrite/header_rewrite.cc
  plugins/healthchecks/healthchecks.c
  plugins/regex_remap/regex_remap.cc
  plugins/s3_auth/s3_auth.cc
  plugins/xdebug/xdebug.cc
  proxy/http/remap/RemapConfig.cc
Labels: Cleanup

#3172 Issue #2963 - Remove TS.pm.in from copy
  lib/perl/Makefile.PL
Labels: Build

#3183 Doc: Update highlighting for Lua, HTTP for correct Pygments highlighting
  doc/admin-guide/files/ssl_server_name.config.en.rst
Labels: Documentation

#3185 QUIC: Ensure only first initial packet could enter QVC::acceptEvent
  iocore/net/QUICNet.cc
  iocore/net/QUICPacketHandler.cc
Labels: QUIC

#3160 QUIC: Insert client selected connection id into ctable
  iocore/net/QUICNetVConnection.cc
Labels: QUIC, WIP

#3195 Adds better sanity checks around the method IX
  proxy/http/remap/UrlRewrite.cc
Labels: HTTP

#3189 Added a first cut of a .spec file, losely based on the Fedora repos
  tools/package/trafficserver.spec
Labels: Build

#3192 Return 400 if there is whitespace after the field name and before the colon
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/MIME.cc
  tests/gold_tests/headers/syntax.200.gold
  tests/gold_tests/headers/syntax.400.gold
  tests/gold_tests/headers/syntax.test.py
Labels: HTTP

#3049 Fair Queuing HTTP Pacing Plugin
  doc/admin-guide/plugins/fq_pacing.en.rst
  doc/admin-guide/plugins/index.en.rst
  plugins/Makefile.am
  plugins/experimental/fq_pacing/Makefile.inc
  plugins/experimental/fq_pacing/README.md
  plugins/experimental/fq_pacing/fq_pacing.c
Labels: Documentation, Plugins

#3201 Close the connection when returning a 400 error response
  proxy/http/HttpTransact.cc
  tests/gold_tests/headers/syntax.400.gold
Labels: HTTP
