Repository apache/trafficserver, pull requests merged in 2018-03, with the labels that each got.

#3205 Isolate client ctx options from server options
  iocore/net/P_SSLConfig.h
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLConfig.cc
Labels: Backport, TLS

#3181 Add fix for leaking url string in uri signing
  plugins/experimental/uri_signing/uri_signing.c
Labels: Plugins

#3174 MADV_DODUMP causing instability and performance overhead
  lib/ts/ink_queue.cc
Labels: Crash, Performance

#3175 Add a HostStatus container used to mark parents down or up.
  proxy/HostStatus.cc
  proxy/HostStatus.h
  proxy/Makefile.am
  proxy/ParentConsistentHash.cc
  proxy/ParentRoundRobin.cc
  proxy/ParentSelection.cc
Labels: Parent Proxy

#3209 Fix check-unused-dependencies
  tools/check-unused-dependencies
Labels: Build

#3197 Free Http2Stream directly when HttpSM is already gone or not allocated
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#3217 QUIC: Ensure switch to closed state once
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3207 Fix instability caused by HTTP2_SESSION_EVENT_FINI
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: Crash, HTTP/2

#3220 Support more redirect status codes - 303, 305.
  plugins/header_rewrite/operators.cc
  proxy/http/HttpTransact.cc
Labels: Core, Plugins

#3208 verify client certificate callback with client verify hook
  doc/developer-guide/api/types/TSHttpHookID.en.rst
  example/Makefile.am
  example/verify_cert/verify_cert.cc
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  lib/ts/apidefs.h.in
  proxy/InkAPIInternal.h
  proxy/InkAPITest.cc
  proxy/http/HttpDebugNames.cc
Labels: TLS

#3215 Remove unused SHARED_* build variables.
  configure.ac
Labels: Build

#3180 Create a new AIOCallback to call back aio_err_callbck if there is an error from Linux Native AIO
  iocore/aio/AIO.cc
  iocore/aio/P_AIO.h
Labels: AIO

#3219 fix unpredictable diskok within CacheProcessor::start_internal
  iocore/cache/Cache.cc
Labels: Cache

#3161 Optimize: define AIO_Reqs::aio_temp_list by ASLL macro
  iocore/aio/AIO.cc
  iocore/aio/I_AIO.h
  iocore/aio/P_AIO.h
Labels: Core

#3055 Using MT_hashtable for VC lookup.
  iocore/net/P_QUICPacketHandler.h
  iocore/net/QUICPacketHandler.cc
  iocore/net/quic/QUICConfig.cc
  iocore/net/quic/QUICConfig.h
  iocore/net/quic/QUICConnectionTable.cc
  iocore/net/quic/QUICConnectionTable.h
  mgmt/RecordsConfig.cc
Labels: Core, QUIC

#3225 QUIC: Mem leaking with QUICPacketHeader
  iocore/net/quic/QUICPacket.cc
  iocore/net/quic/QUICPacket.h
Labels: QUIC

#3229 Add declaration of ssl_verify_client_callback
  iocore/net/SSLUtils.cc
Labels: TLS

#3230 Removed MD5 signature files based on ASF updated release policy
  Makefile.am
Labels: Build

#3228 Combine mutex of Http2ClientSession and Http2ConnectionState
  proxy/http2/Http2ClientSession.cc
Labels: HTTP/2

#3227 Acquire lock before calling Http2ClientSession::free() from Http2ConnectionState
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#3206 Remove HAVE_POSIX_MEMALIGN related code
  configure.ac
  lib/ts/ink_memory.cc
Labels: Cleanup

#3218 Fix default include path ordering.
  cmd/traffic_cop/Makefile.am
  cmd/traffic_crashlog/Makefile.am
  cmd/traffic_ctl/Makefile.am
  cmd/traffic_layout/Makefile.am
  cmd/traffic_manager/Makefile.am
  cmd/traffic_top/Makefile.am
  cmd/traffic_via/Makefile.am
  cmd/traffic_wccp/Makefile.am
  configure.ac
  iocore/aio/Makefile.am
  iocore/cache/Makefile.am
  iocore/dns/Makefile.am
  iocore/eventsystem/Makefile.am
  iocore/hostdb/Makefile.am
  iocore/net/Makefile.am
  iocore/utils/Makefile.am
  lib/bindings/Makefile.am
  lib/records/Makefile.am
  lib/ts/Makefile.am
  lib/tsconfig/Makefile.am
  lib/wccp/Makefile.am
  mgmt/Makefile.am
  mgmt/api/Makefile.am
  mgmt/utils/Makefile.am
  proxy/Makefile.am
  proxy/congest/Makefile.am
  proxy/hdrs/Makefile.am
  proxy/http/Makefile.am
  proxy/http/remap/Makefile.am
  proxy/http2/Makefile.am
  proxy/logging/Makefile.am
  proxy/shared/Makefile.am
  rc/Makefile.am
  tests/unit_tests/Makefile.am
  tools/Makefile.am
Labels: Build

#3231 Validate Content-Length headers for incoming requests
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  tests/gold_tests/headers/syntax.test.py
Labels: HTTP

#3238 Select the current cert when looking for issuer
  iocore/net/OCSPStapling.cc
Labels: TLS

#3236 Disable fips when TS_ENABLE_FIPS == 0
  iocore/cache/P_CacheVol.h
  lib/ts/CryptoHash.cc
  lib/ts/CryptoHash.h
  lib/ts/INK_MD5.h
  lib/ts/SHA256.h
  lib/ts/ink_code.cc
  lib/ts/ink_code.h
  proxy/Main.cc
  tools/jtest/jtest.cc
Labels: HTTP

#3204 ATS does not add Client-ip header
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpTransact.cc
Labels: HTTP

#3240 Fixing #3232, crash when making a server push
  proxy/InkAPI.cc
Labels: Crash, HTTP/2

#3241 Warning message when openning hostdb file fails
  iocore/hostdb/P_RefCountCache.h
Labels: HostDB

#3233 All or nothing for readIntoBuffer
  lib/ts/MatcherUtils.cc
Labels: Core

#3188 FIx string_view hash function
  lib/ts/string_view.h
  lib/ts/unit-tests/test_string_view.cc
Labels: Core, Tests

#3247 s3_auth: check if previous config (re)load failed
  plugins/s3_auth/s3_auth.cc
Labels: Backport, Plugins

#3245 ignore *.pm.in when installing the TS Perl module
  ci/rat-regex.txt
  lib/perl/INSTALL.SKIP
Labels: Build

#3243 Make throttling feature more useful.
  iocore/net/Net.cc
  iocore/net/P_Net.h
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpSM.cc
Labels: Backport

#3221 Remove cppapi mutex support since it is redundant with C++11 Thread support lib.
  lib/cppapi/InterceptPlugin.cc
  lib/cppapi/Makefile.am
  lib/cppapi/Mutex.cc
  lib/cppapi/TransactionPlugin.cc
  lib/cppapi/include/atscppapi/Async.h
  lib/cppapi/include/atscppapi/Mutex.h
  lib/cppapi/include/atscppapi/TransactionPlugin.h
  lib/cppapi/utils_internal.cc
Labels: CPP API

#3223 Add support for ASYNC_*_job and crypto engine loading
  build/crypto.m4
  configure.ac
  contrib/openssl/README.md
  contrib/openssl/async_engine.c
  contrib/openssl/load_engine.cnf
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  lib/ts/ink_config.h.in
  mgmt/RecordsConfig.cc
Labels: TLS

#3250 Print the volume that is clearing its directories
  iocore/cache/Cache.cc
Labels: Cache, Cleanup

#3044 Explicitly set enable_doc_build to yes if --enable-docs is provided to allow documentation and manpages build
  configure.ac
Labels: Build, Documentation

#3246 No dump allocator using jemalloc
  NOTICE
  lib/ts/JeAllocator.cc
  lib/ts/JeAllocator.h
  lib/ts/Makefile.am
  lib/ts/ink_queue.cc
Labels: Core, Performance

#3252 Print the volume path that is clearing its directories
  iocore/cache/Cache.cc
Labels: Cache, Cleanup

#3249 docs for client read error
  doc/admin-guide/logging/cache-results.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
Labels: Documentation

#3248 Support string_view hash for Darwin
  lib/ts/string_view.h
Labels: Core

#3224 Refine and clean up runroot
  cmd/traffic_layout/engine.cc
  cmd/traffic_layout/engine.h
  cmd/traffic_layout/file_system.cc
  cmd/traffic_layout/traffic_layout.cc
  lib/ts/ink_args.cc
  lib/ts/runroot.cc
  lib/ts/runroot.h
  tests/gold_tests/basic/runroot.test.py
Labels: Core

#3253 Allow for specifying of brotli via --enable-brotli= or pkg-config
  build/brotli.m4
  configure.ac
  plugins/gzip/Makefile.inc
Labels: Build

#2962 Drain stop and drain improve
  cmd/traffic_ctl/server.cc
  cmd/traffic_manager/traffic_manager.cc
  mgmt/BaseManager.h
  mgmt/LocalManager.cc
  mgmt/LocalManager.h
  mgmt/ProcessManager.cc
  mgmt/api/CoreAPI.cc
  mgmt/api/CoreAPI.h
  mgmt/api/CoreAPIRemote.cc
  mgmt/api/INKMgmtAPI.cc
  mgmt/api/NetworkMessage.cc
  mgmt/api/NetworkMessage.h
  mgmt/api/TSControlMain.cc
  mgmt/api/include/mgmtapi.h
  proxy/Main.cc
  proxy/ProxyClientSession.cc
  proxy/ProxyClientSession.h
  proxy/http2/Http2ClientSession.cc
Labels: Manager

#3255 QUIC: Add default TCL path
  cmd/traffic_quic/Makefile.am
  iocore/net/quic/Makefile.am
  proxy/hq/Makefile.am
Labels: QUIC

#3256 Fixing docs of TSIOBufferReaderAvail
  doc/developer-guide/api/functions/TSIOBufferReader.en.rst
Labels: Documentation

#3251 Drain the request body if there is a cache hit
  proxy/http/HttpDebugNames.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.h
  tests/gold_tests/headers/cache_and_req_body-hit.gold
  tests/gold_tests/headers/cache_and_req_body-hit_close.gold
  tests/gold_tests/headers/cache_and_req_body-miss.gold
  tests/gold_tests/headers/cache_and_req_body.test.py
Labels: HTTP

#3257 QUIC: free the retransmsion initial packet
  iocore/net/QUICNet.cc
Labels: QUIC

#3258 Add comment for vol init
  iocore/cache/Cache.cc
Labels: Cache, Documentation

#3261 QUIC: Make sure only schedule one event when close connection
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3242 Fix traffic_ctl so -h or --help show subcommand options
  cmd/traffic_ctl/traffic_ctl.cc
Labels: Tools

#3122 x-debug log-headers propagation and documentation
  doc/admin-guide/plugins/xdebug.en.rst
  plugins/xdebug/xdebug.cc
Labels: Documentation, Plugins

#3270 Syntax check should ignore age
  tests/gold_tests/headers/syntax.200.gold
Labels: Tests

#3278 Removes the last remnants of tsqa tests
  plugins/experimental/cachekey/Makefile.inc
  plugins/experimental/cachekey/tests/test_cachekey.py
  plugins/gzip/tests/test_gzip.py
Labels: Cleanup, Tests

#3277 Drain the request body if there is a cache hit. Only drain if the
  proxy/http/HttpDebugNames.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.h
  tests/gold_tests/headers/cache_and_req_body-hit.gold
  tests/gold_tests/headers/cache_and_req_body-hit_close.gold
  tests/gold_tests/headers/cache_and_req_body-miss.gold
  tests/gold_tests/headers/cache_and_req_body.test.py
Labels: Backport, HTTP

#3276 corrects doc example for s3_auth map rule
  doc/admin-guide/plugins/s3_auth.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/plugins/s3_auth.en.po
Labels: Documentation

#3274 Correct shutdown flag in UnixNetVConnection
  iocore/net/UnixNetVConnection.cc
Labels: Network

#3282 Fixing 404 on redirects
  proxy/http/HttpTransact.cc
Labels: HTTP

#3267 Errata: add move semantics.
  lib/tsconfig/Errata.cc
  lib/tsconfig/Errata.h
Labels: Core

#3268 Clear vio so lingering IO is not confused when error message is returned
  iocore/cache/Cache.cc
  proxy/http/HttpTunnel.cc
Labels: Crash, HTTP

#3264 Doc: Update stripe assignment initialization documentation.
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/cache-architecture/cache-initialization.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  doc/developer-guide/cache-architecture/images/cache-init-cachehostrecord.png
  doc/developer-guide/cache-architecture/images/cache-init-rtable-result.png
  doc/developer-guide/cache-architecture/images/cache-init-rtable-setup.png
  doc/developer-guide/cache-architecture/images/cache-init-sampling.png
  doc/developer-guide/cache-architecture/images/cache-init-selection.png
  doc/developer-guide/cache-architecture/images/cache-init-slots-minus-1.png
  doc/developer-guide/cache-architecture/images/cache-init-slots-single.png
  doc/developer-guide/cache-architecture/images/stripe-header.svg
  doc/developer-guide/cache-architecture/index.en.rst
Labels: Documentation

#3262 Support TSRemapFromUrlGet/TSRemapToUrlGet in ts_lua plugin
  doc/admin-guide/plugins/ts_lua.en.rst
  plugins/experimental/ts_lua/ts_lua_http.c
Labels: Lua, Plugins

#3283 Removes unnecessary use of snprintf
  plugins/experimental/ts_lua/ts_lua_client_request.c
  plugins/experimental/ts_lua/ts_lua_http.c
  plugins/experimental/ts_lua/ts_lua_remap.c
  plugins/experimental/ts_lua/ts_lua_server_request.c
Labels: Lua, Plugins

#3291 QUIC: Fix the QUICHandshakeProtocol test
  iocore/net/quic/test/Makefile.am
Labels: QUIC

#3292 QUIC: Fix compiler error of memcpy
  iocore/net/quic/QUICIntUtil.cc
Labels: QUIC

#3284 Split MemView (now MemSpan) from TextView.
  doc/developer-guide/api/types/SystemTypes.en.rst
  doc/developer-guide/internal-libraries/MemSpan.en.rst
  doc/developer-guide/internal-libraries/TextView.en.rst
  doc/developer-guide/internal-libraries/index.en.rst
  lib/ts/Makefile.am
  lib/ts/MemSpan.h
  lib/ts/TextView.h
  lib/ts/unit-tests/test_MemSpan.cc
Labels: Cleanup

#3254 Framework for CPPAPI regression test plugin run by a gold test
  plugins/Makefile.am
  plugins/test_cppapi/Makefile.inc
  plugins/test_cppapi/test_cppapi.cc
  tests/gold_tests/pluginTest/cppapi/cppapi.test.py
Labels: CPP API, Tests

#3281 Remove inefficient use of std::string in C++ transformation plugins.
  example/cppapi/delay_transformation_plugin/DelayTransformationPlugin.cc
  example/cppapi/gzip_transformation/GzipTransformationPlugin.cc
  example/cppapi/null_transformation_plugin/NullTransformationPlugin.cc
  example/cppapi/post_buffer/PostBuffer.cc
  lib/cppapi/GzipDeflateTransformation.cc
  lib/cppapi/GzipInflateTransformation.cc
  lib/cppapi/TransformationPlugin.cc
  lib/cppapi/include/atscppapi/GzipDeflateTransformation.h
  lib/cppapi/include/atscppapi/GzipInflateTransformation.h
  lib/cppapi/include/atscppapi/TransformationPlugin.h
  plugins/experimental/webp_transform/ImageTransform.cc
Labels: CPP API, Plugins

#3275 Remove leap-into-the-abyss casting from TSTransformCreate().
  iocore/eventsystem/I_Continuation.h
  proxy/InkAPI.cc
Labels: Cleanup, TS API

#3286 Scalar: Updates and convert tests to Catch.
  lib/ts/Makefile.am
  lib/ts/Scalar.h
  lib/ts/test_Scalar.cc
  lib/ts/unit-tests/test_Scalar.cc
Labels: Core

#3290 Fix parent.config memory leak.
  proxy/ParentConsistentHash.cc
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
Labels: Parent Proxy

#3295 Print volume path and more comment in the code
  iocore/cache/Cache.cc
  iocore/cache/CacheDir.cc
  iocore/cache/CacheDisk.cc
Labels: Cache, Cleanup

#3298 prevent serving from INADDR_ANY hosts
  proxy/http/HttpTransact.cc
  tests/gold_tests/basic/.gitignore
  tests/gold_tests/basic/deny0.test.py
Labels: Core, DNS, HTTP

#3301 Handle rescheduled transaction close event via tunnel.
  proxy/http/HttpSM.cc
Labels: Core, HTTP

#3296 Moving the inline functions to Class Vol
  iocore/cache/Cache.cc
  iocore/cache/CacheDir.cc
  iocore/cache/CacheVol.cc
  iocore/cache/CacheWrite.cc
  iocore/cache/P_CacheDir.h
  iocore/cache/P_CacheVol.h
Labels: Cache, Cleanup

#3214 Removes the delay when sending traffic_ctl msgs
  mgmt/BaseManager.cc
  mgmt/BaseManager.h
  mgmt/LocalManager.cc
  mgmt/LocalManager.h
  mgmt/ProcessManager.cc
  mgmt/ProcessManager.h
Labels: Tools

#3200 HostDB - removing infinite ttl=0
  iocore/hostdb/HostDB.cc
  iocore/hostdb/I_HostDBProcessor.h
  iocore/hostdb/P_HostDBProcessor.h
  lib/ts/ink_std_compat.h
Labels: HostDB

#3294 bwprint: Type safe snprintf like output to BufferWriter instances.
  doc/developer-guide/internal-libraries/MemSpan.en.rst
  doc/developer-guide/internal-libraries/buffer-writer.en.rst
  lib/ts/BufferWriter.h
  lib/ts/BufferWriterFormat.cc
  lib/ts/BufferWriterForward.h
  lib/ts/Makefile.am
  lib/ts/ink_std_compat.h
  lib/ts/unit-tests/test_BufferWriter.cc
  lib/ts/unit-tests/test_BufferWriterFormat.cc
Labels: Core

#3309 Ignore cache age in autest
  tests/gold_tests/headers/cache_and_req_body-miss.gold
Labels: Cleanup, Tests

#3300 Documentation build improvements
  doc/checkvers.py
  doc/ext/traffic-server.py
  doc/manpages.py
Labels: Build, Documentation

#3312 BufferRewrite: Add support for MemSpan, string_view hex dump, and std::string
  lib/ts/BufferWriter.h
  lib/ts/BufferWriterFormat.cc
  lib/ts/BufferWriterForward.h
  lib/ts/CryptoHash.h
  lib/ts/MemSpan.h
  lib/ts/unit-tests/test_BufferWriterFormat.cc
Labels: Core

#3317 QUIC: Fix complier error
  proxy/hq/HQFrame.cc
  proxy/hq/HQTypes.h
Labels: QUIC

#3319 CI: Fix clang-analyzer.sh typo.
  ci/jenkins/bin/clang-analyzer.sh
Labels: Build, Cleanup

#3287 Adds the new header, and some FreeBSD info
  plugins/tcpinfo/tcpinfo.cc
Labels: Plugins

#3311 Add check on continuation before dereferencing, issue #3310
  proxy/PluginVC.cc
Labels: Crash

#3306 Go into timeout state regardless of whether server response data was sent
  proxy/http/HttpSM.cc
Labels: Crash, HTTP

#3315 Add RPC documentation
  doc/developer-guide/api/types/SystemTypes.en.rst
  doc/developer-guide/api/types/TSMgmtTypes.en.rst
  doc/developer-guide/core-architecture/index.en.rst
  doc/developer-guide/core-architecture/rpc.en.rst
  doc/developer-guide/index.en.rst
  doc/uml/RPC-sequence-diagram.uml
  doc/uml/RPC-states.uml
Labels: Documentation

#3304 Fix the compiler error with fips
  lib/ts/ink_code.cc
  tools/jtest/jtest.cc
Labels: Build

#3331 QUIC: Memory pollution in building packet
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#3330 CacheTool: Fix clang build problem on CentOS.
  cmd/traffic_cache_tool/CacheTool.cc
  lib/ts/Scalar.h
Labels: Cache, Tools

#3329 CacheTool: Fix and rewrite stripe initialization
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Cache, Tools

#3332 CacheTool: Fix Scalar / bwformat issues for MacOS.
  cmd/traffic_cache_tool/CacheTool.cc
  lib/ts/BufferWriter.h
  lib/ts/BufferWriterFormat.cc
  lib/ts/Scalar.h
Labels: Tools

#3334 CacheTool: Fix Ubuntu build of CI
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Tools

#3308 Fix 7.1.x build
  proxy/http/HttpTransact.cc
Labels: Build

#3337 QUIC: Set packet_info's bytes to zero if it is the ack-only packet
  iocore/net/quic/QUICLossDetector.cc
Labels: QUIC

#3345 CacheTool:Set exit code in case of error
  cmd/traffic_cache_tool/CacheTool.cc
Labels: Tools

#3307 Handle rescheduled transaction close event via tunnel.
  proxy/http/HttpSM.cc
Labels: Backport

#3336 A number of small changes that were never merged upstream
  ci/jenkins/bin/autest.sh
  ci/jenkins/bin/build.sh
  ci/jenkins/bin/clang-analyzer.sh
  ci/jenkins/bin/rat.sh
Labels: Tests

#3347 git ignore traffic_cache_tool
  .gitignore
Labels: Build

#3342 Editor support with CMakeLists.txt.
  CMakeLists.txt
Labels: Tools

#3302 traffic_ctl host status changes.
  cmd/traffic_ctl/Makefile.am
  cmd/traffic_ctl/host.cc
  cmd/traffic_ctl/traffic_ctl.cc
  cmd/traffic_ctl/traffic_ctl.h
  doc/appendices/command-line/traffic_ctl.en.rst
  mgmt/BaseManager.h
  mgmt/LocalManager.cc
  mgmt/LocalManager.h
  mgmt/ProcessManager.cc
  mgmt/api/CoreAPI.cc
  mgmt/api/CoreAPI.h
  mgmt/api/CoreAPIRemote.cc
  mgmt/api/EventControlMain.cc
  mgmt/api/INKMgmtAPI.cc
  mgmt/api/NetworkMessage.cc
  mgmt/api/NetworkMessage.h
  mgmt/api/TSControlMain.cc
  mgmt/api/include/mgmtapi.h
  proxy/EventName.cc
  proxy/HostStatus.cc
  proxy/HostStatus.h
  proxy/Main.cc
  proxy/ParentConsistentHash.cc
  proxy/ParentRoundRobin.cc
  proxy/ParentSelection.cc
Labels: Parent Proxy, Tools

#3355 allow for specifying of brotli via --enable-brotli= or pkg-config
  build/brotli.m4
  configure.ac
  plugins/gzip/Makefile.inc
Labels: Build

#3352 Allow gzip plugin to configure which status code to transform
  plugins/gzip/configuration.cc
  plugins/gzip/configuration.h
  plugins/gzip/gzip.cc
  plugins/gzip/sample.gzip.config
Labels: Plugins

#3356 Update string_view to be compatible with gcc
  lib/ts/TextView.h
  lib/ts/string_view.h
  lib/ts/unit-tests/test_string_view.cc
Labels: Core

#3362 Issue 3350: traffic_server using 100% CPU
  mgmt/ProcessManager.cc
Labels: Manager

#3363 Add current count and limit to logging messages for per origin connection throttling
  proxy/http/HttpSM.cc
Labels: Core

#3367 Adds 206 and 304 to the default status codes to be compressible
  plugins/gzip/configuration.cc
  plugins/gzip/configuration.h
Labels: Plugins

#3365 Make a note whenever a stripe directory is cleared
  iocore/cache/Cache.cc
Labels: Cache

#3289 Issue 2388: Added TSVConnArgs support
  doc/developer-guide/api/functions/TSVConnArgs.en.rst
  doc/developer-guide/api/functions/TSVConnTunnel.en.rst
  doc/developer-guide/api/types/TSEvent.en.rst
  doc/developer-guide/api/types/TSHttpHookID.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.rst
  example/Makefile.am
  example/ssl_preaccept/ssl_preaccept.cc
  example/vconn_args/vconn_args.cc
  iocore/eventsystem/I_VConnection.h
  iocore/net/I_NetVConnection.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  lib/ts/apidefs.h.in
  plugins/experimental/ssl_cert_loader/ssl-cert-loader.cc
  proxy/InkAPI.cc
  proxy/InkAPIInternal.h
  proxy/InkAPITest.cc
  proxy/api/ts/ts.h
  proxy/http/HttpDebugNames.cc
  tests/tools/plugins/ssl_hook_test.cc
Labels: Documentation, Plugins

#3324 Support floating points for bwformat
  lib/ts/BufferWriter.h
  lib/ts/BufferWriterFormat.cc
  lib/ts/unit-tests/test_BufferWriterFormat.cc
Labels: Core

#3369 Makes the default set of status codes removable via configs
  plugins/gzip/configuration.cc
  plugins/gzip/configuration.h
Labels: Plugins
