Repository apache/trafficserver, pull requests merged in 2018-12, with the labels that each got.

#4659 Doc: TSHttpHdrStatusGet.
  doc/developer-guide/api/functions/TSHttpHdrStatusGet.en.rst
Labels: Documentation

#4654 Changes external links to internal
  doc/developer-guide/plugins/example-plugins/query_remap/index.en.rst
Labels: Documentation

#4660 Runroot: Add a new doc on runroot for programs
  doc/appendices/command-line/traffic_layout.en.rst
  doc/developer-guide/index.en.rst
  doc/developer-guide/layout/index.en.rst
  doc/developer-guide/layout/runroot.en.rst
  src/traffic_layout/README
Labels: Documentation

#4679 QUIC: Remove force_to_send api in QUIAckManager
  iocore/net/quic/QUICAckFrameCreator.cc
  iocore/net/quic/QUICAckFrameCreator.h
Labels: QUIC

#4675 TLS Bridge: Add "--file" option to configuration.
  doc/developer-guide/plugins/example-plugins/tls_bridge.en.rst
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Plugins

#4678 Prevent linking everything against brotli
  build/brotli.m4
Labels: Build, Plugins

#4680 Change serverName member back to const char * to avoid crash.
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLUtils.cc
  proxy/http/HttpSM.cc
Labels: Crash, TLS

#4677 Remove the ssl wire trace feature.
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  iocore/net/UnixNetVConnection.cc
  mgmt/RecordsConfig.cc
  proxy/http/HttpSM.cc
Labels: Cleanup, Documentation

#4667 Add forward_route in ssl_server_name
  doc/admin-guide/files/ssl_server_name.yaml.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLUtils.cc
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  proxy/http/HttpSM.cc
  tests/gold_tests/tls/test-nc-s_client.sh
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_tunnel_forward.test.py
Labels: Configuration, Documentation, TLS, Tests

#4683 Doc: Fix ts:cv typo in records.config documentation.
  doc/admin-guide/files/records.config.en.rst
Labels: Cleanup, Documentation

#4681 Doc: Fix "dst_ip" typo in ip_allow.config documentation.
  doc/admin-guide/files/ip_allow.config.en.rst
  proxy/http/remap/AclFiltering.h
  proxy/http/remap/RemapConfig.cc
Labels: Cleanup, Documentation

#4664 Use hash string when it is provided for hashing
  doc/admin-guide/files/parent.config.en.rst
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
Labels: Parent Proxy

#4603 Add cdniip and cdnistd claims to uri signing
  plugins/experimental/uri_signing/jwt.c
  plugins/experimental/uri_signing/jwt.h
Labels: Plugins

#4673 Avoid the auto-reschedule with dispatchEvent
  doc/developer-guide/api/functions/TSContCall.en.rst
  iocore/eventsystem/Continuation.cc
  iocore/eventsystem/I_Continuation.h
  iocore/eventsystem/Makefile.am
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTunnel.cc
  src/traffic_server/InkAPI.cc
Labels: Core, Crash

#4689 Deals better with Cc: max-age=0
  proxy/http/HttpTransact.cc
Labels: HTTP

#4685 Cleans up some plugin READMEs
  plugins/experimental/cache_range_requests/README
  plugins/experimental/collapsed_forwarding/README
  plugins/header_rewrite/README
Labels: Plugins

#4691 Doc: Cleanup warnings.
  doc/admin-guide/files/parent.config.en.rst
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/developer-guide/api/functions/TSContCall.en.rst
Labels: Cleanup, Documentation

#4610 Doc: parent config has more features than balancer plugin
  doc/admin-guide/introduction.en.rst
  doc/admin-guide/plugins/balancer.en.rst
Labels: Documentation

#4658 Add SNI-based cert selection test.
  tests/gold_tests/tls/tls_check_cert_selection.test.py
Labels: TLS, Tests

#4662 Adds a reasonable rip-grep config file
  .ripgreprc
  ci/rat-regex.txt
Labels: Tools

#4674 Cleanup: change RemapPlugins::run_single_remap to return bool.
  proxy/http/remap/RemapPlugins.cc
  proxy/http/remap/RemapPlugins.h
  proxy/http/remap/RemapProcessor.cc
Labels: Cleanup

#4450 Improve BufferWriter logic in HttpTransactHeaders.cc
  proxy/http/HttpTransactHeaders.cc
Labels: Core

#4686 QUIC: Send ping frame to force peer send ack
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#4693 Remove ignoring unused variable warning from webp plugin
  plugins/experimental/webp_transform/Makefile.inc
Labels: Cleanup, Plugins

#4696 Updates the CI build scripts, adds a new build for HTTP cache-tests
  ci/jenkins/bin/cache-tests.sh
  ci/jenkins/bin/environment.sh
  ci/jenkins/bin/gh-mirror.sh
Labels: CI

#4690 Remove unnecessary TSHandleMLocRelease
  src/tscpp/api/Request.cc
Labels: CPP API

#4703 Correct the statements within ink_assert and ink_release_assert
  proxy/http/HttpSM.cc
  proxy/logging/LogObject.cc
  src/tscore/CryptoHash.cc
Labels: Tests

#4700 sslheaders experimental plugin: fix doc typo, improve container use.
  doc/admin-guide/plugins/sslheaders.en.rst
  plugins/experimental/sslheaders/sslheaders.cc
  plugins/experimental/sslheaders/sslheaders.h
Labels: Plugins

#4698 Fixes some cache-tests, and make check shouldn't run on build fail
  ci/jenkins/bin/build.sh
  ci/jenkins/bin/cache-tests.sh
  ci/jenkins/bin/environment.sh
  ci/jenkins/bin/regression.sh
Labels: CI

#4701 Make sslheaders plugin better conform to documentation.
  plugins/experimental/sslheaders/expand.cc
  plugins/experimental/sslheaders/sslheaders.cc
  tests/gold_tests/pluginTest/sslheaders/observer.py
  tests/gold_tests/pluginTest/sslheaders/ssl/server.key
  tests/gold_tests/pluginTest/sslheaders/ssl/server.pem
  tests/gold_tests/pluginTest/sslheaders/sslheaders.gold
  tests/gold_tests/pluginTest/sslheaders/sslheaders.test.py
Labels: Plugins

#4707 Remove the APIHooks::invoke() function.
  proxy/InkAPIInternal.h
Labels: Cleanup

#4706 Correction to documentation for TSHttpHookAdd().
  doc/developer-guide/api/functions/TSHttpHookAdd.en.rst
Labels: Documentation

#4699 Revert PR 4455 regex_revalidate per remap rules
  doc/admin-guide/plugins/regex_revalidate.en.rst
  plugins/regex_revalidate/regex_revalidate.c
Labels: HTTP

#4663 Add back in the option to conf_remap the verify_server settings.
  doc/admin-guide/files/records.config.en.rst
  include/ts/apidefs.h.in
  iocore/net/P_SSLSNI.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/YamlSNIConfig.h
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/tls/tls_verify_override.test.py
Labels: Configuration, TLS, Tests

#4716 Revert "Two more places to check whether attempting half_closed connecton logic is feasible"
  proxy/ProxyClientSession.cc
  proxy/http/HttpSM.cc
Labels: HTTP

#4718 BWF: Fix handling of null char * - avoid string_view constructor.
  include/tscore/BufferWriter.h
  src/tscore/unit_tests/test_BufferWriterFormat.cc
Labels: Core

#4715 Optimize: Avoid meaningless lock operations
  iocore/eventsystem/ProtectedQueue.cc
Labels: Core

#4720 Fix disable freelist options
  include/tscore/Allocator.h
  include/tscore/ink_queue.h
  src/tscore/ink_queue.cc
  src/tscore/test_freelist.cc
Labels: Core

#4717 Add TLS client keep alive test.
  tests/gold_tests/tls/gold/accesslog.gold
  tests/gold_tests/tls/tls_keepalive.test.py
Labels: TLS, Tests

#4704 task threads ready lifecycle hook
  doc/developer-guide/api/functions/TSLifecycleHookAdd.en.rst
  include/ts/apidefs.h.in
  iocore/eventsystem/I_EventProcessor.h
  iocore/eventsystem/I_Tasks.h
  iocore/eventsystem/Tasks.cc
  iocore/eventsystem/UnixEventProcessor.cc
  proxy/http/HttpDebugNames.cc
  src/traffic_server/traffic_server.cc
Labels: TS API

#4727 Remove unused Http2Stream destructor
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#4724 Add shutdown lifecycle hook
  doc/developer-guide/api/functions/TSLifecycleHookAdd.en.rst
  include/ts/apidefs.h.in
  proxy/http/HttpDebugNames.cc
  src/traffic_server/traffic_server.cc
Labels: TS API

#4722 Add control for how outbound SNI is selected.
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/tls/tls_verify_override.test.py
Labels: Configuration, Documentation, TLS, Tests

#4719 Add config reload to tls_tunnel test.
  tests/gold_tests/tls/tls_tunnel.test.py
Labels: Configuration, TLS, Tests

#4692 BWF: Clean up diags log entry header construction.
  src/tscore/Diags.cc
Labels: Cleanup

#4738 Fix typo in HdrHeap
  proxy/hdrs/HdrHeap.cc
Labels: Cleanup

#4745 QUIC: Fixes Stream test case
  iocore/net/quic/test/test_QUICStream.cc
Labels: QUIC, Tests
