Repository apache/trafficserver, pull requests merged in 2019-07, with the labels that each got.

#5669 Added end pointer to ink_atoi64 and used when parsing cache size
  include/tscore/ParseRules.h
  iocore/cache/Store.cc
  src/tscore/Makefile.am
  src/tscore/ParseRules.cc
  src/tscore/unit_tests/test_ParseRules.cc
  tests/gold_tests/autest-site/min_cfg/storage.config
Labels: Cache, Configuration

#5667 Combohandler: Set response as private if one of the origin responses is private
  doc/admin-guide/plugins/combo_handler.en.rst
  plugins/esi/README.combo
  plugins/esi/combo_handler.cc
Labels: Plugins

#5678 More Autest ports cleanup
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/continuations/double_h2.test.py
  tests/gold_tests/continuations/openclose_h2.test.py
  tests/gold_tests/h2/h2disable.test.py
  tests/gold_tests/h2/http2.test.py
  tests/gold_tests/h2/http2_priority.test.py
  tests/gold_tests/h2/httpbin.test.py
  tests/gold_tests/headers/hsts.test.py
  tests/gold_tests/headers/normalize_ae.test.py
  tests/gold_tests/logging/ccid_ctid.test.py
  tests/gold_tests/pluginTest/client_context_dump/client_context_dump.test.py
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate.test.py
  tests/gold_tests/pluginTest/slice/slice.test.py
  tests/gold_tests/pluginTest/slice/slice_error.test.py
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/gold_tests/pluginTest/tsapi/tsapi.test.py
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
  tests/gold_tests/tls/tls.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_cert_override.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_hooks_client_verify.test.py
  tests/gold_tests/tls/tls_hooks_verify.test.py
  tests/gold_tests/tls/tls_keepalive.test.py
  tests/gold_tests/tls/tls_ocsp.test.py
  tests/gold_tests/tls/tls_ticket.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_tunnel_forward.test.py
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/gold_tests/tls/tls_verify.test.py
  tests/gold_tests/tls/tls_verify2.test.py
  tests/gold_tests/tls/tls_verify3.test.py
  tests/gold_tests/tls/tls_verify_base.test.py
  tests/gold_tests/tls/tls_verify_ca_override.test.py
  tests/gold_tests/tls/tls_verify_not_pristine.test.py
  tests/gold_tests/tls/tls_verify_override.test.py
  tests/gold_tests/tls/tls_verify_override_base.test.py
  tests/gold_tests/tls_hooks/tls_hooks.test.py
  tests/gold_tests/tls_hooks/tls_hooks10.test.py
  tests/gold_tests/tls_hooks/tls_hooks11.test.py
  tests/gold_tests/tls_hooks/tls_hooks12.test.py
  tests/gold_tests/tls_hooks/tls_hooks13.test.py
  tests/gold_tests/tls_hooks/tls_hooks14.test.py
  tests/gold_tests/tls_hooks/tls_hooks15.test.py
  tests/gold_tests/tls_hooks/tls_hooks16.test.py
  tests/gold_tests/tls_hooks/tls_hooks17.test.py
  tests/gold_tests/tls_hooks/tls_hooks18.test.py
  tests/gold_tests/tls_hooks/tls_hooks2.test.py
  tests/gold_tests/tls_hooks/tls_hooks3.test.py
  tests/gold_tests/tls_hooks/tls_hooks4.test.py
  tests/gold_tests/tls_hooks/tls_hooks6.test.py
  tests/gold_tests/tls_hooks/tls_hooks7.test.py
  tests/gold_tests/tls_hooks/tls_hooks8.test.py
  tests/gold_tests/tls_hooks/tls_hooks9.test.py
Labels: Tests

#5686 Reverse internal order of HPACK Dynamic Table Entries
  proxy/http2/HPACK.cc
  proxy/http2/HPACK.h
Labels: HTTP/2

#5698 Remove unused LibBulkIO
  iocore/net/Makefile.am
  iocore/net/P_InkBulkIO.h
  iocore/net/P_LibBulkIO.h
  iocore/net/P_Net.h
  iocore/net/UnixUDPNet.cc
Labels: Cleanup

#5699 Remove unused header file ink_inout.h
  include/tscore/ink_inout.h
Labels: Cleanup

#5668 TSIOBufferReaderCopy: copy data from a reader to a fixed buffer.
  doc/developer-guide/api/functions/TSIOBufferReader.en.rst
  doc/developer-guide/api/functions/TSSslClientCertUpdate.en.rst
  include/ts/InkAPIPrivateIOCore.h
  include/ts/ts.h
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
  src/traffic_server/InkIOCoreAPI.cc
Labels: Cleanup, Documentation, TS API

#5465 Separate out common header compression logic to hdrs directory
  .gitignore
  proxy/hdrs/HuffmanCodec.cc
  proxy/hdrs/HuffmanCodec.h
  proxy/hdrs/Makefile.am
  proxy/hdrs/XPACK.cc
  proxy/hdrs/XPACK.h
  proxy/hdrs/test_Huffmancode.cc
  proxy/http2/HPACK.cc
  proxy/http2/HPACK.h
  proxy/http2/HTTP2.cc
  proxy/http2/Makefile.am
  proxy/http2/RegressionHPACK.cc
Labels: HTTP/2

#5676 Log H2 errors with the codes
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#5703 Fix indents in HttpTunnel.cc made by unifdef LAZY_BUF_ALLOC
  proxy/http/HttpTunnel.cc
Labels: Cleanup, HTTP

#5707 JA3: append to the last dub if X-JA3-Sig/X-JA3-RAW exist
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
  plugins/experimental/ja3_fingerprint/ja3_fingerprint.cc
Labels: Plugins

#5705 Make TSVConnInacitivityTimeoutCancel work as expected.
  iocore/net/P_UnixNetVConnection.h
Labels: Network, TS API

#5697 Coalesce empty objects in HdrHeap
  proxy/hdrs/HdrHeap.cc
Labels: Core, HTTP

#5685 Fix typo in lua plugin documentation
  doc/admin-guide/plugins/lua.en.rst
Labels: Documentation

#5711 Fix client transaction stats
  proxy/ProxyTransaction.cc
Labels: HTTP, HTTP/2, Metrics

#5680 HTTP/2 - tweak for better field name handling.
  proxy/http2/Http2Stream.cc
Labels: Cleanup

#5277 Tries to use linux specific tcpinfo fields
  configure.ac
  doc/admin-guide/plugins/tcpinfo.en.rst
  include/tscore/ParseRules.h
  plugins/tcpinfo/tcpinfo.cc
Labels: Plugins

#5690 Fix race condition in test
  tests/tools/plugins/cont_schedule.cc
Labels: Tests

#5717 Change default proxy name to be "traffic_server", not the build machine.
  mgmt/RecordsConfig.cc
Labels: Cleanup

#5710 Convert regression tests for XPACK into Catch based unit tests
  .gitignore
  proxy/hdrs/Makefile.am
  proxy/hdrs/unit_tests/test_XPACK.cc
  proxy/http2/RegressionHPACK.cc
Labels: HTTP/2, Tests

#5723 Update docs to document wipe_field_action that we use in production
  doc/admin-guide/files/logging.yaml.en.rst
Labels: Documentation, Logging, OnDocs

#5722 In test_hooks Au test case, add work-around for flakeyness of VCONN start/close events.
  tests/gold_tests/pluginTest/test_hooks/clean.sh
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
Labels: Tests

#5728 Remove header_rewrite conditions deprecated in previous versions
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/header_rewrite_test.cc
Labels: Plugins

#5721 Fixes autodetect of brotli
  build/brotli.m4
Labels: Build

#5715 Sets macOS luajit linker flags only when luajit detected
  build/luajit.m4
Labels: Build

#5700 Options to roll empty logs and log trimming
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/logging/rotation.en.rst
  mgmt/RecordsConfig.cc
  proxy/logging/LogConfig.cc
  proxy/logging/LogConfig.h
  proxy/logging/LogFile.cc
  proxy/logging/LogFile.h
  proxy/logging/LogObject.cc
  proxy/logging/LogObject.h
  proxy/logging/YamlLogConfig.cc
  src/traffic_server/InkAPI.cc
Labels: Logging

#5733 Fix typos in log.gold file for tsapi Au test case in merged PR 5706.
  tests/gold_tests/pluginTest/tsapi/log.gold
Labels: Tests

#5724 Enable logging of the Elliptic Curve used to communicate with the client
  doc/admin-guide/logging/formatting.en.rst
  iocore/net/P_SSLNetVConnection.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging, TLS

#5730 Cleanup and link references to sni.yaml
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#5282 Plugin reload
  doc/developer-guide/api/functions/TSVConnCreate.en.rst
  doc/developer-guide/design-documents/index.en.rst
  doc/developer-guide/design-documents/reloading-plugins.en.rst
  doc/developer-guide/index.en.rst
  include/ts/InkAPIPrivateIOCore.h
  include/tscore/ts_file.h
  proxy/ReverseProxy.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/remap/Makefile.am
  proxy/http/remap/PluginDso.cc
  proxy/http/remap/PluginDso.h
  proxy/http/remap/PluginFactory.cc
  proxy/http/remap/PluginFactory.h
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/RemapPluginInfo.cc
  proxy/http/remap/RemapPluginInfo.h
  proxy/http/remap/RemapPlugins.cc
  proxy/http/remap/RemapPlugins.h
  proxy/http/remap/UrlMapping.cc
  proxy/http/remap/UrlMapping.h
  proxy/http/remap/UrlRewrite.cc
  proxy/http/remap/UrlRewrite.h
  proxy/http/remap/unit-tests/plugin_misc_cb.cc
  proxy/http/remap/unit-tests/plugin_missing_deleteinstance.cc
  proxy/http/remap/unit-tests/plugin_missing_doremap.cc
  proxy/http/remap/unit-tests/plugin_missing_init.cc
  proxy/http/remap/unit-tests/plugin_missing_newinstance.cc
  proxy/http/remap/unit-tests/plugin_required_cb.cc
  proxy/http/remap/unit-tests/plugin_testing_calls.cc
  proxy/http/remap/unit-tests/plugin_testing_common.cc
  proxy/http/remap/unit-tests/plugin_testing_common.h
  proxy/http/remap/unit-tests/test_PluginDso.cc
  proxy/http/remap/unit-tests/test_PluginFactory.cc
  proxy/http/remap/unit-tests/test_RemapPlugin.cc
  src/traffic_server/InkAPI.cc
  src/tscore/ts_file.cc
  src/tscore/unit_tests/test_ts_file.cc
Labels: Core, Documentation, Plugins

#5701 fix If-Match and If-Unmodified-Since priority problem
  proxy/http/HttpTransactCache.cc
Labels: Cache, HTTP

#5716 Fixes memory leak in traffic_crashlog
  src/traffic_crashlog/traffic_crashlog.cc
Labels: Leak

#5740 Fixes spelling in lib/records
  lib/records/I_RecCore.h
  lib/records/I_RecDefs.h
  lib/records/I_RecHttp.h
  lib/records/RecCore.cc
  lib/records/RecMessage.cc
  lib/records/test_I_RecLocal.cc
  lib/records/test_RecProcess.i
Labels: Cleanup

#5731 Use un-deprecated records for SSL server verification
  configs/records.config.default.in
Labels: Configuration

#5480 Add HKDF wrapper
  build/crypto.m4
  configure.ac
  include/tscore/HKDF.h
  src/tscore/HKDF_boringssl.cc
  src/tscore/HKDF_openssl.cc
  src/tscore/Makefile.am
  src/tscore/unit_tests/test_HKDF.cc
Labels: Core

#5650 ATS 8 - Fixes state machine loops when using parent selection to select origins.
  proxy/http/HttpDebugNames.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Backport, Bug, Parent Proxy

#5588 Update UDPNet for QUIC
  iocore/net/P_UDPNet.h
  iocore/net/P_UnixNet.h
  iocore/net/UnixUDPNet.cc
Labels: UDP

#5704 Add dest addr information to incoming UDPPacket objects
  iocore/net/P_UDPPacket.h
  iocore/net/UnixUDPNet.cc
Labels: UDP

#5649 TS API - Adds the TSHttpTxnNextHopNameGet() function.
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpTxnNextHopNameGet.en.rst
  include/ts/ts.h
  plugins/lua/ts_lua_server_request.c
  src/traffic_server/InkAPI.cc
Labels: TS API

#5746 Remove unnecesary function name on debug logs in SSLNetVConnection
  iocore/net/SSLNetVConnection.cc
Labels: Cleanup, TLS

#5745 Cleanup debug logs around SSLWriteBuffer
  iocore/net/SSLNetVConnection.cc
Labels: Cleanup, TLS

#5752 fixed datatype in example plugin
  example/plugins/c-api/bnull_transform/bnull_transform.c
  example/plugins/c-api/server_transform/server_transform.c
Labels: Plugins

#5755 Initialize EventIO
  iocore/net/UnixNet.cc
Labels: Core, Network

#5756 Minor typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

#5751 Add soft limit for HTTP Request URI and Header field length.
  configs/body_factory/default/Makefile.am
  configs/body_factory/default/request#uri_len_too_long
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/error-messages.en.rst
  mgmt/RecordsConfig.cc
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/hdrs/HdrTSOnly.cc
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/HdrTest.h
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: Configuration, HTTP

#5750 Preserve the raw log fields when wiping using case insensitive contains and update container log fields
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
  proxy/logging/LogField.cc
  proxy/logging/LogField.h
  proxy/logging/LogFilter.cc
  proxy/logging/LogFilter.h
Labels: Logging
