Repository apache/trafficserver, pull requests merged in 2019-11, with the labels that each got.

#6114 Fixes misc. spelling and whitespace
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/cachekey.en.rst
  src/tscore/HostLookup.cc
Labels: Documentation

#6124 Clean up traffic dump doc issues
  doc/admin-guide/plugins/traffic_dump.en.rst
Labels: Documentation

#6113 Patch to fix autest issues
  tests/gold_tests/tls/tls_session_cache.test.py
Labels: Bug, Tests

#6049 set host name in TLS extension for SNI Host check in service side with sni policy verify_with_name_source.
  doc/admin-guide/files/records.config.en.rst
  iocore/net/I_NetVConnection.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/quic/QUICTLS_openssl.cc
  proxy/http/HttpSM.cc
Labels: TLS

#6106 Removes proxy.config.cache.storage_filename
  include/tscore/Filenames.h
  iocore/cache/Cache.cc
  iocore/cache/Store.cc
  lib/perl/lib/Apache/TS/AdminClient.pm
  mgmt/RecordsConfig.cc
  src/traffic_layout/info.cc
  src/traffic_manager/AddConfigFilesHere.cc
  src/tscore/Filenames.cc
  src/tscore/Makefile.am
Labels: Cleanup, Configuration

#6095 For remap_stats, removes configure time dependency on search.h
  configure.ac
  plugins/Makefile.am
Labels: Build, Plugins

#6130 Fixes misc. spelling and whitespace
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSRemap.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
  doc/release-notes/upgrading.en.rst
  doc/release-notes/whats-new.en.rst
Labels: Documentation

#6092 Add an appropriate warning where behavior has changed
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#6120 Fix null pointer dereference reported by clang-analyzer
  proxy/http/HttpTunnel.cc
Labels: clang-analyzer

#6094 Issue #4294: Handle return value of SSL_write() properly
  tests/gold_tests/tls/ssl-post.c
  tools/http_load/http_load.c
Labels: TLS

#6129 Adding an autest for traffic_dump.
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/Pipfile
  tests/gold_tests/pluginTest/traffic_dump/gold/200.gold
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump.test.py
  tests/gold_tests/pluginTest/traffic_dump/verify_replay.py
Labels: Tests

#6134 Removes the records.config.shadow alternative config file
  include/tscore/Filenames.h
  lib/records/P_RecDefs.h
  lib/records/RecCore.cc
  mgmt/LocalManager.cc
  src/traffic_layout/info.cc
  src/traffic_manager/AddConfigFilesHere.cc
  src/traffic_manager/traffic_manager.cc
  src/tscore/Filenames.cc
  src/tscore/unit_tests/test_layout.cc
Labels: Cleanup, Configuration

#6125 Add Metrics to track SSL Handshake attempts
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLStats.cc
  iocore/net/SSLStats.h
Labels: Metrics, TLS

#6131 Remove never implemented HttpTransact::service_transaction_in_proxy_only_mode
  doc/admin-guide/monitoring/statistics/core/bandwidth.en.rst
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cleanup

#6116 Updated to clang-format v9.0.0
  .clang-format
  example/plugins/c-api/cache_scan/cache_scan.cc
  example/plugins/c-api/intercept/intercept.cc
  example/plugins/c-api/passthru/passthru.cc
  example/plugins/c-api/statistic/statistic.cc
  example/plugins/cpp-api/async_http_fetch_streaming/AsyncHttpFetchStreaming.cc
  example/plugins/cpp-api/intercept/intercept.cc
  include/tscore/BufferWriter.h
  include/tscore/Errata.h
  include/tscore/IpMap.h
  include/tscore/RbTree.h
  include/tscore/ink_inet.h
  include/wccp/Wccp.h
  iocore/cache/CacheDir.cc
  iocore/cache/CacheTest.cc
  iocore/net/quic/Mock.h
  lib/records/RecCore.cc
  mgmt/WebMgmtUtils.cc
  mgmt/api/INKMgmtAPI.cc
  plugins/experimental/metalink/metalink.cc
  plugins/experimental/slice/HttpHeader.h
  plugins/experimental/slice/Range.cc
  plugins/experimental/slice/transfer.cc
  plugins/generator/generator.cc
  proxy/ControlBase.h
  proxy/http/Http1Transaction.cc
  proxy/http/HttpConfig.cc
  proxy/logging/LogConfig.cc
  src/traffic_server/traffic_server.cc
  src/tscore/BufferWriterFormat.cc
  src/tscore/EventNotify.cc
  src/tscore/IpMap.cc
  src/tscore/ink_res_mkquery.cc
  src/tscore/test_atomic.cc
  src/tscore/test_freelist.cc
  src/wccp/WccpLocal.h
  tools/clang-format.sh
Labels: Build

#6105 Cleaned up the changelog command for making our release notes
  tools/git/changelog.pl
Labels: Tools

#6060 Remove remnants of http/1.1 pipeline logic.
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cleanup, HTTP

#6118 Avoid IOBufferReader::read_avail() call from MIOBuffer::high_water()
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
Labels: Cleanup, Core, Performance

#6140 Remove using namespace std
  iocore/cache/CacheTest.cc
  src/traffic_top/stats.h
Labels: Build

#6141 Update docs for SSL Handshake stats
  doc/admin-guide/monitoring/statistics/core/ssl.en.rst
Labels: Documentation, Metrics, TLS

#6143 A couple doc tweaks
  doc/developer-guide/plugins/hooks-and-transactions/http-transactions.en.rst
  doc/developer-guide/plugins/introduction.en.rst
Labels: Documentation

#6145 Remove including sys/sysctl.h for Linux
  include/tscore/ink_platform.h
  src/tscore/ink_hrtime.cc
  tests/include/catch.hpp
Labels: Cleanup

#6137 Make MIOBufferWriter unit tests work when compiled without -DDEBUG.
  iocore/eventsystem/I_MIOBufferWriter.h
  iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
Labels: Tests

#5727 Add effective url options to slice plugin.
  doc/admin-guide/plugins/slice.en.rst
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/Data.h
  plugins/experimental/slice/README.md
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/slice.cc
  tests/gold_tests/pluginTest/slice/slice.test.py
  tests/gold_tests/pluginTest/slice/slice_error.test.py
Labels: Plugins

#6148 Disable the most expensive "make check" tests by default
  configure.ac
  iocore/cache/Makefile.am
  src/tscore/Makefile.am
Labels: Build, CI

#6152 Reduce doc build errors
  doc/admin-guide/plugins/slice.en.rst
  doc/developer-guide/debugging/debug-builds.en.rst
  doc/release-notes/whats-new.en.rst
Labels: Documentation

#6151 Internal link needs _
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#6126 Fix the thread ready check
  iocore/eventsystem/I_EventProcessor.h
  iocore/eventsystem/UnixEventProcessor.cc
  proxy/http/HttpProxyServerMain.cc
  proxy/http/HttpProxyServerMain.h
  src/traffic_server/traffic_server.cc
Labels: Core

#6147 Reverse debug specific check.
  src/traffic_server/InkAPI.cc
Labels: Logging, Performance

#6156 Fix building Catch on macOS
  tests/include/catch.hpp
Labels: Build, Tests

#6138 tests: Adds autest for WebSocket mappings
  tests/gold_tests/remap/gold/remap-ws-upgrade-400.gold
  tests/gold_tests/remap/gold/remap-ws-upgrade.gold
  tests/gold_tests/remap/remap_ws.test.py
Labels: Tests, Websockets

#6132 Normalize loopback usage in session_match autest
  tests/gold_tests/session_sharing/session_match.test.py
Labels: Tests

#6085 Only decrement log_stat_log_files_open_stat when the file is closed.
  include/tscore/BaseLogFile.h
  proxy/logging/LogFile.cc
  src/tscore/BaseLogFile.cc
Labels: Bug, Logging

#6128 Move websocket upgrade later in state machine
  proxy/http/HttpTransact.cc
Labels: Websockets

#6159 Detect bogus jemalloc version
  build/jemalloc.m4
  include/tscore/JeAllocator.h
Labels: Build

#5386 Remove Cache v23 support
  iocore/cache/Cache.cc
  iocore/cache/I_CacheDefs.h
  iocore/cache/P_CacheBC.h
Labels: Cache, Cleanup

#6158 Fixed build issues with hwloc 2.x API changes
  iocore/aio/AIO.cc
  iocore/eventsystem/UnixEventProcessor.cc
Labels: Build

#6144 Cleans up some of the filenames mess
  doc/admin-guide/files/records.config.en.rst
  include/tscore/Filenames.h
  iocore/cache/Cache.cc
  iocore/cache/CacheHosting.cc
  iocore/cache/Store.cc
  iocore/dns/SplitDNS.cc
  iocore/net/QUICMultiCertConfigLoader.cc
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLUtils.cc
  lib/records/RecCore.cc
  mgmt/LocalManager.cc
  mgmt/RecordsConfig.cc
  proxy/CacheControl.cc
  proxy/IPAllow.cc
  proxy/ParentSelection.cc
  proxy/Plugin.cc
  proxy/ReverseProxy.cc
  proxy/http/HttpBodyFactory.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpTransact.cc
  proxy/http/remap/UrlRewrite.cc
  proxy/logging/LogConfig.cc
  proxy/shared/DiagsConfig.cc
  src/traffic_layout/info.cc
  src/traffic_manager/AddConfigFilesHere.cc
  src/traffic_manager/traffic_manager.cc
  src/traffic_server/InkAPITest.cc
  src/traffic_server/traffic_server.cc
  src/tscore/Filenames.cc
  src/tscore/Makefile.am
  src/tscore/unit_tests/test_layout.cc
Labels: Cleanup, Configuration

#6154 tslua: Exposes set/get method for server request objects
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua_server_request.c
Labels: Lua, Plugins

#6165 Re-order READ_REQUEST_ HDR_HOOK and PRE_REMAP_HOOK
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#6155 Remove unused functions of IOBuffer
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
Labels: Cleanup, Core

#6169 Fixes cppcheck issues for cookie_remap plugin
  plugins/experimental/cookie_remap/cookie_remap.cc
  plugins/experimental/cookie_remap/cookiejar.cc
Labels: Plugins, cppcheck

#6160 Fixes misc. spelling and whitespace
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSRemap.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
Labels: Backport

#6173 Remove HttpTransact::build_upgrade_response
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cleanup

#6174 Remove useless UDP function
  iocore/net/P_UDPPacket.h
Labels: Cleanup, UDP

#6182 tslua: Exposes set/get version for server request objects
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua_server_request.c
Labels: Lua

#6175 Removes the ssn_close hook, it can never work
  doc/admin-guide/plugins/tcpinfo.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/plugins/tcpinfo.en.po
  plugins/tcpinfo/tcpinfo.cc
Labels: Plugins

#6179 Doc: Remove local path to MathJax.
  doc/conf.py
Labels: Documentation

#6180 RBTree - fix potential nullptr dereference
  src/tscore/RbTree.cc
Labels: Cleanup

#6183 Dockerfile for Debian package managers
  ci/docker/deb/Dockerfile
Labels: CI

#6186 Fix compile warnings in Catch checks for TextView
  src/tscpp/util/unit_tests/test_TextView.cc
Labels: Tests

#6187 Replaces Python -> Python3 in a few utilities
  contrib/python/compare_RecordsConfigcc.py
  contrib/python/compare_records_config.py
  tools/check-unused-dependencies
Labels: Tools

#6191 Limit this check to Linux, where ldd always works
  Makefile.am
  configure.ac
Labels: Tests

#6181 remap_stats: Fix BufferWriter usage error.
  plugins/experimental/remap_stats/remap_stats.cc
Labels: Cleanup, Plugins

#6184 Remove header conversion functions for HTTP/0.9
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/HttpTransactHeaders.cc
  proxy/http/HttpTransactHeaders.h
Labels: Cleanup, HTTP

#6190 Fix ssl_session_reuse to compile on macOS and FreeBSD
  plugins/experimental/ssl_session_reuse/src/config.cc
  plugins/experimental/ssl_session_reuse/src/publish.cc
Labels: Plugins

#6185 Upgrade Catch.hpp to v2.11
  tests/include/catch.hpp
Labels: Tests

#6170 Add test to catch regressions in sni and override configs
  tests/gold_tests/tls/tls_verify_override_sni.test.py
Labels: Tests

#5960 Add Nexthop selection strategies and @strategy tag to remap.config.
  .gitignore
  configs/strategies.yaml.default
  doc/admin-guide/files/strategies.yaml.en.rst
  mgmt/RecordsConfig.cc
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/remap/Makefile.am
  proxy/http/remap/NextHopConsistentHash.cc
  proxy/http/remap/NextHopConsistentHash.h
  proxy/http/remap/NextHopRoundRobin.cc
  proxy/http/remap/NextHopRoundRobin.h
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
  proxy/http/remap/NextHopStrategyFactory.cc
  proxy/http/remap/NextHopStrategyFactory.h
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/RemapConfig.h
  proxy/http/remap/RemapProcessor.cc
  proxy/http/remap/UrlMapping.h
  proxy/http/remap/UrlRewrite.cc
  proxy/http/remap/UrlRewrite.h
  proxy/http/remap/unit-tests/combined.yaml
  proxy/http/remap/unit-tests/consistent-hash-tests.yaml
  proxy/http/remap/unit-tests/hosts.yaml
  proxy/http/remap/unit-tests/nexthop_test_stubs.cc
  proxy/http/remap/unit-tests/nexthop_test_stubs.h
  proxy/http/remap/unit-tests/round-robin-tests.yaml
  proxy/http/remap/unit-tests/simple-strategy.yaml
  proxy/http/remap/unit-tests/strategies-dir/01-hosts.yaml
  proxy/http/remap/unit-tests/strategies-dir/02-groups.yaml
  proxy/http/remap/unit-tests/strategies-dir/03-strategies.yaml
  proxy/http/remap/unit-tests/strategy.yaml
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
  proxy/http/remap/unit-tests/test_NextHopRoundRobin.cc
  proxy/http/remap/unit-tests/test_NextHopStrategyFactory.cc
Labels: Feature, Parent Proxy, YAML

#6206 Fix the strategies.yaml documentation.
  doc/admin-guide/files/index.en.rst
  doc/admin-guide/files/strategies.yaml.en.rst
Labels: Documentation

#6201 ssl_session_reuse optimization to check if diags is on
  plugins/experimental/ssl_session_reuse/src/publish.cc
Labels: Cleanup, Plugins

#6210 Cleanup trailing whitespaces, and YAML formatting
  configs/strategies.yaml.default
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/files/strategies.yaml.en.rst
  doc/admin-guide/logging/formatting.en.rst
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
  doc/admin-guide/plugins/slice.en.rst
  doc/admin-guide/plugins/ssl_session_reuse.en.rst
  doc/developer-guide/api/functions/TSContCall.en.rst
  doc/developer-guide/api/functions/TSVConnReenable.en.rst
  doc/developer-guide/api/functions/TSVConnSslVerifyCTXGet.en.rst
  doc/developer-guide/layout/runroot.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
  example/plugins/lua-api/connect_geoip.lua
  example/plugins/lua-api/connect_redis.lua
  example/plugins/lua-api/sorted_query_params.lua
  example/plugins/lua-api/uncompress.lua
  lib/yamlcpp/test/create-emitter-tests.py
  lib/yamlcpp/test/integration/error_messages_test.cpp
  lib/yamlcpp/test/integration/load_node_test.cpp
  plugins/experimental/fastcgi/src/Readme
  plugins/experimental/slice/Makefile.tsxs
  plugins/experimental/slice/README.md
  plugins/experimental/uri_signing/Makefile.inc
  plugins/experimental/uri_signing/README.md
  plugins/experimental/uri_signing/python_signer/README.md
  proxy/http/remap/Makefile.am
  proxy/http/remap/unit-tests/combined.yaml
  proxy/http/remap/unit-tests/consistent-hash-tests.yaml
  proxy/http/remap/unit-tests/hosts.yaml
  proxy/http/remap/unit-tests/round-robin-tests.yaml
  proxy/http/remap/unit-tests/simple-strategy.yaml
  proxy/http/remap/unit-tests/strategies-dir/01-hosts.yaml
  proxy/http/remap/unit-tests/strategies-dir/03-strategies.yaml
  proxy/http/remap/unit-tests/strategy.yaml
  tests/README.md
  tests/gold_tests/autest-site/readme.md
  tests/gold_tests/tls/test-nc-s_client.sh
  tests/tools/README.md
Labels: Cleanup

#6212 Cleanup trailing whitespaces, and YAML formatting
  CHANGELOG-9.0.0
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/logging/formatting.en.rst
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
  doc/admin-guide/plugins/slice.en.rst
  doc/admin-guide/plugins/ssl_session_reuse.en.rst
  doc/developer-guide/api/functions/TSContCall.en.rst
  doc/developer-guide/api/functions/TSVConnReenable.en.rst
  doc/developer-guide/api/functions/TSVConnSslVerifyCTXGet.en.rst
  doc/developer-guide/layout/runroot.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
  example/plugins/lua-api/connect_geoip.lua
  example/plugins/lua-api/connect_redis.lua
  example/plugins/lua-api/sorted_query_params.lua
  example/plugins/lua-api/uncompress.lua
  lib/yamlcpp/test/create-emitter-tests.py
  lib/yamlcpp/test/integration/error_messages_test.cpp
  lib/yamlcpp/test/integration/load_node_test.cpp
  plugins/experimental/fastcgi/src/Readme
  plugins/experimental/slice/Makefile.tsxs
  plugins/experimental/slice/README.md
  plugins/experimental/uri_signing/Makefile.inc
  plugins/experimental/uri_signing/README.md
  tests/README.md
  tests/gold_tests/autest-site/readme.md
  tests/gold_tests/tls/test-nc-s_client.sh
  tests/tools/README.md
Labels: Cleanup

#6213 Adds WS check, and some cleanup
  ci/jenkins/bin/build.sh
  ci/jenkins/bin/clang-format.sh
  ci/jenkins/bin/github.sh
  ci/jenkins/bin/regression.sh
Labels: CI

#6208 Fixes spelling in strategies.yaml docs
  configs/strategies.yaml.default
  doc/admin-guide/files/strategies.yaml.en.rst
  doc/developer-guide/cache-architecture/architecture.en.rst
Labels: Documentation

#6146 Check Range header for stale content
  proxy/http/HttpTransact.cc
Labels: HTTP

#6200 Cleanup: Remove useless UDPConnection function
  iocore/net/I_UDPConnection.h
  iocore/net/P_UDPConnection.h
  iocore/net/P_UnixUDPConnection.h
Labels: Cleanup, UDP

#6204 Lua plugin fix: Account for null in output from TSUrlPercentDecode.
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSUrlPercentEncode.en.rst
  plugins/lua/ts_lua_crypto.c
Labels: Lua

#6214 Run dos2unix on all files in tree
  tests/gold_tests/body_factory/data/www.customplugin204.test_get.txt
  tests/gold_tests/body_factory/data/www.customtemplate204.test_get.txt
  tests/gold_tests/body_factory/data/www.default204.test_get.txt
  tests/gold_tests/body_factory/data/www.default304.test_get.txt
  tests/gold_tests/body_factory/data/www.example.test_get_200.txt
  tests/gold_tests/body_factory/data/www.example.test_get_304.txt
  tests/gold_tests/body_factory/data/www.example.test_head.txt
  tests/gold_tests/body_factory/data/www.example.test_head_200.txt
  tests/gold_tests/headers/data/www.passthrough.test_get.txt
  tests/gold_tests/headers/data/www.redirect0.test_get.txt
  tests/gold_tests/headers/data/www.redirect301.test_get.txt
  tests/gold_tests/headers/data/www.redirect302.test_get.txt
  tests/gold_tests/headers/data/www.redirect307.test_get.txt
  tests/gold_tests/headers/data/www.redirect308.test_get.txt
  tests/gold_tests/headers/general-connection-failure-502.gold
  tests/gold_tests/pluginTest/regex_remap/gold/regex_remap_crash.gold
  tests/gold_tests/pluginTest/regex_remap/gold/regex_remap_smoke.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-hit.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-miss.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-stale.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stdout.gold
  tests/gold_tests/pluginTest/url_sig/url_sig.gold
  tests/gold_tests/redirect/gold/redirect.gold
Labels: Cleanup

#6209 Add 100-continue expectation support on H2 connection
  proxy/hdrs/HTTP.h
  proxy/http2/Http2Stream.cc
  tests/gold_tests/h2/gold/httpbin_0_stdout.gold
  tests/gold_tests/h2/gold/httpbin_3_stderr.gold
  tests/gold_tests/h2/gold/httpbin_3_stdout.gold
  tests/gold_tests/h2/gold/httpbin_access.gold
  tests/gold_tests/h2/httpbin.test.py
Labels: HTTP/2

#6207 Add autopep8 & pyflakes in dev-packages for AuTest
  tests/Pipfile
  tests/README.md
Labels: Tests

#6216 This fixes next hop unit tests that segfault due to missing unit test yaml files.
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
  proxy/http/remap/unit-tests/test_NextHopRoundRobin.cc
Labels: Bug, Tests

#6219 Fixed next hop tests for out of tree builds
  proxy/http/remap/Makefile.am
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
  proxy/http/remap/unit-tests/test_NextHopRoundRobin.cc
  proxy/http/remap/unit-tests/test_NextHopStrategyFactory.cc
Labels: Parent Proxy, Tests

#6215 Do not reenable txnp with TS_EVENT_HTTP_ERROR if received TS_EVENT_HTTP_TXN_CLOSE event
  plugins/prefetch/plugin.cc
Labels: Plugins

#6198 Move logging before session could be freed
  proxy/http/HttpSM.cc
Labels: Logging

#6014 ProxySsn con_id refactor
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpSessionManager.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  proxy/http3/Http3Session.cc
  proxy/logging/LogAccess.cc
  src/traffic_server/InkAPI.cc
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump.test.py
Labels: SM

#6168 Add cache_range_requests autest, add to x-parentselectiion-key to xdebug plugin.
  doc/admin-guide/plugins/xdebug.en.rst
  plugins/xdebug/xdebug.cc
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/404.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Labels: Tests

#6221 Docker builds do not need build numbers in workspace
  ci/jenkins/bin/autest.sh
  ci/jenkins/bin/build.sh
  ci/jenkins/bin/cache-tests.sh
  ci/jenkins/bin/clang-format.sh
  ci/jenkins/bin/cleanup.sh
  ci/jenkins/bin/environment.sh
  ci/jenkins/bin/extract.sh
  ci/jenkins/bin/github.sh
  ci/jenkins/bin/regression.sh
Labels: CI

#6220 Correct handle the value return from mgmt socket read and write (#6220)
  mgmt/utils/MgmtUtils.cc
Labels: Manager

#6228 Fix build error in QUICTypes.cc
  iocore/net/quic/QUICTypes.h
Labels: QUIC

#6218 Fix stringstream crash during shutdown
  plugins/experimental/ssl_session_reuse/src/common.cc
  plugins/experimental/ssl_session_reuse/src/common.h
Labels: Plugins

#6234 Don't sleep if ProtectedQueue.localQueue is not empty. (#6234)
  iocore/eventsystem/P_UnixEThread.h
  iocore/eventsystem/UnixEThread.cc
Labels: event_system

#6235 Fix out of bound array access in ssl_session_reuse plugin (#6235)
  plugins/experimental/ssl_session_reuse/src/common.cc
Labels: Plugins
