Repository apache/trafficserver, pull requests merged in 2019-03, with the labels that each got.

#5096 QUIC: Fixed warning in Mock.h
  iocore/net/quic/Mock.h
Labels: QUIC

#5099 QUIC: Fixed build error under ubuntu 16.04
  src/traffic_quic/traffic_quic.cc
Labels: QUIC

#5088 MIME: Fix line_is_real false positive.
  proxy/hdrs/MIME.cc
Labels: Cleanup

#5089 Slight adjust to the thread affinity logic
  iocore/eventsystem/P_UnixEventProcessor.h
  tests/gold_tests/cont_schedule/gold/schedule_on_pool.gold
  tests/tools/plugins/cont_schedule.cc
Labels: Core

#5082 Add support for the lua and numeric log roll values
  proxy/logging/YamlLogConfig.cc
Labels: Logging, Lua

#5104 tscore/eventnotify: change fcntl include path
  src/tscore/EventNotify.cc
Labels: Build

#5105 tscore/ink_hrtime: add missing cstdint import
  include/tscore/ink_hrtime.h
Labels: Build

#5107 traffic_layout/engine: add missing stat import
  src/traffic_layout/engine.h
Labels: Build

#5121 Remove duplicate calls to TSHttpTxnReenable in xdebug
  plugins/xdebug/xdebug.cc
Labels: Crash, Plugins

#5119 Fixing a previous fix to fully allocate strings when heap mismatch detected
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HdrHeap.h
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
Labels: Crash

#5091 Override delete in Extendible
  include/tscore/Extendible.h
Labels: ASAN, Tests

#5113 Fix #5094: Fix use after free in test_IntrusiveHashMap.cc
  src/tscore/unit_tests/test_IntrusiveHashMap.cc
Labels: Cleanup, Tests

#5114 Fix #5093: new/delete mismatch in test_IntrusivePtr.cc
  src/tscore/unit_tests/test_IntrusivePtr.cc
Labels: Cleanup, Tests

#5034 Implement aud claim in Uri Signing Plugin
  plugins/experimental/uri_signing/config.c
  plugins/experimental/uri_signing/config.h
  plugins/experimental/uri_signing/jwt.c
  plugins/experimental/uri_signing/jwt.h
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/unit_tests/testConfig.config
  plugins/experimental/uri_signing/unit_tests/uri_signing_test.cc
Labels: Plugins

#5123 Fix SessionProtocolNameRegistry lookup
  lib/records/RecHttp.cc
Labels: TLS

#5074 Move minimum OpenSSL version to 1.0.2
  build/crypto.m4
  configure.ac
  include/tscore/ink_config.h.in
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  src/traffic_layout/info.cc
  src/traffic_server/InkAPI.cc
  tests/README.md
  tests/gold_tests/headers/forwarded.test.py
  tests/gold_tests/headers/via.test.py
  tests/gold_tests/logging/ccid_ctid.test.py
  tests/gold_tests/pluginTest/sslheaders/sslheaders.test.py
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/gold_tests/pluginTest/tsapi/tsapi.test.py
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
Labels: Incompatible, TLS

#5122 fix crash in CacheVC::openReadFromWriter
  proxy/hdrs/HTTP.cc
Labels: Cache

#5037 QUIC: Load multiple certs
  iocore/net/QUICNetProcessor.cc
  iocore/net/QUICNetVConnection.cc
  iocore/net/SSLUtils.cc
  iocore/net/quic/QUICConfig.cc
  iocore/net/quic/QUICConfig.h
  iocore/net/quic/QUICGlobals.cc
  iocore/net/quic/QUICGlobals.h
Labels: QUIC

#5132 Fix for() loop, correctly calculate the value of seg_in_use within Vol::dir_check()
  iocore/cache/CacheDir.cc
Labels: Cache

#5128 Change url_mapping::toUrl to url_mapping::toURL
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/UrlMapping.cc
  proxy/http/remap/UrlMapping.h
  proxy/http/remap/UrlRewrite.cc
Labels: Cleanup

#5131 Do not run clang-format for @default_stack_size@
  include/tscore/ink_config.h.in
Labels: Cleanup

#5136 Fixes some places where refactoring was not complete
  doc/locale/ja/LC_MESSAGES/admin-guide/files/records.config.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSHttpOverridableConfig.en.po
  lib/perl/lib/Apache/TS/AdminClient.pm
  tests/gold_tests/slow_post/slow_post.test.py
Labels: Cleanup, Configuration

#5134 QUIC: recovery draft-18
  iocore/net/quic/QUICLossDetector.cc
Labels: QUIC

#5137 Doc: open_read_retry_time is overridable
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#5139 Add virtual destructor to SSLMultiCertConfigLoader.
  iocore/net/P_SSLUtils.h
Labels: Cleanup

#5143 Fix a self detection issue where parents are not marked down during ATS startup.
  proxy/HostStatus.h
  proxy/ParentSelection.cc
  src/traffic_server/HostStatus.cc
Labels: Parent Proxy

#5141 Need to pop messages from queue
  plugins/experimental/ssl_session_reuse/src/publish.cc
Labels: Bug, Plugins

#5000 Add Perltidy configuration and build target
  .perltidyrc
  Makefile.am
  ci/jenkins/ats_conf.pl
  ci/rat-regex.txt
  lib/perl/examples/forw_proxy_conf.pl
  lib/perl/lib/Apache/TS/AdminClient.pm
  lib/perl/lib/Apache/TS/Config.pm
  lib/perl/lib/Apache/TS/Config/Records.pm
  plugins/experimental/url_sig/genkeys.pl
  plugins/experimental/url_sig/sign.pl
  proxy/http/test_http_client.pl
  proxy/http/test_proxy.pl
  tools/changelog.pl
  tools/compare_records.pl
  tools/compare_servers.pl
  tools/freelist_diff.pl
  tools/http_load/merge_stats.pl
  tools/slow_log_report.pl
  tools/traffic_via.pl
Labels: Tools

#5115 Remove OS dependency in test_BufferWriterFormat.cc
  src/tscore/unit_tests/test_BufferWriterFormat.cc
Labels: Cleanup, Tests

#5142 UrlRewrite: separate constructor and configuration loading for testability
  proxy/ReverseProxy.cc
  proxy/http/remap/UrlRewrite.cc
  proxy/http/remap/UrlRewrite.h
Labels: Tests

#5138 Run clang-format against the same files on both make clang-foramt and git pre-hook
  include/ts/apidefs.h.in
  tools/clang-format.sh
  tools/git/pre-commit
Labels: Tools

#5140 cdniuc is not a manditory claim
  plugins/experimental/uri_signing/jwt.c
Labels: Plugins

#5075 Fixed the compatibility with previous cache verison
  iocore/cache/Cache.cc
  iocore/cache/I_CacheDefs.h
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
Labels: Cache

#5146 QUIC: Fixed compiler error in test_QUICStream
  iocore/net/quic/Makefile.am
Labels: Build, QUIC

#5147 QUIC: Fixed test_QUICLossDetector crash
  iocore/net/quic/QUICLossDetector.cc
Labels: QUIC

#5148 QUIC: Bring back retransmittion test case
  iocore/net/quic/QUICFrameRetransmitter.cc
  iocore/net/quic/QUICFrameRetransmitter.h
  iocore/net/quic/QUICStream.cc
  iocore/net/quic/test/test_QUICStream.cc
Labels: QUIC

#5027 Fix an failed assertion in HttpSM::parse_range_and_compare
  proxy/http/HttpSM.cc
Labels: Backport

#5151 Updates to the STATUS file
  STATUS
Labels: Build

#5129 Fixed memory leaks in test_IntrusiveHashMap
  src/tscore/unit_tests/test_IntrusiveHashMap.cc
Labels: ASAN, Tests

#5144 Fix AcidPtr test
  src/tscore/unit_tests/test_AcidPtr.cc
  src/tscore/unit_tests/test_Extendible.cc
Labels: Tests

#5153 Separate P_SSLUtil and P_SSLClientUtils includes
  iocore/net/P_SSLUtils.h
  iocore/net/SSLConfig.cc
  src/traffic_server/traffic_server.cc
Labels: TLS

#5150 Augment wildcard_match to allow underscore in domain name
  src/tscore/X509HostnameValidator.cc
  tests/gold_tests/tls/ssl/wild-signed.pem
  tests/gold_tests/tls/ssl/wild.key
  tests/gold_tests/tls/tls_verify.test.py
Labels: TLS

#5161 QUIC Rename unbidirectional to unidirectional and fixed test
  iocore/net/quic/QUICUnidirectionalStream.cc
  iocore/net/quic/QUICUnidirectionalStream.h
  iocore/net/quic/test/test_QUICIncomingFrameBuffer.cc
Labels: QUIC

#5162 QUIC: Fixed building and test_QUICStream
  iocore/net/quic/Makefile.am
  iocore/net/quic/QUICUnidirectionalStream.cc
  iocore/net/quic/test/test_QUICStream.cc
Labels: QUIC

#4957 Remove error-prone mirror enum in code handling TS API SSL hooks.
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  proxy/InkAPIInternal.h
  src/traffic_server/InkAPI.cc
Labels: TS API

#5163 Fix memleak in ProcessManager::stop()
  mgmt/ProcessManager.cc
Labels: Manager

#5120 Ensure queued HostDB requests get rescheduled back to the original thread
  iocore/cache/CacheWrite.cc
  iocore/cache/P_CacheInternal.h
  iocore/hostdb/HostDB.cc
Labels: Crash

#5170 Revert "Assert if operations on keep_alive_queue and active_queue are…
  iocore/net/UnixNet.cc
  iocore/net/UnixNetVConnection.cc
Labels: Revert

#4437 Adds the log tag cqint for internal requests
  doc/admin-guide/logging/formatting.en.rst
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging, OnDocs

#5173 Documentation: Fix ssl.server.{cert,private_key}.path examples
  doc/admin-guide/security/index.en.rst
Labels: Documentation

#5167 Fix Makefile.am to run clang-tidy
  proxy/Makefile.am
  src/Makefile.am
  src/tscore/Makefile.am
  src/tscpp/api/Makefile.am
  src/tscpp/util/Makefile.am
  src/wccp/Makefile.am
Labels: Build

#5172 Run clang-tidy one by one
  build/tidy.mk
Labels: Build

#5157 Set the block's m_water_level in Arena:free even if the block is not the last block
  src/tscore/Arena.cc
Labels: HTTP

#5112 uri_signing build helpers
  build/cjose.m4
  build/hiredis.m4
  build/jansson.m4
  configure.ac
  plugins/experimental/uri_signing/README.md
Labels: Plugins

#5177 Don't create packets on encryption levels already done
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#5181 Ignore check programs
  .gitignore
Labels: Cleanup

#5171 Updated traffic_via to be more consistent on output and make the test command line runnable
  src/traffic_via/test_traffic_via
  src/traffic_via/tests/[u c s f p eS;tNc  p s ]
  src/traffic_via/tests/[uIcRs f p eN;t cCHp s ]
  src/traffic_via/tests/[uIcRs f p eN;t cCNp s ]
  src/traffic_via/tests/[uScMsSf pSeN;t cCMp sS]
  src/traffic_via/tests/[uScRs f p eN;t cCHp s ]
  src/traffic_via/tests/long rubbish via code2
  src/traffic_via/tests/rubbish
  src/traffic_via/tests/short
  src/traffic_via/traffic_via.cc
Labels: Commands, Tests

#5183 Do not run clang-tidy on lib/yamlcpp/
  lib/yamlcpp/Makefile.am
Labels: Cleanup

#5185 The response header of CONNECT should not have content-length or chun…
  proxy/http/HttpTransact.h
Labels: HTTP

#5192 Exclude library headers from clang-tidy
  .clang-tidy
  build/tidy.mk
Labels: Build

#5197 fallback to curves list if available
  doc/admin-guide/files/records.config.en.rst
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLUtils.cc
Labels: TLS

#5187 Use pthread_cancel to terminate plugin threads
  plugins/experimental/ssl_session_reuse/src/ats_ssl_plugin.cc
  plugins/experimental/ssl_session_reuse/src/publish.cc
  plugins/experimental/ssl_session_reuse/src/ssl_key_utils.cc
  plugins/experimental/ssl_session_reuse/src/ssl_utils.h
  plugins/experimental/ssl_session_reuse/src/subscriber.cc
Labels: Plugins

#5194 Check return value
  plugins/experimental/ssl_session_reuse/src/config.cc
Labels: Bug, Plugins

#5180 Regex name checks on ssl_server_name should be anchored.
  iocore/net/P_SSLSNI.h
  tests/gold_tests/tls/tls_client_cert2.test.py
Labels: Configuration, TLS, Tests

#5201 Replace EThread::has_event_loop with EThread::tt == REGULAR
  iocore/eventsystem/I_EThread.h
  iocore/eventsystem/P_UnixEThread.h
  iocore/eventsystem/UnixEThread.cc
Labels: event_system

#5203 Doc: Changing volume.config invalidates the cache
  doc/admin-guide/files/volume.config.en.rst
Labels: Documentation

#5204 Moved unit test suppression file and updated it
  ci/asan_leak_suppression/unit_tests.txt
  src/tscore/Makefile.am
  src/tscore/suppression.txt
Labels: ASAN, Tests

#5193 Suppress false positive of clang-tidy on macOS
  plugins/experimental/remap_stats/remap_stats.c
  plugins/lua/ts_lua_client_request.c
  plugins/lua/ts_lua_client_response.c
  plugins/lua/ts_lua_server_response.c
Labels: Build

#5207 HostDB: cancel timeout on free
  iocore/hostdb/HostDB.cc
Labels: HostDB

#5210 Fix stale heap triggering assert in TSHttpTxnCachedRespGet
  src/traffic_server/InkAPI.cc
Labels: Cache, Crash

#5209 Allows logging of negative values
  proxy/logging/LogAccess.cc
Labels: Logging

#5213 Remove quotes from records.config documentation examples
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/alarms.en.rst
  doc/admin-guide/security/index.en.rst
Labels: Documentation

#5199 autest for slice plugin
  plugins/experimental/slice/Makefile.tsxs
  plugins/experimental/slice/README.md
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/server.cc
  tests/gold_tests/pluginTest/slice/curlsort.sh
  tests/gold_tests/pluginTest/slice/gold/slice_200.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stdout.gold
  tests/gold_tests/pluginTest/slice/slice.test.py
Labels: Plugins, Tests

#5176 Adds a new log tag for the MPTCP state of a connection
  doc/admin-guide/logging/formatting.en.rst
  include/tscore/ink_platform.h
  iocore/net/I_NetProcessor.h
  iocore/net/I_NetVConnection.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetProcessor.cc
  mgmt/LocalManager.cc
  proxy/PluginVC.cc
  proxy/PluginVC.h
  proxy/http/HttpProxyServerMain.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging

#5211 Check return value of open
  plugins/experimental/ssl_session_reuse/src/config.cc
Labels: Bug, Plugins

#5208 Adds a little wrapper script to build inside vscode
  tools/code-make
Labels: Tools

#5206 Don't allow header values to overflow into negative values
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  proxy/hdrs/test_mime.cc
Labels: HTTP
