Repository apache/trafficserver, pull requests merged in 2019-09, with the labels that each got.

#5902 Ran clang-format
  plugins/cachekey/configs.h
Labels: Cleanup

#5893 Cleanup: Remove unused AllocType and unused functions
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
Labels: Cleanup, Core

#5889 Provide stats for the recently introduced HTTP/2 rate limits
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2, Metrics

#5816 Add helper functions to apply api timeouts consistently.
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
Labels: HTTP

#5845 Doc: Guide to remap plugin API.
  doc/developer-guide/api/functions/TSRemap.en.rst
  doc/developer-guide/api/functions/TSTypes.en.rst
  doc/developer-guide/plugins/index.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
Labels: Documentation

#5904 Add implementation for TextView::rtrim(char const*)
  include/tscpp/util/TextView.h
Labels: Cleanup

#5888 Allow disabling HTTP/2 priority frames limit
  doc/admin-guide/files/records.config.en.rst
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#5883 Add unit tests for MIOBuffer:write()
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
Labels: Core, Tests

#5905 Update Server IP in Transaction when attaching a session from the pool
  proxy/http/HttpSM.cc
Labels: HTTP, Logging, Server Session Pools

#5907 Fix macOS build
  doc/admin-guide/logging/examples.en.rst
  proxy/logging/LogFile.cc
Labels: Build

#5912 QUIC: Adds QUICContext to wrap some common params
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/Makefile.am
  iocore/net/quic/Mock.h
  iocore/net/quic/QUICCongestionController.cc
  iocore/net/quic/QUICCongestionController.h
  iocore/net/quic/QUICConnection.h
  iocore/net/quic/QUICContext.cc
  iocore/net/quic/QUICContext.h
  iocore/net/quic/QUICLossDetector.cc
  iocore/net/quic/QUICLossDetector.h
  iocore/net/quic/QUICPacketProtectionKeyInfo.h
  iocore/net/quic/QUICTypes.h
  iocore/net/quic/test/test_QUICFrameDispatcher.cc
  iocore/net/quic/test/test_QUICLossDetector.cc
Labels: QUIC

#5911 Enable stdout logging on FreeBSD
  rc/trafficserver.in
Labels: Tools

#5903 Reduce unnecesary IOBufferBlock allocation
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
Labels: Core, Performance

#5920 Cleanup: VIO
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/I_VIO.h
  iocore/eventsystem/P_VIO.h
Labels: Cleanup, Core

#5925 QUIC: Add Token Creator
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/Makefile.am
  iocore/net/quic/QUICContext.h
  iocore/net/quic/QUICTokenCreator.cc
  iocore/net/quic/QUICTokenCreator.h
Labels: QUIC

#5927 QUIC: Remove unnecessary allocator
  iocore/eventsystem/I_Thread.h
  iocore/net/quic/QUICStreamManager.cc
Labels: QUIC

#5939 Remove hard coded filename in error message
  iocore/net/YamlSNIConfig.cc
Labels: Cleanup

#5942 QUIC: Rename QUICCongestionController.cc to QUICNewRenoCongestionCont…
  iocore/net/quic/Makefile.am
  iocore/net/quic/QUICNewRenoCongestionController.cc
Labels: QUIC

#5947 QUIC: Remove useless default constructor in QUICStreamManager
  iocore/net/quic/QUICStreamManager.h
Labels: QUIC

#5935 Perform a SSL quiet shutdown when close-notify is not sent
  iocore/net/SSLNetVConnection.cc
  tests/gold_tests/tls/tls_session_cache.test.py
Labels: TLS

#5930 Track SSL session cache evictions performed due to full bucket
  iocore/net/SSLSessionCache.cc
Labels: TLS

#5915 Update documentation for connect_attempts_timeout.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/performance/index.en.rst
Labels: Documentation

#5951 Add Base64 encoding/decoding to encryption/decryption.
  plugins/experimental/ssl_session_reuse/Makefile.inc
  plugins/experimental/ssl_session_reuse/example_config.config
  plugins/experimental/ssl_session_reuse/src/ats_ssl_plugin.cc
  plugins/experimental/ssl_session_reuse/src/common.cc
  plugins/experimental/ssl_session_reuse/src/common.h
  plugins/experimental/ssl_session_reuse/src/config.cc
  plugins/experimental/ssl_session_reuse/src/message.h
  plugins/experimental/ssl_session_reuse/src/openssl_utils.cc
  plugins/experimental/ssl_session_reuse/src/publish.cc
  plugins/experimental/ssl_session_reuse/src/publisher.h
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.h
  plugins/experimental/ssl_session_reuse/src/session_process.cc
  plugins/experimental/ssl_session_reuse/src/session_process.h
  plugins/experimental/ssl_session_reuse/src/simple_pool.h
  plugins/experimental/ssl_session_reuse/src/ssl_init.cc
  plugins/experimental/ssl_session_reuse/src/ssl_key_utils.cc
  plugins/experimental/ssl_session_reuse/src/ssl_utils.h
  plugins/experimental/ssl_session_reuse/src/subscriber.cc
  plugins/experimental/ssl_session_reuse/src/subscriber.h
Labels: Plugins

#5926 Fix AuTest for HTTP/2 using httpbin
  tests/gold_tests/h2/httpbin.test.py
Labels: HTTP/2, Tests

#5921 Cleanup AuTest for HTTP/2
  tests/gold_tests/h2/http2.test.py
Labels: Cleanup, Tests

#5934 Track scheduled events to (read|write)_vio.cont from Http2Stream
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#5635 Add AUTest using h2spec
  tests/gold_tests/h2/gold/h2spec_stdout.gold
  tests/gold_tests/h2/h2spec.test.py
Labels: CI, HTTP/2, Tests

#5955 Fix debug output for global_user_agent_header.
  proxy/http/HttpTransactHeaders.cc
Labels: Cleanup, Debug

#5922 Make code buildable with BoringSSL
  example/plugins/c-api/client_context_dump/client_context_dump.cc
  iocore/net/P_SSLNetVConnection.h
  plugins/experimental/cert_reporting_tool/cert_reporting_tool.cc
Labels: Build

#5961 Clarify docs on the change from redirect_enabled.
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#5962 Removed hardcoded sni.yaml configuration filename in logs
  iocore/net/SSLSNIConfig.cc
Labels: Cleanup

#5919 Rearrange config reload notifications
  build/plugins.mk
  doc/developer-guide/api/functions/TSRemap.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
  include/ts/remap.h
  proxy/ReverseProxy.cc
  proxy/http/remap/Makefile.am
  proxy/http/remap/PluginDso.h
  proxy/http/remap/PluginFactory.cc
  proxy/http/remap/PluginFactory.h
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/RemapPluginInfo.cc
  proxy/http/remap/RemapPluginInfo.h
  proxy/http/remap/unit-tests/plugin_testing_calls.cc
  proxy/http/remap/unit-tests/plugin_testing_common.h
  proxy/http/remap/unit-tests/test_PluginDso.cc
  proxy/http/remap/unit-tests/test_PluginFactory.cc
  proxy/http/remap/unit-tests/test_RemapPlugin.cc
Labels: Backport, Core, Documentation, Plugins

#5959 Clear api set bit to avoid crash in following redirect.
  proxy/http/HttpSM.cc
Labels: Crash, HTTP

#5965 QUIC: Fix test_QUICKeyGenerator
  iocore/net/quic/test/test_QUICKeyGenerator.cc
Labels: QUIC
