Repository apache/trafficserver, pull requests merged in 2019-10, with the labels that each got.

#5958 Convert old sni configuration file in lua to yaml
  tools/sni_lua_to_yaml.pl
Labels: Tools

#5977 YAML config: output erroneous keyword and line number
  iocore/net/YamlSNIConfig.cc
  proxy/logging/YamlLogConfig.cc
  proxy/logging/YamlLogConfigDecoders.cc
Labels: Configuration

#5809 Address possible use after free issue in HttpVCTable::remove_entry
  proxy/http/HttpSM.cc
Labels: ASAN, OnDocs

#5969 Change the ready checks for ats to use the actual ats port
  tests/gold_tests/headers/syntax.test.py
Labels: Bug, Tests

#5964 Fix a build issue on enabling FIPS
  src/tscore/unit_tests/test_BufferWriterFormat.cc
Labels: Build, Tests

#5879 Weak mutex locking macros
  iocore/eventsystem/I_Lock.h
  iocore/hostdb/HostDB.cc
  iocore/net/SSLNetVConnection.cc
  proxy/ProxySession.cc
  proxy/http/HttpSM.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/traffic_server.cc
Labels: Core

#5986 Remove hard-coded ssl_multicert.config log reference
  iocore/net/SSLConfig.cc
Labels: Cleanup, Logging

#5980 Fix use-after-free problem related to logging headers
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/MIME.h
  proxy/logging/LogAccess.cc
Labels: HTTP, Logging

#5989 Concurrent SRV requests failure
  iocore/hostdb/HostDB.cc
Labels: HostDB

#5956 Turn on certificate verification, in permissive mode for now
  configs/records.config.default.in
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
Labels: TLS

#5985 Add filename to error message in header_rewrite
  plugins/header_rewrite/header_rewrite.cc
Labels: Plugins

#5978 Removed hardcoded logging.yaml filename in logs
  proxy/logging/LogConfig.cc
  proxy/logging/YamlLogConfig.cc
Labels: Cleanup, Logging

#5774 Updating the default cipher-suite lists for the 9.x release.
  configs/records.config.default.in
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
Labels: Documentation, TLS

#5999 A general autoconf cleanup
  build/ax_check_openssl.m4
  build/hiredis.m4
  build/jemalloc.m4
  configure.ac
Labels: Cleanup, Configuration

#5975 Add some documentation to the action class to avoid confusion
  doc/developer-guide/api/functions/TSActionCancel.en.rst
  doc/developer-guide/api/functions/TSActionDone.en.rst
  iocore/eventsystem/I_Action.h
Labels: Documentation

#5992 Cache SSL EC explicitly
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_SSLUtils.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/SSLUtils.cc
  src/traffic_server/InkAPI.cc
Labels: TLS

#6003 Cleanup: do not re-define _proxy_ssn variable in local
  proxy/http2/Http2Stream.cc
Labels: Cleanup, HTTP/2

#5988 Refactor Http1Session to derive from ProxySsn
  proxy/ProxySession.h
  proxy/http/Http1ClientSession.h
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/HttpTransactHeaders.cc
Labels: HTTP, HTTP/2, HTTP/3

#5908 ProxySession cleanup: moving inline functions to .h
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/Http1Transaction.cc
  proxy/http/Http1Transaction.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP, Performance

#6011 clang-analyzer: Add a null check
  proxy/hdrs/MIME.cc
Labels: clang-analyzer

#5293 Destroy MIMEFieldBlockImpl that doesn't have fields in use
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
Labels: Core

#6012 Fix our doc build system to handle non-sourcedir configure locations
  doc/Makefile.am
  doc/conf.py
  doc/ext/traffic-server.py
  doc/uml/Makefile.am
Labels: Documentation

#6016 Fix host type in host matcher.
  src/tscore/HostLookup.cc
Labels: Cache, HTTP, Parent Proxy

#6015 Do not reload configs periodically
  mgmt/ConfigManager.cc
  mgmt/ConfigManager.h
  mgmt/FileManager.cc
Labels: Configuration, Core

#6020 These are the current settings we're running on docs
  ci/jenkins/ats_conf.pl
Labels: CI

#5938 Fix dynamic update for conntrack (HttpConnectionCount) config vars
  proxy/http/HttpConfig.cc
  proxy/http/HttpConnectionCount.cc
Labels: Cleanup

#6019 Minor cleanup of proxy/logging/Log.h .
  proxy/logging/Log.h
Labels: Cleanup, Logging

#6024 Make proxy.config.http.request_buffer_enabled configurable and bug fix
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: HTTP

#5945 cachekey: allow multiple values for `--key-type`
  doc/admin-guide/plugins/cachekey.en.rst
  plugins/cachekey/configs.cc
  plugins/cachekey/configs.h
  plugins/cachekey/plugin.cc
Labels: Documentation, Plugins

#5906 Cleanup: unifdef TRACK_BUFFER_USER
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
Labels: Cleanup, Core

#6026 Remove obsolete 4-2-0-fixup
  iocore/cache/Cache.cc
  iocore/cache/CacheRead.cc
  mgmt/RecordsConfig.cc
Labels: Cleanup

#6008 Do not schedule stuff during shutdown
  iocore/eventsystem/P_UnixEventProcessor.h
Labels: Core

#5970 "Plugin (un)used" post reload notification
  doc/developer-guide/api/functions/TSRemap.en.rst
  doc/developer-guide/plugins/remap-plugins.en.rst
  include/ts/remap.h
  proxy/http/remap/PluginDso.h
  proxy/http/remap/PluginFactory.cc
  proxy/http/remap/PluginFactory.h
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/RemapPluginInfo.cc
  proxy/http/remap/RemapPluginInfo.h
  proxy/http/remap/unit-tests/plugin_testing_calls.cc
  proxy/http/remap/unit-tests/plugin_testing_common.h
  proxy/http/remap/unit-tests/test_PluginDso.cc
  proxy/http/remap/unit-tests/test_PluginFactory.cc
  proxy/http/remap/unit-tests/test_RemapPlugin.cc
Labels: Core, Plugins

#5953 Log H2 priority information
  doc/admin-guide/logging/formatting.en.rst
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Documentation, HTTP/2, Logging

#6032 Restore the MIOBufferWriter unit tests.
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/MIOBufferWriter.cc
  iocore/eventsystem/Makefile.am
  iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
Labels: Core

#6035 Doc: clean up build errors.
  doc/admin-guide/files/logging.yaml.en.rst
  doc/admin-guide/logging/examples.en.rst
  doc/admin-guide/logging/understanding.en.rst
  doc/admin-guide/plugins/lua.en.rst
Labels: Documentation

#6034 Doc: Fix :units: options for statistics.
  doc/ext/traffic-server.py
Labels: Documentation

#6002 QUIC: sink path manager to stream manager
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/Mock.h
  iocore/net/quic/QUICContext.cc
  iocore/net/quic/QUICContext.h
  iocore/net/quic/QUICPathManager.cc
  iocore/net/quic/QUICPathManager.h
  iocore/net/quic/QUICStreamManager.cc
  iocore/net/quic/QUICStreamManager.h
  iocore/net/quic/test/test_QUICFrameDispatcher.cc
  iocore/net/quic/test/test_QUICStreamManager.cc
Labels: QUIC

#6033 Doc: improve documentation for event loop statistics.
  doc/admin-guide/monitoring/statistics/core-statistics.en.rst
  doc/admin-guide/monitoring/statistics/core/eventloop.en.rst
  doc/admin-guide/monitoring/statistics/core/misc.en.rst
  doc/admin-guide/monitoring/statistics/index.en.rst
Labels: Documentation

#6053 Enhance Connection Collapse in ATS core
  doc/admin-guide/files/records.config.en.rst
  proxy/http/HttpCacheSM.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cache, HTTP

#6052 Doc: Fixed the logging mode of pipe to be ascii_pipe
  doc/admin-guide/logging/examples.en.rst
Labels: Documentation

#6006 Rewrote remap_stats plugin to use C++
  plugins/experimental/remap_stats/Makefile.inc
  plugins/experimental/remap_stats/remap_stats.cc
Labels: Plugins

#6062 Adding connection close headers to regex_remap test.
  tests/gold_tests/pluginTest/regex_remap/replay/yts-2819.replay.json
Labels: Tests

#6059 Remove obsolete pipeline_max variable
  iocore/hostdb/I_HostDBProcessor.h
  proxy/http/HttpTransact.cc
Labels: Cleanup

#6054 Ignore MgmtMessageHdr if ProcessManager is not running
  mgmt/ProcessManager.cc
Labels: Crash, Manager

#6042 Clarify relation of nameservers and resolv.conf
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#6063 Add tests for MIMEHdr::get_host_port_values
  proxy/hdrs/test_mime.cc
Labels: Core

#6055 Add a config for internal HPACK header table size limit
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
Labels: HTTP/2

#6069 Fix some long lines and reduntant plugin_config SO additions.
  tests/gold_tests/headers/syntax.test.py
  tests/gold_tests/pluginTest/cert_update/cert_update.test.py
  tests/gold_tests/pluginTest/xdebug/x_remap/x_remap.test.py
  tests/gold_tests/remap/remap_http.test.py
  tests/gold_tests/remap/remap_https.test.py
  tests/gold_tests/slow_post/slow_post.test.py
Labels: Cleanup, Tests

#6058 QUIC: Every two ack-elicting packet one ack frame
  iocore/net/quic/QUICAckFrameCreator.cc
  iocore/net/quic/QUICAckFrameCreator.h
  iocore/net/quic/test/test_QUICAckFrameCreator.cc
Labels: QUIC

#5695 Add MIMEHdr Garbage Collection to HPACK Dynamic Table
  proxy/hdrs/HdrHeap.cc
  proxy/hdrs/HdrHeap.h
  proxy/http2/HPACK.cc
  proxy/http2/HPACK.h
Labels: Core, HTTP/2

#5901 Dechunk chunked contents on HttpTunnel if client protocol is HTTP/2 or HTTP/3
  proxy/http/HttpTransact.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2, HTTP/3

#6036 Cleanup: Remove use of obsolete class TSConstBuffer from MIME.cc
  proxy/hdrs/MIME.cc
  src/tscpp/util/unit_tests/test_TextView.cc
Labels: Cleanup, Core

#6037 Promote 'Enable_Config_Var' from HttpConnectionCount to HttpConfig.
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpConnectionCount.cc
Labels: Configuration

#6066 Fixing session sharing with IP matching.
  proxy/http/HttpSessionManager.cc
  tests/Pipfile
  tests/gold_tests/session_sharing/gold/200.gold
  tests/gold_tests/session_sharing/session_match.test.py
Labels: HTTP, Tests

#6031 listen on all the net threads
  doc/admin-guide/files/records.config.en.rst
  iocore/net/Connection.cc
  iocore/net/P_NetAccept.h
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetProcessor.cc
  mgmt/RecordsConfig.cc
  src/traffic_manager/traffic_manager.cc
Labels: Network

#6071 Premature DSO unload with "suicidal" continuations
  proxy/http/remap/Makefile.am
  proxy/http/remap/PluginDso.cc
  proxy/http/remap/PluginDso.h
  proxy/http/remap/PluginFactory.cc
  proxy/http/remap/PluginFactory.h
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/RemapPluginInfo.cc
  proxy/http/remap/unit-tests/plugin_testing_common.h
  proxy/http/remap/unit-tests/test_PluginFactory.cc
Labels: Bug, Core, Plugins

#6070 Updated API header and ssl_session_reuse for new TSSslSessionInsert changes
  include/ts/ts.h
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  plugins/experimental/ssl_session_reuse/src/session_process.cc
Labels: Plugins, TS API

#6073 Upgrade warning about cachekey behavior
  doc/release-notes/upgrading.en.rst
Labels: Documentation

#6077 Fix the malformed threads table
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#6080 clang-analyzer: Add a null check
  proxy/hdrs/MIME.cc
Labels: Backport

#6076 Issue 4635: Address pipe reuse after configuration reload issues
  proxy/logging/LogFile.cc
  proxy/logging/LogObject.cc
Labels: Logging

#6078 Cleanup: Ignore checkprograms of remap
  .gitignore
Labels: Build

#6087 Adding connection close headers to regex_remap test.
  tests/gold_tests/pluginTest/regex_remap/replay/yts-2819.replay.json
Labels: Backport, Tests

#6088 Local 8.0.x change for gcc9 - Map.h, MemSpan.h, ink_uuid.h
  include/tscore/Map.h
  include/tscore/MemSpan.h
  include/tscore/ink_uuid.h
Labels: Build, Cleanup

#6047 Change the ready checks for ats to use the actual ats port and not th…
  tests/gold_tests/headers/syntax.test.py
Labels: Backport

#6079 traffic_quic: Support close exercise option on H3 session
  iocore/net/quic/QUICStream.cc
  proxy/http3/Http3StreamDataVIOAdaptor.cc
  proxy/http3/Http3StreamDataVIOAdaptor.h
  proxy/http3/Http3Transaction.cc
  proxy/http3/Http3Transaction.h
  src/traffic_quic/quic_client.cc
  src/traffic_quic/quic_client.h
Labels: HTTP/3, QUIC

#6013 Add basic SystemTap markers support
  configure.ac
  doc/developer-guide/debugging/debug-builds.en.rst
  doc/release-notes/whats-new.en.rst
  include/ts/sdt.h
  proxy/http/HttpSM.cc
Labels: Core

#6074 Allow txn handler to be set from ssn on same hook
  proxy/InkAPIInternal.h
  src/traffic_server/InkAPI.cc
  tests/gold_tests/pluginTest/test_hooks/hook_add.gold
  tests/gold_tests/pluginTest/test_hooks/hook_add.test.py
  tests/tools/plugins/hook_add_plugin.cc
Labels: HTTP, Plugins, Tests

#6096 Fixing log cleanup candidate selection and adding a test for it.
  proxy/logging/LogConfig.cc
  tests/gold_tests/logging/log_retention.test.py
Labels: Logging

#6101 Updating the autest version pin to 1.7.4.
  tests/Pipfile
Labels: Tests

#6099 doc + unittest TSRemap(Init|NewInstance) failures
  doc/developer-guide/plugins/remap-plugins.en.rst
  proxy/http/remap/Makefile.am
  proxy/http/remap/PluginFactory.cc
  proxy/http/remap/unit-tests/plugin_init_fail.cc
  proxy/http/remap/unit-tests/plugin_instinit_fail.cc
  proxy/http/remap/unit-tests/test_PluginFactory.cc
Labels: Core, Documentation, Plugins, Tests

#6100 Script used for comparing commits on internal branch and remote branches
  tools/git/apply-pr.sh
  tools/git/changelog.pl
  tools/git/git_merge_log.pl
Labels: Tools

#6104 Cleanup the eventloop
  iocore/aio/AIO.cc
  iocore/cache/CacheWrite.cc
  iocore/dns/DNS.cc
  iocore/eventsystem/I_EThread.h
  iocore/eventsystem/I_EventProcessor.h
  iocore/eventsystem/I_ProtectedQueue.h
  iocore/eventsystem/P_UnixEThread.h
  iocore/eventsystem/P_UnixEventProcessor.h
  iocore/eventsystem/ProtectedQueue.cc
  iocore/eventsystem/UnixEThread.cc
  iocore/net/UnixNetAccept.cc
Labels: Cleanup, Core, event_system

#6112 Docs: clarify remap plugin inst init params
  doc/developer-guide/plugins/remap-plugins.en.rst
Labels: Core, Documentation, Plugins

#6111 Docs: cachekey: fixed non-ascii table characters
  doc/admin-guide/plugins/cachekey.en.rst
Labels: Documentation
