Repository apache/trafficserver, pull requests merged in 2019-01, with the labels that each got.

#4721 Optimize: Do not signal EThreads which are not blocked on cond_timedwait
  iocore/eventsystem/I_EThread.h
  iocore/eventsystem/ProtectedQueue.cc
  iocore/eventsystem/UnixEThread.cc
Labels: Core

#4746 Optimize: tighten the logic of the PluginVC::process_read/write_side()
  proxy/PluginVC.cc
Labels: PluginVC

#4750 Fix spelling errors reported by lintian
  build/pkg.m4
  doc/admin-guide/files/ip_allow.config.en.rst
  doc/admin-guide/files/parent.config.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/remap.config.en.rst
  doc/admin-guide/files/storage.config.en.rst
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/appendices/command-line/traffic_ctl.en.rst
  doc/developer-guide/api/functions/TSCacheRemove.en.rst
  doc/developer-guide/api/functions/TSContSchedule.en.rst
  doc/developer-guide/api/functions/TSHttpConnectWithPluginId.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/functions/TSHttpTxnErrorBodySet.en.rst
  doc/developer-guide/api/functions/TSHttpTxnMilestoneGet.en.rst
  doc/developer-guide/api/functions/TSHttpTxnServerIntercept.en.rst
  doc/developer-guide/api/functions/TSIOBufferReader.en.rst
  doc/developer-guide/api/functions/TSSslContext.en.rst
  doc/developer-guide/api/functions/TSSslSession.en.rst
  doc/developer-guide/api/functions/TSStat.en.rst
  doc/developer-guide/api/functions/TSVConnReenable.en.rst
  doc/developer-guide/api/functions/TSfwrite.en.rst
  include/tscpp/util/TextView.h
  iocore/cache/CacheHosting.cc
  iocore/cache/CacheVol.cc
  iocore/dns/SplitDNS.cc
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
  iocore/net/OCSPStapling.cc
  iocore/net/Socks.cc
  iocore/net/UnixUDPNet.cc
  lib/records/RecHttp.cc
  mgmt/Alarms.cc
  mgmt/Rollback.cc
  plugins/esi/lib/EsiProcessor.cc
  plugins/esi/lib/Variables.cc
  plugins/experimental/collapsed_forwarding/collapsed_forwarding.cc
  plugins/experimental/fq_pacing/fq_pacing.c
  plugins/experimental/header_normalize/header_normalize.cc
  plugins/experimental/prefetch/plugin.cc
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/uri_signing.c
  plugins/experimental/url_sig/url_sig.c
  plugins/generator/generator.cc
  plugins/header_rewrite/header_rewrite.cc
  plugins/lua/ts_lua_transform.c
  plugins/s3_auth/s3_auth.cc
  proxy/ParentSelection.cc
  proxy/http/HttpSessionManager.cc
  proxy/logging/LogBuffer.cc
  proxy/logging/LogObject.cc
  src/traffic_cache_tool/CacheTool.cc
  src/traffic_crashlog/traffic_crashlog.cc
  src/traffic_logstats/logstats.cc
  src/traffic_manager/traffic_manager.cc
  src/traffic_server/CoreUtils.h
  src/traffic_server/InkAPITest.cc
  src/tscore/ArgParser.cc
  src/tscore/HostLookup.cc
Labels: Cleanup, Documentation

#4760 Updated STATUS with all known releases
  STATUS
Labels: Build

#4757 Add missing manpages to build list
  doc/manpages.py
Labels: Documentation

#4705 Eliminate remaining hack around copy CTORs
  plugins/experimental/fastcgi/src/Profiler.h
  plugins/experimental/inliner/util.h
  plugins/header_rewrite/condition.h
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/lulu.h
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/operator.h
  plugins/header_rewrite/operators.h
  plugins/header_rewrite/parser.h
  plugins/header_rewrite/resources.h
  plugins/header_rewrite/ruleset.h
  plugins/header_rewrite/statement.h
  plugins/header_rewrite/value.h
Labels: Cleanup, Plugins

#4752 Added null value init for VConn args array
  iocore/eventsystem/I_VConnection.h
Labels: Crash

#4751 Add addreess checks to cert selection test.
  tests/gold_tests/tls/tls_check_cert_selection.test.py
Labels: TLS, Tests

#4748 Tries to enforce .git installation of pre-commit
  Makefile.am
Labels: Build

#4713 regex_revalidate: don't start a new self scheduling config handler on every config reload
  plugins/regex_revalidate/regex_revalidate.c
Labels: Plugins

#4734 Event num ordering
  doc/developer-guide/api/types/TSEvent.en.rst
  include/ts/apidefs.h.in
  src/traffic_server/InkAPITest.cc
Labels: Cleanup, Incompatible, TS API

#4759 Fixes Clang-Analyzer issue of H2 Dependence Tree
  proxy/http2/Http2DependencyTree.h
Labels: HTTP/2

#4744 QUIC: Records STREAM frame
  iocore/net/quic/QUICStream.cc
  iocore/net/quic/QUICStream.h
Labels: QUIC

#4732 Make H2 stream counters atomic
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#4731 Acquire a lock before checking H2ConnectionState::ua_session
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#4768 QUIC: Uses reference to the callback QUICFrameInformation
  iocore/net/quic/QUICAckFrameCreator.cc
  iocore/net/quic/QUICAckFrameCreator.h
  iocore/net/quic/QUICFlowController.cc
  iocore/net/quic/QUICFlowController.h
  iocore/net/quic/QUICFrameGenerator.h
  iocore/net/quic/QUICStream.cc
  iocore/net/quic/QUICStream.h
Labels: QUIC

#4769 QUIC: Missed QUICNetVConnection _on_frame_lost
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#4767 Fixes the hook install conditional, Makefile.am is finicky...
  Makefile.am
Labels: Build

#3008 Fix an failed assertion in HttpSM::parse_range_and_compare
  proxy/http/HttpSM.cc
Labels: Crash

#4631 Fix privilege acquisition to work better with docker
  cmd/traffic_manager/traffic_manager.cc
  lib/ts/ink_cap.cc
Labels: Backport

#4774 Fixed clang 5.0.0 issue with brace initialization
  iocore/eventsystem/I_VConnection.h
Labels: Cleanup

#4771 Fixes Clang-Analyzer issue of H2 Dependence Tree
  proxy/http2/Http2DependencyTree.h
Labels: Backport, HTTP/2

#4772 Deals better with Cc: max-age=0
  proxy/http/HttpTransact.cc
Labels: Backport, HTTP

#4755 The mutex of NetAccept::action_->continuation is optional when the EVENT_ERROR event is called back.
  iocore/net/UnixNetAccept.cc
Labels: Core

#4765 Cleanup: Make _next_round_robin uint64_t
  iocore/eventsystem/I_EventProcessor.h
  iocore/eventsystem/P_UnixEventProcessor.h
Labels: Cleanup

#4778 This improves on #3008, making the code clearer
  proxy/http/HttpSM.cc
Labels: HTTP

#4740 Fix a NXDOMAIN related issue
  iocore/hostdb/HostDB.cc
Labels: HostDB

#4540 URI signing support for JWS to be passed as path parameter
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/parse.h
  plugins/experimental/uri_signing/uri_signing.c
Labels: Plugins

#4779 TLS Bridge: Fix regex compile issue with loading configurations from file.
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Plugins

#3958 PROXY Protocol transformed to Forwarded HTTP header
  doc/admin-guide/configuration/index.en.rst
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/static/images/admin/proxy-protocol.png
  include/tscore/IpMapConf.h
  iocore/net/Connection.cc
  iocore/net/I_NetProcessor.h
  iocore/net/I_NetVConnection.h
  iocore/net/Makefile.am
  iocore/net/P_NetVConnection.h
  iocore/net/P_SSLConfig.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/ProxyProtocol.cc
  iocore/net/ProxyProtocol.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetProcessor.cc
  lib/records/I_RecHttp.h
  lib/records/RecHttp.cc
  mgmt/LocalManager.cc
  mgmt/RecordsConfig.cc
  proxy/PluginVC.cc
  proxy/PluginVC.h
  proxy/ProtocolProbeSessionAccept.cc
  proxy/ProtocolProbeSessionAccept.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpProxyServerMain.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Core

#4356 slice plugin, intercept handler that uses cache_range_request
  .gitignore
  doc/admin-guide/plugins/slice.en.rst
  plugins/Makefile.am
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/ContentRange.cc
  plugins/experimental/slice/ContentRange.h
  plugins/experimental/slice/Data.cc
  plugins/experimental/slice/Data.h
  plugins/experimental/slice/HttpHeader.cc
  plugins/experimental/slice/HttpHeader.h
  plugins/experimental/slice/Makefile.inc
  plugins/experimental/slice/Makefile.tsxs
  plugins/experimental/slice/README.md
  plugins/experimental/slice/Range.cc
  plugins/experimental/slice/Range.h
  plugins/experimental/slice/Stage.h
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/client.h
  plugins/experimental/slice/intercept.cc
  plugins/experimental/slice/intercept.h
  plugins/experimental/slice/response.cc
  plugins/experimental/slice/response.h
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/server.h
  plugins/experimental/slice/slice.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/slice/slice_test.cc
  plugins/experimental/slice/transfer.cc
  plugins/experimental/slice/transfer.h
  plugins/experimental/slice/unit-tests/slice_test.cc
  plugins/experimental/slice/unit-tests/test_config.cc
  plugins/experimental/slice/unit-tests/test_content_range.cc
  plugins/experimental/slice/unit-tests/test_range.cc
Labels: Plugins

#4784 Remove TSHttpTxnRedirectRequest appears experimental and unused.
  include/ts/experimental.h
  src/traffic_server/InkAPI.cc
Labels: Cleanup, Incompatible

#4773 Calls SSL child config callback after cert is loaded for both key parts
  iocore/net/SSLUtils.cc
Labels: Configuration, OnDocs, TLS

#4785 Bug in traffic_ctl, formatting output for config changes
  src/traffic_ctl/config.cc
Labels: Commands

#4379 Assert if operations on keep_alive_queue and active_queue are not thread-safe
  iocore/net/UnixNet.cc
  iocore/net/UnixNetVConnection.cc
Labels: HTTP, HTTP/2, Network, OnDocs

#4787 Assert if operations on keep_alive_queue and active_queue are not thread-safe
  iocore/net/UnixNet.cc
  iocore/net/UnixNetVConnection.cc
Labels: HTTP, HTTP/2, Network

#4668 Compare servers script for comparing responses from new and old versions of ATS
  tools/compare_servers.pl
Labels: Tools

#4791 Adds some missing packages to the Dockerfile
  ci/docker/yum/Dockerfile
Labels: Build

#4780 Don't allow the old body to be used when refreshing
  iocore/cache/CacheWrite.cc
Labels: Cache, HTTP, OnDocs

#4782 TLS Bridge: Cleanup, fix TSError for more consistency.
  doc/developer-guide/plugins/example-plugins/tls_bridge.en.rst
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Cleanup, Plugins

#4777 Add unit tests for the URI signing plugin
  .gitignore
  plugins/experimental/uri_signing/Makefile.inc
  plugins/experimental/uri_signing/README.md
  plugins/experimental/uri_signing/common.c
  plugins/experimental/uri_signing/common.h
  plugins/experimental/uri_signing/config.c
  plugins/experimental/uri_signing/cookie.c
  plugins/experimental/uri_signing/jwt.c
  plugins/experimental/uri_signing/match.c
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/unit_tests/uri_signing_test.cc
  plugins/experimental/uri_signing/uri_signing.c
Labels: Plugins

#4797 Eliminates frequent librecords lookup
  iocore/net/I_Net.h
  iocore/net/Net.cc
  iocore/net/P_UnixNetVConnection.h
  iocore/net/UnixNetVConnection.cc
  mgmt/RecordsConfig.cc
Labels: Network, Performance

#4642 Issue #4637 - Clean up / unify hex conversions
  .gitignore
  include/tscore/BufferWriter.h
  include/tscore/bwf_std_format.h
  include/tscore/ink_inet.h
  iocore/net/SSLCertLookup.cc
  src/tscore/BufferWriterFormat.cc
  src/tscore/ink_inet.cc
  src/tscore/unit_tests/test_BufferWriterFormat.cc
  src/tscore/unit_tests/test_ink_inet.cc
Labels: Cleanup, TLS

#4803 i4637: A tiny bit of cleanup.
  iocore/net/SSLCertLookup.cc
Labels: Cleanup

#4798 Regex: Clean up constructors.
  include/tscore/Regex.h
  src/tscore/Regex.cc
Labels: Cleanup

#4576 Add Session and SSL hooks to test_hooks Au test.
  doc/developer-guide/api/functions/TSHttpHookAdd.en.rst
  tests/gold_tests/pluginTest/test_hooks/log.gold
  tests/gold_tests/pluginTest/test_hooks/one.in
  tests/gold_tests/pluginTest/test_hooks/spurious.in
  tests/gold_tests/pluginTest/test_hooks/ssl/server.key
  tests/gold_tests/pluginTest/test_hooks/ssl/server.pem
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/tools/plugins/test_hooks.cc
Labels: Tests

#4770 QUIC: Complete stream frame and crypto frame retransmission
  iocore/net/quic/QUICFrame.cc
  iocore/net/quic/QUICFrame.h
  iocore/net/quic/QUICFrameRetransmitter.cc
  iocore/net/quic/QUICFrameRetransmitter.h
  iocore/net/quic/QUICPacketRetransmitter.cc
  iocore/net/quic/QUICStream.cc
  iocore/net/quic/QUICStream.h
  iocore/net/quic/test/test_QUICFrame.cc
  iocore/net/quic/test/test_QUICFrameRetransmitter.cc
Labels: QUIC

#4810 Fixes unmatched port when looking up HostDB
  proxy/http/HttpSM.cc
Labels: Bug, HostDB

#4793 Update common.m4 to correctly use $LIBS instead of $LDFLAGS
  build/common.m4
Labels: Build

#4799 Doc: parent config has more features than balancer plugin
  doc/admin-guide/introduction.en.rst
  doc/admin-guide/plugins/balancer.en.rst
Labels: Backport, Documentation

#4807 Allows to run make clean multiple times
  lib/perl/Makefile.am
Labels: Build

#4812 Add ifdef so tls test client will compile on non-openssl-1.1.x
  tests/gold_tests/tls/ssl-post.c
Labels: TLS, Tests

#4817 Fix a content issue and a couple format issues.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/index.en.rst
Labels: Documentation

#4820 Eliminates expensive librecords and malloc on drain
  proxy/ProxyClientSession.h
  src/traffic_server/traffic_server.cc
Labels: HTTP, Manager, Performance

#4834 Change src/tscpp/api/TransformationPlugin.cc to avoid error for -Werror=subobject-linkage .
  src/tscpp/api/TransformationPlugin.cc
Labels: Cleanup

#4827 MIME: Update MIMEField::name_get and MIMEField::value_get to return string_view
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  src/traffic_server/InkAPI.cc
Labels: Cleanup

#4819 Add clang-format build target to CMake editor file.
  CMakeLists.txt
Labels: Cleanup

#4840 resolve stack-use-after-scope in YamlLogConfig.cc
  proxy/logging/YamlLogConfig.cc
Labels: Logging

#4841 Do not call dns_result repeatedly for a valid dns result.
  iocore/dns/DNS.cc
  iocore/dns/P_DNSProcessor.h
Labels: DNS

#4835 TLS Bridge: Fix possible race condition.
  plugins/experimental/tls_bridge/tls_bridge.cc
Labels: Plugins

#4806 Add Log fields that dump all MIME headers in a message.
  .gitignore
  doc/admin-guide/logging/formatting.en.rst
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
  proxy/logging/LogUtils.cc
  proxy/logging/LogUtils.h
  proxy/logging/Makefile.am
  proxy/logging/test_LogUtils.cc
  proxy/logging/unit-tests/BufferWriterFormat.cc
  proxy/logging/unit-tests/test_LogUtils.h
  proxy/logging/unit-tests/test_LogUtils2.cc
  src/traffic_server/Makefile.inc
  tests/gold_tests/logging/all_headers.test.py
  tests/gold_tests/logging/all_headers_sanitizer.py
  tests/gold_tests/logging/gold/test_all_headers.gold
Labels: Logging

#4815 Add valid_tls_protocols_in to allow for per-domain protocols.
  build/crypto.m4
  configure.ac
  doc/admin-guide/files/ssl_server_name.yaml.en.rst
  include/tscore/ink_config.h.in
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_SSLUtils.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLUtils.cc
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  tests/gold_tests/tls/tls_client_versions.test.py
Labels: Documentation, TLS, Tests

#4836 Correctly deal with the ssl.client.sni_policy if not set via conf_remap
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  tests/gold_tests/tls/tls_verify_override.test.py
Labels: Configuration, TLS, Tests

#4844 doc for option -F
  doc/appendices/command-line/traffic_server.en.rst
Labels: Documentation

#4842 Doc: minor records.config cleaning
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#4837 Fix potential instability in cacheIMSRange
  tests/gold_tests/headers/cachedIMSRange.test.py
Labels: Tests

#4839 Fixes heap-use-after-free in RangeTransform
  proxy/Transform.cc
Labels: Crash, Transform

#4831 Create an autest for the regex_revalidate plugin
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-hit.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-miss.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-stale.gold
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate.test.py
Labels: Tests

#4828 Removes proxy.config.http.parse.allow_non_http
  mgmt/RecordsConfig.cc
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
Labels: Configuration, HTTP

#4824 Fix ATS does not honor proxy.config.body_factory.response_max_size
  proxy/http/HttpTransact.cc
Labels: Core

#4846 Fix initialization style.
  proxy/logging/LogUtils.cc
Labels: Cleanup

#4847 Increase the per test case timeout from 5 to 10 seconds
  tests/gold_tests/tls/tls.test.py
  tests/gold_tests/tls/tls_check_cert_selection.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_cert_override.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_keepalive.test.py
  tests/gold_tests/tls/tls_ticket.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_tunnel_forward.test.py
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/gold_tests/tls/tls_verify.test.py
  tests/gold_tests/tls/tls_verify2.test.py
  tests/gold_tests/tls/tls_verify3.test.py
  tests/gold_tests/tls/tls_verify_base.test.py
  tests/gold_tests/tls/tls_verify_ca_override.test.py
  tests/gold_tests/tls/tls_verify_not_pristine.test.py
  tests/gold_tests/tls/tls_verify_override.test.py
  tests/gold_tests/tls/tls_verify_override_base.test.py
Labels: Tests

#4850 Cleans up memcached_remap plugin README and code
  plugins/experimental/memcached_remap/README
  plugins/experimental/memcached_remap/memcached_remap.cc
  plugins/experimental/memcached_remap/sample.py
Labels: Cleanup, Plugins

#4858 Removes the echo from installing pre-commit
  Makefile.am
Labels: Build

#4856 Changes the return codes to be RecErrT
  lib/records/I_RecCore.h
  lib/records/RecCore.cc
  src/traffic_manager/traffic_manager.cc
Labels: Cleanup

#4864 Remove cookie_remap plugin's unit tests until I fix the broken build
  plugins/experimental/cookie_remap/Makefile.inc
Labels: Build

#4869 Cleanup: remove lib/cppapi from clang-format, it's been moved.
  Makefile.am
Labels: Cleanup

#4868 Doc: Fix a number of minor errors
  doc/Makefile.am
  doc/admin-guide/files/ssl_server_name.yaml.en.rst
  doc/admin-guide/plugins/cookie_remap.en.rst
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/slice.en.rst
  doc/appendices/glossary.en.rst
  doc/developer-guide/api/functions/TSContThreadAffinityClear.en.rst
  doc/developer-guide/api/functions/TSContThreadAffinityGet.en.rst
  doc/developer-guide/api/functions/TSContThreadAffinitySet.en.rst
  doc/developer-guide/api/functions/TSThreadSelf.en.rst
  doc/developer-guide/api/functions/TSTypes.en.rst
Labels: Cleanup, Documentation

#4877 QUIC: Add retransmit fin stream frame test
  iocore/net/quic/test/test_QUICFrameRetransmitter.cc
Labels: QUIC

#4878 Fix a segfault on mac
  iocore/eventsystem/I_Continuation.h
  iocore/eventsystem/P_Thread.h
  iocore/eventsystem/P_UnixEThread.h
  src/traffic_server/InkAPI.cc
Labels: Bug, Crash, Tests

#4879 Clean up StrHeapDesc constructor.
  proxy/hdrs/HdrHeap.cc
  proxy/hdrs/HdrHeap.h
Labels: Cleanup

#4881 Fix TSHttpTxnEffectiveUrlStringGet to correctly set the port when non-standard
  proxy/hdrs/HTTP.cc
Labels: TS API, WIP

#4886 Avoid reschedule HostDBContinuation::iterateEvent if there are no more buckets
  iocore/hostdb/HostDB.cc
Labels: HostDB

#4884 Fixes unmatched port when looking up HostDB
  proxy/http/HttpSM.cc
Labels: Backport, HostDB

#4883 Don't allow the old body to be used when refreshing
  iocore/cache/CacheWrite.cc
Labels: Backport, Cache, HTTP

#4882 Initialize redir_len, compiler warnings
  proxy/http/HttpSM.cc
Labels: Backport, Cleanup, HTTP

#4802 JWT validation uses a token-stripped URI
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/parse.h
  plugins/experimental/uri_signing/unit_tests/uri_signing_test.cc
  plugins/experimental/uri_signing/uri_signing.c
Labels: Plugins

#4885 Content Length can be trusted when the origin server returns a 304
  proxy/http/HttpTransact.cc
Labels: HTTP

#4892 Use one setting for H2 consistently for header size limit on H2 connections
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#4901 Update overridable config conversion logic.
  CMakeLists.txt
  doc/developer-guide/config-vars.en.rst
  mgmt/MgmtDefs.h
  proxy/http/HttpConnectionCount.cc
  src/traffic_server/InkAPI.cc
Labels: TS API
