Repository apache/trafficserver, pull requests merged in 2019-08, with the labels that each got.

#5747 Add slow logs for HTTP/2 Connection & Stream
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/Milestones.h
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#5758 Fix race condition when invoking TASK_THREADS_READY lifecycle hook
  iocore/eventsystem/UnixEventProcessor.cc
Labels: Core

#5759 Remove unnecessary parts from tests
  tests/gold_tests/cont_schedule/gold/http_200.gold
  tests/gold_tests/cont_schedule/schedule.test.py
  tests/gold_tests/cont_schedule/schedule_on_pool.test.py
  tests/gold_tests/cont_schedule/schedule_on_thread.test.py
  tests/gold_tests/cont_schedule/thread_affinity.test.py
  tests/tools/plugins/cont_schedule.cc
Labels: Tests

#5761 Remove testing command
  tests/gold_tests/cont_schedule/schedule.test.py
Labels: Tests

#4168 YAML: Convert ip_allow.config
  CMakeLists.txt
  ci/rat-regex.txt
  configs/Makefile.am
  configs/ip_allow.config.default
  configs/ip_allow.schema.json
  configs/ip_allow.yaml.default
  doc/admin-guide/files/ip_allow.config.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/remap.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/IPAllow.cc
  proxy/IPAllow.h
  proxy/Makefile.am
  src/traffic_manager/AddConfigFilesHere.cc
  tests/gold_tests/autest-site/min_cfg/ip_allow.config
  tests/gold_tests/autest-site/min_cfg/ip_allow.yaml
  tests/gold_tests/autest-site/trafficserver.test.ext
Labels: Configuration

#5765 Avoid a clang warning when all the defines are set
  src/traffic_layout/info.cc
Labels: Build

#5771 Fixes linker changes for luajit on macOS
  build/luajit.m4
Labels: Build

#5748 cppcheck: fixed uninitialized variable and scoping in healthchecks
  plugins/healthchecks/healthchecks.c
Labels: Bug, Cleanup

#5749 cppcheck: fixed leak and scoping in ts::file::copy
  src/tscore/ts_file.cc
Labels: Bug, Cleanup

#5779 doc: TSL used instead of TLS in Japanese docs
  doc/locale/ja/LC_MESSAGES/admin-guide/files/records.config.en.po
Labels: Documentation

#5772 Remove ssl_error stats that aren't really errors.
  doc/admin-guide/monitoring/statistics/core/ssl.en.rst
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLStats.cc
  iocore/net/SSLStats.h
Labels: Documentation, TLS

#5780 Fixed std::array initialization for older compilers
  proxy/Milestones.h
Labels: Build

#5778 Issue 5604 - fix memory leaks for http parser.
  proxy/hdrs/MIME.h
  proxy/http/HttpSM.cc
Labels: Core

#5770 IPAllow: change top level key to "ip_allow".
  configs/ip_allow.schema.json
  configs/ip_allow.yaml.default
  doc/admin-guide/files/ip_allow.config.en.rst
  proxy/IPAllow.h
  tests/gold_tests/autest-site/min_cfg/ip_allow.yaml
Labels: Cleanup, YAML

#5384 Removes unreferenced, unused bits of code
  include/tscore/MMH.h
  include/tscore/Scalar.h
  include/tscore/ink_sock.h
  iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
  iocore/hostdb/test_RefCountCache.cc
  iocore/net/P_SNIActionPerformer.h
  iocore/net/Socks.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetPages.cc
  iocore/net/UnixUDPNet.cc
  iocore/utils/I_OneWayMultiTunnel.h
  iocore/utils/OneWayMultiTunnel.cc
  lib/records/I_RecProcess.h
  lib/records/RecRawStats.cc
  lib/records/test_I_RecLocal.cc
  lib/records/test_RecProcess.i
  lib/records/test_RecTree.cc
  mgmt/Alarms.cc
  mgmt/Alarms.h
  mgmt/LocalManager.cc
  mgmt/RecordsConfig.h
  mgmt/RecordsConfigUtils.cc
  mgmt/api/EventCallback.cc
  plugins/authproxy/utils.cc
  plugins/authproxy/utils.h
  plugins/cachekey/tests/pattern_test.cc
  plugins/esi/esi.cc
  plugins/esi/lib/EsiGzip.cc
  plugins/experimental/cache_key_genid/cache_key_genid.c
  plugins/experimental/collapsed_forwarding/collapsed_forwarding.cc
  plugins/experimental/mysql_remap/mysql_remap.cc
  plugins/experimental/sslheaders/sslheaders.cc
  plugins/experimental/sslheaders/sslheaders.h
  plugins/regex_remap/regex_remap.cc
  plugins/s3_auth/s3_auth.cc
  proxy/CacheControl.cc
  proxy/ControlMatcher.cc
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HdrHeap.cc
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/URL.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/HttpTransactCache.cc
  proxy/http/HttpTransactHeaders.cc
  proxy/http/HttpTransactHeaders.h
  proxy/http/remap/UrlRewrite.cc
  proxy/http/remap/UrlRewrite.h
  proxy/http2/HTTP2.cc
  proxy/logging/LogFilter.cc
  proxy/shared/DiagsConfig.cc
  proxy/shared/DiagsConfig.h
  src/traffic_cache_tool/CacheDefs.cc
  src/traffic_server/CoreUtils.cc
  src/traffic_server/InkAPITest.cc
  src/traffic_server/traffic_server.cc
  src/tscore/ink_sock.cc
  src/tscore/unit_tests/test_List.cc
Labels: Cleanup

#5786 Mark debug logs of polling as verbose
  iocore/net/UnixNet.cc
Labels: Core, Debug, Network

#5773 Documentation for Autest in Sphinx
  doc/developer-guide/index.en.rst
  doc/developer-guide/testing/blackbox-testing.en.rst
  doc/developer-guide/testing/index.en.rst
Labels: Documentation

#5799 Fix and reenable url_sig Au test.
  tests/gold_tests/pluginTest/url_sig/url_sig.gold
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
Labels: Backport

#5791 This is a backport patch for ATS 7 that fixes issue #5642.
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: Backport, Bug, Parent Proxy

#5798 Fix broken template path caused by ba42078 (PR 1468) (Cherry pick 396…
  mgmt/RecordsConfig.cc
  proxy/http/HttpBodyFactory.cc
Labels: Backport, Bug

#4508 Add logic to clean up vios on HttpSM shutdown
  proxy/http/Http1ClientSession.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpServerSession.cc
  proxy/http2/Http2ClientSession.cc
Labels: Backport, Crash

#5788 Throttling results in tight loop if there are no new connections
  iocore/net/UnixNetAccept.cc
Labels: Backport, Bug, Network

#5808 Remove unused assignment to satisfy clang-analyzer
  plugins/experimental/ssl_session_reuse/src/session_process.cc
Labels: clang-analyzer

#5806 More doc spelling fixes
  doc/admin-guide/files/ip_allow.yaml.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/logging/rotation.en.rst
  doc/admin-guide/logging/understanding.en.rst
  doc/admin-guide/plugins/access_control.en.rst
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
  doc/developer-guide/api/functions/TSConfig.en.rst
  doc/developer-guide/api/functions/TSIOBufferReader.en.rst
  doc/developer-guide/api/functions/TSMimeHdrFieldAppend.en.rst
  doc/developer-guide/cache-architecture/tiered-storage.en.rst
  doc/developer-guide/core-architecture/rpc.en.rst
  doc/developer-guide/core-architecture/url_rewrite_architecture.en.rst
  doc/developer-guide/design-documents/reloading-plugins.en.rst
  doc/developer-guide/documentation/adding-domains.en.rst
  doc/developer-guide/documentation/building.en.rst
  doc/developer-guide/documentation/conventions.en.rst
  doc/developer-guide/documentation/plugins.en.rst
  doc/developer-guide/documentation/rst-and-sphinx.en.rst
  doc/developer-guide/documentation/structure.en.rst
  doc/developer-guide/documentation/ts-markup.en.rst
  doc/developer-guide/internal-libraries/Extendible.en.rst
  doc/developer-guide/testing/blackbox-testing.en.rst
  doc/developer-guide/testing/index.en.rst
Labels: Documentation

#5789 Add protection against null pointer access
  proxy/logging/LogAccess.cc
  proxy/logging/LogFilter.cc
Labels: Logging

#5077 Unify plugins hook dispatch
  iocore/cache/test/stub.cc
  iocore/net/libinknet_stub.cc
  proxy/InkAPIInternal.h
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/Transform.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  src/traffic_server/InkAPI.cc
Labels: Core, Plugins

#5797 Remove double call of the SNI action on TLS accept.
  iocore/net/SSLUtils.cc
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/tools/plugins/ssl_sni_rename_test.cc
Labels: TLS

#5817 Fixes various issues found in docs
  doc/admin-guide/monitoring/statistics/core/dns.en.rst
  doc/admin-guide/plugins/cookie_remap.en.rst
  doc/developer-guide/api/functions/TSSslClientContext.en.rst
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/testing/blackbox-testing.en.rst
Labels: Documentation

#5820 HTTP/2 rate limiting
  doc/admin-guide/files/records.config.en.rst
  iocore/eventsystem/I_VIO.h
  iocore/eventsystem/P_VIO.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/UnixNetVConnection.cc
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#5822 HTTP/2 rate limiting
  doc/admin-guide/files/records.config.en.rst
  iocore/eventsystem/I_VIO.h
  iocore/eventsystem/P_VIO.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/UnixNetVConnection.cc
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#5821 HTTP/2 rate limiting
  doc/admin-guide/files/records.config.en.rst
  iocore/eventsystem/I_VIO.h
  iocore/eventsystem/P_VIO.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/UnixNetVConnection.cc
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#5785 Allocate DependencyTree only if HTTP/2 stream priority is enabled
  proxy/http2/Http2ConnectionState.h
Labels: Cleanup, HTTP/2

#5827 compress plugin: document undocumented options
  doc/admin-guide/plugins/compress.en.rst
Labels: Documentation, Plugins

#5801 Doc: Improve handling of build when documentation is not enabled.
  doc/Makefile.am
Labels: Documentation

#5819 make check race condition fix
  proxy/http/remap/unit-tests/plugin_testing_common.cc
  proxy/http/remap/unit-tests/plugin_testing_common.h
  proxy/http/remap/unit-tests/test_PluginDso.cc
  proxy/http/remap/unit-tests/test_PluginFactory.cc
  proxy/http/remap/unit-tests/test_RemapPlugin.cc
Labels: Build

#5766 Record HttpSM Id on new transaction
  proxy/http2/Http2Stream.cc
Labels: Crash, HTTP/2

#5828 Make client_context_dump test resilient to dump order changes
  tests/gold_tests/pluginTest/client_context_dump/client_context_dump.test.py
  tests/gold_tests/pluginTest/client_context_dump/gold/client_context_dump.gold
Labels: Tests

#5825 Cleanup: Remove unused function & old comments
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
Labels: Cleanup, HTTP/2

#5826 Cleanup: Signal READ_READY event only if the buffer is readable
  proxy/http2/Http2ClientSession.cc
Labels: Cleanup, HTTP/2

#5831 Fix QUIC build
  src/traffic_quic/traffic_quic.cc
Labels: QUIC

#5823 Avoid AWS auth v4 path/query param double encoding
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
Labels: Plugins

#5824 Reactivate active timeout enforcement
  iocore/net/P_UnixNetVConnection.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetVConnection.cc
  tests/gold_tests/timeout/active_timeout.test.py
  tests/gold_tests/timeout/inactive_timeout.test.py
Labels: Network, Tests

#5833 Fix H2 internal counters
  .gitignore
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2FrequencyCounter.cc
  proxy/http2/Http2FrequencyCounter.h
  proxy/http2/Makefile.am
  proxy/http2/unit_tests/test_Http2FrequencyCounter.cc
Labels: HTTP/2

#5804 Doc: Remove python 2 vestiges from conf.py, traffic-server.py.
  doc/conf.py
  doc/ext/traffic-server.py
Labels: Documentation

#5803 Make TS_NULL_MLOC a valid C compile-time constant.
  include/ts/apidefs.h.in
  src/traffic_server/InkAPI.cc
Labels: TS API

#5830 Make proxy.config.http.per_server.min_keep_alive_connections overridable
  doc/admin-guide/files/records.config.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpConnectionCount.cc
  proxy/http/HttpConnectionCount.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSessionManager.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: HTTP, Server Session Tuning

#5851 HTTP/2 fix with realloc
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#5850 HTTP/2 fix with realloc
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#5842 Doc: fix build errors.
  doc/admin-guide/plugins/lua.en.rst
Labels: Cleanup, Documentation

#5844 Explain how SRV origin selection works
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#5841 Cleanup: unifdef WRITE_AND_TRANSFER
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
  proxy/http/HttpSM.cc
Labels: Cleanup, Core

#5847 Cleanup: Remove unused empty files
  iocore/eventsystem/Makefile.am
  iocore/eventsystem/test_I_Buffer.cc
  iocore/eventsystem/test_I_Event.cc
  iocore/eventsystem/test_P_Buffer.cc
  iocore/eventsystem/test_P_Event.cc
Labels: Cleanup, Core

#5839 Fix inactivity timeout on QUIC
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#5857 Check for nullptr when locking
  iocore/eventsystem/I_Lock.h
Labels: Core

#5852 Replaced ProxyTxn::outbound vars with accept::options
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/Http1ClientSession.h
  proxy/http/Http1Transaction.cc
  proxy/http/Http1Transaction.h
  proxy/http/HttpSessionAccept.cc
  proxy/http2/Http2SessionAccept.cc
  proxy/http3/Http09App.cc
  proxy/http3/Http3App.cc
  src/traffic_server/InkAPI.cc
Labels: Cleanup, Core

#5868 Update HttpTransact.cc
  proxy/http/HttpTransact.cc
Labels: Cache

#5864 ProxyTxn refactor: moved host_res_style to t_state.dns_info
  include/tscore/ink_resolver.h
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSessionAccept.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http2/Http2SessionAccept.cc
  proxy/http3/Http09App.cc
  proxy/http3/Http3App.cc
  src/tscore/ink_res_mkquery.cc
Labels: Cleanup, DNS

#5870 Fix bad limit in poll loop. jtest -c1 now works again.
  tools/jtest/jtest.cc
Labels: Tools

#5867 PR#5867: Explain how to use open_con().
  iocore/dns/DNS.cc
Labels: DNS

#5848 Convert check programs in iocore/eventsystem/ into Catch based unit tests
  .gitignore
  iocore/eventsystem/Makefile.am
  iocore/eventsystem/test_Buffer.cc
  iocore/eventsystem/test_Event.cc
  iocore/eventsystem/unit_tests/test_EventSystem.cc
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
Labels: Cleanup, Core, Tests

#5865 cachekey: added --canonical-prefix parameter
  doc/admin-guide/plugins/cachekey.en.rst
  plugins/cachekey/cachekey.cc
  plugins/cachekey/cachekey.h
  plugins/cachekey/configs.cc
  plugins/cachekey/configs.h
  plugins/cachekey/plugin.cc
Labels: Plugins

#5853 correct the size of DNS buffers
  iocore/dns/DNS.cc
  iocore/dns/I_DNSProcessor.h
Labels: DNS

#5829 fix bugs from log filter feature
  proxy/logging/LogFilter.h
  tests/gold_tests/logging/gold/filter-test.gold
  tests/gold_tests/logging/log-filter.test.py
Labels: Bug, Logging

#5880 ProxyTxn Refactor move code to cc
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/Http1Transaction.cc
  proxy/http/Http1Transaction.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Core, HTTP

#5890 Bumped the version of master to 10.0.0
  configure.ac
  tools/package/trafficserver.spec
Labels: Build

#5872 cachekey: added --key-type to allow parent selection URL to be modified
  doc/admin-guide/plugins/cachekey.en.rst
  doc/admin-guide/plugins/index.en.rst
  plugins/cachekey/cachekey.cc
  plugins/cachekey/cachekey.h
  plugins/cachekey/configs.cc
  plugins/cachekey/configs.h
  plugins/cachekey/plugin.cc
Labels: Plugins

#5892 ProxySsn renaming member vars
  doc/developer-guide/client-session-architecture.en.rst
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/Http1Transaction.cc
  proxy/http/HttpUpdateTester.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  proxy/http3/Http3Transaction.cc
Labels: Cleanup, HTTP
