Repository apache/trafficserver, pull requests merged in 2019-06, with the labels that each got.

#5532 Allow number of settings per H2 session to be configurable
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: Backport, HTTP/2

#5592 Fix a type mismatch in client_context_dump plugin
  example/client_context_dump/client_context_dump.cc
Labels: Build

#5597 Added CurlHeader tester to test curl output
  tests/README.md
  tests/gold_tests/autest-site/curl_header.test.ext
  tests/gold_tests/autest-site/readme.md
  tests/gold_tests/headers/cache_and_req_body.test.py
Labels: Tests

#5600 Use IPPROTO_TCP instead of SOL_TCP for macOS compatibility
  tests/gold_tests/tls/ssl-post.c
Labels: Tests

#5582 Preserve ticket key data specified by TSSslTicketKeyUpdate.
  iocore/net/P_SSLConfig.h
  iocore/net/SSLConfig.cc
Labels: TLS

#5591 Replace ProxyTransaction::get_parent()/set_parent() with get_proxy_ssn()/set_proxy_ssn()
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1Transaction.cc
  proxy/http/Http1Transaction.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  src/traffic_server/InkAPI.cc
Labels: Cleanup, HTTP

#5605 Fix crash in MIMEScanner::append with std::string.
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Bug

#5606 Turns off TLS v1.0 and TLS v1.1 by default
  doc/admin-guide/files/records.config.en.rst
  iocore/net/SSLConfig.cc
  mgmt/RecordsConfig.cc
Labels: Configuration, TLS

#5470 Changes traffic_wccp to use YAML as configuration format
  ci/rat-regex.txt
  include/wccp/Wccp.h
  src/traffic_wccp/readme.txt
  src/traffic_wccp/service-nogre-example.config
  src/traffic_wccp/service-nogre-example.yaml
  src/traffic_wccp/wccp_client.cc
  src/wccp/Makefile.am
  src/wccp/WccpConfig.cc
  src/wccp/WccpEndPoint.cc
  src/wccp/WccpLocal.h
  src/wccp/WccpMeta.h
  src/wccp/WccpUtil.h
  src/wccp/wccp-test-router.cc
Labels: Configuration, WCCP

#5609 Added cert_reporting_tool plugin based off example/client_context_dump
  doc/admin-guide/plugins/cert_reporting_tool.en.rst
  doc/admin-guide/plugins/index.en.rst
  plugins/Makefile.am
  plugins/experimental/cert_reporting_tool/Makefile.inc
  plugins/experimental/cert_reporting_tool/README
  plugins/experimental/cert_reporting_tool/cert_reporting_tool.cc
Labels: Plugins

#5625 Re-enable the disjoint-wait-for-cache Au test
  tests/gold_tests/cache/disjoint-wait-for-cache.test.py
Labels: Tests

#5623 This RSB is no longer used at all, so remove
  src/traffic_server/HostStatus.cc
Labels: HostDB, Metrics

#5608 Removes the remaining code and configurations for SSL3
  configure.ac
  doc/admin-guide/files/records.config.en.rst
  include/tscore/ink_config.h.in
  iocore/net/SSLConfig.cc
  iocore/net/SSLDiags.cc
  lib/perl/lib/Apache/TS/AdminClient.pm
  mgmt/RecordsConfig.cc
Labels: TLS

#5599 Renames ssl_server_name.yaml to sni.yaml
  configs/Makefile.am
  configs/sni.yaml.default
  doc/admin-guide/files/index.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/layer-4-routing.en.rst
  iocore/net/SSLSNIConfig.cc
  mgmt/RecordsConfig.cc
  mgmt/utils/MgmtUtils.h
  src/traffic_manager/AddConfigFilesHere.cc
  tests/gold_tests/autest-site/min_cfg/sni.yaml
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/h2/h2disable.test.py
  tests/gold_tests/pluginTest/client_context_dump/client_context_dump.test.py
  tests/gold_tests/pluginTest/sslheaders/sslheaders.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_hooks_client_verify.test.py
  tests/gold_tests/tls/tls_hooks_verify.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_tunnel_forward.test.py
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/gold_tests/tls/tls_verify.test.py
  tests/gold_tests/tls/tls_verify2.test.py
  tests/gold_tests/tls/tls_verify3.test.py
  tests/gold_tests/tls/tls_verify_base.test.py
Labels: Configuration, Incompatible

#5533 Move logging config under toplevel YAML tag 'logging'
  configs/logging.yaml.default
  doc/admin-guide/logging/examples.en.rst
  proxy/logging/YamlLogConfig.cc
  tests/gold_tests/h2/httpbin.test.py
  tests/gold_tests/logging/all_headers.test.py
  tests/gold_tests/logging/ccid_ctid.test.py
  tests/gold_tests/logging/custom-log.test.py
  tests/gold_tests/logging/log-field.test.py
  tests/gold_tests/tls/tls_keepalive.test.py
Labels: Logging

#5614 Add Pipfile for building docs
  doc/.gitignore
  doc/Pipfile
  doc/developer-guide/documentation/building.en.rst
  doc/pip_requirements.txt
Labels: Build, Documentation

#5613 Doc: Add documentation for HTTP/2 statistics
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  doc/admin-guide/monitoring/statistics/core/http-transaction.en.rst
Labels: Documentation, HTTP/2

#5615 Separate stubs for libinknet from test_I_UDPNet.cc
  iocore/net/Makefile.am
  iocore/net/libinknet_stub.cc
  iocore/net/test_I_UDPNet.cc
Labels: Tests

#5585 Do not change stream state from HALF_CLOSED_REMOTE with CONTINUATION frame
  proxy/http2/Http2Stream.cc
  tests/gold_tests/h2/gold/http2_8_stderr.gold
  tests/gold_tests/h2/gold/http2_8_stdout.gold
  tests/gold_tests/h2/http2.test.py
  tests/gold_tests/h2/rules/huge_resp_hdrs.conf
Labels: HTTP/2

#5631 Removes checks for curl that snuck back into the tests
  tests/gold_tests/continuations/openclose_h2.test.py
  tests/gold_tests/pluginTest/cert_update/cert_update.test.py
Labels: Cleanup, Tests

#5627 Elevate privs to load TLS Session Ticket Key file
  iocore/net/SSLConfig.cc
Labels: TLS

#5559 Move sni config (formerly ssl_server_name) under toplevel YAML tag 'sni'
  configs/sni.yaml.default
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/layer-4-routing.en.rst
  iocore/net/YamlSNIConfig.cc
  tests/gold_tests/h2/h2disable.test.py
  tests/gold_tests/pluginTest/cert_update/cert_update.test.py
  tests/gold_tests/pluginTest/client_context_dump/client_context_dump.test.py
  tests/gold_tests/pluginTest/sslheaders/sslheaders.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_hooks_client_verify.test.py
  tests/gold_tests/tls/tls_hooks_verify.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_tunnel_forward.test.py
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/gold_tests/tls/tls_verify.test.py
  tests/gold_tests/tls/tls_verify2.test.py
  tests/gold_tests/tls/tls_verify3.test.py
  tests/gold_tests/tls/tls_verify_base.test.py
Labels: Configuration, Incompatible

#5610 Removes the explicit Vary configurations and code
  doc/admin-guide/configuration/cache-basics.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/configuration/cache-basics.en.po
  include/ts/apidefs.h.in
  lib/perl/lib/Apache/TS/AdminClient.pm
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/hdrs/HttpCompat.cc
  proxy/hdrs/HttpCompat.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpTransactCache.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: Cleanup, Configuration

#5637 TextView: Fix bug in rtrim_if when entire view is cleared.
  include/tscpp/util/TextView.h
  proxy/hdrs/unit_tests/test_HdrUtils.cc
Labels: Bug

#5640 Add reference to ts.client_request.get_pristine_url() in lua plugin
  doc/admin-guide/plugins/lua.en.rst
Labels: Documentation

#5645 Fix default logging.yaml with new format.
  configs/logging.yaml.default
Labels: Logging

#5643 Cleanup debug log in mime_hdr_describe
  proxy/hdrs/MIME.cc
Labels: Cleanup, Debug

#5633 HTTP/2: increment write_vio.ndone by consumed size
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#5634 HTTP/2: cancel reading buffer when ATS received GOAWAY
  proxy/http2/Http2ClientSession.cc
Labels: HTTP/2

#5636 HTTP/2: ignore unknown settings
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#5598 Use type info to assign an affinity thread
  iocore/eventsystem/I_EventProcessor.h
  iocore/eventsystem/P_UnixEventProcessor.h
  iocore/net/UnixNetProcessor.cc
Labels: Core

#5647 Replaces Emergency() with Error() when parsing these records.config values
  proxy/http/HttpConfig.cc
Labels: Configuration, HTTP

#5653 cookie_remap plugin Au test case changes for compatibility with PR 4964.
  tests/gold_tests/pluginTest/cookie_remap/collapseslashes.test.py
  tests/gold_tests/pluginTest/cookie_remap/connector.test.py
  tests/gold_tests/pluginTest/cookie_remap/matrixparams.test.py
  tests/gold_tests/pluginTest/cookie_remap/subcookie.test.py
  tests/gold_tests/pluginTest/cookie_remap/substitute.test.py
Labels: Tests

#5651 TS autest extension can now auto select both ssl and nonssl port
  tests/README.md
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/basic/basic-manager.test.py
  tests/gold_tests/basic/basic.test.py
  tests/gold_tests/basic/config.test.py
  tests/gold_tests/basic/copy_config.test.py
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/continuations/double.test.py
  tests/gold_tests/continuations/double_h2.test.py
  tests/gold_tests/continuations/openclose_h2.test.py
  tests/gold_tests/headers/hsts.test.py
  tests/gold_tests/logging/ccid_ctid.test.py
  tests/gold_tests/pluginTest/sslheaders/sslheaders.test.py
  tests/gold_tests/tls/tls.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_cert_override.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_hooks_verify.test.py
  tests/gold_tests/tls/tls_keepalive.test.py
  tests/gold_tests/tls/tls_ticket.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_tunnel_forward.test.py
  tests/gold_tests/tls/tls_tunnel_plugin_rename.test.py
  tests/gold_tests/tls/tls_verify.test.py
  tests/gold_tests/tls/tls_verify2.test.py
  tests/gold_tests/tls/tls_verify3.test.py
  tests/gold_tests/tls/tls_verify_base.test.py
  tests/gold_tests/tls/tls_verify_ca_override.test.py
  tests/gold_tests/tls/tls_verify_override.test.py
  tests/gold_tests/tls/tls_verify_override_base.test.py
  tests/gold_tests/tls_hooks/tls_hooks.test.py
  tests/gold_tests/tls_hooks/tls_hooks10.test.py
  tests/gold_tests/tls_hooks/tls_hooks11.test.py
  tests/gold_tests/tls_hooks/tls_hooks12.test.py
  tests/gold_tests/tls_hooks/tls_hooks13.test.py
  tests/gold_tests/tls_hooks/tls_hooks14.test.py
  tests/gold_tests/tls_hooks/tls_hooks15.test.py
  tests/gold_tests/tls_hooks/tls_hooks16.test.py
  tests/gold_tests/tls_hooks/tls_hooks17.test.py
  tests/gold_tests/tls_hooks/tls_hooks18.test.py
  tests/gold_tests/tls_hooks/tls_hooks2.test.py
  tests/gold_tests/tls_hooks/tls_hooks3.test.py
  tests/gold_tests/tls_hooks/tls_hooks4.test.py
  tests/gold_tests/tls_hooks/tls_hooks6.test.py
  tests/gold_tests/tls_hooks/tls_hooks7.test.py
  tests/gold_tests/tls_hooks/tls_hooks8.test.py
  tests/gold_tests/tls_hooks/tls_hooks9.test.py
  tests/tools/plugins/ssl_hook_test.cc
Labels: Tests

#5657 Fix and reenable url_sig Au test.
  tests/gold_tests/pluginTest/url_sig/url_sig.gold
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
Labels: Tests

#5654 Fix the number of net_connections_currently_open_stat error increase
  src/traffic_server/InkAPI.cc
Labels: Metrics, Network

#5656 Reenable redirect_actions Au test as it is working now.
  tests/gold_tests/redirect/redirect_actions.test.py
Labels: Tests

#5660 Auto port selection for more autests
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/h2/h2disable.test.py
  tests/gold_tests/h2/http2.test.py
  tests/gold_tests/h2/http2_priority.test.py
  tests/gold_tests/h2/httpbin.test.py
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/gold_tests/pluginTest/tsapi/tsapi.test.py
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
  tests/gold_tests/tls/tls_ocsp.test.py
  tests/gold_tests/tls/tls_verify_not_pristine.test.py
Labels: Tests

#5661 QUIC: Stop sending PING when nothing to generate
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#5662 QUIC:: Fixed crypto error
  iocore/net/quic/QUICLossDetector.cc
  iocore/net/quic/QUICPacketFactory.cc
  iocore/net/quic/QUICPadder.cc
Labels: QUIC

#5658 New API: TSEmergency and TSFatal
  doc/developer-guide/api/functions/TSDebug.en.rst
  include/ts/ts.h
  src/traffic_server/InkAPI.cc
  tests/gold_tests/shutdown/emergency.test.py
  tests/gold_tests/shutdown/fatal.test.py
  tests/tools/plugins/emergency_shutdown.cc
  tests/tools/plugins/fatal_shutdown.cc
Labels: TS API

#5665 Doc fixes
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSSslClientCertUpdate.en.rst
  doc/developer-guide/api/functions/TSSslServerCertUpdate.en.rst
  doc/developer-guide/api/functions/TSUrlStringGet.en.rst
Labels: Documentation

#5666 Program to test if multiple URLs can be cached and generates a report on the cache headers
  tools/traffic_cacheable.pl
Labels: Tools

#5628 Allows for resizing librecords via command line option
  doc/appendices/command-line/traffic_manager.en.rst
  doc/appendices/command-line/traffic_server.en.rst
  include/tscore/ink_config.h.in
  lib/records/P_RecDefs.h
  lib/records/RecCore.cc
  lib/records/RecUtils.cc
  mgmt/RecordsConfig.h
  mgmt/api/CoreAPI.cc
  plugins/experimental/remap_stats/remap_stats.c
  src/traffic_layout/info.cc
  src/traffic_manager/traffic_manager.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/traffic_server.cc
Labels: Configuration, Metrics

#5664 Update MT_Hashtable interface to use smart pointer
  include/tscore/MT_hashtable.h
Labels: Core

#5659 Fix options processing for ja3_fingerprint plugin
  plugins/experimental/ja3_fingerprint/ja3_fingerprint.cc
Labels: Plugins

#5674 This fixes state machine looping when using upstream connection throttling with parent selection
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: Bug, Crash, Parent Proxy

#5670 Convert HdrHeap regression test into unit test using Catch
  .gitignore
  proxy/hdrs/HdrHeap.cc
  proxy/hdrs/Makefile.am
  proxy/hdrs/unit_tests/test_HdrHeap.cc
Labels: HTTP, Tests

#5673 Add ats_unique_buf
  include/tscore/ink_memory.h
  src/tscore/ink_memory.cc
Labels: Core
