Repository apache/trafficserver, pull requests merged in 2020-11, with the labels that each got.

#6288 Follow the comments in I_Thread.h, add an independent ink_thread_key for EThread
  iocore/eventsystem/I_EThread.h
  iocore/eventsystem/I_Thread.h
  iocore/eventsystem/P_UnixEThread.h
  iocore/eventsystem/UnixEThread.cc
  proxy/http2/Makefile.am
Labels: event_system

#7306 s3_auth: demote noisy errors around configuration that doesn't affect plugin usability
  plugins/s3_auth/s3_auth.cc
Labels: Plugins

#7295 Get appropriate locks on SSN_START hook delays
  proxy/http/HttpSessionAccept.cc
  proxy/http2/Http2SessionAccept.cc
  src/traffic_server/InkAPI.cc
  tests/gold_tests/pluginTest/test_hooks/ssn_delay.gold
  tests/gold_tests/pluginTest/test_hooks/ssn_start_delay_hook.test.py
  tests/tools/plugins/hook_add_plugin.cc
Labels: Crash, Plugins

#6978 Add option for hybrid global and thread session pools
  doc/admin-guide/files/records.config.en.rst
  proxy/http/Http1ServerSession.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpProxyAPIEnums.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSessionManager.cc
  proxy/http/HttpSessionManager.h
Labels: Server Session

#7259 detect and fix stms log field having epoch time ms for intercept plugins.
  proxy/http/HttpSM.cc
Labels: Logging

#7323 Updates the Dockerfile with more packages
  ci/docker/deb/Dockerfile
  ci/docker/yum/Dockerfile
Labels: CI

#7329 Remove unnecessary cast from ReverseProxy.
  proxy/ReverseProxy.cc
Labels: Cleanup

#7276 Remove the last remnants of the enable_url_expandomatic
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cleanup, HTTP

#7344 TLS Session Reuse: Downgrade noisy log to debug
  plugins/experimental/ssl_session_reuse/src/openssl_utils.cc
Labels: TLS

#7345 TLS Session Reuse: Downgrade add_session messages to debug
  plugins/experimental/ssl_session_reuse/src/session_process.cc
Labels: TLS

#7337 Fix vc close migration race condition
  iocore/net/UnixNetVConnection.cc
Labels: Crash

#7326 AuTest for incoming PROXY Protocol v1
  tests/gold_tests/proxy_protocol/gold/test_case_0_stderr.gold
  tests/gold_tests/proxy_protocol/gold/test_case_0_stdout.gold
  tests/gold_tests/proxy_protocol/gold/test_case_1_stderr.gold
  tests/gold_tests/proxy_protocol/gold/test_case_1_stdout.gold
  tests/gold_tests/proxy_protocol/proxy_protocol.test.py
  tests/gold_tests/proxy_protocol/ssl/server.key
  tests/gold_tests/proxy_protocol/ssl/server.pem
Labels: AuTest, Proxy Protocol

#7343 Add note to background fetch about include/exclude
  doc/admin-guide/plugins/background_fetch.en.rst
Labels: Documentation

#7320 Fix lookup split dns rule with fast path
  iocore/dns/P_SplitDNSProcessor.h
  iocore/dns/SplitDNS.cc
Labels: DNS

#7321 Set thread mutex to the DNSHandler mutex of SplitDNS
  iocore/dns/DNS.cc
  iocore/dns/SplitDNS.cc
Labels: DNS

#7347 Allow for regex_remap of pristine URL.
  doc/admin-guide/plugins/regex_remap.en.rst
  plugins/regex_remap/regex_remap.cc
  tests/gold_tests/pluginTest/regex_remap/regex_remap.test.py
Labels: Plugins

#7356 ESI: Ensure gzip header is always initialized
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  plugins/esi/lib/EsiGzip.cc
  plugins/esi/lib/EsiGzip.h
  plugins/esi/lib/gzip.h
  tests/gold_tests/pluginTest/esi/esi.test.py
  tests/gold_tests/pluginTest/esi/gold/empty_response_body.gold
  tests/gold_tests/pluginTest/esi/gold/esi_body.gold
  tests/gold_tests/pluginTest/esi/gold/esi_gzipped.gold
  tests/gold_tests/pluginTest/esi/gold/esi_headers.gold
Labels: Plugins

#7357 Add negative caching tests and fixes.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/performance/index.en.rst
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cache

#7358 ESI: Ensure gzip header is always initialized
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  plugins/esi/lib/EsiGzip.cc
  plugins/esi/lib/EsiGzip.h
  tests/gold_tests/pluginTest/esi/esi.test.py
  tests/gold_tests/pluginTest/esi/gold/empty_response_body.gold
  tests/gold_tests/pluginTest/esi/gold/esi_body.gold
  tests/gold_tests/pluginTest/esi/gold/esi_gzipped.gold
  tests/gold_tests/pluginTest/esi/gold/esi_headers.gold
Labels: Plugins

#7359 Add negative caching tests and fixes.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/performance/index.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cache

#7360 ESI: Ensure gzip header is always initialized
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  plugins/esi/lib/EsiGzip.cc
  plugins/esi/lib/EsiGzip.h
  tests/gold_tests/pluginTest/esi/esi.test.py
  tests/gold_tests/pluginTest/esi/gold/empty_response_body.gold
  tests/gold_tests/pluginTest/esi/gold/esi_body.gold
  tests/gold_tests/pluginTest/esi/gold/esi_gzipped.gold
  tests/gold_tests/pluginTest/esi/gold/esi_headers.gold
Labels: Plugins

#7361 Add negative caching tests and fixes.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/performance/index.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  tests/gold_tests/autest-site/verifier_server.test.ext
  tests/gold_tests/cache/negative-caching.test.py
  tests/gold_tests/cache/replay/negative-caching-300-second-timeout.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-customized.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-default.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-disabled.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-no-timeout.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-timeout.replay.yaml
Labels: Cache

#7313 Make reloading client certificate configuration more reliable
  iocore/net/Makefile.am
  iocore/net/P_SSLClientCoordinator.h
  iocore/net/SSLClientCoordinator.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetProcessor.cc
  iocore/net/SSLSNIConfig.cc
  tests/gold_tests/tls/gold/proxycert-accesslog.gold
  tests/gold_tests/tls/tls_client_cert.test.py
Labels: Configuration, TLS

#7325 AuTest for Split DNS
  tests/gold_tests/splitdns/gold/test_case_0_stderr.gold
  tests/gold_tests/splitdns/gold/test_case_1_stderr.gold
  tests/gold_tests/splitdns/splitdns.test.py
Labels: AuTest, DNS
