Repository apache/trafficserver, pull requests merged in 2020-04, with the labels that each got.

#6084 Improving the messaging around the use of TSSslSessionGetBuffer
  doc/developer-guide/api/functions/TSSslSession.en.rst
  plugins/experimental/ssl_session_reuse/src/openssl_utils.cc
Labels: Plugins, TS API

#6604 fix sed matching
  build/common.m4
Labels: Build

#6569 AuTest for server_push_preload plugin
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  tests/gold_tests/pluginTest/server_push_preload/gold/server_push_preload_0_stdout.gold
  tests/gold_tests/pluginTest/server_push_preload/server_push_preload.test.py
  tests/gold_tests/pluginTest/server_push_preload/ssl/server.key
  tests/gold_tests/pluginTest/server_push_preload/ssl/server.pem
Labels: AuTest, HTTP/2, Plugins

#6605 Add support for a simple_server_retry_responses list
  doc/admin-guide/files/parent.config.en.rst
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
  proxy/http/HttpTransact.cc
Labels: Parent Proxy

#6606 Making client session id unique across HTTP/1 and 2 sessions
  proxy/ProxySession.h
Labels: Bug

#6608 Fix typo in system stats, change loadavg 10min to be 15min
  plugins/experimental/system_stats/system_stats.c
Labels: Plugins

#6610 READ_RESPONSE_HDR_HOOK is not invoked from Cache.
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/plugins/header_rewrite.en.po
Labels: Documentation

#6607 Return TSFetchSM from TSFetchUrl so TSFetchFlagSet can set fetch flags
  doc/developer-guide/api/functions/TSFetchCreate.en.rst
  include/ts/apidefs.h.in
  include/ts/experimental.h
  include/ts/ts.h
  src/traffic_server/InkAPI.cc
Labels: FetchSM, Plugins, TSFetchUrl

#6545 Optimize HTTPHdr conversion of HTTP/2 to HTTP/1.1
  proxy/http2/HTTP2.cc
Labels: HTTP/2, Performance

#6617 Remove configure option --max-api-stats which does not do anything. S…
  configure.ac
Labels: Build

#6593 Back port of slice plugin to 8.1.x
  .gitignore
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/slice.en.rst
  plugins/Makefile.am
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/ContentRange.cc
  plugins/experimental/slice/ContentRange.h
  plugins/experimental/slice/Data.cc
  plugins/experimental/slice/Data.h
  plugins/experimental/slice/HttpHeader.cc
  plugins/experimental/slice/HttpHeader.h
  plugins/experimental/slice/Makefile.inc
  plugins/experimental/slice/Makefile.tsxs
  plugins/experimental/slice/README.md
  plugins/experimental/slice/Range.cc
  plugins/experimental/slice/Range.h
  plugins/experimental/slice/Stage.h
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/client.h
  plugins/experimental/slice/intercept.cc
  plugins/experimental/slice/intercept.h
  plugins/experimental/slice/response.cc
  plugins/experimental/slice/response.h
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/server.h
  plugins/experimental/slice/slice.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/slice/slice_test.cc
  plugins/experimental/slice/transfer.cc
  plugins/experimental/slice/transfer.h
  plugins/experimental/slice/unit-tests/slice_test.cc
  plugins/experimental/slice/unit-tests/test_config.cc
  plugins/experimental/slice/unit-tests/test_content_range.cc
  plugins/experimental/slice/unit-tests/test_range.cc
  plugins/experimental/slice/util.cc
  plugins/experimental/slice/util.h
  tests/gold_tests/pluginTest/slice/curlsort.sh
  tests/gold_tests/pluginTest/slice/gold/slice_200.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stdout.gold
  tests/gold_tests/pluginTest/slice/slice.test.py
  tests/gold_tests/pluginTest/slice/slice_error.test.py
Labels: Backport, Plugins

#6525 Don't be overly aggressive on stream failures and closing
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#6584 Backport of all uri signing commits from master to 8.1.x
  .gitignore
  build/cjose.m4
  build/hiredis.m4
  build/jansson.m4
  configure.ac
  plugins/experimental/uri_signing/Makefile.inc
  plugins/experimental/uri_signing/README.md
  plugins/experimental/uri_signing/common.c
  plugins/experimental/uri_signing/common.h
  plugins/experimental/uri_signing/config.c
  plugins/experimental/uri_signing/config.h
  plugins/experimental/uri_signing/cookie.c
  plugins/experimental/uri_signing/cookie.h
  plugins/experimental/uri_signing/jwt.c
  plugins/experimental/uri_signing/jwt.h
  plugins/experimental/uri_signing/match.c
  plugins/experimental/uri_signing/match.h
  plugins/experimental/uri_signing/normalize.c
  plugins/experimental/uri_signing/normalize.h
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/parse.h
  plugins/experimental/uri_signing/python_signer/README.md
  plugins/experimental/uri_signing/python_signer/example_config.json
  plugins/experimental/uri_signing/python_signer/uri_signer.py
  plugins/experimental/uri_signing/timing.h
  plugins/experimental/uri_signing/unit_tests/testConfig.config
  plugins/experimental/uri_signing/unit_tests/uri_signing_test.cc
  plugins/experimental/uri_signing/uri_signing.c
  tests/Pipfile
  tests/gold_tests/pluginTest/uri_signing/config.json
  tests/gold_tests/pluginTest/uri_signing/gold/200.gold
  tests/gold_tests/pluginTest/uri_signing/gold/403.gold
  tests/gold_tests/pluginTest/uri_signing/run_sign.sh
  tests/gold_tests/pluginTest/uri_signing/signer.json
  tests/gold_tests/pluginTest/uri_signing/uri_signing.test.py
Labels: Backport, Plugins

#6618 Fix missing virtual destructor for PluginUserArgsMixin.
  include/tscore/PluginUserArgs.h
Labels: Bug

#6507 CacheRead: catch and invalidate an asset with invalid negative cache_seek bytes value.
  iocore/cache/CacheRead.cc
  iocore/cache/P_CacheInternal.h
Labels: Cache

#6615 Updated ink_rwlock to be a real reader writer lock
  include/tscore/ink_rwlock.h
  src/tscore/ink_rwlock.cc
Labels: Performance

#6625 Add ready checks for the microserver and ATS test instances.
  tests/gold_tests/h2/nghttp.test.py
Labels: AuTest

#6613 SNI - Tunnel: Add support to match captured group from fqdn into tunnel_route
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLSNI.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLUtils.cc
  tests/gold_tests/tls/tls_tunnel.test.py
Labels: Configuration, TLS

#6632 Fixes a bug where the nexthop markNextHop method to mark a host down is not called.
  proxy/http/HttpTransact.cc
Labels: Backport, Bug, Parent Proxy

#6619 Fix ASAN detected crash in test_LogUtils.
  proxy/logging/Makefile.am
  proxy/logging/unit-tests/BufferWriterFormat.cc
Labels: ASAN, Bug, Tests

#6622 s3_auth_v4: multiple same name fields signing fix
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/aws_auth_v4.h
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.h
Labels: Bug, Plugins

#6626 Add a new log tag %<vbn> AppVersionInfo.BldNumStr
  proxy/http/unit_tests/unit_test_main.cc
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging

#6578 Fix migrate use after free
  iocore/net/UnixNetVConnection.cc
Labels: ASAN

#6628 Use default rwlock attributes on initialize
  src/tscore/ink_rwlock.cc
Labels: Crash

#6611 Make next_cs_id a private member variable.
  proxy/ProxySession.h
  tests/gold_tests/continuations/plugins/session_id_verify.cc
  tests/gold_tests/continuations/session_id.test.py
Labels: Cleanup, Tests

#6538 Adds partial_blind_route sni action
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/net/I_NetVConnection.h
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_SSLSNI.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  tests/gold_tests/tls/tls_partial_blind_tunnel.test.py
Labels: Feature

#6592 Fix tunnel crash
  proxy/http/HttpTunnel.cc
Labels: Backport

#6639 Bug fixes to h2 buffering
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6638 Bug fixes to h2 buffering
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6616 Adding a log pipe buffer size configuration test
  proxy/logging/LogFile.cc
  src/traffic_layout/info.cc
  tests/gold_tests/autest-site/when.test.ext
  tests/gold_tests/logging/log_pipe.test.py
  tests/gold_tests/logging/pipe_buffer_is_larger_than.py
Labels: AuTest

#6642 Fixes crash loading combined(cert+key) certs
  iocore/net/SSLUtils.cc
Labels: Crash, TLS

#6566 Add more options to session_sharing.match
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/types/TSServerSessionSharingMatchType.en.rst
  doc/developer-guide/api/types/TSServerSessionSharingPoolType.en.rst
  include/ts/apidefs.h.in
  proxy/hdrs/HTTP.h
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpProxyAPIEnums.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpSessionManager.cc
  proxy/http/HttpSessionManager.h
  src/traffic_server/InkAPI.cc
Labels: Configuration, HTTP, Server Session Pools

#6641 Add docs for memory leak detection configs
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/debugging/memory-leaks.en.rst
Labels: Configuration, Debug, Documentation

#6646 Adds important config notes for TLS v1/1.1
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#6647 Add hashname to the configuration definition
  doc/admin-guide/files/parent.config.en.rst
Labels: Documentation

#6528 Introduce LocalBuffer
  include/tscpp/util/LocalBuffer.h
  include/tscpp/util/Makefile.am
  src/tscpp/util/Makefile.am
  src/tscpp/util/unit_tests/test_LocalBuffer.cc
Labels: Core

#6612 Convert HTTP/2 regression tests to use Catch
  proxy/http2/HTTP2.cc
  proxy/http2/Makefile.am
  proxy/http2/RegressionHPACK.cc
  proxy/http2/unit_tests/main.cc
  proxy/http2/unit_tests/test_HpackIndexingTable.cc
  proxy/http2/unit_tests/test_Http2Frame.cc
Labels: Tests

#6635 Optimize HTTPHdr conversion of HTTP/1.1 to HTTP/2
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Makefile.am
  proxy/http2/unit_tests/test_HTTP2.cc
  proxy/http3/Http3HeaderFramer.cc
  proxy/http3/Http3HeaderFramer.h
Labels: HTTP/2, Performance

#6644 Augment autest to exercise combined cert and key file
  tests/gold_tests/tls/ssl/combo.pem
  tests/gold_tests/tls/tls_check_cert_selection.test.py
Labels: TLS, Tests

#6630 close the file after use
  proxy/http3/test/test_QPACK.cc
Labels: Tests

#6651 Run httpbin as an origin server of AuTest
  tests/gold_tests/logging/new_log_flds.test.py
Labels: AuTest

#6620 traffic_top bug fixes for client connections
  src/traffic_top/stats.h
Labels: Bug, Tools

#6655 Fix origin scheme selection with partial-blind addition
  proxy/http/HttpSM.cc
Labels: Core

#6656 Check sni against SSL object
  iocore/net/I_NetVConnection.h
  iocore/net/P_SSLNetVConnection.h
  proxy/http/HttpSessionManager.cc
Labels: Server Session Tuning, TLS

#6662 Fixes memory leak loading certs
  iocore/net/SSLUtils.cc
Labels: Leak

#6660 Fix 8.1.x build with old openssl
  iocore/net/SSLUtils.cc
Labels: Build

#6665 Fix memory leak of HPACK
  proxy/http2/HPACK.cc
Labels: ASAN, HTTP/2, Leak

#6668 Added bonded interface support to system stats plugin
  plugins/experimental/system_stats/system_stats.c
Labels: Plugins

#6643 Bug fixes to h2 buffering
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6664 cache_range_requests: remove unnecessary Last-Modified header from tests
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_ims.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Labels: AuTest

#6669 Added a basic CODEOWNERS
  CODEOWNERS
Labels: Tools

#6670 Skip running autests for ci builds that don't have relevant changed files
  tests/autest.sh
Labels: AuTest

#6679 Adds the 8.1 stuff that's already running and building
  ci/jenkins/bin/environment.sh
  ci/jenkins/bin/gh-mirror.sh
Labels: CI

#6676 Fixes the 'traffic_ctl host status' for trafficserver 8.1.x
  proxy/ParentSelection.cc
  src/traffic_ctl/host.cc
Labels: Bug, Parent Proxy

#6677 Format to match perferred if/else formatting for sh scripts
  rc/trafficserver.conf.in
  rc/trafficserver.in
  tests/test-env-check.sh
  tools/git/apply-pr.sh
Labels: Cleanup

#6681 chdir into src before running git commands
  ci/jenkins/bin/autest.sh
Labels: AuTest

#6678 Removes commented out code from example
  example/plugins/c-api/cache_scan/cache_scan.cc
  example/plugins/c-api/null_transform/null_transform.c
  example/plugins/c-api/server_transform/server_transform.c
  example/plugins/cpp-api/boom/boom.cc
Labels: Cleanup

#6663 Fixes memory leak during log configuration
  proxy/logging/LogConfig.cc
Labels: Leak, OnDocs

#6658 Update TSStatFindName to check that sync callback is set on the stat
  lib/records/I_RecCore.h
  lib/records/RecCore.cc
  src/traffic_server/InkAPI.cc
Labels: Metrics, Plugins, TS API

#6688 Fixes minor memory leak in configure_net
  iocore/net/Net.cc
Labels: Leak

#6571 Lua plugin number of states configuration and stats printing
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_coroutine.h
  plugins/lua/ts_lua_util.c
  tests/gold_tests/pluginTest/lua/gold/lifecycle.stderr.gold
  tests/gold_tests/pluginTest/lua/gold/metrics.stdout.gold
  tests/gold_tests/pluginTest/lua/hello.lua
  tests/gold_tests/pluginTest/lua/lua_states_stats.test.py
Labels: Lua, Plugins

#6645 Traffic Dump: Adding an SNI filtering option.
  doc/admin-guide/plugins/traffic_dump.en.rst
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_bob.gold
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_dave.gold
  tests/gold_tests/pluginTest/traffic_dump/ssl/server.key
  tests/gold_tests/pluginTest/traffic_dump/ssl/server.pem
  tests/gold_tests/pluginTest/traffic_dump/ssl/signed-foo.key
  tests/gold_tests/pluginTest/traffic_dump/ssl/signed-foo.pem
  tests/gold_tests/pluginTest/traffic_dump/ssl/signer.pem
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump_sni_filter.test.py
Labels: Plugins

#6685 8.1.x backport cache_range_requests autests: remove last-modified
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Labels: AuTest

#6666 Fix link issue of test_libhttp2 on FreeBSD 12 with --enable-debug
  proxy/http2/Makefile.am
Labels: Build

#6675 Test PUSHing an object into the cache and then GETting it.
  tests/gold_tests/bigobj/bigobj.test.py
  tests/gold_tests/bigobj/check_ramp.c
  tests/gold_tests/bigobj/log2.gold
  tests/gold_tests/bigobj/push_request.c
  tests/gold_tests/bigobj/ssl/server.key
  tests/gold_tests/bigobj/ssl/server.pem
Labels: AuTest

#6694 Normalizes function names to match hook names in intercept plugins
  example/plugins/c-api/intercept/intercept.cc
  plugins/generator/generator.cc
Labels: Cleanup, Plugins

#6697 Increase the default max_record_entries to match the original value
  lib/records/P_RecDefs.h
  lib/records/RecCore.cc
  mgmt/api/CoreAPI.cc
Labels: Configuration, Crash

#6696 Fixed memory leak in header unit test
  proxy/hdrs/unit_tests/test_HdrUtils.cc
Labels: Leak, Tests

#6692 Fix deprecated-copy warning in cache tool
  src/traffic_cache_tool/CacheTool.cc
Labels: Build, Tools

#6589 Fix crash when following redirect
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: Crash

#6700 traffic_dump: add nullptr check for sni string
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/gold_tests/pluginTest/traffic_dump/gold/200_bob_no_sni.gold
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump_sni_filter.test.py
Labels: Plugins

#6703 8.0.x iocore/CacheRead: debug and txn abort with negative bytes on cache_seek
  iocore/cache/CacheRead.cc
Labels: Cache

#6704 Removes ATS version from gold files
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_bob.gold
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_dave.gold
Labels: AuTest

#6706 Fix AuTest (httpbin) againt 8.0.x
  tests/gold_tests/h2/gold/httpbin_0_stdout.gold
  tests/gold_tests/h2/httpbin.test.py
Labels: Backport

#5929 Fix lost fragments when update object
  iocore/cache/CacheWrite.cc
  iocore/cache/test/test_Update_L_to_S.cc
  iocore/cache/test/test_Update_S_to_L.cc
Labels: Cache

#6687 Added more of the main sub-trees
  CODEOWNERS
Labels: Tools

#6708 Adding logging fields for collapsed forwarding metrics
  doc/admin-guide/logging/formatting.en.rst
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging

#6714 Add Access log fields for ProxyProtocol Context
  doc/admin-guide/logging/formatting.en.rst
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging, Proxy Protocol, TCP

#6701 slice plugin: add --include-regex, --exclude-regex parameters
  doc/admin-guide/plugins/slice.en.rst
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/HttpHeader.cc
  plugins/experimental/slice/Makefile.inc
  plugins/experimental/slice/slice.cc
  tests/gold_tests/pluginTest/slice/slice_regex.test.py
Labels: Plugins

#6602 TSContSchedule API renaming
  doc/.tx/config
  doc/developer-guide/api/functions/TSContScheduleEvery.en.rst
  doc/developer-guide/api/functions/TSContScheduleEveryOnPool.en.rst
  doc/developer-guide/api/functions/TSContScheduleOnPool.en.rst
  doc/developer-guide/api/functions/TSContScheduleOnThread.en.rst
  doc/developer-guide/api/functions/TSContThreadAffinitySet.en.rst
  doc/developer-guide/plugins/continuations/activating-continuations.en.rst
  doc/developer-guide/plugins/continuations/index.en.rst
  doc/developer-guide/plugins/continuations/writing-handler-functions.en.rst
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSContScheduleOnPool.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/continuations/activating-continuations.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/continuations/index.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/continuations/writing-handler-functions.en.po
  include/ts/ts.h
  src/traffic_server/InkAPI.cc
  tests/gold_tests/cont_schedule/gold/schedule.gold
  tests/gold_tests/cont_schedule/schedule.test.py
  tests/tools/plugins/cont_schedule.cc
Labels: TS API

#6690 Remove tls_versions from host sni policy check
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_SNIActionPerformer.h
Labels: TLS

#6667 Updated docs for guaranteed_{min,max}_lifetime
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#6719 Fix typo in DiagsConfig
  proxy/shared/DiagsConfig.cc
Labels: Cleanup

#6103 Use enqueue_local when scheduling on the same thread
  iocore/eventsystem/P_UnixEThread.h
  iocore/eventsystem/P_UnixEventProcessor.h
  iocore/eventsystem/ProtectedQueue.cc
  tests/gold_tests/null_transform/gold/null_transform-tag.gold
Labels: Core

#6717 Fixup .gitignores to match repo reality
  .gitignore
  doc/.gitignore
Labels: Cleanup

#6722 Au test: HTTP/2 client sends POST, server delays 2 minutes, sends 200 KB
  tests/gold_tests/post_slow_server/check.sh
  tests/gold_tests/post_slow_server/post_slow_server.test.py
  tests/gold_tests/post_slow_server/server.sh
  tests/gold_tests/post_slow_server/ssl/server.key
  tests/gold_tests/post_slow_server/ssl/server.pem
Labels: AuTest

#6718 gcc10: fixed warning about returning local variable in int64_to_str()
  src/tscore/ink_hrtime.cc
Labels: Build
