Repository apache/trafficserver, pull requests merged in 2020-02, with the labels that each got.

#6328 Document the order of the X-Cache header
  doc/admin-guide/plugins/xdebug.en.rst
Labels: Documentation

#6378 Remove trailing white space from json formatter
  tests/gold_tests/h2/httpbin.test.py
Labels: Tests

#6391 Skip unnecessary HostDB update on a fall back to serving stale record
  iocore/hostdb/HostDB.cc
Labels: DNS, HostDB

#6377 Remove dependencies on include/tscore
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_client_request.c
  plugins/lua/ts_lua_common.h
  plugins/lua/ts_lua_misc.c
  plugins/lua/ts_lua_server_request.c
Labels: Plugins

#6370 Change default matching for connection value from ip to both
  mgmt/RecordsConfig.cc
Labels: Configuration

#6390 Change header validation
  proxy/hdrs/HTTP.cc
Labels: Bug

#6389 Fixed how we handle unknown schemes
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/URL.cc
Labels: Bug

#6392 Free TSMgmtString after using it.
  plugins/compress/misc.cc
Labels: Plugins

#6397 Ensure that extra data beyond the chunked body is not tunneled
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
  tests/gold_tests/chunked_encoding/case4.sh
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/server4.sh
  tests/gold_tests/chunked_encoding/smuggle-client.c
Labels: Core, HTTP

#6398 Fix chunked processing
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
Labels: Bug

#6399 Fix chunked processing
  iocore/net/UnixNetVConnection.cc
  proxy/ProxyClientSession.h
  proxy/ProxyClientTransaction.h
  proxy/http/Http1ClientSession.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
Labels: Bug

#6374 Add exception to throw since there is no context and could cause a crash
  plugins/experimental/stream_editor/stream_editor.cc
Labels: lgtm

#6294 Enhance Connection Collapse in ATS core - back port to 8.x
  doc/admin-guide/files/records.config.en.rst
  proxy/http/HttpCacheSM.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cache, Configuration, HTTP

#6376 Update inactive_timeout_at in Http2Stream::signal_read_event()
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#6395 Fixed how we handle unknown schemes
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/URL.cc
Labels: Bug

#6394 Change header validation
  proxy/hdrs/HTTP.cc
Labels: Bug

#6403 Fix for lua plugin coredump problem during reload
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_util.c
Labels: Lua, Plugins

#6380 Remove unnecesary HttpSM handler call with VC_EVENT_ERROR
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#6406 Auto port select slow_post test
  tests/gold_tests/slow_post/slow_post.test.py
Labels: AuTest, Tests

#6396 Avoid cross-thread mutex conflicts
  iocore/eventsystem/P_UnixEventProcessor.h
  iocore/eventsystem/UnixEThread.cc
Labels: Core, Crash

#6410 Change gold files to be less restrictive
  tests/gold_tests/pluginTest/uri_signing/gold/200.gold
  tests/gold_tests/pluginTest/uri_signing/gold/403.gold
Labels: AuTest

#6419 URI Sig Null Check for Clang Warning
  plugins/experimental/uri_signing/normalize.c
Labels: Plugins

#6420 Syntax Error fixed in URI sig Plugin
  plugins/experimental/uri_signing/normalize.c
Labels: Plugins

#6422 Doc: Add link from proxy.config.proxy_binary_opts to traffic_server options.
  doc/admin-guide/files/records.config.en.rst
  doc/appendices/command-line/traffic_server.en.rst
Labels: Documentation

#5928 Cleanup RamCacheCLFUS
  iocore/cache/P_RamCache.h
  iocore/cache/RamCacheCLFUS.cc
Labels: Cache, Cleanup

#6418 Handle final delayed chunk size
  iocore/eventsystem/I_VIO.h
  iocore/eventsystem/P_VIO.h
  proxy/http/HttpTransact.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6416 Handle final delayed chunk size
  iocore/eventsystem/I_VIO.h
  iocore/eventsystem/P_VIO.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTunnel.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6385 Set default encoding UTF-8 for AuTest on Linux
  ci/jenkins/bin/autest.sh
Labels: AuTest

#6388 Replace python with python3 in AuTest
  tests/gold_tests/basic/deny0.test.py
  tests/gold_tests/body_factory/http204_response.test.py
  tests/gold_tests/body_factory/http204_response_plugin.test.py
  tests/gold_tests/body_factory/http304_response.test.py
  tests/gold_tests/body_factory/http_head_no_origin.test.py
  tests/gold_tests/body_factory/http_with_origin.test.py
  tests/gold_tests/h2/httpbin.test.py
  tests/gold_tests/headers/domain-blacklist-30x.test.py
  tests/gold_tests/headers/general-connection-failure-502.test.py
  tests/gold_tests/headers/http408.test.py
  tests/gold_tests/logging/all_headers.test.py
  tests/gold_tests/logging/new_log_flds.test.py
  tests/gold_tests/pluginTest/combo_handler/combo_handler.test.py
  tests/gold_tests/pluginTest/xdebug/x_remap/x_remap.test.py
  tests/gold_tests/redirect/redirect.test.py
  tests/gold_tests/redirect/redirect_actions.test.py
Labels: AuTest, Cleanup, WIP

#6375 Export YAML CPP library headers for plugin use.
  lib/Makefile.am
  lib/yamlcpp/Makefile.am
Labels: Plugins

#6435 Fixed chunked_encoding test to work with OpenSSL 1.0.2
  tests/gold_tests/chunked_encoding/smuggle-client.c
Labels: AuTest

#6431 #6428 Clear stale captive_action during Cache read retry - WIP (in test)
  proxy/http/HttpCacheSM.cc
Labels: Cache, Crash, WIP

#6442 Disable the chunked_encoding test
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
Labels: AuTest

#6409 Another option to fix potential HTTP/2 vio stall
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6441 Cleaned up ssl-post
  tests/gold_tests/tls/ssl-post.c
Labels: AuTest

#6440 Cleaned up smuggle-client
  tests/gold_tests/chunked_encoding/smuggle-client.c
Labels: Tests

#6425 Add log line length configuration to records.config.en.rst
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/logging/formatting.en.rst
Labels: Documentation

#6446 Avoid a weird name collision between HRW and tscore
  plugins/header_rewrite/header_rewrite_test.cc
  plugins/header_rewrite/parser.cc
  plugins/header_rewrite/parser.h
  plugins/header_rewrite/value.cc
Labels: OnDocs, Plugins

#6447 Revert "Disable the chunked_encoding test"
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
Labels: AuTest

#6437 Remove documentation for removed TSIOBufferReader API functions.
  doc/developer-guide/api/functions/TSIOBufferReader.en.rst
Labels: Documentation

#6414 Traffic Dump: fix client request target parsing
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/gold_tests/pluginTest/traffic_dump/gold/explicit_target.gold
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump.test.py
  tests/gold_tests/pluginTest/traffic_dump/verify_replay.py
Labels: Plugins

#6432 SSL: Introduce proxy.config.ssl.server.prioritize_chacha
  doc/admin-guide/files/records.config.en.rst
  iocore/net/SSLConfig.cc
  mgmt/RecordsConfig.cc
Labels: TLS

#6448 Using std::string for QUICConnectionId::hex print
  iocore/net/QUICNetVConnection.cc
  iocore/net/QUICPacketHandler.cc
  iocore/net/quic/QUICAltConnectionManager.cc
  iocore/net/quic/QUICFrame.cc
  iocore/net/quic/QUICTLS.cc
  iocore/net/quic/QUICTransportParameters.cc
  iocore/net/quic/QUICTypes.cc
  iocore/net/quic/QUICTypes.h
Labels: QUIC

#6454 traffic_dump post_process.py
  plugins/experimental/traffic_dump/post_process.py
Labels: Plugins

#6436 SSLNetVConnection, fixed/removed assert when running debug build
  iocore/net/SSLNetVConnection.cc
Labels: Crash, Debug, OnDocs

#6457 Fix port selection for ssl ipv6
  tests/gold_tests/autest-site/trafficserver.test.ext
Labels: AuTest, Tests

#6411 Updating the autest version pin to 1.7.4.
  tests/Pipfile
Labels: AuTest

#6456 Fix to handle 304 response without timeout
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#6458 Turn on debug for the bash script test_logstats_summary
  src/traffic_logstats/tests/test_logstats_summary
Labels: Tests

#6417 slice plugin: add check to transaction status
  plugins/experimental/slice/slice.cc
Labels: Plugins

#6404 Signal VC_EVENT_READ_COMPLETE when ATS received END_STREAM flag
  proxy/http2/Http2ConnectionState.cc
  tests/gold_tests/h2/gold/nghttp_0_stdout.gold
  tests/gold_tests/h2/nghttp.test.py
Labels: HTTP/2, OnDocs

#6413 Fix crash when H2 client does not set End-of-data bit
  proxy/http/HttpSM.cc
Labels: Crash, HTTP, HTTP/2, OnDocs

#5952 Fix code to avoid HostDBContinuation use after free
  iocore/hostdb/HostDB.cc
Labels: HostDB, OnDocs

#6465 Skipping log_retention.test.py because it is flaky in CI
  tests/gold_tests/logging/log_retention.test.py
Labels: AuTest

#6450 Adjust consume logic in data frame read
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2
