Repository apache/trafficserver, pull requests merged in 2020-01, with the labels that each got.

#6293 Add invalid config warning when cache open write fail and read retry are inconsistent
  proxy/http/HttpCacheSM.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: Cache, Configuration, HTTP

#6303 Fixes a case where the NextHop consistent hash ring may not be completely searched.
  proxy/http/remap/NextHopConsistentHash.cc
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
Labels: Bug, Parent Proxy

#6299 Assure no SM survives plugin factory deactivation (9.0.x)
  proxy/ReverseProxy.cc
  proxy/http/remap/PluginFactory.cc
  proxy/http/remap/UrlRewrite.cc
Labels: Bug, Core

#5878 Add protection against use after free due to Http2ConnectionState::destroy() being called more than once per session.
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#6307 Reduce process duration of test_Http2FrequencyCounter
  proxy/http2/Http2FrequencyCounter.cc
  proxy/http2/Http2FrequencyCounter.h
  proxy/http2/unit_tests/test_Http2FrequencyCounter.cc
Labels: HTTP/2, Tests

#6287 Introduce NetEvent to split UnixNetVConnection and NetHandler
  iocore/net/NetEvent.h
  iocore/net/P_UnixNet.h
  iocore/net/P_UnixNetState.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/UnixNet.cc
  iocore/net/UnixNetPages.cc
  iocore/net/UnixNetVConnection.cc
Labels: Network

#6304 Logging doc bugs
  doc/admin-guide/logging/examples.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/monitoring/logging/summary-logs.en.po
Labels: Documentation

#6312 Set wrap after checking all the parents
  proxy/ParentConsistentHash.cc
  proxy/ParentSelection.h
Labels: Parent Proxy

#6315 Fix closed flag from #6287
  iocore/net/NetEvent.h
Labels: Network

#6275 Clear all pointers in API Hooks clear function.
  src/traffic_server/InkAPI.cc
Labels: Cleanup

#6252 Add simple uri_signing autest and subsequent fixes
  plugins/experimental/uri_signing/common.h
  plugins/experimental/uri_signing/config.c
  plugins/experimental/uri_signing/parse.c
  plugins/experimental/uri_signing/parse.h
  plugins/experimental/uri_signing/python_signer/uri_signer.py
  plugins/experimental/uri_signing/uri_signing.c
  tests/Pipfile
  tests/gold_tests/pluginTest/uri_signing/config.json
  tests/gold_tests/pluginTest/uri_signing/gold/200.gold
  tests/gold_tests/pluginTest/uri_signing/gold/403.gold
  tests/gold_tests/pluginTest/uri_signing/run_sign.sh
  tests/gold_tests/pluginTest/uri_signing/signer.json
  tests/gold_tests/pluginTest/uri_signing/uri_signing.test.py
Labels: Plugins

#5450 TLSv1.3 0-RTT support
  build/crypto.m4
  configure.ac
  doc/admin-guide/files/records.config.en.rst
  include/tscore/ink_config.h.in
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSessionTicket.cc
  iocore/net/SSLStats.cc
  iocore/net/SSLStats.h
  iocore/net/SSLUtils.cc
  mgmt/RecordsConfig.cc
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/hdrs/HTTP.h
  proxy/hdrs/HdrToken.cc
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  src/traffic_quic/traffic_quic.cc
  tests/gold_tests/tls/early_h1_get.txt
  tests/gold_tests/tls/early_h1_post.txt
  tests/gold_tests/tls/early_h2_get.txt
  tests/gold_tests/tls/early_h2_multi1.txt
  tests/gold_tests/tls/early_h2_multi2.txt
  tests/gold_tests/tls/early_h2_post.txt
  tests/gold_tests/tls/h2_early_decode.py
  tests/gold_tests/tls/h2_early_gen.py
  tests/gold_tests/tls/test-0rtt-s_client.py
  tests/gold_tests/tls/tls_0rtt_server.test.py
Labels: OnDocs, TLS

#6324 Fixes clang-format issues
  tests/gold_tests/tls/early_h1_get.txt
  tests/gold_tests/tls/early_h1_post.txt
Labels: Tests

#6268 Add tests to exercise H2 and chunked encoding
  tests/gold_tests/chunked_encoding/case1.sh
  tests/gold_tests/chunked_encoding/case2.sh
  tests/gold_tests/chunked_encoding/case3.sh
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/chunked_encoding_h2.test.py
  tests/gold_tests/chunked_encoding/delay-server.sh
  tests/gold_tests/chunked_encoding/server2.sh
  tests/gold_tests/chunked_encoding/server3.sh
Labels: Tests

#6278 Add new log field to output server name sent by client in TLS handshake.
  doc/admin-guide/logging/formatting.en.rst
  iocore/net/P_SSLNetVConnection.h
  proxy/Makefile.am
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/http/Http1ClientSession.cc
  proxy/http2/Http2ClientSession.cc
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
  proxy/private/Makefile.inc
  proxy/private/SSLProxySession.cc
  proxy/private/SSLProxySession.h
  tests/gold_tests/logging/new_log_flds.test.py
  tests/gold_tests/logging/new_log_flds_observer.py
Labels: Logging, TLS

#6326 Remove dequeue_timed since it is not being used anymore
  iocore/eventsystem/I_ProtectedQueue.h
  iocore/eventsystem/ProtectedQueue.cc
Labels: Cleanup, Core

#6323 Fix strict round robin cur_index increment
  proxy/ParentRoundRobin.cc
Labels: Parent Proxy

#6325 Fixes typo in TLS Bridge illustration
  doc/uml/TLS-Bridge-Messages.uml
Labels: Documentation

#6329 Fixed build issues on macOS after 0-RTT merge
  iocore/net/SSLUtils.cc
  proxy/http/Http1ClientSession.cc
  proxy/http2/Http2ClientSession.cc
Labels: Build, macOS

#6305 Adding line length configuration documentation
  doc/admin-guide/logging/formatting.en.rst
Labels: Documentation

#5917 Make compress plugin normalization of Accept-Encoding header compatible with normalization in core TS.
  plugins/compress/misc.cc
  tests/gold_tests/pluginTest/compress/compress.gold
  tests/gold_tests/pluginTest/compress/compress.test.py
  tests/gold_tests/pluginTest/compress/compress_userver.gold
Labels: Plugins

#6197 Fix problems with "Probe" option for X-Debug MIME header field.
  plugins/xdebug/Cleanup.h
  plugins/xdebug/Makefile.inc
  plugins/xdebug/xdebug.cc
  plugins/xdebug/xdebug_transforms.cc
  tests/gold_tests/pluginTest/xdebug/x_remap/four.in
  tests/gold_tests/pluginTest/xdebug/x_remap/fwd1.in
  tests/gold_tests/pluginTest/xdebug/x_remap/fwd2.in
  tests/gold_tests/pluginTest/xdebug/x_remap/fwd3.in
  tests/gold_tests/pluginTest/xdebug/x_remap/fwd4.in
  tests/gold_tests/pluginTest/xdebug/x_remap/fwd5.in
  tests/gold_tests/pluginTest/xdebug/x_remap/none.in
  tests/gold_tests/pluginTest/xdebug/x_remap/one.in
  tests/gold_tests/pluginTest/xdebug/x_remap/out.gold
  tests/gold_tests/pluginTest/xdebug/x_remap/three.in
  tests/gold_tests/pluginTest/xdebug/x_remap/two.in
  tests/gold_tests/pluginTest/xdebug/x_remap/x_remap.gold
  tests/gold_tests/pluginTest/xdebug/x_remap/x_remap.test.py
Labels: CPP API, Tests

#6332 Fixes Issue #6321 caused when proxy.config.http.no_dns_just_forward_to_parent
  proxy/ParentSelection.cc
Labels: Bug, Parent Proxy

#6339 Fixes an issue where NextHopSelectionStrategy did not implement a parent check.
  proxy/http/HttpTransact.cc
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
  proxy/http/remap/unit-tests/test_NextHopRoundRobin.cc
Labels: Bug, Parent Proxy

#6343 Fixes an assertion failure when proxy.config.http.no_dns_just_forward_to_parent is enabled
  proxy/http/HttpTransact.cc
Labels: Bug, Debug, Parent Proxy

#6337 Perf: Optimize sending HTTP/2 frame
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Frame.cc
  proxy/http2/Http2Frame.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Makefile.am
Labels: HTTP/2, Performance

#6348 Add virtual destructors for Http2TxFrame, Http2FrequencyCounter
  proxy/http2/Http2Frame.h
  proxy/http2/Http2FrequencyCounter.h
Labels: Core

#6346 Fix heap-use-after-free on Http2Stream::destroy()
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#6292 Update git-versions figure
  doc/release-notes/images/git-versions.drawio.xml
  doc/release-notes/images/git-versions.png
  doc/release-notes/images/git-versions.svg
  doc/release-notes/roadmap.en.rst
Labels: Documentation

#6358 Add header guard - issue #6357
  include/tscore/EnumDescriptor.h
Labels: lgtm

#6362 Change localtime/gmtime usages to use the threadsafe versions with local storage
  plugins/esi/combo_handler.cc
  src/traffic_top/traffic_top.cc
  tools/http_load/http_load.c
Labels: lgtm

#6360 Cleanup: Remove empty function
  proxy/http/HttpSM.cc
Labels: Cleanup, HTTP

#6363 Removing always true/false comparisons
  iocore/eventsystem/IOBuffer.cc
  iocore/net/SSLUtils.cc
  plugins/experimental/memcache/tsmemcache.cc
  plugins/experimental/uri_signing/uri_signing.c
  proxy/hdrs/HdrTest.cc
  proxy/http/HttpSM.cc
  proxy/http/remap/RemapConfig.cc
Labels: lgtm

#6359 Cleanup: Remove unused accessors of HttpVCTableEntry
  proxy/http/HttpSM.h
Labels: Cleanup, HTTP

#6371 Fixing shadowed variables, both global and local
  iocore/hostdb/HostDB.cc
  iocore/net/SSLUtils.cc
  iocore/net/UnixNetAccept.cc
  plugins/background_fetch/background_fetch.cc
  plugins/experimental/memcache/tsmemcache.cc
  plugins/header_rewrite/conditions.cc
  plugins/multiplexer/dispatch.cc
  src/traffic_cache_tool/CacheTool.cc
  src/traffic_logcat/logcat.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/traffic_server.cc
  src/tscore/IpMap.cc
  tools/jtest/jtest.cc
Labels: lgtm

#6373 Change bitfields to be unsigned explicitly
  plugins/lua/ts_lua_common.h
  plugins/lua/ts_lua_coroutine.h
  plugins/lua/ts_lua_fetch.h
Labels: lgtm

#6340 Add header rewrite test to make sure we are not injecting end of rule char
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-l_value.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_l_value.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_l_value.conf
Labels: Tests

#6364 Fix rare SSN/TXN Start/Close Hook misorderings
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/http/Http1ClientSession.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  tests/gold_tests/continuations/openclose.test.py
  tests/gold_tests/continuations/openclose_h2.test.py
  tests/gold_tests/pluginTest/test_hooks/log.gold
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/tools/plugins/ssntxnorder_verify.cc
Labels: HTTP, HTTP/2, Tests

#6366 Add reasonably complete compressible content-types example
  doc/admin-guide/plugins/compress.en.rst
Labels: Documentation

#6369 Improve config_describe logs to print a better output format.
  src/traffic_ctl/config.cc
Labels: Configuration
