Repository apache/trafficserver, pull requests merged in 2020-06, with the labels that each got.

#6834 Drastically improve generator.so performance for /nocache
  plugins/generator/generator.cc
Labels: Performance, Plugins

#6839 Issue 6838 Fixing the comparison in waited_enough (drain functionality)
  doc/admin-guide/files/records.config.en.rst
  src/traffic_manager/traffic_manager.cc
Labels: Manager, Process Management, Shutdown

#6829 traffic_dump: debug_tag and lock improvements
  plugins/experimental/traffic_dump/global_variables.h
  plugins/experimental/traffic_dump/session_data.cc
  plugins/experimental/traffic_dump/session_data.h
Labels: Plugins

#6843 Schedule Transform on the same thread as the continuation
  proxy/Transform.cc
Labels: Crash, Threads, Transform

#6737 Removes refcounting from compress and s3_auth plugins
  plugins/background_fetch/configs.h
  plugins/compress/compress.cc
  plugins/compress/configuration.cc
  plugins/compress/configuration.h
  plugins/experimental/geoip_acl/lulu.h
  plugins/header_rewrite/header_rewrite.cc
  plugins/s3_auth/s3_auth.cc
Labels: Cleanup

#6845 LGTM: add header guard
  include/shared/overridable_txn_vars.h
Labels: lgtm

#6844 LGTM: fix hiding a global variable with the same name
  iocore/net/BIO_fastopen.cc
Labels: TLS, lgtm

#6837 Generalize KA check logic
  proxy/http/HttpTransact.cc
Labels: HTTP

#6691 Slice plugin: self heal when asset etag/last-modified block mismatches
  doc/admin-guide/plugins/cache_range_requests.en.rst
  doc/admin-guide/plugins/slice.en.rst
  include/ts/experimental.h
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/ContentRange.h
  plugins/experimental/slice/Data.cc
  plugins/experimental/slice/Data.h
  plugins/experimental/slice/HttpHeader.cc
  plugins/experimental/slice/HttpHeader.h
  plugins/experimental/slice/Range.h
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/slice/util.cc
  src/traffic_server/InkAPI.cc
  tests/gold_tests/pluginTest/slice/curlsort.sh
  tests/gold_tests/pluginTest/slice/gold/aa.gold
  tests/gold_tests/pluginTest/slice/gold/aaa.gold
  tests/gold_tests/pluginTest/slice/gold/bb.gold
  tests/gold_tests/pluginTest/slice/gold/bbb.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/contents.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stdout.gold
  tests/gold_tests/pluginTest/slice/slice.test.py
  tests/gold_tests/pluginTest/slice/slice_error.test.py
  tests/gold_tests/pluginTest/slice/slice_regex.test.py
  tests/gold_tests/pluginTest/slice/slice_selfhealing.test.py
Labels: Plugins

#6812 Fix missing virtual destructor in TLSSessionResumptionSupport.
  iocore/net/TLSSessionResumptionSupport.h
Labels: Cleanup

#6794 Remove whitespace from header field name in http response due to RFC7230:3.2.4 (#6793)
  proxy/hdrs/HTTP.cc
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  proxy/hdrs/unit_tests/test_HdrUtils.cc
  proxy/hdrs/unit_tests/test_Hdrs.cc
  src/traffic_server/InkAPI.cc
Labels: HTTP

#6862 Fix brotli plugin
  plugins/compress/compress.cc
  plugins/compress/configuration.cc
Labels: AuTest, Plugins

#6854 Fix pointer overflow in XPACK
  proxy/hdrs/XPACK.cc
Labels: HTTP/2

#6860 Make format specifier for time_t portable
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/experimental/slice/HttpHeader.cc
  plugins/experimental/slice/server.cc
Labels: Plugins

#6861 Fix a crash on TLS resumption
  iocore/net/P_SSLNetVConnection.h
  iocore/net/TLSSessionResumptionSupport.cc
Labels: TLS

#6805 Fix session pool to add and fetch to beginning of hash chain instead of end
  include/tscore/IntrusiveHashMap.h
  proxy/http/HttpSessionManager.cc
  src/tscore/unit_tests/test_IntrusiveHashMap.cc
Labels: Performance, Server Session Pools

#6797 Adding HTTP status 451 in apidefs as well (See PR#6789)
  include/ts/apidefs.h.in
Labels: TS API

#6868 avoid dynamic_cast for non_internal requests
  proxy/ProxyTransaction.cc
Labels: ProxyTransaction

#6866 Protect against nullptr access during SSL Callback
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLUtils.cc
Labels: Crash, OnDocs, SSL

#6732 Avoid stale client_vc
  iocore/net/UnixNetVConnection.cc
  proxy/http/Http1ClientSession.cc
  proxy/http/HttpSM.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2Stream.cc
Labels: Crash, OnDocs

#6885 Revert 4028 for 8.1.x branch
  iocore/net/I_NetProcessor.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/UnixNetProcessor.cc
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpSM.cc
Labels: Revert

#6879 Revert "Avoid stale client_vc (#6732)"
  iocore/net/UnixNetVConnection.cc
  proxy/http/Http1ClientSession.cc
  proxy/http/HttpSM.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2Stream.cc
Labels: AuTest

#6848 8.1.x: cache_range_request: Overhaul and clean up the core autest.
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/404.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stderr.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Labels: Backport, Plugins

#6888 AuTest: port selection improvements.
  tests/gold_tests/autest-site/ports.py
Labels: AuTest

#6875 Fix for Ubuntu 16 and Clang 5
  src/tscore/ink_res_init.cc
Labels: Build

#6872 Track thread changes during origin connect and cache open write
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
Labels: Metrics, ProxyTransaction, Threads

#6884 microserver error handling: SSLError check and debug.
  tests/gold_tests/autest-site/microserver.test.ext
Labels: AuTest

#6203 Fix the relative path for template_sets_dir to be install directory
  mgmt/RecordsConfig.cc
  proxy/http/HttpBodyFactory.cc
Labels: Configuration, OnDocs

#6822 change overridable var type for proxy.config.http.server_session_sharing.match from int to string
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
Labels: TS API

#6892 Fix compiler issue with ICC 19.1
  proxy/hdrs/MIME.cc
Labels: Build

#6856 Traffic Dump: Add server response HTTP version
  plugins/experimental/traffic_dump/transaction_data.cc
  tests/tools/lib/replay_schema.json
Labels: Plugins

#6809 Fix assert when client aborts during backfill
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/HttpSM.cc
Labels: Crash

#6876 Make Http2ClientSession inactive on EOS event
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#6891 Make h2spec test more resiliant by extending timeout
  tests/gold_tests/h2/h2spec.test.py
Labels: AuTest

#6898 set sni_name with remapped origin name if sni_policy is not the default value
  proxy/http/HttpSM.cc
Labels: HTTP, SSL, Server Session Pools, Server Session Tuning

#6917 Disable lua_stats autest until we can reliably wait for stats
  tests/gold_tests/pluginTest/lua/lua_states_stats.test.py
Labels: AuTest

#6920 Removes SSLNetVConnection::sslContextSet
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
Labels: Cleanup

#6916 Ensure read_avail is set for the first non-empty block
  src/traffic_server/FetchSM.cc
Labels: Crash, FetchSM, TSFetchUrl

#6921 Fixed bug in the calculation of the header block fragment length
  proxy/http2/HPACK.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6922 Fixed bug in the calculation of the header block fragment length
  proxy/http2/HPACK.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6869 Customize Max IOBuffer Size
  doc/admin-guide/files/records.config.en.rst
  iocore/cache/CachePages.cc
  iocore/cache/CacheTest.cc
  iocore/eventsystem/EventSystem.cc
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
  iocore/hostdb/HostDB.cc
  iocore/hostdb/I_HostDBProcessor.h
  iocore/net/NetVCTest.cc
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/QUICPacketHandler.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNextProtocolAccept.cc
  iocore/net/Socks.cc
  iocore/net/quic/QUICFrame.cc
  iocore/net/quic/QUICPacketPayloadProtector.cc
  iocore/net/quic/test/test_QUICFrame.cc
  iocore/net/quic/test/test_QUICFrameDispatcher.cc
  iocore/net/quic/test/test_QUICFrameRetransmitter.cc
  iocore/net/quic/test/test_QUICIncomingFrameBuffer.cc
  iocore/net/quic/test/test_QUICStreamManager.cc
  iocore/utils/OneWayMultiTunnel.cc
  iocore/utils/OneWayTunnel.cc
  mgmt/RecordsConfig.cc
  plugins/experimental/memcache/tsmemcache.cc
  proxy/Transform.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http2/unit_tests/test_Http2Frame.cc
  proxy/http3/Http3HeaderFramer.cc
  proxy/http3/test/test_QPACK.cc
  proxy/logging/LogBuffer.cc
  proxy/logging/LogConfig.cc
  proxy/logging/LogConfig.h
  src/traffic_quic/quic_client.cc
  src/traffic_server/InkAPITest.cc
  src/traffic_server/InkIOCoreAPI.cc
  src/traffic_server/SocksProxy.cc
Labels: IOBuffer, OnDocs

#6747 Fix old MIMEHdr handling of HPACK
  proxy/http2/HPACK.cc
Labels: HTTP/2, OnDocs

#6929 build: Require OCSP headers for OCSP-enablement
  build/crypto.m4
Labels: Build

#6906 Make QPACK.h self-contained
  proxy/http3/QPACK.h
Labels: QUIC

#6925 Prevent stale netvc access on SSL Callbacks
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
Labels: Crash, SSL

#6896 Fix dual_cert_select test to run with older openssl binary
  tests/gold_tests/tls/tls_check_dual_cert_selection.test.py
Labels: AuTest

#6918 example: Move to blocklists and allowlists
  example/plugins/c-api/Makefile.am
  example/plugins/c-api/blacklist_1/readme.txt
  example/plugins/c-api/blocklist_0/blocklist_0.c
  example/plugins/c-api/blocklist_1/blocklist.txt
  example/plugins/c-api/blocklist_1/blocklist_1.c
  example/plugins/c-api/blocklist_1/readme.txt
  example/plugins/c-api/ssl_sni_allowlist/ssl_sni_allowlist.cc
Labels: Cleanup

#6928 Enable only squash and merge for GitHub
  .asf.yaml
Labels: Build

#6915 Make compress Au test less flakey.
  tests/gold_tests/pluginTest/compress/compress.gold
  tests/gold_tests/pluginTest/compress/compress.test.py
  tests/gold_tests/pluginTest/compress/greplog.sh
Labels: AuTest

#6903 Disable max_connections_active_in default and fix close logic
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
  mgmt/RecordsConfig.cc
  proxy/http2/Http2ClientSession.cc
  tests/gold_tests/h2/h2active_timeout.py
  tests/gold_tests/h2/http2.test.py
Labels: Capacity Tuning, Configuration, Connection Timeouts

#6923 Fixed bug in the calculation of the header block fragment length
  proxy/http2/HPACK.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#6934 Update buffer-writer.en.rst (wrong header link)
  doc/developer-guide/internal-libraries/buffer-writer.en.rst
Labels: Documentation

#6936 Fix rare SSN/TXN Start/Close Hook misorderings (#6364)
  proxy/ProxyClientSession.cc
  proxy/ProxyClientSession.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
Labels: Backport

#6937 Prevent use-after-free of TransactionPlugin
  include/tscpp/api/TransactionPlugin.h
  src/tscpp/api/TransactionPlugin.cc
  src/tscpp/api/utils_internal.cc
  src/tscpp/api/utils_internal.h
Labels: CPP API, Crash

#6941 Move to blocklists and allowlists
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.config.en.rst
  iocore/net/SSLNetVConnection.cc
  mgmt/RecordsConfig.cc
  proxy/ProtocolProbeSessionAccept.cc
  proxy/http/HttpConfig.cc
  tests/gold_tests/ip_allow/ip_allow.test.py
Labels: Cleanup, Incompatible

#6940 plugins: Move to blocklists and allowlists
  doc/admin-guide/plugins/cachekey.en.rst
  doc/admin-guide/plugins/esi.en.rst
  plugins/cachekey/configs.cc
  plugins/cachekey/configs.h
  plugins/esi/combo_handler.cc
  plugins/esi/esi.cc
  plugins/esi/lib/Utils.cc
  plugins/esi/lib/Utils.h
  plugins/esi/lib/Variables.cc
  plugins/esi/lib/Variables.h
  plugins/esi/test/processor_test.cc
  plugins/esi/test/utils_test.cc
  plugins/esi/test/vars_test.cc
  plugins/experimental/access_control/config.cc
  plugins/experimental/access_control/config.h
Labels: Cleanup, Incompatible, Plugins

#6484 Add ICAP plugin
  doc/admin-guide/plugins/icap.en.rst
  doc/admin-guide/plugins/index.en.rst
  plugins/Makefile.am
  plugins/experimental/icap/Makefile.inc
  plugins/experimental/icap/icap_plugin.cc
Labels: Plugins

#6943 Cleanup: Remove unused arguments
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#6841 Retry read when fastopen_bread() get non fatal error
  iocore/net/BIO_fastopen.cc
Labels: OnDocs, TLS

#6942 Remove dup code in QUICMultiCertConfigLoader
  iocore/net/P_SSLUtils.h
  iocore/net/QUICMultiCertConfigLoader.cc
  iocore/net/QUICMultiCertConfigLoader.h
  iocore/net/SSLUtils.cc
Labels: QUIC, TLS

#6947 Add CI verbose and debug options for autest
  ci/jenkins/bin/autest.sh
Labels: AuTest

#6952 remove useless code
  iocore/cache/Cache.cc
Labels: Cleanup

#6935 Adds qlog_dir documentation
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation, QUIC

#6955 Do not create Host Status stats for Origin servers.
  src/traffic_server/HostStatus.cc
Labels: Parent Proxy

#6949 Set the default thread count factor to 1x the number of logical cores
  mgmt/RecordsConfig.cc
Labels: Configuration

#6905 Remove two unused includes in HdrHeap.h.
  proxy/hdrs/HdrHeap.h
Labels: Core

#6858 Make HostDBInfo class safer to use.
  iocore/hostdb/I_HostDBProcessor.h
Labels: HostDB

#6950 Prevent buffer overflow during log filter actions
  proxy/logging/LogAccess.cc
Labels: Crash, Logging

#6951 Cleanup: Remove unnecessary member from Http2Stream
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#6958 Fixes icap build on macOS
  plugins/experimental/icap/icap_plugin.cc
Labels: Plugins, macOS

#6963 Fix format string for int64_t
  tests/gold_tests/continuations/plugins/session_id_verify.cc
Labels: AuTest, Build

#6953 Assert on valid boundaries for UserArgTable access
  include/tscore/PluginUserArgs.h
Labels: ASAN, TS API

#6962 Cleanup: Simplify Http2Stream::update_write_request()
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#6966 Make the log_pipe test more efficient.
  tests/gold_tests/logging/log_pipe.test.py
Labels: AuTest
