Repository apache/trafficserver, pull requests merged in 2021-06, with the labels that each got.

#7904 Ensure the HTTP portion of the protocol string is upper case
  proxy/hdrs/HTTP.cc
  proxy/hdrs/unit_tests/test_Hdrs.cc
Labels: HTTP

#7906 Add thread yeield to avoid busy waiting in LogObject::_checkout_write(). (#7576)
  proxy/logging/LogObject.cc
Labels: Backport

#7908 Fix the final consumer write size from unchunked to chunked tunnel
  proxy/http/HttpTunnel.cc
Labels: Backport, HTTP

#7757 Add dead server policy control and metric. Improve messages.
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  src/tscore/BufferWriterFormat.cc
Labels: Server Session

#7892 Reset Http1Transaction before adding vc to keep_alive_queue
  proxy/http/Http1ClientSession.cc
Labels: ASAN, HTTP

#7894 Set accept_options of Http1Transaction in Http1ClientSession::new_con…
  proxy/http/Http1ClientSession.cc
  proxy/http/HttpSessionAccept.cc
Labels: ASAN, HTTP

#7912 Do not delete the continuation twice (#7862)
  plugins/background_fetch/background_fetch.cc
Labels: Plugins

#7849 Make HttpSM server reference a Transaction instead of a Session
  iocore/net/libinknet_stub.cc
  proxy/PoolableSession.h
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/Http1ClientTransaction.cc
  proxy/http/Http1ClientTransaction.h
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/Http1ServerTransaction.cc
  proxy/http/Http1ServerTransaction.h
  proxy/http/Http1Transaction.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpSessionManager.cc
  proxy/http/HttpSessionManager.h
  proxy/http/HttpTransactHeaders.cc
  proxy/http/Makefile.am
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
  proxy/http3/Http3Transaction.cc
  proxy/http3/Http3Transaction.h
  src/traffic_quic/traffic_quic.cc
  src/traffic_server/InkAPI.cc
Labels: Origin Session

#7914 Add Au test for strategies.yaml, with consistent hashing, with fallover.
  tests/gold_tests/next_hop/strategies_ch2/body.gold
  tests/gold_tests/next_hop/strategies_ch2/strategies_ch2.test.py
  tests/gold_tests/next_hop/strategies_ch2/trace.gold
Labels: Parent Proxy

#7897 Adds a new peering ring mode to next hop selection strategies.
  configs/strategies.yaml.default
  doc/admin-guide/files/strategies.yaml.en.rst
  proxy/ParentSelection.h
  proxy/http/HttpTransact.cc
  proxy/http/remap/NextHopConsistentHash.cc
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
  proxy/http/remap/unit-tests/peering.yaml
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
Labels: 9.1.0, Parent Proxy

#7917 Update docs languages file to add 9.1.x for en and ja
  doc/static/languages.json
Labels: Documentation

#7913 Ensure TS_VCONN_CLOSE_HOOK hook is called during TS_EVENT_VCONN_CLOSE.
  iocore/net/SSLNetVConnection.cc
Labels: TLS

#7848 Remove bucket search from IntrusiveHashMap::erase
  include/tscore/IntrusiveHashMap.h
Labels: Origin Session

#7923 Adjust vc read errors
  iocore/net/UnixNetVConnection.cc
Labels: AuTest, Network

#7926 AuTest: Enable h2spec generic test cases
  tests/gold_tests/h2/h2spec.test.py
Labels: AuTest, HTTP/2

#7927 fix grammar
  iocore/cache/CacheWrite.cc
Labels: Documentation

#7924 Ensure that URL components are valid when alternate eviction is logged
  iocore/cache/CacheWrite.cc
Labels: Cache, Crash, Logging

#7907 Add a chunked negative revalidating test.
  tests/gold_tests/cache/negative-revalidating.test.py
  tests/gold_tests/cache/replay/negative-revalidating-enabled.replay.yaml
Labels: cache-tests

#7911 Add a basic Au test using strategies.yaml, with consistent hashing.
  tests/gold_tests/next_hop/strategies_ch/body.gold
  tests/gold_tests/next_hop/strategies_ch/strategies_ch.test.py
  tests/gold_tests/next_hop/strategies_ch/trace.gold
Labels: Parent Proxy

#7930 Remove duplicate entry in overridable txn vars.
  src/shared/overridable_txn_vars.cc
Labels: Cleanup

#7928 regex_reval: fix bug where rule type is always reported as the first
  plugins/regex_revalidate/regex_revalidate.c
Labels: Plugins

#7921 Fix race condition on server session state
  proxy/http/Http1ServerSession.cc
Labels: Crash, Server Session

#7870 Add log SQUID code testing to redirect.test.py Au test.
  tests/gold_tests/redirect/gold/redirect_log.gold
  tests/gold_tests/redirect/redirect.test.py
  tests/gold_tests/redirect/wait_for_log.sh
Labels: AuTest, Logging

#7934 Internal DLL container forward iterators
  include/tscore/List.h
  include/tscore/Trie.h
Labels: Cleanup

#7935 Remove scrap log object dead code
  proxy/logging/Log.cc
  proxy/logging/Log.h
Labels: Cleanup

#7940 Pin Sphinx to 3.x to unblock `make html`
  doc/Pipfile
Labels: Documentation

#7885 Close connection after every bad request for HTTP/1.1
  proxy/http/HttpTransact.cc
  tests/gold_tests/headers/gold/bad_good_request.gold
  tests/gold_tests/headers/gold/bad_protocol_number.gold
  tests/gold_tests/headers/gold/bad_te_value.gold
  tests/gold_tests/headers/good_request_after_bad.test.py
Labels: HTTP

#7873 Remove second call to TRANSACT_RETURN while handling cache write lock
  proxy/http/HttpTransact.cc
Labels: Cleanup, HttpSM

#7932 Add a JSON schema for strategies.yaml
  configs/strategies.schema.json
Labels: 9.1.0, Configuration, Documentation

#7765 Adds bytes counting as a trigger to the cache_promote LRU
  doc/admin-guide/plugins/cache_promote.en.rst
  plugins/cache_promote/cache_promote.cc
  plugins/cache_promote/chance_policy.h
  plugins/cache_promote/configs.cc
  plugins/cache_promote/lru_policy.cc
  plugins/cache_promote/lru_policy.h
  plugins/cache_promote/policy.h
Labels: Plugins

#7944 Compilation error fixes for QUIC unit tests
  iocore/net/quic/Mock.h
  iocore/net/quic/test/test_QUICPacket.cc
  proxy/http3/test/test_QPACK.cc
Labels: QUIC, Tests

#7945 Fix dynamic-stack-buffer-overflow of cachekey plugin
  plugins/cachekey/cachekey.cc
  proxy/logging/LogUtils.cc
Labels: ASAN

#7942 cache_promote: Don't promote on uncacheable requests
  plugins/cache_promote/lru_policy.cc
Labels: Plugins

#7947 Fixed memory leak in QUIC ack frame unit test
  iocore/net/quic/test/test_QUICAckFrameCreator.cc
Labels: ASAN, QUIC

#7939 regex_revalidate: optionally retain rule epoch state across restarts
  doc/admin-guide/plugins/regex_revalidate.en.rst
  plugins/regex_revalidate/regex_revalidate.c
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_state.test.py
Labels: Plugins

#7882 Add an HTTP/2 304 "Not Modified" AuTest.
  tests/gold_tests/headers/cachedIMSRange.test.py
  tests/gold_tests/headers/gold/http1_304.gold
  tests/gold_tests/headers/gold/http2_304.gold
Labels: AuTest

#7864 Do not invalidate cached resources upon error responses
  proxy/hdrs/HTTP.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransactHeaders.cc
  proxy/http/HttpTransactHeaders.h
  tests/gold_tests/cache/cache-request-method.test.py
  tests/gold_tests/cache/replay/get_then_post.replay.yaml
  tests/gold_tests/cache/replay/post_with_post_caching_disabled.replay.yaml
  tests/gold_tests/cache/replay/post_with_post_caching_enabled.replay.yaml
Labels: Cache, cache-tests

#7950 regex_revalidate: add stats for miss/stale counts
  doc/admin-guide/plugins/regex_revalidate.en.rst
  plugins/regex_revalidate/regex_revalidate.c
  tests/gold_tests/pluginTest/regex_revalidate/gold/metrics.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/metrics_miss.gold
  tests/gold_tests/pluginTest/regex_revalidate/metrics.sh
  tests/gold_tests/pluginTest/regex_revalidate/metrics_miss.sh
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate.test.py
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_miss.test.py
Labels: Plugins

#7954 Revert "Do not invalidate cached resources upon error responses to un…
  proxy/hdrs/HTTP.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransactHeaders.cc
  proxy/http/HttpTransactHeaders.h
  tests/gold_tests/cache/cache-request-method.test.py
  tests/gold_tests/cache/replay/get_then_post.replay.yaml
  tests/gold_tests/cache/replay/post_with_post_caching_disabled.replay.yaml
  tests/gold_tests/cache/replay/post_with_post_caching_enabled.replay.yaml
Labels: Revert

#7832 Fixup TS_USE_LINUX_NATIVE_AIO AIO_MODE_NATIVE
  iocore/aio/P_AIO.h
  iocore/cache/Cache.cc
Labels: AIO

#7951 Fixed memory leak in the QUIC stream manager
  iocore/eventsystem/I_Thread.h
  iocore/net/quic/QUICStreamFactory.cc
  iocore/net/quic/QUICStreamManager.cc
  iocore/net/quic/QUICStreamManager.h
Labels: ASAN, QUIC

#7943 Use proxy.config.log.hostname for rotated log filenames
  proxy/logging/LogConfig.cc
  proxy/logging/LogFile.cc
  proxy/shared/UglyLogStubs.cc
  src/traffic_server/traffic_server.cc
  tests/gold_tests/logging/log_retention.test.py
Labels: Logging

#7956 Fix double test flakiness due to EOS/TXN_CLOSE race
  proxy/http/Http1ClientTransaction.cc
Labels: AuTest, HttpSM

#7957 Fix the scheme of h2 0rtt tests
  tests/gold_tests/tls/early_h2_get.txt
  tests/gold_tests/tls/early_h2_multi1.txt
  tests/gold_tests/tls/early_h2_multi2.txt
  tests/gold_tests/tls/early_h2_post.txt
  tests/gold_tests/tls/h2_early_gen.py
Labels: AuTest, TLS

#7965 Fix for HTTP/2 frames
  proxy/http2/Http2ClientSession.cc
Labels: HTTP/2

#7966 String the url fragment for outgoing requests
  proxy/http/HttpTransact.cc
Labels: HTTP

#7964 Ensure that the content-length value is only digits
  proxy/hdrs/HTTP.cc
Labels: HTTP

#7963 Note YAML parser library bug, and work-around, in documentation.
  doc/admin-guide/files/index.en.rst
Labels: Documentation, needs +1 review

#7958 Fixed compile error with Linux AIO unit test
  iocore/aio/test_AIO.cc
Labels: AIO, Tests

#7949 Cleanup: Constify MIMEHdr
  proxy/hdrs/MIME.h
Labels: Cleanup, HTTP

#7937 Add log name configuration and stderr/stdout support.
  doc/admin-guide/files/logging.yaml.en.rst
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/logging/LogConfig.cc
  proxy/logging/LogConfig.h
  proxy/logging/LogObject.cc
  proxy/logging/LogObject.h
  proxy/shared/DiagsConfig.cc
  src/traffic_manager/traffic_manager.cc
  src/traffic_server/traffic_server.cc
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/logging/log-filenames.test.py
Labels: Logging

#7970 ESI plugin documentation updates.
  doc/admin-guide/plugins/esi.en.rst
Labels: Documentation, Plugins

#7859 Thread safe Mersenne Twister 64 using c++11
  include/tscore/Random.h
  src/tscore/Makefile.am
  src/tscore/Random.cc
  src/tscore/unit_tests/test_Random.cc
Labels: Core

#7971 Fixes
  plugins/cachekey/cachekey.cc
  proxy/hdrs/HTTP.cc
  proxy/http/HttpTransact.cc
  proxy/http2/Http2ClientSession.cc
  proxy/logging/LogUtils.cc
Labels: Backport, Bug

#7975 Revert "Adjust connection timeout for TLS"
  iocore/net/UnixNetVConnection.cc
Labels: Backport, Revert

#7977 Revert "8.1.x timeout fixes"
  iocore/net/I_NetProcessor.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/UnixNetProcessor.cc
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpSM.cc
Labels: Backport, Revert

#7979 Updating 8.1.2 changelog
  CHANGELOG-8.1.2
Labels: Documentation

#7962 Pass through expect header and handle 100-continue response
  proxy/http/HttpSM.cc
  tests/gold_tests/h2/httpbin.test.py
  tests/gold_tests/post/gold/post-h1.gold
  tests/gold_tests/post/gold/post-h2.gold
  tests/gold_tests/post/post-continue.test.py
  tests/gold_tests/redirect/redirect_post.test.py
Labels: HTTP

#7989 Cleans up the code bit, including milliseconds consistency
  plugins/experimental/rate_limit/limiter.cc
  plugins/experimental/rate_limit/limiter.h
  plugins/experimental/rate_limit/rate_limit.cc
Labels: Plugins

#7991 conf_remap: demote 'Invalid configuration' to warning
  plugins/conf_remap/conf_remap.cc
Labels: Plugins

#7961 Don't rely on SSLNetVC when HttpSM gathers info about SSL
  proxy/http/HttpSM.cc
Labels: Logging

#7993 Fix typo in configure.ac
  configure.ac
Labels: Build

#7990 Doc: Now's Minute invocation error
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#6609 Add hook for loading certificate and key data from plugin
  doc/developer-guide/api/functions/TSLifecycleHookAdd.en.rst
  doc/developer-guide/api/functions/TSSslSecret.en.rst
  include/ts/apidefs.h.in
  include/ts/ts.h
  iocore/net/Makefile.am
  iocore/net/P_SSLCertLookup.h
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLSecret.h
  iocore/net/P_SSLUtils.h
  iocore/net/SSLCertLookup.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSecret.cc
  iocore/net/SSLUtils.cc
  iocore/net/libinknet_stub.cc
  mgmt/ProxyConfig.cc
  src/traffic_quic/traffic_quic.cc
  src/traffic_server/InkAPI.cc
  tests/gold_tests/tls/tls_check_cert_select_plugin.test.py
  tests/gold_tests/tls/tls_check_dual_cert_selection_plugin.test.py
  tests/gold_tests/tls/tls_client_cert2_plugin.test.py
  tests/gold_tests/tls/tls_client_cert_override_plugin.test.py
  tests/gold_tests/tls/tls_client_cert_plugin.test.py
  tests/gold_tests/tls/tls_keepalive.test.py
  tests/tools/plugins/Makefile.inc
  tests/tools/plugins/ssl_secret_load_test.cc
Labels: Documentation, Feature, TLS, TS API, Tests

#7878 Cleanup: Get rid of HTTP2_SESSION_EVENT_INIT
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: Cleanup, HTTP/2

#7994 Allow to TLS handshake to error out on TSVConnReenable
  iocore/net/SSLNetVConnection.cc
Labels: TLS

#4843 limit m_current_range to max value in RangeTransform
  proxy/Transform.cc
Labels: HTTP

#7985 7.1.x doc tweaks to support Sphinx 3.x
  doc/Pipfile
  doc/conf.py
  doc/ext/traffic-server.py
Labels: Documentation

#7984 8.1.x doc tweaks to support Sphinx 3.x
  doc/Pipfile
  doc/conf.py
  doc/ext/traffic-server.py
Labels: Documentation

#7998 Timing and permissions update for regex_revalidate test
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_state.test.py
Labels: AuTest

#7879 Cleanup: Get rid of HTTP2_SESSION_EVENT_RECV
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: Cleanup, HTTP/2

#7447 Use OpenSSL EVP API if SHA1 API is not available (cache_promote)
  configure.ac
  plugins/cache_promote/lru_policy.cc
  plugins/cache_promote/lru_policy.h
Labels: Feature, Plugins

#7618 Reload server session inactivity timeout before placing a session into the pool
  proxy/http/HttpSessionManager.cc
Labels: Bug, Server Session

#7959 Implement TLSBasicSupport for QUICNetVC
  iocore/net/P_QUICNetVConnection.h
  iocore/net/QUICNetVConnection.cc
Labels: QUIC

#7995 Add null checks for http_load
  tools/http_load/http_load.c
Labels: Cleanup

#7886 Enforce case for well known methods
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HdrToken.cc
  proxy/hdrs/HdrToken.h
  tests/gold_tests/headers/gold/bad_method.gold
  tests/gold_tests/headers/good_request_after_bad.test.py
Labels: HTTP

#7901 Update TSHttpTxnAborted API to distinguish client/server aborts
  doc/developer-guide/api/functions/TSHttpTxnAborted.en.rst
  include/ts/ts.h
  plugins/esi/esi.cc
  plugins/lua/ts_lua_http.c
  src/traffic_server/InkAPI.cc
Labels: Incompatible, TS API

#8001 Fix BoringSSL build
  iocore/net/SSLUtils.cc
Labels: Bug, Build

#7884 Test bad request behavior
  tests/gold_tests/headers/good_request_after_bad.test.py
Labels: AuTest

#7992 Session reuse test with multiple reuses
  tests/gold_tests/tls/tls_session_reuse.test.py
Labels: AuTest, Server Session

#7883 Origin session cache mem leak fix
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/TLSSessionResumptionSupport.cc
Labels: Bug, Leak, Origin Session

#7981 Reject TLS if client offers alpn with no match
  iocore/net/ALPNSupport.cc
  proxy/http3/Http3SessionAccept.cc
  tests/gold_tests/tls/tls_bad_alpn.test.py
Labels: TLS

#8013 Doc: clarify logfile description
  doc/admin-guide/files/records.config.en.rst
  doc/appendices/command-line/traffic_manager.en.rst
  doc/appendices/command-line/traffic_server.en.rst
Labels: Documentation

#8009 Remove unnecessary old code for QUIC
  iocore/net/quic/QUICConfig.cc
  iocore/net/quic/QUICTransportParameters.cc
  iocore/net/quic/QUICTransportParameters.h
  iocore/net/quic/QUICTypes.h
Labels: Cleanup, QUIC

#8007 Cleanup SSLUtils
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_SSLUtils.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
Labels: Cleanup, TLS

#7999 Do not invalidate cached resources upon error responses to unsafe methods
  proxy/hdrs/HTTP.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransactHeaders.cc
  proxy/http/HttpTransactHeaders.h
  tests/gold_tests/cache/cache-request-method.test.py
  tests/gold_tests/cache/replay/get_then_post.replay.yaml
  tests/gold_tests/cache/replay/post_with_post_caching_disabled.replay.yaml
  tests/gold_tests/cache/replay/post_with_post_caching_enabled.replay.yaml
  tests/gold_tests/pluginTest/esi/esi.test.py
Labels: Cache, Plugins, cache-tests

#7987 Pin Sphinx to 3.x to unblock `make html`
  doc/Pipfile
  doc/ext/traffic-server.py
Labels: Documentation
