Repository apache/trafficserver, pull requests merged in 2021-02, with the labels that each got.

#7090 Cleans up duplicated TSOutboundConnectionMatchType definition
  include/ts/apidefs.h.in
  proxy/http/HttpProxyAPIEnums.h
Labels: TS API

#7466 Change atoi to atol, causing obvious issues on what needs to be int64's
  plugins/experimental/system_stats/system_stats.c
Labels: Plugins

#7288 Adjust to actually try a server address more than once
  proxy/http/HttpTransact.cc
Labels: HTTP

#7454 Updating to Proxy Verifier v2.0.0
  ci/jenkins/bin/autest.sh
  tests/gold_tests/autest-site/conditions.test.ext
  tests/gold_tests/autest-site/setup.cli.ext
  tests/gold_tests/autest-site/verifier_client.test.ext
  tests/gold_tests/autest-site/verifier_server.test.ext
  tests/prepare_proxy_verifier.sh
  tests/proxy-verifier-version.txt
Labels: AuTest

#7453 Cleanup: Add SNIRoutingType
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLTypes.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
Labels: Cleanup, TLS

#7468 Proxy Verifier: Making use of delay directives for caching tests.
  tests/gold_tests/cache/replay/cache-control-max-age.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-300-second-timeout.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-customized.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-default.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-disabled.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-no-timeout.replay.yaml
  tests/gold_tests/cache/replay/negative-caching-timeout.replay.yaml
Labels: AuTest

#6520 Cleanup: Get rid of MIMEFieldWrapper from HPACK encoding
  proxy/http2/HPACK.cc
  proxy/http2/HPACK.h
  proxy/http2/unit_tests/test_HpackIndexingTable.cc
Labels: Cleanup, HTTP/2

#7426 Add command line utility to help convert remap plugin usage to ATS9.
  doc/appendices/command-line/cvtremappi.en.rst
  tools/cvtremappi
  tools/insnew
Labels: Commands

#7469 Update AuTest version update directions for pipenv
  tests/Pipfile
  tests/gold_tests/autest-site/init.cli.ext
Labels: AuTest

#7439 API to retrieve NoStore set by plugins
  include/ts/ts.h
  src/traffic_server/InkAPI.cc
Labels: TS API

#7461 Do not write to the cache if the plugin decides not to write
  proxy/http/HttpTransact.cc
Labels: HTTP

#7106 drop use of BIO_f_base64 and EVP_PKEY_new_mac_key
  plugins/experimental/access_control/Makefile.inc
  plugins/experimental/access_control/access_control.cc
  plugins/experimental/access_control/headers.cc
  plugins/experimental/access_control/unit_tests/test_utils.cc
  plugins/experimental/access_control/utils.cc
  plugins/experimental/access_control/utils.h
Labels: Plugins

#7405 Improving session cache performance
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/SSLUtils.cc
Labels: Server Session

#7481 Remove unused function ink_microseconds.
  include/tscore/ink_time.h
  src/tscore/ink_time.cc
Labels: Cleanup

#7302 Remove the queuing option from proxy.config.http.per_server.connection
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConnectionCount.cc
  proxy/http/HttpConnectionCount.h
  proxy/http/HttpSM.cc
Labels: Cleanup, Server Session

#7473 Adjust so transfer-encoding header can be treated hop-by-hop
  proxy/hdrs/HdrToken.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/h2/http2.test.py
Labels: Cache, HTTP

#7445 Add PROXY Protocol Builder
  include/tscore/ink_inet.h
  iocore/net/ProxyProtocol.cc
  iocore/net/ProxyProtocol.h
  iocore/net/unit_tests/test_ProxyProtocol.cc
Labels: Proxy Protocol

#7305 AuTest pip environment configuration: Add setuptools and wheel upgrade
  tests/bootstrap.py
Labels: AuTest

#6521 Perf: Replace casecmp with memcmp in HPACK static table lookup
  proxy/http2/HPACK.cc
Labels: HTTP/2, Performance

#7370 Update thread config tests
  tests/gold_tests/thread_config/check_threads.py
  tests/gold_tests/thread_config/gold/http_200.gold
  tests/gold_tests/thread_config/thread_100_0.test.py
  tests/gold_tests/thread_config/thread_100_1.test.py
  tests/gold_tests/thread_config/thread_100_10.test.py
  tests/gold_tests/thread_config/thread_1_0.test.py
  tests/gold_tests/thread_config/thread_1_1.test.py
  tests/gold_tests/thread_config/thread_1_10.test.py
  tests/gold_tests/thread_config/thread_2_0.test.py
  tests/gold_tests/thread_config/thread_2_1.test.py
  tests/gold_tests/thread_config/thread_2_10.test.py
  tests/gold_tests/thread_config/thread_32_0.test.py
  tests/gold_tests/thread_config/thread_32_1.test.py
  tests/gold_tests/thread_config/thread_32_10.test.py
  tests/gold_tests/thread_config/thread_config.test.py
Labels: AuTest

#7482 Add basic type aliases for std::chrono types to ink_time.h for future use.
  include/tscore/ink_time.h
Labels: Cleanup, Core

#7495 Add zlib1g-dev to Debian dependencies in README (#7303)
  README
Labels: Documentation

#7494 Fix certs used in tls related autests
  tests/gold_tests/tls/ssl/combo-signed-foo.pem
  tests/gold_tests/tls/ssl/combo.pem
  tests/gold_tests/tls/ssl/server.key
  tests/gold_tests/tls/ssl/server.pem
  tests/gold_tests/tls/ssl/signed-bar.key
  tests/gold_tests/tls/ssl/signed-bar.pem
  tests/gold_tests/tls/ssl/signed-bob-bar.pem
  tests/gold_tests/tls/ssl/signed-bob-foo.pem
  tests/gold_tests/tls/ssl/signed-foo-ec.key
  tests/gold_tests/tls/ssl/signed-foo-ec.pem
  tests/gold_tests/tls/ssl/signed-foo.key
  tests/gold_tests/tls/ssl/signed-foo.pem
  tests/gold_tests/tls/ssl/signed-san-ec.key
  tests/gold_tests/tls/ssl/signed-san-ec.pem
  tests/gold_tests/tls/ssl/signed-san.key
  tests/gold_tests/tls/ssl/signed-san.pem
  tests/gold_tests/tls/ssl/signed-wild.key
  tests/gold_tests/tls/ssl/signed-wild.pem
  tests/gold_tests/tls/ssl/signed2-bar.pem
  tests/gold_tests/tls/ssl/signed2-foo.pem
  tests/gold_tests/tls/ssl/signer.key
  tests/gold_tests/tls/ssl/signer.pem
  tests/gold_tests/tls/ssl/signer2.key
  tests/gold_tests/tls/ssl/signer2.pem
  tests/gold_tests/tls/ssl/wild-signed.pem
  tests/gold_tests/tls/ssl/wild.key
  tests/gold_tests/tls/tls_verify.test.py
Labels: AuTest

#7488 Avoid -Warray-bounds on PROXY Protocol Builder
  iocore/net/ProxyProtocol.cc
Labels: Build

#7500 Disable ja3 plugin when building with boringssl
  configure.ac
Labels: Build, Plugins

#7502 traffic_dump: AuTests to use Proxy Verifier.
  tests/gold_tests/pluginTest/traffic_dump/replay/traffic_dump.yaml
  tests/gold_tests/pluginTest/traffic_dump/replay/various_sni.yaml
  tests/gold_tests/pluginTest/traffic_dump/ssl/server_combined.pem
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump.test.py
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump_sni_filter.test.py
Labels: AuTest

#7507 Fixing DNS local_ipv* config option
  doc/admin-guide/files/records.config.en.rst
  iocore/dns/DNSConnection.cc
Labels: Core, DNS, Documentation

#7506 Fixed build issues with Fedora 34
  include/tscore/Extendible.h
  include/tscpp/util/TextView.h
Labels: Build

#7497 Fix QUIC unit test failures
  iocore/net/quic/test/test_QUICHandshakeProtocol.cc
  iocore/net/quic/test/test_QUICPacketHeaderProtector.cc
Labels: QUIC, Tests

#7496 Fix QUIC unit tests build issue on GNU ld
  iocore/net/quic/Makefile.am
Labels: Build, QUIC

#7505 Updated to build latest versions of Fedora and CentOS docker images
  ci/docker/Makefile
Labels: CI

#7490 Fix out of bounds access error in ats_base64_decode
  src/tscore/ink_base64.cc
Labels: Core

#7480 Fix spacing in clang-analyzer.sh script
  ci/jenkins/bin/clang-analyzer.sh
Labels: CI

#7515 Replace psutil.pid() with psutil.process_iter() for safer execution
  tests/gold_tests/thread_config/check_threads.py
Labels: AuTest

#7450 Move reopen_moved_log_files to log flushing thread
  proxy/logging/Log.cc
  proxy/logging/Log.h
  src/traffic_server/traffic_server.cc
  tests/gold_tests/logging/sigusr2.test.py
Labels: Logging

#7464 Upgrade Catch.hpp to v2.13.4
  iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
  plugins/experimental/slice/unit-tests/test_content_range.cc
  proxy/http2/unit_tests/test_Http2Frame.cc
  proxy/logging/unit-tests/test_LogUtils.cc
  src/tscore/unit_tests/test_Errata.cc
  src/tscore/unit_tests/test_IntrusiveHashMap.cc
  tests/include/catch.hpp
Labels: Tests

#7309 Disable client inactivity timeout while server is processing POST request
  proxy/http/HttpSM.cc
  tests/gold_tests/timeout/case-inactive1.sh
  tests/gold_tests/timeout/case-inactive2.sh
  tests/gold_tests/timeout/case-inactive3.sh
  tests/gold_tests/timeout/case-inactive4.sh
  tests/gold_tests/timeout/case-inactive5.sh
  tests/gold_tests/timeout/case-inactive6.sh
  tests/gold_tests/timeout/delay-inactive-server.sh
  tests/gold_tests/timeout/inactive_client_post_timeout.test.py
Labels: Connection Timeouts, HTTP

#7518 Updates the Dockerfile for debian
  ci/docker/deb/Dockerfile
Labels: CI

#7446 Add Outbound PROXY Protocol (v1/v2) Support
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.config.en.rst
  include/ts/apidefs.h.in
  iocore/net/I_NetVConnection.h
  iocore/net/P_NetVConnection.h
  iocore/net/SSLNetVConnection.cc
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: Proxy Protocol

#7491 Add new log field for negotiated ALPN Protocol ID with the client
  doc/admin-guide/logging/formatting.en.rst
  iocore/net/P_ALPNSupport.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/SSLNetVConnection.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/Makefile.am
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  proxy/logging/LogAccess.h
Labels: Logging, TLS

#7486 slice/server: handleFirstServerHeader exit sooner on detected requested range errors.
  plugins/experimental/slice/Range.h
  plugins/experimental/slice/server.cc
  tests/gold_tests/pluginTest/slice/slice.test.py
Labels: Crash, Plugins

#7522 Make the H3 build script work properly on Debian platforms
  tools/build_h3_tools.sh
Labels: Build, Tools

#7462 Update to the new MicroServer 1.0.6 release
  tests/Pipfile
  tests/gold_tests/h2/gold/post_chunked.gold
Labels: AuTest, Backport

#7371 Set thread mutex to the DNSHandler mutex of SplitDNS (#7321)
  iocore/dns/DNS.cc
  iocore/dns/SplitDNS.cc
Labels: Backport, v8.1.2

#7499 Move has_request_body to ProxyTransaction
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
  proxy/http3/Http3Transaction.cc
  proxy/http3/Http3Transaction.h
Labels: HTTP, HTTP/2

#7523 Makes sure the types are correct, avoiding compiler warnings
  proxy/hdrs/unit_tests/test_HdrUtils.cc
Labels: Tests

#7389 Apple Silicon macOS support
  iocore/aio/Inline.cc
  iocore/cache/Inline.cc
  iocore/dns/Inline.cc
  iocore/eventsystem/Inline.cc
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
  iocore/hostdb/Inline.cc
  iocore/net/Inline.cc
  iocore/net/test_I_UDPNet.cc
Labels: Build

#7526 Fix out of bounds access error in jtest
  tools/jtest/jtest.cc
Labels: Tools

#7465 Select lua context per thread
  plugins/lua/ts_lua.c
Labels: Lua, Plugins

#7529 Update the session reuse tests
  tests/gold_tests/tls/tls_session_cache.test.py
  tests/gold_tests/tls/tls_session_reuse.test.py
Labels: AuTest

#7534 Updating to use Proxy Verifier 2.1.0
  tests/prepare_proxy_verifier.sh
  tests/proxy-verifier-version.txt
Labels: AuTest

#7479 Origin session reuse
  doc/admin-guide/files/records.config.en.rst
  iocore/net/Makefile.am
  iocore/net/P_SSLConfig.h
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/SSLStats.cc
  iocore/net/SSLStats.h
  iocore/net/SSLUtils.cc
  mgmt/RecordsConfig.cc
  tests/gold_tests/tls/tls_origin_session_reuse.test.py
Labels: Feature, Origin Session

#7232 Fix lua_states_stats Au test.
  tests/gold_tests/pluginTest/lua/gold/lifecycle.gold
  tests/gold_tests/pluginTest/lua/gold/lifecycle.stderr.gold
  tests/gold_tests/pluginTest/lua/gold/metrics.gold
  tests/gold_tests/pluginTest/lua/gold/metrics.stdout.gold
  tests/gold_tests/pluginTest/lua/lifecycle_stats.sh
  tests/gold_tests/pluginTest/lua/lua_states_stats.test.py
  tests/gold_tests/pluginTest/lua/metrics.sh
Labels: AuTest

#7335 Unify all the connect timeouts into one
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/performance/index.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/release-notes/whats-new.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: Cleanup, Connection Timeouts, Incompatible

#7531 Remove dependency for SSL stuff from P_Net.h
  iocore/net/P_Net.h
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLDiags.cc
  iocore/net/SSLNetAccept.cc
  iocore/net/SSLNetProcessor.cc
  proxy/http/Http1ClientSession.cc
  proxy/http2/Http2ClientSession.cc
  proxy/private/SSLProxySession.cc
  src/traffic_quic/traffic_quic.cc
Labels: Cleanup

#7434 Split SSL_CTX initialization logic into small functions
  iocore/net/P_SSLUtils.h
  iocore/net/QUICMultiCertConfigLoader.cc
  iocore/net/QUICMultiCertConfigLoader.h
  iocore/net/SSLUtils.cc
Labels: Cleanup, TLS

#7541 Fix tls_session_reuse test
  tests/gold_tests/tls/tls_session_reuse.test.py
Labels: AuTest

#7539 Fix the schedule AuTest for 9.1.x: use PrepareTestPlugin
  tests/gold_tests/cont_schedule/schedule.test.py
Labels: AuTest

#7542 Fix origin_session_reuse test
  tests/gold_tests/tls/tls_origin_session_reuse.test.py
Labels: AuTest

#7281 Make s3_auth plugin auto reload the config at expiration time
  plugins/s3_auth/s3_auth.cc
Labels: Plugins

#7532 Fix asserts in multiplexer plugin.
  plugins/multiplexer/dispatch.cc
  plugins/multiplexer/dispatch.h
  plugins/multiplexer/original-request.cc
Labels: Cleanup, Plugins

#7549 Release Notes update on HTTP/2 disabling in v9.x
  doc/release-notes/upgrading.en.rst
Labels: Configuration, HTTP/2

#7550 Fix ja3_fingerprint configure syntax
  configure.ac
Labels: Build

#7535 Convert the inactive_client_timeout test to use Proxy Verifier
  tests/gold_tests/timeout/case-inactive1.sh
  tests/gold_tests/timeout/case-inactive2.sh
  tests/gold_tests/timeout/case-inactive3.sh
  tests/gold_tests/timeout/case-inactive4.sh
  tests/gold_tests/timeout/case-inactive5.sh
  tests/gold_tests/timeout/case-inactive6.sh
  tests/gold_tests/timeout/delay-inactive-server.sh
  tests/gold_tests/timeout/inactive_client_post_timeout.test.py
  tests/gold_tests/timeout/inactive_client_timeout.test.py
  tests/gold_tests/timeout/slow_server.yaml
Labels: AuTest

#7551 Removes the test plugins from the .spec file / RPM
  tools/package/trafficserver.spec
Labels: Build

#7543 Fix a crash on origin session reuse
  iocore/net/SSLUtils.cc
Labels: TLS

#7533 Add server_name option to proxy.config.ssl.client.sni_policy
  doc/admin-guide/files/records.config.en.rst
  proxy/http/HttpSM.cc
  tests/gold_tests/tls/tls_verify_override_base.test.py
Labels: TLS

#7511 Add ALPN support on TLS Partial Blind Tunnel
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  lib/records/I_RecHttp.h
  lib/records/RecHttp.cc
  proxy/http/HttpSM.cc
Labels: Feature, TLS

#7552 Use SSL_CTX address as part of the lookup key
  iocore/net/P_SSLUtils.h
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLUtils.cc
  tests/gold_tests/tls/tls_origin_session_reuse.test.py
Labels: Origin Session

#7558 Fix parent.config timeouts to return a 504 not 502 on timeout
  proxy/http/HttpTransact.cc
Labels: 9.1.0, Bug, Parent Proxy

#7559 Check verify policy and properties
  iocore/net/P_SSLUtils.h
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLUtils.cc
Labels: Origin Session

#7519 Change cookie_remap plugin to allow use of pre-remap URL (and components).
  doc/admin-guide/plugins/cookie_remap.en.rst
  plugins/experimental/cookie_remap/cookie_remap.cc
  tests/gold_tests/pluginTest/cookie_remap/configs/pcollapseconfig.txt
  tests/gold_tests/pluginTest/cookie_remap/configs/psubstituteconfig.txt
  tests/gold_tests/pluginTest/cookie_remap/gold/psubstitute.gold
  tests/gold_tests/pluginTest/cookie_remap/pcollapseslashes.test.py
  tests/gold_tests/pluginTest/cookie_remap/psubstitute.test.py
Labels: Plugins

#7560 Adding lower_ support to stats and bonding_slave data points for port status
  plugins/experimental/system_stats/system_stats.c
Labels: Plugins

#7545 For TSHttpHdrEffectiveUrlBufGet(), include scheme for request to server URL.
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
  proxy/http/remap/NextHopConsistentHash.cc
  src/traffic_server/InkAPI.cc
  tests/gold_tests/pluginTest/tsapi/log.gold
Labels: Bug, TS API

#7553 Get rid of kruft LogObject copy constructor.
  proxy/logging/LogObject.cc
  proxy/logging/LogObject.h
Labels: Cleanup, Logging

#7485 PR to prevent thundering parent retries.
  doc/admin-guide/files/records.config.en.rst
  include/tscore/ConsistentHash.h
  mgmt/RecordsConfig.cc
  proxy/ParentConsistentHash.cc
  proxy/ParentRoundRobin.cc
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
  proxy/ParentSelectionStrategy.cc
  proxy/http/HttpTransact.cc
  proxy/http/remap/NextHopSelectionStrategy.h
Labels: Parent Proxy

#7547 Removes deprecated sni.yaml option: disable_h2
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
Labels: Incompatible

#7565 Remove unused enums from YamlSNIConfig struct.
  iocore/net/YamlSNIConfig.h
Labels: Cleanup, Configuration
