Repository apache/trafficserver, pull requests merged in 2021-05, with the labels that each got.

#7748 Remove proxy.config.http.down_server.abort_threshold
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/release-notes/upgrading.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  src/shared/overridable_txn_vars.cc
Labels: Configuration, Incompatible, Server Session

#7764 Experimental Cache fill plugin (#7470)
  doc/admin-guide/plugins/cache_fill.en.rst
  doc/admin-guide/plugins/index.en.rst
  plugins/Makefile.am
  plugins/experimental/cache_fill/Makefile.inc
  plugins/experimental/cache_fill/background_fetch.cc
  plugins/experimental/cache_fill/background_fetch.h
  plugins/experimental/cache_fill/cache_fill.cc
Labels: Backport, Plugins

#7766 Clean up HTTP version processing
  include/tscore/HTTPVersion.h
  iocore/hostdb/I_HostDBProcessor.h
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/HttpTransactHeaders.cc
  proxy/logging/LogAccess.cc
  src/traffic_server/InkAPI.cc
Labels: HTTP

#7770 Elevate privileges for traffic_manager during SSL cert reload
  src/traffic_manager/AddConfigFilesHere.cc
Labels: Configuration, Manager, SSL

#7775 Test: add nameserver to regex_remap test.
  tests/gold_tests/pluginTest/regex_remap/regex_remap.test.py
Labels: AuTest, Cleanup, Tests

#7779 Test: add nameserver to log-field test.
  tests/gold_tests/logging/log-field.test.py
Labels: AuTest, Cleanup, Tests

#7777 BWF: Add support for std::error_code.
  include/tscore/bwf_std_format.h
  src/tscore/BufferWriterFormat.cc
Labels: Core

#7776 Test: add nameserver to log-filter test.
  tests/gold_tests/logging/log-filter.test.py
Labels: AuTest, Cleanup, Tests

#7774 Test: update tls_forward_nonhttp to have a nameserver.
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
Labels: AuTest, Cleanup, Tests

#7773 Test: Update tls_partial_blind_tunnel to have a nameserver.
  tests/gold_tests/tls/tls_partial_blind_tunnel.test.py
Labels: AuTest, Cleanup, Tests

#7762 Add traffic_server command line option for debugging in Au test.
  src/traffic_server/traffic_server.cc
  tests/gold_tests/autest-site/trafficserver.test.ext
Labels: Debug

#7771 Headerrewrite tcpinfo cherry pick
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/developer-guide/api/functions/TSHttpTxnServerSsnTransactionCount.en.rst
  include/ts/ts.h
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/parser.cc
  plugins/header_rewrite/resources.cc
  plugins/header_rewrite/statement.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite_cond_ssn_txn_count.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_cond_ssn_txn_count.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_set_header_after_ssn_txn_count.conf
Labels: Backport, Plugins

#7753 Make when_to_revalidate setting available on HTTPS
  proxy/http/HttpTransact.cc
Labels: Bug, Configuration, HTTP

#7736 Augment test cases for tls_verify_override test
  tests/gold_tests/tls/tls_verify_override.test.py
Labels: AuTest

#7540 Remove extra verify-callback
  iocore/net/SSLClientUtils.cc
  tests/gold_tests/tls/tls_client_cert_override.test.py
  tests/gold_tests/tls/tls_verify_override.test.py
  tests/gold_tests/tls/tls_verify_override_base.test.py
Labels: Cleanup

#7778 DNS: Clean up argument passing to DNS queries.
  iocore/dns/DNS.cc
  iocore/dns/I_DNSProcessor.h
  iocore/dns/P_DNSProcessor.h
Labels: Cleanup, DNS

#7782 Short circuit remap reload when a valid remap file is not specified
  proxy/ReverseProxy.cc
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/UrlRewrite.cc
Labels: Configuration, remap

#7772 Apply log throttling to HTTP/2 session error rate messages
  proxy/http2/Http2ClientSession.cc
Labels: HTTP/2, Logging

#7787 Fixes an issue where next hop unit tests crash when run on macOS.
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
  proxy/http/remap/unit-tests/nexthop_test_stubs.cc
  proxy/http/remap/unit-tests/nexthop_test_stubs.h
Labels: 9.1.0, Bug

#7758 Traffic Dump: Add an HTTP/3 AuTest
  tests/gold_tests/autest-site/verifier_client.test.ext
  tests/gold_tests/autest-site/verifier_server.test.ext
  tests/gold_tests/pluginTest/traffic_dump/replay/http3.yaml
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump_http3.test.py
Labels: AuTest, HTTP/3, QUIC

#7783 Adds new TS API TSHttpTxnCacheDiskPathGet
  include/ts/ts.h
  iocore/cache/I_Cache.h
  iocore/cache/P_CacheInternal.h
  proxy/http/HttpCacheSM.h
  src/traffic_server/InkAPI.cc
Labels: TS API

#7805 Doc: tcpinfo plugin table formatting
  doc/admin-guide/plugins/tcpinfo.en.rst
Labels: Documentation

#7781 doc: header_rewrite random function not inclusive (backport #7760)
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Backport, Documentation

#7792 Fix to cookie_remap.cc to avoid Intel compiler warning.
  plugins/experimental/cookie_remap/cookie_remap.cc
Labels: Cleanup, easy review brownie points

#7790 Fix MLoc assert caused by s3auth
  plugins/s3_auth/s3_auth.cc
Labels: Crash, Plugins

#7802 SSL Cert lookup using PP dest ip when ProxyProtocol is enabled
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
Labels: Proxy Protocol, SSL

#7811 Remove a redundant argument
  proxy/http/HttpSM.cc
  proxy/http/HttpSessionManager.cc
  proxy/http/HttpSessionManager.h
Labels: Cleanup

#7816 Update HTTP version info in HostDB on new outbound connection
  include/tscore/HTTPVersion.h
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http3/Http3Session.cc
  proxy/http3/Http3Session.h
Labels: Server Session

#7808 Fix origin session related crashes
  doc/admin-guide/monitoring/statistics/core/ssl.en.rst
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/SSLStats.cc
  iocore/net/SSLStats.h
  iocore/net/SSLUtils.cc
  iocore/net/TLSSessionResumptionSupport.cc
  iocore/net/TLSSessionResumptionSupport.h
Labels: Crash, Origin Session

#7804 NetEvent cleanup - replace #define with constexpr
  iocore/net/NetEvent.h
  iocore/net/UnixNetVConnection.cc
Labels: Cleanup

#7825 Eliminate next dup call using stale mime field mloc in s3_auth plugin.
  plugins/s3_auth/s3_auth.cc
Labels: Bug, Plugins, easy review brownie points

#7814 Cleanup: Remove a meaningless Http2Stream::do_io_close() call
  proxy/http2/Http2Stream.cc
Labels: Cleanup, HTTP/2

#7815 Cancel cross_thread_event on clear_io_events
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#7812 Cleanup: unused functions of Http2ClientSession
  proxy/http2/Http2ClientSession.h
Labels: Cleanup, HTTP/2

#7813 Cleanup: Remove unused members of Http2Stream
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: Cleanup, HTTP/2

#7784 Adds new X-Cache-Info header to the xdebug plugin
  plugins/xdebug/xdebug.cc
  proxy/http/HttpCacheSM.h
  tests/gold_tests/pluginTest/xdebug/x_cache_info/none.in
  tests/gold_tests/pluginTest/xdebug/x_cache_info/one.in
  tests/gold_tests/pluginTest/xdebug/x_cache_info/out.gold
  tests/gold_tests/pluginTest/xdebug/x_cache_info/three.in
  tests/gold_tests/pluginTest/xdebug/x_cache_info/two.in
  tests/gold_tests/pluginTest/xdebug/x_cache_info/x_cache_info.test.py
Labels: Plugins

#7829 Apply fmt compile time argument checking to log functions
  include/ts/apidefs.h.in
  include/tscore/HTTPVersion.h
  include/tscore/LogMessage.h
  include/tscore/ink_apidefs.h
  proxy/http/HttpTransact.cc
Labels: Logging

#7834 AuTest: use exteneded help output to determine curl feature support
  tests/gold_tests/autest-site/conditions.test.ext
Labels: AuTest

#7835 Remove unused member from HttpSM
  proxy/http/HttpSM.h
Labels: Cleanup

#7831 Fix stall on sending response for request with trailer header
  proxy/http2/Http2Stream.cc
  tests/gold_tests/h2/gold/nghttp_0_stdout.gold
  tests/gold_tests/h2/nghttp.test.py
Labels: HTTP/2

#7830 Fix a format specifier for size_t
  proxy/http/HttpSessionManager.cc
Labels: Logging

#7828 Fix so EOS are delivered to sessions in the pool
  proxy/PoolableSession.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/HttpSessionManager.cc
Labels: Server Session

#7807 Address assert on captive_action
  proxy/http/HttpCacheSM.cc
  proxy/http/HttpCacheSM.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
Labels: Crash

#7836 build_h3_tools: use OpenSSL_1_1_1k+quic
  tools/build_h3_tools.sh
Labels: HTTP/3, QUIC

#7833 Don't call next next dup on destroyed mime field mloc.
  plugins/background_fetch/headers.cc
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/experimental/access_control/headers.cc
  plugins/experimental/cache_fill/background_fetch.cc
  plugins/header_rewrite/operators.cc
  plugins/prefetch/headers.cc
Labels: Bug, Plugins

#7840 Fixed warning in gcc 11 about array not being initalized
  src/tscore/Regex.cc
Labels: Build

#7599 Get rid of code for OpenSSL that has old QUIC API
  configure.ac
  iocore/net/quic/Makefile.am
  iocore/net/quic/QUICKeyGenerator_legacy.cc
  iocore/net/quic/QUICPacketHeaderProtector_legacy.cc
  iocore/net/quic/QUICPacketPayloadProtector_legacy.cc
  iocore/net/quic/QUICTLS_legacy.cc
Labels: Cleanup, QUIC

#7847 Fixed double declaration types for log buffer tracking
  proxy/logging/LogBuffer.h
Labels: Bug, Logging

#7635 generator: allow for POST requests
  doc/admin-guide/plugins/generator.en.rst
  plugins/generator/generator.cc
Labels: Plugins

#7837 Update NextHop strategies so that unavailable server retry codes are configurable.
  doc/admin-guide/files/strategies.yaml.en.rst
  proxy/http/HttpTransact.cc
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
  proxy/http/remap/unit-tests/combined.yaml
  proxy/http/remap/unit-tests/test_NextHopStrategyFactory.cc
Labels: 9.1.0, Parent Proxy

#7657 Add proxy.config.http.max_proxy_cycles
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpTransact.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: 9.1.0, HttpSM

#7821 Add method to write an IpAddr value to a sockaddr.
  include/tscore/ink_inet.h
  src/tscore/ink_inet.cc
Labels: Core

#7809 Save and propagate epoll network error
  iocore/net/NetEvent.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetVConnection.cc
Labels: Network, Origin Session

#7844 Clean up lua plugin doc for overridable configurations
  doc/admin-guide/plugins/lua.en.rst
Labels: Documentation

#7841 Unifdef test code for MMH and moved it into its own test file
  include/tscore/MMH.h
  src/tscore/MMH.cc
  src/tscore/Makefile.am
  src/tscore/unit_tests/test_MMH.cc
Labels: cache-tests

#7858 Adds a new --enable-all-asserts configure option
  configure.ac
  include/tscore/ink_assert.h
Labels: Build, Debug

#7822 Add URI Signing cdnistd Claim Implementation
  plugins/experimental/uri_signing/README.md
  plugins/experimental/uri_signing/jwt.c
  plugins/experimental/uri_signing/jwt.h
  plugins/experimental/uri_signing/python_signer/README.md
  plugins/experimental/uri_signing/python_signer/example_config.json
  plugins/experimental/uri_signing/python_signer/uri_signer.py
  plugins/experimental/uri_signing/unit_tests/uri_signing_test.cc
  plugins/experimental/uri_signing/uri_signing.c
Labels: Plugins

#7857 Update bootstrap autest version to match the rest of autest
  tests/bootstrap.py
Labels: AuTest

#7860 Eliminate next dup call using stale mime field mloc is s3_auth plugin (#7825)
  plugins/s3_auth/s3_auth.cc
Labels: Backport

#7861 Don't call next next dup on destroyed mime field mloc. (#7833)
  plugins/background_fetch/headers.cc
  plugins/experimental/access_control/headers.cc
  plugins/experimental/cache_fill/background_fetch.cc
  plugins/experimental/cache_range_requests/cache_range_requests.cc
  plugins/experimental/prefetch/headers.cc
  plugins/header_rewrite/operators.cc
Labels: Backport

#7854 Cleanup: Move member functions defined inside of class definitions of Http2ConnectionState & Http2ConnectionSettings
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: Cleanup, HTTP/2

#7868 Fixed ASAN issues with MMH test
  src/tscore/unit_tests/test_MMH.cc
Labels: ASAN, Tests

#7869 Fixed some spelling mistakes in comments
  proxy/hdrs/HTTP.h
Labels: Cleanup

#7853 Cleanup: refer Http2ClientSession::mutex
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2Stream.cc
Labels: Cleanup, HTTP/2

#7862 Do not delete the continuation twice
  plugins/background_fetch/background_fetch.cc
Labels: Plugins

#7875 Restrict HTTP versions allowed on the HTTP request line
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
Labels: HTTP

#7876 Cleanup Http2ClientSession SessionHandler
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
Labels: Cleanup

#7586 Fix crash in open_close_h2
  proxy/http/HttpSM.cc
  proxy/http2/Http2Stream.cc
Labels: AuTest, Crash, HTTP/2

#7881 slice: add in throttle by default code which includes a serious bug t…
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/Data.cc
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/slice/transfer.cc
  plugins/experimental/slice/util.cc
Labels: Plugins

#7889 Fix crash in open_close_h2 (#7586)
  proxy/http/HttpSM.cc
  proxy/http2/Http2Stream.cc
Labels: Backport, HTTP/2

#7386 Clean up producer more regularly
  proxy/http/HttpTunnel.cc
Labels: HTTP

#7867 Redirect - Make TS to honour the number_of_redirections configuration.
  proxy/http/HttpSM.cc
  tests/gold_tests/redirect/gold/number_of_redirections_0.gold
  tests/gold_tests/redirect/gold/number_of_redirections_1.gold
  tests/gold_tests/redirect/gold/number_of_redirections_2.gold
  tests/gold_tests/redirect/number_of_redirects.test.py
  tests/gold_tests/redirect/replay/redirect_srv1_replay.yaml
  tests/gold_tests/redirect/replay/redirect_srv2_replay.yaml
  tests/gold_tests/redirect/replay/redirect_srv3_replay.yaml
Labels: HTTP

#7898 docs: fix capitalization of Linux
  doc/admin-guide/files/records.config.en.rst
Labels: Cleanup, Documentation

#7899 add MISS capability to the regex_revalidate plugin
  doc/admin-guide/plugins/regex_revalidate.en.rst
  plugins/regex_revalidate/regex_revalidate.c
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_miss.test.py
Labels: Plugins

#7896 Fixed spelling mistakes in the docs
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/remap.config.en.rst
  doc/admin-guide/plugins/background_fetch.en.rst
  doc/admin-guide/plugins/cachekey.en.rst
  doc/admin-guide/plugins/geoip_acl.en.rst
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/appendices/command-line/traffic_top.en.rst
  doc/appendices/glossary.en.rst
  doc/developer-guide/api/functions/TSClientProtocolStack.en.rst
  doc/developer-guide/api/functions/TSHttpTxnReenable.en.rst
  doc/developer-guide/api/functions/TSLifecycleHookAdd.en.rst
  doc/developer-guide/api/functions/TSTypes.en.rst
  doc/developer-guide/api/functions/TSVConnReenable.en.rst
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/core-architecture/heap.en.rst
  doc/developer-guide/documentation/building.en.rst
  doc/developer-guide/documentation/ts-markup.en.rst
  doc/developer-guide/internal-libraries/buffer-writer.en.rst
  doc/developer-guide/plugins/example-plugins/denylist/setting-up-a-transaction-hook.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/http-alternate-selection.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/http-sessions.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/trafficserver-timers.en.rst
  doc/developer-guide/plugins/http-transformations/index.en.rst
  doc/developer-guide/plugins/http-transformations/sample-null-transformation-plugin.en.rst
  doc/developer-guide/plugins/mutexes.en.rst
  doc/developer-guide/release-process/index.en.rst
  doc/developer-guide/threads-and-events.en.rst
Labels: Documentation
