Repository apache/trafficserver, pull requests merged in 2021-09, with the labels that each got.

#8298 Update nghttp gold file based on previous h2 fix
  tests/gold_tests/h2/gold/nghttp_1_stdout.gold
Labels: AuTest

#8296 Make port queue an ordered set
  tests/gold_tests/autest-site/ordered_set_queue.py
  tests/gold_tests/autest-site/ports.py
Labels: AuTest

#8300 Revert "autest: double the initial port pool for get_port (#8292)"
  tests/gold_tests/autest-site/ports.py
Labels: AuTest

#8308 Truly treat multiple certs with the same SAN as a warning (#8303)
  iocore/net/SSLUtils.cc
Labels: Backport

#8312 Fix corner cases in rate limiting plugin
  plugins/experimental/rate_limit/sni_limiter.cc
  plugins/experimental/rate_limit/utilities.cc
Labels: Plugins

#7925 For strategies.yaml, add peering_ring with go_direct, and Au tests for peering_ring.
  doc/admin-guide/files/strategies.yaml.en.rst
  proxy/http/remap/NextHopConsistentHash.cc
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
  proxy/http/remap/unit-tests/peering.yaml
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
  tests/gold_tests/next_hop/zzz_strategies_peer/body.gold
  tests/gold_tests/next_hop/zzz_strategies_peer/trace.gold
  tests/gold_tests/next_hop/zzz_strategies_peer/zzz_strategies_peer.test.py
  tests/gold_tests/next_hop/zzz_strategies_peer2/body.gold
  tests/gold_tests/next_hop/zzz_strategies_peer2/trace.gold
  tests/gold_tests/next_hop/zzz_strategies_peer2/zzz_strategies_peer2.test.py
Labels: Parent Proxy

#8315 doc: Fixes curl syntax for PUSH example
  doc/admin-guide/storage/index.en.rst
Labels: Documentation

#8307 statichit: allow exact path matching to be optional
  plugins/experimental/statichit/statichit.cc
Labels: Plugins

#8310 Fix a compile error in rate_limit plugin
  plugins/experimental/rate_limit/limiter.h
Labels: Plugins, Build

#8309 Fix a compile error in SSLCertLookup
  iocore/net/SSLCertLookup.cc
Labels: Build, TLS

#8306 Fix crash during raw connect failures
  proxy/http/HttpSM.cc
Labels: HttpSM

#8319 Fix yamlcpp include folder by using the YAMLCPP_INCLUDE variable
  mgmt/Makefile.am
  proxy/Makefile.am
Labels: YAML

#8237 Cleanup url_*_get/set functions
  iocore/net/Makefile.am
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
  proxy/hdrs/unit_tests/test_HdrHeap.cc
  proxy/http2/HTTP2.cc
  src/traffic_server/InkAPI.cc
Labels: Cleanup

#8320 Add virtual destructor to Http2CommonSession because it now has virtual methods.
  proxy/http2/Http2CommonSession.h
Labels: Cleanup

#8322 Removed unused dirname from LoadRefCountCacheFromPath
  iocore/hostdb/HostDB.cc
  iocore/hostdb/P_RefCountCache.h
  iocore/hostdb/test_RefCountCache.cc
Labels: Cleanup

#8314 Add mTLS scenario documentation
  doc/admin-guide/security/index.en.rst
  doc/admin-guide/security/mtls.en.rst
Labels: TLS, Documentation

#8324 Cleanup: Move member function definitions of HttpSM & HttpTunnel
  proxy/http/HttpSM.h
  proxy/http/HttpTunnel.h
Labels: Cleanup

#8301 Make separate read and write vc_handlers
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
Labels: HttpSM

#8332 docs: Update host_sni_policy for some behaviors
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  tests/gold_tests/tls/tls_sni_host_policy.test.py
Labels: TLS, Documentation

#8336 Updated the CODEOWNERS for me
  .vscode/c_cpp_properties.json
  CODEOWNERS
Labels: Tools

#8339 Update age in header_rewrite_cond_cache autest
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite_cond_cache.gold
Labels: AuTest

#8327 Make fqdn of sni.yaml case insensitive.
  iocore/net/P_SSLSNI.h
  proxy/http/HttpSM.cc
  tests/gold_tests/tls/tls_sni_host_policy.test.py
Labels: TLS

#8325 Doc: multiplixer plugin documentation updates
  doc/admin-guide/plugins/multiplexer.en.rst
Labels: Plugins, Documentation

#8341 Revert "Fixed issue with macOS Catalina and pcre 8.43 enabling pcre-jit (#6189)
  src/tscore/Regex.cc
Labels: Build, macOS

#8326 SNI: updating SNI/hostname mismatch logging
  proxy/http/HttpSM.cc
  tests/gold_tests/tls/tls_sni_host_policy.test.py
Labels: Logging, TLS

#8323 Add current active SNI Routing Tunnel stats
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/statistics/core/ssl.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
Labels: TLS, Metrics

#8345 Add <limits> include to BufferWriterForward.h
  include/tscore/BufferWriterForward.h
Labels: Build

#8347 Add <limits> include to BufferWriterForward.h (#8345)
  include/tscore/BufferWriterForward.h
Labels: Build, Backport

#8348 remove unused RecConfigFileEntry from RecConfigParse
  lib/records/RecConfigParse.cc
Labels: Leak

#8343 Rename outbound_conntrack to global_outbound_conntrack to reduce confusion.
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
Labels: Configuration, Cleanup, HttpSM

#8353 remove unused RecConfigFileEntry struct
  lib/records/P_RecDefs.h
Labels: Cleanup

#8268 Avoid chunking in the post redirect case
  proxy/http/HttpSM.cc
Labels: HttpSM

#8299 AuTest: Use OrderedSetQueue for port selection.
  tests/gold_tests/autest-site/ordered_set_queue.py
  tests/gold_tests/autest-site/ports.py
Labels: Backport, AuTest

#8357 test_MMH: fix memory leak in unit test
  src/tscore/unit_tests/test_MMH.cc
Labels: Tests, Leak

#8356 free sessions when timeout
  iocore/net/TLSSessionResumptionSupport.cc
Labels: Server Session

#8360 Stabilize regex_revalidate Au test.
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate.test.py
Labels: AuTest

#8358 Locking around SSLSecret::secret_map access
  iocore/net/P_SSLSecret.h
  iocore/net/SSLSecret.cc
Labels: TLS

#8330 Fix origin session cache double free
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLClientUtils.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/TLSSessionResumptionSupport.cc
Labels: TLS, Origin Session

#8344 [doc] Add a note for TSLifecycleHookAdd.
  doc/developer-guide/api/functions/TSContScheduleOnPool.en.rst
Labels: Documentation

#8364 Added support for verifying cacheability before attempting to force an object into cache.
  doc/admin-guide/plugins/cache_range_requests.en.rst
  plugins/cache_range_requests/README.md
  plugins/cache_range_requests/cache_range_requests.cc
Labels: Plugins
