Repository apache/trafficserver, pull requests merged in 2021-11, with the labels that each got.

#8483 ssl_secret debug printing: print only the first 50 bytes
  iocore/net/SSLSecret.cc
Labels: Logging, TLS, Feature

#8482 Update control mechanism changes in lua plugin documentation
  doc/admin-guide/plugins/lua.en.rst
Labels: Plugins, Documentation

#8449 Add AuTest for HTTP CONNECT
  tests/gold_tests/connect/connect.test.py
  tests/gold_tests/connect/gold/connect_0_stderr.gold
  tests/gold_tests/connect/gold/connect_access.gold
Labels: HTTP, AuTest

#8468 Tweak MimeHdr::get_host_port_values to not run over the end of the TextView
  proxy/hdrs/MIME.cc
  src/tscpp/util/unit_tests/test_TextView.cc
Labels: Cleanup

#8485 Adding a forward proxy AuTest.
  tests/gold_tests/forward_proxy/forward_proxy.replay.yaml
  tests/gold_tests/forward_proxy/forward_proxy.test.py
Labels: HTTP, AuTest

#8491 Fix wording for jemalloc autoconf
  build/jemalloc.m4
  build/tcmalloc.m4
Labels: Build, JeMalloc

#8489 Better TLS Secrets Truncation.
  iocore/net/SSLSecret.cc
Labels: Logging, TLS, Cleanup

#8493 clang 13: Removed unused variable
  iocore/net/UnixUDPNet.cc
Labels: Build

#8480 Update HostDBContinuation timeout handling to clear pending queue.
  iocore/hostdb/HostDB.cc
Labels: HostDB

#8477 Define TS_HTTP_VALUE_BROTLI and TS_HTTP_LEN_BROTLI
  include/ts/apidefs.h.in
  plugins/compress/compress.cc
  plugins/stats_over_http/stats_over_http.c
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/hdrs/HdrToken.cc
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  src/traffic_server/InkAPI.cc
Labels: TS API

#8497 Block TS startup if configured body factory directory does not exist.
  proxy/http/HttpBodyFactory.cc
Labels: Configuration, easy review brownie points

#8467 Move MIME field iterator from MIMEHdr to MIMEHdrImpl
  proxy/hdrs/MIME.h
Labels: Cleanup

#8321 Remove dir_token, since it is never set
  iocore/cache/CacheDir.cc
  iocore/cache/P_CacheDir.h
Labels: Cache, Cleanup

#8080 Fix length bug in validate_unmapped_url_path
  proxy/logging/LogAccess.cc
Labels: Logging

#8479 UnixNetVConnection: add check for nh in fail block
  iocore/net/UnixNetVConnection.cc
Labels: Crash

#8494 clang 13: Added default assignment operator
  include/tscore/Extendible.h
Labels: Build

#8473 Serve stale content from child if parent returns invalid/marked down
  proxy/http/HttpTransact.cc
  tests/gold_tests/proxy_protocol/gold/proxy_serve_stale.gold
  tests/gold_tests/proxy_protocol/proxy_serve_stale.test.py
Labels: HTTP, Parent Proxy

#8502 build: fix detection of boringocsp
  build/boringocsp.m4
Labels: Build

#8505 url_sig: fix bad cast to pointer of different type
  plugins/experimental/url_sig/url_sig.c
Labels: Plugins

#8498 Use shared pointer to help with high memory utilization
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLSessionCache.h
  iocore/net/TLSSessionResumptionSupport.cc
  iocore/net/TLSSessionResumptionSupport.h
Labels: TLS, Origin Session

#8510 url_sig: fix bad cast to pointer of different type
  plugins/experimental/url_sig/url_sig.c
Labels: Plugins, v8.1.2

#8509 Marks tls_engine test as OpenSSL-only
  tests/gold_tests/tls/tls_engine.test.py
Labels: Tests

#8507 Add skipped log entries to troubleshooting FAQ in docs.
  doc/appendices/faq.en.rst
Labels: Documentation

#7611 Add tries and protection against writer starvation to ink_rwlock.
  include/tscore/ink_rwlock.h
  include/tscpp/util/Makefile.am
  include/tscpp/util/TsSharedMutex.h
  plugins/s3_auth/s3_auth.cc
Labels: Core

#8501 Improve option processing in cache promote
  plugins/cache_promote/configs.cc
  plugins/cache_promote/policy_manager.cc
Labels: Plugins, Bug

#8517 Remove commented out EventProcessor::eventthread
  iocore/eventsystem/I_EventProcessor.h
Labels: Cleanup

#8516 Change event loop to be cleaner.
  iocore/eventsystem/UnixEThread.cc
Labels: Cleanup

#8504 Change TSMimeHdrFieldNext to use field iterators for better performance.
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  src/traffic_server/InkAPI.cc
Labels: Cleanup, Performance

#8518 Add 5xx's to be allowed to be used for simple retries
  doc/admin-guide/files/parent.config.en.rst
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
  proxy/http/HttpTransact.cc
Labels: Parent Proxy

#8515 Prevent bad ssl_multicert.config load from being swapped in
  iocore/net/SSLConfig.cc
Labels: Configuration, Bug, SSL

#8508 Makes proxy_serve_stale version independent
  tests/gold_tests/proxy_protocol/gold/proxy_serve_stale.gold
Labels: Tests, AuTest

#8506 Add proxy.config.http2.stream_error_sampling_threshold
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#8521 Remove unused RemapPlugins::_hh_ptr
  proxy/http/remap/RemapPlugins.h
Labels: Cleanup, remap

#8522 KIWF - remove unused RemapPlugins::run_remap
  proxy/http/remap/RemapPlugins.cc
  proxy/http/remap/RemapPlugins.h
Labels: Cleanup, remap

#8523 url_sig: change cleanup msg from TSError to TSDebug
  plugins/experimental/url_sig/url_sig.c
Labels: Plugins

#8375 Add a set-http-cntl operator for header_rewrite
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
  plugins/header_rewrite/parser.h
Labels: Plugins, TS API

#8513 For test async_engine, export all symbols
  tests/tools/plugins/Makefile.inc
Labels: Backport

#8512 AuTest: address various permissions issues
  plugins/esi/combo_handler.cc
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/pluginTest/combo_handler/combo_handler.test.py
  tests/gold_tests/pluginTest/combo_handler/ctwl.txt
  tests/gold_tests/pluginTest/lua/lua_watermark.test.py
  tests/gold_tests/pluginTest/test_hooks/test_hooks.test.py
  tests/gold_tests/pluginTest/tsapi/tsapi.test.py
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
  tests/gold_tests/runroot/runroot_manager.test.py
  tests/gold_tests/tls/tls_client_verify3.test.py
Labels: Backport

#8530 Enable GitHub wiki for trafficserver
  .asf.yaml
Labels: GitHub

#8525 Remove unused function "ats_mallopt"
  include/tscore/ink_memory.h
  src/tscore/ink_memory.cc
Labels: Cleanup

#8520 Extend milestone api time tracking to remap.
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/remap/RemapPlugins.cc
Labels: Metrics

#8531 Destroy ssl context after use.
  doc/developer-guide/api/functions/TSSslClientContext.en.rst
  plugins/experimental/cert_reporting_tool/cert_reporting_tool.cc
Labels: Plugins, SSL

#8532 Adds autest to test error cases loading ssl_multicert.config
  tests/gold_tests/tls/ssl_multicert_loader.test.py
Labels: Tests, SSL

#8537 docs: fix fedora install notes and spelling issues
  doc/admin-guide/files/records.config.en.rst
  doc/conf.py
  doc/developer-guide/api/functions/TSHttpTxnPostBufferReaderGet.en.rst
  doc/getting-started/index.en.rst
Labels: Documentation

#8524 Set an appropriate callback function for OpenSSL 3
  iocore/net/SSLUtils.cc
Labels: TLS, Crash

#8526 Add a knob to enable kTLS
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_SSLConfig.h
  iocore/net/P_SSLUtils.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  mgmt/RecordsConfig.cc
Labels: TLS

#8541 Eliminate unused code in LogObject.
  proxy/logging/LogObject.cc
  proxy/logging/LogObject.h
Labels: Logging, Cleanup
