Repository apache/trafficserver, pull requests merged in 2021-01, with the labels that each got.

#7393 Add compression support to stats_over_http
  plugins/stats_over_http/Makefile.inc
  plugins/stats_over_http/stats_over_http.c
Labels: Plugins

#7409 Fix clang compiler complaint about an unused parameter in SNIAction.
  iocore/net/P_SNIActionPerformer.h
Labels: Build

#7387 API - Add new api function TSHttpTxnServerSsnTransactionCount()
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/developer-guide/api/functions/TSHttpTxnServerSsnTransactionCount.en.rst
  include/ts/ts.h
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite_cond_ssn_txn_count.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_cond_ssn_txn_count.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_set_header_after_ssn_txn_count.conf
Labels: AuTest, Documentation, Plugins, TS API, Tests

#7364 traffic_ctl - plugin msg now require only the tag as mandatory field data field is now optional.
  doc/appendices/command-line/traffic_ctl.en.rst
  example/plugins/c-api/lifecycle_plugin/lifecycle_plugin.c
  plugins/experimental/header_freq/header_freq.cc
  plugins/experimental/memory_profile/memory_profile.cc
  plugins/experimental/traffic_dump/traffic_dump.cc
  src/traffic_ctl/plugin.cc
  src/traffic_ctl/traffic_ctl.cc
Labels: Plugins

#7399 Make places to bind/unbind SSL object with/from NetVC
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
Labels: Cleanup, TLS

#7413 Improvement to lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua_fetch.c
  plugins/lua/ts_lua_http.c
  plugins/lua/ts_lua_mgmt.c
Labels: Lua, Plugins

#7257 slice: default to throttling, fixes to manufactured 416 responses.
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/slice/transfer.cc
  plugins/experimental/slice/util.cc
Labels: Plugins

#7414 Remove the warning messages
  iocore/net/UnixNetVConnection.cc
Labels: Cleanup

#7410 Fix issue with unavailable server retry codes
  proxy/ParentSelection.cc
Labels: Parent Proxy

#7412 LGTM: Remove superfluous const qualifier in return type
  include/tscore/AtomicBit.h
  include/tscore/Extendible.h
  iocore/net/quic/QUICTypes.cc
  iocore/net/quic/QUICTypes.h
  plugins/experimental/ssl_session_reuse/src/connection.h
Labels: Cleanup, lgtm

#7332 Add unit tests for PROXY Protocol v1 parser
  .gitignore
  iocore/net/Makefile.am
  iocore/net/ProxyProtocol.cc
  iocore/net/unit_tests/test_ProxyProtocol.cc
Labels: Proxy Protocol

#7421 Change comment handling for long lines in url_sig plugin
  plugins/experimental/url_sig/url_sig.c
  tests/gold_tests/pluginTest/url_sig/url_sig.config
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
Labels: Plugins

#7427 Doc: Fix typo in negative_revalidating_lifetime
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#7429 Fix parent connect fail segfault
  proxy/http/HttpTransact.cc
Labels: Bug, Parent Proxy

#7430 Improve zlib detection logic
  build/zlib.m4
Labels: Build

#7420 Update documentation for TSSslSessionInsert
  doc/developer-guide/api/functions/TSSslSession.en.rst
Labels: Documentation, TS API

#7415 Fix the Proxy Verifier AuTest extension to handle cert paths correctly
  tests/gold_tests/autest-site/verifier_client.test.ext
  tests/gold_tests/autest-site/verifier_server.test.ext
Labels: AuTest

#7432 Fix stall on outbound TLS handshake
  proxy/http/HttpSM.cc
Labels: TLS

#7433 Fix a link error on traffic_quic command
  iocore/net/quic/QUICPacketReceiveQueue.cc
Labels: Build

#7262 Make TSUrlSchemeGet() return scheme implied by URL type when there is no explicit scheme.
  doc/developer-guide/api/functions/TSUrlHostGet.en.rst
  doc/developer-guide/plugins/http-headers/urls.en.rst
  include/ts/ts.h
  src/traffic_server/InkAPI.cc
  tests/Makefile.am
  tests/gold_tests/pluginTest/tsapi/Makefile.inc
  tests/gold_tests/pluginTest/tsapi/log.gold
  tests/gold_tests/pluginTest/tsapi/test_tsapi.cc
  tests/gold_tests/pluginTest/tsapi/tsapi.test.py
  tests/tools/plugins/Makefile.inc
  tests/tools/plugins/test_tsapi.cc
Labels: TS API

#7435 Slice: 9.0.x back port of self healing and throttle by default
  doc/admin-guide/plugins/cache_range_requests.en.rst
  doc/admin-guide/plugins/slice.en.rst
  include/ts/experimental.h
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/ContentRange.h
  plugins/experimental/slice/Data.cc
  plugins/experimental/slice/Data.h
  plugins/experimental/slice/HttpHeader.cc
  plugins/experimental/slice/HttpHeader.h
  plugins/experimental/slice/Range.h
  plugins/experimental/slice/Stage.h
  plugins/experimental/slice/client.cc
  plugins/experimental/slice/response.cc
  plugins/experimental/slice/response.h
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/slice/transfer.cc
  plugins/experimental/slice/util.cc
  src/traffic_server/InkAPI.cc
  tests/gold_tests/pluginTest/slice/curlsort.sh
  tests/gold_tests/pluginTest/slice/gold/aa.gold
  tests/gold_tests/pluginTest/slice/gold/aaa.gold
  tests/gold_tests/pluginTest/slice/gold/bb.gold
  tests/gold_tests/pluginTest/slice/gold/bbb.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_200.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_206.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_first.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_last.stdout.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stderr.gold
  tests/gold_tests/pluginTest/slice/gold/slice_mid.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/contents.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/crr.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/etag.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/lm.stdout.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stderr.gold
  tests/gold_tests/pluginTest/slice/gold_error/non206.stdout.gold
  tests/gold_tests/pluginTest/slice/slice.test.py
  tests/gold_tests/pluginTest/slice/slice_error.test.py
  tests/gold_tests/pluginTest/slice/slice_regex.test.py
  tests/gold_tests/pluginTest/slice/slice_selfhealing.test.py
Labels: Plugins

#7287 option to disable compression for range request's response
  doc/admin-guide/plugins/compress.en.rst
  plugins/compress/compress.cc
  plugins/compress/configuration.cc
  plugins/compress/configuration.h
Labels: Plugins

#6828 PoolableSession class abstracted from Http1ServerSession
  proxy/Makefile.am
  proxy/PoolableSession.h
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/Http1ClientSession.cc
  proxy/http/Http1ClientSession.h
  proxy/http/Http1ServerSession.cc
  proxy/http/Http1ServerSession.h
  proxy/http/Http1Transaction.cc
  proxy/http/Http1Transaction.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpSessionManager.cc
  proxy/http/HttpSessionManager.h
  proxy/http/HttpTransactHeaders.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.h
  proxy/http3/Http3Session.cc
  proxy/http3/Http3Session.h
  src/traffic_server/InkAPI.cc
  tests/gold_tests/continuations/session_id.test.py
Labels: Core, HTTP

#7437 Small fix to regex_remap PR # 7347.
  plugins/regex_remap/regex_remap.cc
  tests/gold_tests/pluginTest/regex_remap/gold/regex_remap_redirect.gold
  tests/gold_tests/pluginTest/regex_remap/regex_remap.test.py
Labels: Bug, Plugins

#7436 Cleanup: Remove unused members of NextHopProperty
  iocore/net/P_SSLSNI.h
  iocore/net/SSLSNIConfig.cc
Labels: Cleanup, TLS

#7340 Add Incoming PROXY Protocol v2 Support
  doc/admin-guide/configuration/proxy-protocol.en.rst
  iocore/net/ProxyProtocol.cc
  iocore/net/ProxyProtocol.h
  iocore/net/unit_tests/test_ProxyProtocol.cc
Labels: Proxy Protocol

#7416 Enhancements for compress plugin
  plugins/compress/compress.cc
  tests/gold_tests/pluginTest/compress/compress.gold
  tests/gold_tests/pluginTest/compress/compress.test.py
  tests/gold_tests/pluginTest/compress/compress_userver.gold
Labels: Plugins

#7443 Change squid log code for self looping
  proxy/http/HttpTransact.cc
Labels: Logging

#7455 Fix Makefile target for creating changelogs
  Makefile.am
Labels: Build

#7457 Fix comment in include/tscore/Filenames.h.
  include/tscore/Filenames.h
Labels: Cleanup

#3871 Fix heap use after free in DNSProcessor::getby()
  iocore/dns/DNS.cc
Labels: DNS

#7407 Add synchronization between UDPNetProcessor::UDPBind in main Thread and initialize_thread_for_udp_net in ET_UDP Thread
  proxy/http/HttpProxyServerMain.cc
  proxy/http/HttpProxyServerMain.h
  src/traffic_server/traffic_server.cc
Labels: QUIC, UDP

#6870 Generalize SNI support
  iocore/net/Makefile.am
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  iocore/net/TLSSNISupport.cc
  iocore/net/TLSSNISupport.h
Labels: TLS

#7422 Do not provide a stale negative cache
  proxy/http/HttpTransact.cc
Labels: Cache

#7064 CacheRead: clear dir entry if doc is found to be truncated
  iocore/cache/CacheRead.cc
Labels: Cache

#7460 Update to the new MicroServer 1.0.6 release
  tests/Pipfile
  tests/gold_tests/h2/gold/post_chunked.gold
Labels: AuTest

#7463 Fixing compress expectation for new microserver
  tests/gold_tests/pluginTest/compress/compress.gold
Labels: AuTest
