Repository apache/trafficserver, pull requests merged in 2022-04, with the labels that each got.

#8758 Check return values of openssl api calls
  iocore/net/TLSSessionResumptionSupport.cc
Labels: TLS, Server Session

#8751 STEK share plugin using Raft
  build/hiredis.m4
  build/nuraft.m4
  configure.ac
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/stek_share.en.rst
  plugins/Makefile.am
  plugins/experimental/stek_share/Makefile.inc
  plugins/experimental/stek_share/common.cc
  plugins/experimental/stek_share/common.h
  plugins/experimental/stek_share/example_server_conf.yaml
  plugins/experimental/stek_share/example_server_list.yaml
  plugins/experimental/stek_share/log_store.cc
  plugins/experimental/stek_share/log_store.h
  plugins/experimental/stek_share/state_machine.h
  plugins/experimental/stek_share/state_manager.h
  plugins/experimental/stek_share/stek_share.cc
  plugins/experimental/stek_share/stek_share.h
  plugins/experimental/stek_share/stek_utils.cc
  plugins/experimental/stek_share/stek_utils.h
  tests/gold_tests/pluginTest/stek_share/server_list.yaml
  tests/gold_tests/pluginTest/stek_share/ssl/self_signed.crt
  tests/gold_tests/pluginTest/stek_share/ssl/self_signed.key
  tests/gold_tests/pluginTest/stek_share/stek_share.test.py
Labels: Plugins, TLS

#8459 Adds an IP reputation system to the SNI rate limiter
  doc/admin-guide/plugins/rate_limit.en.rst
  doc/static/images/sdk/SieveLRU.png
  plugins/experimental/rate_limit/Makefile.inc
  plugins/experimental/rate_limit/ip_reputation.cc
  plugins/experimental/rate_limit/ip_reputation.h
  plugins/experimental/rate_limit/iprep_simu.cc
  plugins/experimental/rate_limit/sni_limiter.cc
  plugins/experimental/rate_limit/sni_limiter.h
  plugins/experimental/rate_limit/sni_selector.cc
Labels: Plugins, Security, WIP

#8687 Reuse TSMutex for ts_lua_http_intercept_handler
  plugins/lua/ts_lua_http_intercept.c
Labels: Lua

#8784 Propagate proxy.config.net.sock_option_flag_in to newly accepted connections
  doc/admin-guide/files/records.config.en.rst
  iocore/net/UnixNetAccept.cc
  mgmt/RecordsConfig.cc
Labels: Network, Incompatible

#8786 include <cstring> for access to C-string operations
  plugins/experimental/icap/icap_plugin.cc
  plugins/experimental/redo_cache_lookup/redo_cache_lookup.cc
Labels: Build

#8782 Fixes the cache unit tests by removing an undeclared class function.
  iocore/cache/test/stub.cc
Labels: Bug, cache-tests

#8049 Add PS debug to store requesting URL and add to notes
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
  proxy/ParentSelectionStrategy.cc
Labels: Parent Proxy, Debug

#8794 test_jsonrpcserver: do not remove files from /tmp
  mgmt2/rpc/server/unit_tests/test_rpcserver.cc
Labels: Tests

#8783 Adds a simple tool to generate new escape tables
  .gitignore
  proxy/logging/LogUtils.cc
  tools/Makefile.am
  tools/escape_mapper/README
  tools/escape_mapper/escape_mapper.cc
Labels: Tools

#8788 HttpSM, HttpTunnel, and Http2Stream debug logging updates
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTunnel.cc
  proxy/http2/Http2Stream.cc
Labels: HTTP, Logging

#8795 10-Dev: gitignore updates for JSONRPC generated files
  .gitignore
Labels: Cleanup

#8798 Create clean exit path for traffic_manager on SIGTERM
  src/traffic_manager/traffic_manager.cc
Labels: Core

#8793 Removes remaining vestiges to the backdoor port
  doc/appendices/command-line/traffic_manager.en.rst
  iocore/net/I_NetProcessor.h
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetProcessor.cc
Labels: Cleanup

#8778 OpenTelemetry Tracer plugin for ATS
  configure.ac
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/otel_tracer.en.rst
  plugins/Makefile.am
  plugins/experimental/otel_tracer/Makefile.inc
  plugins/experimental/otel_tracer/otel_tracer.cc
  plugins/experimental/otel_tracer/tracer_common.h
Labels: Plugins

#8797 Adds new plugin, http_stats
  doc/admin-guide/plugins/http_stats.en.rst
  doc/admin-guide/plugins/index.en.rst
  plugins/Makefile.am
  plugins/experimental/http_stats/Makefile.inc
  plugins/experimental/http_stats/http_stats.cc
Labels: Plugins

#8806 Modifying array outside bounds
  tools/http_load/http_load.c
Labels: Bug

#8581 Reduce overhead incurred by enabling debug output.
  doc/admin-guide/files/records.config.en.rst
  doc/developer-guide/api/functions/TSDebug.en.rst
  doc/developer-guide/debugging/debug-tags.en.rst
  doc/developer-guide/plugins/plugin-interfaces.en.rst
  include/ts/apidefs.h.in
  include/ts/ts.h
  include/tscore/DbgCtl.h
  include/tscore/Diags.h
  include/tscore/DiagsTypes.h
  include/tscore/LogMessage.h
  iocore/cache/test/main.cc
  iocore/hostdb/HostDB.cc
  iocore/net/P_UnixNetVConnection.h
  iocore/net/SSLDiags.cc
  iocore/net/SSLDiags.h
  iocore/net/SSLUtils.cc
  iocore/net/TLSSessionResumptionSupport.cc
  iocore/net/quic/test/event_processor_main.cc
  iocore/net/quic/test/main.cc
  iocore/net/test_certlookup.cc
  iocore/utils/diags.i
  lib/records/test_I_RecLocal.cc
  lib/records/unit_tests/test_RecHttp.cc
  lib/records/unit_tests/unit_test_main.cc
  mgmt/RecordsConfig.cc
  mgmt/api/INKMgmtAPI.cc
  mgmt/api/include/mgmtapi.h
  mgmt/utils/MgmtUtils.cc
  proxy/hdrs/load_http_hdr.cc
  proxy/http/HttpTransact.h
  proxy/http3/test/main.cc
  proxy/http3/test/main_qpack.cc
  proxy/logging/LogStandalone.cc
  proxy/shared/DiagsConfig.cc
  src/traffic_crashlog/traffic_crashlog.cc
  src/traffic_ctl/traffic_ctl.cc
  src/traffic_manager/traffic_manager.cc
  src/traffic_quic/diags.h
  src/traffic_server/InkAPI.cc
  src/traffic_server/traffic_server.cc
  src/tscore/DbgCtl.cc
  src/tscore/Diags.cc
  src/tscore/LogMessage.cc
  src/tscore/Makefile.am
  src/tscore/ink_cap.cc
  src/tscore/unit_tests/test_X509HostnameValidator.cc
  tests/gold_tests/pluginTest/tsapi/test_tsapi.cc
  tests/gold_tests/pluginTest/tsapi/tsapi.test.py
Labels: TS API, Performance, Debug

#8803 9.2.x: Revert remap.config loading changes
  proxy/ReverseProxy.cc
  proxy/http/remap/RemapConfig.cc
  proxy/http/remap/UrlRewrite.cc
Labels: remap
