Repository apache/trafficserver, pull requests merged in 2022-01, with the labels that each got.

#8578 Add SSLSessionDup for older OpenSSL and BoringSSL
  configure.ac
  iocore/net/P_SSLUtils.h
  iocore/net/SSLSessionCache.cc
  iocore/net/SSLUtils.cc
Labels: Build, TLS

#8573 Port #7837 from core strategy to plugin
  plugins/experimental/parent_select/strategy.cc
  plugins/experimental/parent_select/strategy.h
Labels: Plugins, Feature

#8570 Port #6816 from core strategy to plugin
  plugins/experimental/parent_select/consistenthash_config.cc
Labels: Plugins, Bug

#8574 Docs: Fix default value of proxy.config.ssl.handshake_timeout_in
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/performance/index.en.rst
Labels: TLS, Documentation

#8571 Port #7749 from core strategy to plugin
  plugins/experimental/parent_select/consistenthash.cc
Labels: Plugins, Bug

#8577 Exclude 3rd party libs from LGTM checks
  .lgtm.yml
Labels: lgtm

#8575 LGTM: Fix pointless comparison of unsigined value to zero
  include/tscpp/util/TextView.h
Labels: Cleanup, lgtm

#8586 Eliminate erroneous self-loop error on transparent mode
  proxy/http/HttpSM.cc
Labels: HTTP

#8588 LGTM: Remove function declaration in block (HdrHeap.cc)
  proxy/hdrs/HdrHeap.cc
Labels: Cleanup, lgtm

#8576 LGTM: Fix constant comparison
  iocore/net/UnixUDPNet.cc
  plugins/experimental/magick/magick.cc
  plugins/experimental/memcache/tsmemcache.cc
  plugins/header_rewrite/header_rewrite.cc
  proxy/logging/Log.h
  src/traffic_layout/engine.cc
  src/traffic_logstats/logstats.cc
  src/traffic_manager/traffic_manager.cc
  src/traffic_server/InkAPITest.cc
Labels: Cleanup, lgtm

#8585 Clean up of next hop HostRecord class.
  include/tscore/ConsistentHash.h
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
Labels: Parent Proxy

#8594 Propagate accept options to HTTP/2
  proxy/http2/Http2Stream.cc
Labels: HTTP/2, Transparent

#8463 Propagate proxy.config.net.sock_option_flag_in to newly accepted connections
  doc/admin-guide/files/records.config.en.rst
  iocore/net/UnixNetAccept.cc
  mgmt/RecordsConfig.cc
Labels: Network

#8233 Add --with-mimalloc option to build
  build/jemalloc.m4
  build/mimalloc.m4
  build/tcmalloc.m4
  configure.ac
  doc/developer-guide/testing/blackbox-testing.en.rst
  include/tscore/ink_config.h.in
  include/tscore/ink_memory.h
  src/tscore/ink_memory.cc
  tests/README.md
Labels: mimalloc

#8572 Remove unused argument, and make sure condition checks are consistent
  iocore/net/P_SSLUtils.h
  iocore/net/SSLUtils.cc
Labels: Cleanup

#8593 Fix transparent mode documentation
  doc/admin-guide/configuration/transparent-proxy.en.rst
  doc/admin-guide/files/records.config.en.rst
Labels: Documentation

#8484 Serve stale content when DNS lookup fails
  proxy/http/HttpTransact.cc
  tests/gold_tests/proxy_protocol/gold/serve_stale_dns_fail.gold
  tests/gold_tests/proxy_protocol/proxy_serve_stale_dns_fail.test.py
Labels: Cache, Feature

#8579 Fixes compacting spaces in S3 auth plugin
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.h
Labels: Plugins, Bug

#8596 Cleanup: Remove old SDKTest for thread_pool example plugin
  example/plugins/c-api/thread_pool/README.txt
  example/plugins/c-api/thread_pool/TESTPLAN.txt
  example/plugins/c-api/thread_pool/include/gen_inc.sh
  example/plugins/c-api/thread_pool/test/SDKTest/SDKtest_server.config
  example/plugins/c-api/thread_pool/test/SDKTest/psi_server.c
Labels: Cleanup

#8599 Docs: Slack instead of irc
  doc/preface/index.en.rst
Labels: Documentation

#8603 LogFilter: fix NULL termination check
  proxy/logging/LogFilter.h
Labels: Logging

#8582 Add TLSEarlyDataSupport
  iocore/net/Makefile.am
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  iocore/net/TLSEarlyDataSupport.cc
  iocore/net/TLSEarlyDataSupport.h
  proxy/http/Http1ClientSession.cc
  proxy/http2/Http2ClientSession.cc
Labels: TLS

#8606 Fixed a scoping bug that leads to "sticky" parent weights
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
Labels: Parent Proxy, Bug

#8545 TSHttpTxnCacheLookupStatusGet: handle cannot respond cases
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  src/traffic_server/InkAPI.cc
  tests/Makefile.am
  tests/gold_tests/cache/cache-request-method.test.py
  tests/gold_tests/cache/gold/print_cache_status_cache_post_disabled.gold
  tests/gold_tests/cache/gold/print_cache_status_cache_post_enabled.gold
  tests/gold_tests/cache/plugins/Makefile.inc
  tests/gold_tests/cache/plugins/print_cache_status.cc
Labels: Plugins, Cache, HTTP

#8611 Removes hard dependency on having perl installed to build
  configure.ac
Labels: Build

#8608 Update to Proxy Verifier version v2.3.0
  tests/gold_tests/chunked_encoding/bad_chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/gold/verifier_client_chunked.gold
  tests/gold_tests/chunked_encoding/replays/malformed_chunked_header.replay.yaml
  tests/gold_tests/pluginTest/multiplexer/multiplexer.test.py
  tests/prepare_proxy_verifier.sh
  tests/proxy-verifier-version.txt
Labels: AuTest

#8595 Adds two overridable config variables to control parent mark downs.
  doc/admin-guide/files/records.config.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpTransact.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: Parent Proxy

#8609 Don't use Http1ClientTransaction as an event handler
  proxy/http/Http1ClientTransaction.cc
Labels: Crash

#8563 ESI processing when origin returns 304 response
  plugins/esi/esi.cc
  tests/gold_tests/pluginTest/esi/esi_304.test.py
  tests/gold_tests/pluginTest/esi/gold/esi_private_headers.gold
Labels: Plugins

#8617 TSHttpTxnCacheLookupStatusGet: call need_to_revalidate
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  src/traffic_server/InkAPI.cc
Labels: Plugins, Cache

#8589 SNIConfig: tunnel_route - Change the way we extract matched subgroups from the servename
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLSNI.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/TLSSNISupport.cc
Labels: Bug, Leak

#8619 Remove leftovers from SSL wire tracing
  iocore/net/Makefile.am
  iocore/net/QUICNetVConnection.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/UnixNetVConnection.cc
  iocore/net/libinknet_stub.cc
  proxy/logging/Log.cc
  proxy/logging/Log.h
  src/traffic_quic/traffic_quic.cc
Labels: TLS, Cleanup

#8621 Commenting TSHttpTxnCacheLookupStatusGet need_to_revalidate
  src/traffic_server/InkAPI.cc
Labels: Cache, HTTP

#8615 OpenSSL 3: Switched to non-deprecated APIs and removed code that was not being used
  include/tscore/INK_MD5.h
  include/tscore/MD5.h
  include/tscore/MMH.h
  include/tscore/SHA256.h
  include/tscore/ink_code.h
  mgmt/api/INKMgmtAPI.cc
  src/traffic_cache_tool/Makefile.inc
  src/tscore/CryptoHash.cc
  src/tscore/HashMD5.cc
  src/tscore/Makefile.am
  src/tscore/ink_code.cc
  src/tscore/unit_tests/test_BufferWriterFormat.cc
  tools/jtest/jtest.cc
Labels: Core, TLS, Cleanup

#8626 Fix 32bit build failure on Odroid Xu-4
  proxy/logging/LogUtils.cc
Labels: Build

#8622 Revert "Propagate proxy.config.net.sock_option_flag_in to newly accepted connections (#8463)"
  doc/admin-guide/files/records.config.en.rst
  iocore/net/UnixNetAccept.cc
  mgmt/RecordsConfig.cc
Labels: Revert

#8618 Add option to disable JIT in lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua.c
Labels: Plugins, Lua

#8625 Rate Limit Plugin: Re-enable VConnection when SNI is empty
  plugins/experimental/rate_limit/sni_limiter.cc
Labels: Plugins

#8584 memcache plugin fix
  plugins/experimental/memcache/tsmemcache.cc
Labels: Plugins

#8613 fix for collapsed forwarding ink_abort for CacheHitFresh fail
  proxy/http/HttpSM.cc
Labels: Cache

#8266 Do not turn off cache for internal requests
  doc/admin-guide/plugins/authproxy.en.rst
  plugins/authproxy/authproxy.cc
Labels: Plugins

#8331 Change the function signature of safe_[get|set]sockopt
  include/tscore/ink_sock.h
  src/tscore/ink_sock.cc
Labels: Cleanup

#8612 Introduce TLSTunnelSupport interface
  iocore/net/Makefile.am
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/TLSTunnelSupport.cc
  iocore/net/TLSTunnelSupport.h
  proxy/http/HttpSM.cc
Labels: TLS

#8607 Clear lua plugin http context after each hook handler
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_util.c
  plugins/lua/ts_lua_util.h
Labels: Plugins, Lua

#8580 Ports #7897 from core strategies to parent_select plugin.
  include/ts/parentselectdefs.h
  plugins/experimental/parent_select/consistenthash.cc
  plugins/experimental/parent_select/consistenthash.h
  plugins/experimental/parent_select/parent_select.cc
  plugins/experimental/parent_select/strategy.cc
  plugins/experimental/parent_select/strategy.h
  proxy/http/HttpTransact.cc
Labels: Plugins, Feature

#8590 Port #7925 and #8365 from core strategies to parent_select plugin
  plugins/experimental/parent_select/consistenthash.cc
  plugins/experimental/parent_select/consistenthash.h
  plugins/experimental/parent_select/parent_select.cc
  plugins/experimental/parent_select/strategy.cc
  plugins/experimental/parent_select/strategy.h
  tests/gold_tests/pluginTest/parent_select/body.gold
  tests/gold_tests/pluginTest/parent_select/parent_select.test.py
  tests/gold_tests/pluginTest/parent_select/parent_select_peer.test.py
  tests/gold_tests/pluginTest/parent_select/parent_select_peer2.test.py
  tests/gold_tests/pluginTest/parent_select/peer.body.gold
  tests/gold_tests/pluginTest/parent_select/peer.trace.gold
  tests/gold_tests/pluginTest/parent_select/peer2.body.gold
  tests/gold_tests/pluginTest/parent_select/peer2.trace.gold
  tests/gold_tests/pluginTest/parent_select/trace.gold
Labels: Plugins, Tests, Feature, Bug

#8637 Revert fixes for #8539
  src/traffic_server/InkAPI.cc
  tests/Makefile.am
  tests/gold_tests/cache/cache-request-method.test.py
  tests/gold_tests/cache/gold/print_cache_status_cache_post_disabled.gold
  tests/gold_tests/cache/gold/print_cache_status_cache_post_enabled.gold
  tests/gold_tests/cache/plugins/Makefile.inc
  tests/gold_tests/cache/plugins/print_cache_status.cc
Labels: Cache, HTTP
