Repository apache/trafficserver, pull requests merged in 2022-08, with the labels that each got.

#8988 Change H2 frame handlers to member functions
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2, Cleanup

#8987 Cleanup: Don't refer to P_*.h from header files in proxy dir
  iocore/dns/I_DNSProcessor.h
  iocore/dns/P_DNSProcessor.h
  iocore/hostdb/I_HostDBProcessor.h
  iocore/net/Makefile.am
  proxy/CacheControl.h
  proxy/HostStatus.h
  proxy/InkAPIInternal.h
  proxy/ParentSelection.h
  proxy/PluginVC.h
  proxy/ProxySession.h
  proxy/ReverseProxy.h
  proxy/StatPages.h
  proxy/Transform.h
  proxy/http/Http1ClientSession.h
  proxy/http/Http1ServerSession.h
  proxy/http/HttpCacheSM.h
  proxy/http/HttpConfig.h
  proxy/http/HttpPages.h
  proxy/http/HttpSM.h
  proxy/http/HttpSessionAccept.h
  proxy/http/HttpSessionManager.h
  proxy/http/HttpTransact.h
  proxy/http/HttpTunnel.h
  proxy/http/PreWarmManager.h
  proxy/http2/HTTP2.h
  proxy/http2/Http2Frame.h
  proxy/http2/Makefile.am
  proxy/logging/Log.h
  proxy/logging/LogConfig.h
Labels: Cleanup

#8994 Cleanup: Remove dependency on SSLNetVC from ProxySession
  proxy/ProxySession.cc
  proxy/http3/Http3Session.cc
  proxy/private/SSLProxySession.cc
  proxy/private/SSLProxySession.h
Labels: TLS, Cleanup

#8980 Add RangeTransform::m_write_vio state checks
  proxy/Transform.cc
Labels: Crash

#8995 Cleanup: Simplify dependency around SSLNetVC and SNIConfig
  iocore/net/I_Net.h
  iocore/net/I_NetProcessor.h
  iocore/net/I_NetVConnection.h
  iocore/net/I_SessionAccept.h
  iocore/net/Makefile.am
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNextProtocolAccept.h
  iocore/net/P_UnixNetProcessor.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/SNIActionPerformer.h
  iocore/net/SSLClientCoordinator.cc
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLNextProtocolAccept.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSNIConfig.h
  iocore/net/SSLUtils.cc
  iocore/net/TLSSNISupport.cc
  iocore/net/test_I_UDPNet.cc
  plugins/experimental/memcache/tsmemcache.cc
  plugins/experimental/memcache/tsmemcache.h
  proxy/PluginVC.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSessionAccept.h
  proxy/http/PreWarmManager.cc
  src/traffic_crashlog/Makefile.inc
  src/traffic_server/InkAPI.cc
  src/traffic_server/traffic_server.cc
Labels: TLS, Cleanup

#8999 Fix compile on M1 Mac
  iocore/eventsystem/UnixEventProcessor.cc
Labels: Build

#9006 9.1.x: Add back validatation that the scheme matches the wire protocol
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  tests/gold_tests/forward_proxy/forward_proxy.replay.yaml
  tests/gold_tests/forward_proxy/forward_proxy.test.py
Labels: HTTP, TLS

#8972 Adding origin-side ALPN configuration.
  doc/admin-guide/files/records.config.en.rst
  include/ts/apidefs.h.in
  include/tscore/ink_defs.h
  iocore/net/I_NetVConnection.h
  iocore/net/P_SSLConfig.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  lib/records/I_RecHttp.h
  lib/records/RecHttp.cc
  lib/records/unit_tests/test_RecHttp.cc
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/ProxySession.cc
  proxy/ProxySession.h
  proxy/http/Http1ServerSession.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpProxyServerMain.cc
  proxy/http/HttpSM.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/tls/tls_client_alpn_configuration.replay.yaml
  tests/gold_tests/tls/tls_client_alpn_configuration.test.py
Labels: TLS

#9009 Fail fast on HTTP/2 header validation
  proxy/hdrs/MIME.h
  proxy/http2/HTTP2.cc
  proxy/http2/Http2Stream.cc
Labels: HTTP/2

#9010 Restrict unknown scheme of HTTP/2 request
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
  proxy/hdrs/unit_tests/test_URL.cc
  proxy/http2/HTTP2.cc
Labels: HTTP/2

#9011 Add control char check in MIME Parser
  include/tscore/ParseRules.h
  proxy/hdrs/MIME.cc
  proxy/hdrs/unit_tests/test_Hdrs.cc
  tests/gold_tests/headers/gold/invalid_character_in_te_value.gold
  tests/gold_tests/headers/good_request_after_bad.test.py
  tests/gold_tests/logging/gold/field-json-test.gold
  tests/gold_tests/logging/log-field-json.test.py
Labels: HTTP

#9012 Add content length mismatch check on handling HEADERS frame and CONTINUATION frame
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#9013 Ignore POST request case from a check for background fill
  proxy/http/HttpTunnel.h
Labels: HTTP

#9016 [9.1.x] Backport HTTP Validations
  include/tscore/ParseRules.h
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
  proxy/hdrs/unit_tests/test_Hdrs.cc
  proxy/hdrs/unit_tests/test_URL.cc
  proxy/http/HttpTunnel.h
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  tests/gold_tests/headers/gold/invalid_character_in_te_value.gold
  tests/gold_tests/headers/good_request_after_bad.test.py
Labels: Backport

#9007 8.1.x: Add back scheme validation 81x
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
Labels: HTTP, TLS

#9015 [8.1.x] Backport HTTP Validations
  .gitignore
  include/tscore/ParseRules.h
  proxy/hdrs/MIME.cc
  proxy/hdrs/MIME.h
  proxy/hdrs/Makefile.am
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
  proxy/hdrs/unit_tests/test_Hdrs.cc
  proxy/hdrs/unit_tests/test_URL.cc
  proxy/hdrs/unit_tests/unit_test_main.cc
  proxy/http/HttpTunnel.h
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  tests/gold_tests/headers/gold/invalid_character_in_te_value.gold
  tests/gold_tests/headers/good_request_after_bad.test.py
Labels: Backport

#9017 Fixes for 8.1.x make checks
  proxy/hdrs/Makefile.am
  proxy/hdrs/unit_tests/test_Hdrs.cc
Labels: Tests

#9005 Add back validatation that the scheme matches the wire protocol
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  tests/gold_tests/forward_proxy/forward_proxy.replay.yaml
  tests/gold_tests/forward_proxy/forward_proxy.test.py
Labels: HTTP, TLS

#9008 Pin flask to version 2.1.3
  tests/Pipfile
Labels: AuTest

#9003 Make TLSSNISupport::get_sni_server_name public
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/TLSSNISupport.cc
  iocore/net/TLSSNISupport.h
Labels: TLS, Cleanup

#9027 Change linux/fs include to build with glibc 2.36
  configure.ac
  src/tscore/ink_file.cc
Labels: Build

#8990 Add HTTP header version converter
  proxy/hdrs/HTTP.cc
  proxy/hdrs/HTTP.h
  proxy/hdrs/Makefile.am
  proxy/hdrs/VersionConverter.cc
  proxy/hdrs/VersionConverter.h
  proxy/hdrs/unit_tests/test_Hdrs.cc
  proxy/http/RegressionHttpTransact.cc
  proxy/http/remap/unit-tests/nexthop_test_stubs.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2Stream.cc
  proxy/http2/unit_tests/test_HTTP2.cc
  proxy/http3/Http3HeaderFramer.cc
  proxy/http3/Http3HeaderFramer.h
  proxy/http3/Http3HeaderVIOAdaptor.cc
  proxy/http3/Http3HeaderVIOAdaptor.h
  proxy/http3/Makefile.am
Labels: HTTP/2, Cleanup

#8335 stats_over_http c++/ipmap updates
  doc/admin-guide/plugins/stats_over_http.en.rst
  plugins/stats_over_http/Makefile.inc
  plugins/stats_over_http/stats_over_http.cc
Labels: Plugins

#9029 Doc: Fix merge issue for traffic_ctl docs.
  doc/appendices/command-line/traffic_ctl.en.rst
Labels: Documentation

#9020 Removes unused ProtectedQueue::remove(Event *e)
  iocore/eventsystem/I_ProtectedQueue.h
  iocore/eventsystem/P_ProtectedQueue.h
Labels: Cleanup, Event System

#8741 fix: properly process If-Range headers in client requests
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransactCache.cc
  proxy/http/HttpTransactCache.h
  tests/gold_tests/headers/gold/range-200.gold
  tests/gold_tests/headers/gold/range-206-revalidated.gold
  tests/gold_tests/headers/gold/range-206.gold
  tests/gold_tests/headers/gold/range-416.gold
  tests/gold_tests/headers/range.test.py
Labels: HTTP

#8976 Validate that content length header matches object size on cache read
  iocore/cache/Cache.cc
  iocore/cache/CacheRead.cc
  iocore/cache/P_CacheInternal.h
Labels: Cache

#9019 Add log field names pqu* and deprecates cqu*
  configs/logging.yaml.default
  doc/admin-guide/layer-4-routing.en.rst
  doc/admin-guide/logging/examples.en.rst
  doc/admin-guide/logging/formatting.en.rst
  doc/appendices/faq.en.rst
  proxy/logging/Log.cc
  proxy/logging/LogAccess.cc
  src/traffic_logstats/logstats.cc
  src/traffic_logstats/tests/logstats.blog
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/logging/log-filenames.test.py
  tests/gold_tests/logging/sigusr2.test.py
  tests/gold_tests/redirect/redirect.test.py
  tests/gold_tests/timeout/conn_timeout.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
Labels: Logging, Incompatible

#9023 Remove plugin parent_select unused symbols
  plugins/experimental/parent_select/consistenthash.cc
  plugins/experimental/parent_select/consistenthash.h
  plugins/experimental/parent_select/parent_select.cc
  plugins/experimental/parent_select/strategy.h
Labels: Plugins

#9039 utilize proxy.config.hostdb.host_file.interval config variable
  iocore/hostdb/HostDB.cc
  iocore/hostdb/P_HostDBProcessor.h
Labels: HostDB

#8776 Fix incrementation and logging of server connection attempts.
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/logging/LogAccess.cc
Labels: Logging, Cleanup

#9040 ts::shared_mutex - Fix lock counting for debug
  include/tscpp/util/TsSharedMutex.h
Labels: CPP Util

#9037 Add support for sendmmsg and UDP GSO
  configure.ac
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_QUICPacketHandler_quiche.h
  iocore/net/P_UDPNet.h
  iocore/net/P_UDPPacket.h
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/QUICPacketHandler_quiche.cc
  iocore/net/UnixUDPNet.cc
  mgmt/RecordsConfig.cc
Labels: UDP

#9041 Fix reload memory leak
  iocore/cache/P_CacheHosting.h
Labels: Bug

#9047 Fix compile error on macOS
  iocore/cache/CacheRead.cc
Labels: Build

#9048 Update prepare_proxy_verifier.sh to work in non-git directories
  tests/autest.sh
  tests/prepare_proxy_verifier.sh
Labels: AuTest

#9030 traffic_ctl: Tidy up.
  src/traffic_ctl/CtrlCommands.cc
  src/traffic_ctl/CtrlCommands.h
  src/traffic_ctl/traffic_ctl.cc
Labels: Cleanup, JSONRPC

#9052 Fix the connection limit crash while using parents (#7602)
  proxy/http/HttpSM.cc
Labels: Bug

#9056 Test: Add nameserver to transaction_data_sink test
  tests/gold_tests/pluginTest/transform/transaction_data_sink.test.py
Labels: AuTest

#9057 Test: add nameserver to remap_inc test
  tests/gold_tests/traffic_ctl/remap_inc/remap_inc.test.py
Labels: AuTest

#9058 Test: add nameserver to proxy_serve_stale_dns_fail test
  tests/gold_tests/proxy_protocol/proxy_serve_stale_dns_fail.test.py
Labels: AuTest

#9059 Test: add nameserver to proxy_serve_stale test
  tests/gold_tests/proxy_protocol/proxy_serve_stale.test.py
Labels: AuTest

#8981 Register task threads before scheduling tasks
  src/traffic_server/traffic_server.cc
Labels: Core, Event System, Threads

#9055 Test: Add nameserver to logging client ip test
  tests/gold_tests/logging/log-debug-client-ip.test.py
Labels: AuTest

#9069 Disable the QUIC TestRun in active_timeout AuTest
  tests/gold_tests/timeout/active_timeout.test.py
Labels: QUIC, AuTest

#9072 Update expected ALPN output for recent versions of curl
  tests/gold_tests/tls/tls_bad_alpn.test.py
Labels: AuTest

#9066 Allow HEAD req to be served from cached GET
  proxy/http/HttpTransact.cc
  tests/gold_tests/cache/cache-request-method.test.py
  tests/gold_tests/cache/replay/head_with_get_cached.replay.yaml
Labels: Cache, HTTP

#9061 Add HEAD requests to slice plugin
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.cc
Labels: Plugins

#9070 Test: add nameserver to proxy_serve_stale test (#9059)
  tests/gold_tests/proxy_protocol/proxy_serve_stale.test.py
Labels: Backport, AuTest

#9031 Adds efficient IP range matching to HRW conditions
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/Makefile.inc
  plugins/header_rewrite/condition.cc
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/ipranges_helper.cc
  plugins/header_rewrite/ipranges_helper.h
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/ruleset.cc
Labels: Plugins
