Repository apache/trafficserver, pull requests merged in 2022-10, with the labels that each got.

#9121 Reply with a 503 response when per_server.connection.max is exceeded
  proxy/http/HttpSM.cc
Labels: HTTP

#9123 9.2: Fix s3_auth_config test output check
  tests/gold_tests/pluginTest/s3_auth/s3_auth_config.test.py
Labels: AuTest

#9122 Fix HTTP/2 session receive window handling for small sizes (#9117)
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  tests/gold_tests/h2/http2_flow_control.replay.yaml
  tests/gold_tests/h2/http2_flow_control.test.py
Labels: HTTP/2, Backport

#9116 traffic_ctl: Fix invalid format option from cli args.
  src/traffic_ctl/traffic_ctl.cc
Labels: JSONRPC

#9125 Fix a bug in H3 event handling
  proxy/http3/Http3Transaction.cc
Labels: HTTP/3

#9129 Remove unnecessary, dangerous casts from SET_HANDLER/SET_CONTINUATION _HANDLER invocations.
  iocore/cache/P_CacheHosting.h
  iocore/dns/DNS.cc
  iocore/eventsystem/P_Freer.h
  iocore/hostdb/HostDB.cc
  iocore/hostdb/P_HostDBProcessor.h
  iocore/net/QUICNetVConnection.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/Socks.cc
  iocore/net/UnixNet.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetVConnection.cc
  iocore/net/UnixUDPNet.cc
  proxy/CacheControl.cc
  proxy/logging/Log.cc
  src/traffic_server/SocksProxy.cc
Labels: Cleanup, easy review brownie points

#9133 fix contradicting documentation and say a bit about the resident size…
  doc/admin-guide/storage/index.en.rst
  doc/developer-guide/cache-architecture/architecture.en.rst
Labels: Documentation

#9108 Allocator that just uses malloc and bypasses custom jemalloc/freelist
  configure.ac
  include/tscore/Allocator.h
  include/tscore/ink_config.h.in
  iocore/eventsystem/I_ProxyAllocator.h
  mgmt/RecordsConfig.cc
  src/traffic_server/traffic_server.cc
Labels: Core

#9127 In NetHandler, don't use a union to do a ratchet conversion to base class.
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
Labels: Cleanup, easy review brownie points

#9126 Remove unused functions in SocketManager namespace.
  iocore/eventsystem/I_SocketManager.h
  iocore/eventsystem/P_UnixSocketManager.h
Labels: Cleanup, easy review brownie points

#8791 MiMalloc nodump allocator
  build/mimalloc.m4
  include/tscore/JeMiAllocator.h
  src/tscore/JeMiAllocator.cc
  src/tscore/Makefile.am
  src/tscore/ink_queue.cc
Labels: mimalloc

#9033 9.1.x: Fix a couple compiler warnings
  plugins/experimental/traffic_dump/json_utils.cc
  plugins/header_rewrite/conditions.cc
Labels: Build

#9135 9.1.x: Fix GCC 12 compiler warnings
  example/plugins/cpp-api/boom/boom.cc
  include/tscore/IntrusivePtr.h
  include/tscpp/api/Headers.h
  iocore/net/quic/QUICFrame.h
  iocore/net/quic/QUICVersionNegotiator.cc
  proxy/logging/LogFilter.h
  src/tscore/HostLookup.cc
  src/wccp/WccpMeta.h
Labels: Build

#9099 Log trnx visited parent attempts
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpTransact.cc
Labels: Parent Proxy

#9021 aio_thread_main does not have to be static
  iocore/aio/AIO.cc
Labels: Cleanup, AIO

#9137 AuTest automatic keylog file configuration
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/forward_proxy/forward_proxy.test.py
  tests/gold_tests/h2/http2_flow_control.test.py
  tests/gold_tests/pluginTest/multiplexer/multiplexer.test.py
  tests/gold_tests/tls/tls_session_key_logging.test.py
Labels: TLS, AuTest

#9132 Fail sni.yaml loading if related resources fail to load
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSNIConfig.h
  tests/gold_tests/tls/tls_sni_yaml_reload.test.py
Labels: Configuration, Bug, SSL

#8630 [JSONRPC] - Introduce TS Plugin API - Proposal
  build/yaml-cpp.m4
  doc/developer-guide/api/functions/TSRPCRegister.en.rst
  doc/developer-guide/jsonrpc/jsonrpc-handler-development.en.rst
  include/ts/apidefs.h.in
  include/ts/ts.h
  mgmt/rpc/jsonrpc/JsonRPC.h
  mgmt/rpc/jsonrpc/JsonRPCManager.h
  src/traffic_server/InkAPI.cc
  tests/Makefile.am
  tests/gold_tests/jsonrpc/basic_plugin_handler.test.py
  tests/gold_tests/jsonrpc/plugins/Makefile.inc
  tests/gold_tests/jsonrpc/plugins/jsonrpc_plugin_handler_test.cc
Labels: TS API, Feature, Proposal, JSONRPC

#9138 MaxMind change regex to operate on the full pristine URL and not just the path
  doc/admin-guide/plugins/maxmind_acl.en.rst
  plugins/experimental/maxmind_acl/mmdb.cc
  plugins/experimental/maxmind_acl/mmdb.h
Labels: Plugins, Incompatible

#9139 Traffic Dump: fix YAML format for CONNECT requests
  plugins/experimental/traffic_dump/transaction_data.cc
  tests/gold_tests/pluginTest/traffic_dump/replay/traffic_dump.yaml
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump.test.py
Labels: Plugins

#9151 Add missing Makefile for wasm example and fix doc format
  doc/admin-guide/plugins/wasm.en.rst
  plugins/experimental/wasm/examples/cpp/Makefile
Labels: Plugins

#9144 Replace ts::MemSpan with swoc::MemSpan
  build/libswoc.m4
  build/plugins.mk
  include/records/I_RecCore.h
  include/records/P_RecMessage.h
  include/tscore/BufferWriter.h
  include/tscore/MemArena.h
  include/tscpp/util/MemSpan.h
  iocore/aio/Makefile.am
  iocore/cache/Makefile.am
  iocore/dns/Makefile.am
  iocore/eventsystem/Makefile.am
  iocore/hostdb/I_HostDBProcessor.h
  iocore/hostdb/Makefile.am
  iocore/net/Makefile.am
  iocore/net/SSLCertLookup.cc
  iocore/net/quic/Makefile.am
  iocore/utils/Makefile.am
  lib/swoc/Makefile.am
  mgmt/Makefile.am
  mgmt/MgmtDefs.h
  mgmt/api/Makefile.am
  mgmt/config/Makefile.am
  mgmt/rpc/Makefile.am
  mgmt/rpc/server/IPCSocketServer.cc
  mgmt/rpc/server/IPCSocketServer.h
  mgmt/utils/Makefile.am
  proxy/Makefile.am
  proxy/hdrs/Makefile.am
  proxy/http/Makefile.am
  proxy/http/remap/Makefile.am
  proxy/http2/Makefile.am
  proxy/http3/Makefile.am
  proxy/logging/LogConfig.cc
  proxy/logging/LogConfig.h
  proxy/logging/unit-tests/test_LogUtils.h
  proxy/shared/Makefile.am
  src/records/Makefile.am
  src/records/RecMessage.cc
  src/shared/rpc/IPCSocketClient.cc
  src/traffic_cache_tool/CacheDefs.h
  src/traffic_cache_tool/CacheScan.cc
  src/traffic_cache_tool/CacheScan.h
  src/traffic_cache_tool/CacheTool.cc
  src/traffic_cache_tool/Makefile.inc
  src/traffic_crashlog/Makefile.inc
  src/traffic_ctl/Makefile.inc
  src/traffic_layout/Makefile.inc
  src/traffic_logcat/Makefile.inc
  src/traffic_logstats/Makefile.inc
  src/traffic_quic/Makefile.inc
  src/traffic_server/Makefile.inc
  src/traffic_top/Makefile.inc
  src/tscore/BufferWriterFormat.cc
  src/tscore/Makefile.am
  src/tscore/MemArena.cc
  src/tscore/unit_tests/test_BufferWriterFormat.cc
  src/tscore/unit_tests/test_MemArena.cc
  src/tscpp/util/Makefile.am
  src/tscpp/util/unit_tests/test_MemSpan.cc
  tools/Makefile.am
Labels: TS API, CPP Util

#9143 tests: enable_cache defaults to True, remove explicit setting
  tests/gold_tests/cache/background_fill.test.py
  tests/gold_tests/headers/good_request_after_bad.test.py
Labels: Cleanup, AuTest

#9004 Clean up some errors in output of ASAN build.
  proxy/logging/LogConfig.cc
  src/traffic_server/traffic_server.cc
  src/tscore/DbgCtl.cc
Labels: Core, Cleanup

#9085 Make HTTP/2 session and stream windows configurable
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Frame.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
  tests/gold_tests/h2/http2_flow_control.test.py
Labels: HTTP/2

#9155 More HTTP/2 local and server renaming
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Labels: HTTP/2

#9026 Add docs for strategies.yaml hash_string
  doc/admin-guide/files/strategies.yaml.en.rst
Labels: Documentation, 9.2.0

#9046 Fix hosting.config reload
  iocore/cache/Cache.cc
  iocore/cache/CacheHosting.cc
  iocore/cache/CacheVol.cc
  iocore/cache/P_CacheHosting.h
  iocore/cache/P_CacheInternal.h
Labels: Bug

#9157 10-Dev: Remove MakeATSProcess default paramater invocations in AuTests
  tests/gold_tests/cache/cache-generation-clear.test.py
  tests/gold_tests/chunked_encoding/bad_chunked_encoding.test.py
  tests/gold_tests/continuations/double.test.py
  tests/gold_tests/continuations/double_h2.test.py
  tests/gold_tests/continuations/openclose.test.py
  tests/gold_tests/continuations/openclose_h2.test.py
  tests/gold_tests/continuations/session_id.test.py
  tests/gold_tests/headers/forwarded.test.py
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_cache_complete_responses.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_cachekey.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_cachekey_global.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_ims.test.py
  tests/gold_tests/pluginTest/cert_update/cert_update.test.py
  tests/gold_tests/pluginTest/client_context_dump/client_context_dump.test.py
  tests/gold_tests/pluginTest/lua/lua_debug_tags.test.py
  tests/gold_tests/pluginTest/money_trace/money_trace.test.py
  tests/gold_tests/pluginTest/money_trace/money_trace_global.test.py
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate.test.py
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_miss.test.py
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_state.test.py
  tests/gold_tests/pluginTest/remap_stats/remap_stats.test.py
  tests/gold_tests/pluginTest/slice/slice.test.py
  tests/gold_tests/pluginTest/slice/slice_error.test.py
  tests/gold_tests/pluginTest/slice/slice_prefetch.test.py
  tests/gold_tests/pluginTest/slice/slice_regex.test.py
  tests/gold_tests/pluginTest/slice/slice_selfhealing.test.py
  tests/gold_tests/pluginTest/test_hooks/hook_add.test.py
  tests/gold_tests/pluginTest/test_hooks/ssn_start_delay_hook.test.py
  tests/gold_tests/remap/conf_remap_float.test.py
  tests/gold_tests/tls/ssl_multicert_loader.test.py
  tests/gold_tests/tls/tls_check_cert_select_plugin.test.py
  tests/gold_tests/tls/tls_check_cert_selection_reload.test.py
  tests/gold_tests/tls/tls_client_cert.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_cert2_plugin.test.py
  tests/gold_tests/tls/tls_client_cert_override.test.py
  tests/gold_tests/tls/tls_client_cert_override_plugin.test.py
  tests/gold_tests/tls/tls_client_cert_plugin.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_sni_yaml_reload.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/traffic_ctl/remap_inc/remap_inc.test.py
Labels: Cleanup, AuTest

#9153 Cleanup: Remove dead code (CacheLink)
  iocore/cache/CacheLink.cc
  iocore/cache/Makefile.am
  iocore/cache/P_CacheInternal.h
Labels: Cache, Cleanup

#9034 9.1.x: Update Proxy Verifier to v2.4.1
  tests/Pipfile
  tests/prepare_proxy_verifier.sh
  tests/proxy-verifier-version.txt
Labels: AuTest

#9141 Remove deprecated ld option (--add-needed)
  build/jemalloc.m4
  build/mimalloc.m4
Labels: Build

#8992 Experimental io_uring AIO implementation for disk IO
  configure.ac
  include/tscore/ink_config.h.in
  iocore/aio/AIO.cc
  iocore/aio/I_AIO.h
  iocore/aio/P_AIO.h
  iocore/eventsystem/I_EThread.h
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
  mgmt/RecordsConfig.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/Makefile.inc
  src/traffic_server/traffic_server.cc
Labels: Core

#9165 Cleanup: const correctness of Vol and Doc
  iocore/cache/P_CacheDir.h
  iocore/cache/P_CacheVol.h
Labels: Cache, Cleanup

#9130 Enable slice prefetching for range requests
  doc/admin-guide/plugins/slice.en.rst
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/util.cc
  tests/gold_tests/pluginTest/slice/gold/slice_prefetch.gold
  tests/gold_tests/pluginTest/slice/slice_prefetch.test.py
Labels: Plugins
