Repository apache/trafficserver, pull requests merged in 2023-07, with the labels that each got.

#9935 Remove socket option globals.
  include/tscore/ink_defs.h
  include/tscore/ink_sock.h
  iocore/dns/DNSConnection.cc
  iocore/net/Connection.cc
  iocore/net/UnixConnection.cc
  iocore/net/UnixUDPNet.cc
  src/tscore/ink_defs.cc
  src/tscore/ink_sock.cc
Labels: Cleanup

#9753 Fix autest for OpenSSL 3.0
  tests/gold_tests/tls/test-nc-s_client.sh
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_forward_nonhttp.test.py
  tests/gold_tests/tls/tls_verify_override.test.py
  tests/gold_tests/tls/tls_verify_override_base.test.py
Labels: AuTest

#9938 Update build_h3_tools to use OpenSSL 3.0
  tools/build_h3_tools.sh
Labels: Tools, SSL

#9937 tls_client_versions_minmax: update for OpenSSL 3.0
  tests/gold_tests/tls/tls_client_versions_minmax.test.py
Labels: AuTest, SSL

#9947 OpenSSL 3.0 tls autest updates
  iocore/net/SSLNetVConnection.cc
  tests/gold_tests/tls/tls.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
  tests/gold_tests/tls/tls_client_versions_minmax.test.py
Labels: AuTest

#9946 build_h3_tools: update for lib64
  tools/build_h3_tools.sh
Labels: Tools

#9734 sni: new hint 'http2_initial_window_size_in'
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/TLSSNISupport.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#9945 Clean up: Remove mgmt/api folder (unused functions and types)
  .gitignore
  configure.ac
  mgmt/Makefile.am
  mgmt/api/CoreAPIShared.cc
  mgmt/api/CoreAPIShared.h
  mgmt/api/INKMgmtAPI.cc
  mgmt/api/Makefile.am
  mgmt/api/include/Makefile.am
  mgmt/api/include/mgmtapi.h
  mgmt/utils/Makefile.am
  proxy/shared/Makefile.am
  src/records/CMakeLists.txt
  src/traffic_crashlog/Makefile.inc
  src/traffic_via/Makefile.inc
Labels: Cleanup

#9950 Converts core ats:: namespace to ts::
  .gitignore
  include/tscore/CryptoHash.h
  include/tscore/MD5.h
  include/tscore/MMH.h
  include/tscore/SHA256.h
  src/tscore/CryptoHash.cc
  src/tscore/unit_tests/test_CryptoHash.cc
Labels: Cleanup

#9955 Check CMakeLists.txt files in RAT
  ci/rat-regex.txt
  plugins/esi/CMakeLists.txt
  plugins/esi/common/CMakeLists.txt
  plugins/esi/fetcher/CMakeLists.txt
  plugins/esi/lib/CMakeLists.txt
  plugins/esi/test/CMakeLists.txt
Labels: RAT, CMake

#9954 Build prefetch plugin and test in CMake build
  plugins/CMakeLists.txt
  plugins/prefetch/CMakeLists.txt
  plugins/prefetch/test/CMakeLists.txt
Labels: Plugins, Build, prefetch, CMake

#9936 more tests for checking rule enforcement
  proxy/http3/test/test_Http3FrameDispatcher.cc
Labels: Tests, HTTP/3

#9959 9.2.x: OpenSSL 3.0 tls autest updates (#9947)
  iocore/net/SSLNetVConnection.cc
  tests/gold_tests/tls/tls.test.py
  tests/gold_tests/tls/tls_client_versions.test.py
Labels: SSL

#9948 Remove obsolete ink_inet_addr function.
  include/tscore/ink_sock.h
  src/tscore/ink_inet.cc
Labels: Cleanup

#9962 Build s3_auth plugin in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  plugins/CMakeLists.txt
  plugins/s3_auth/CMakeLists.txt
  plugins/s3_auth/unit_tests/CMakeLists.txt
Labels: Plugins, Build, s3_auth, CMake

#9958 Build traffic_crashlog executable in CMake build
  CMakeLists.txt
  src/traffic_crashlog/CMakeLists.txt
Labels: Build, CMake

#9957 Add parser.cc to header_rewrite sources in CMake
  plugins/header_rewrite/CMakeLists.txt
Labels: header_rewrite, CMake

#9956 Build TSVConnFD.so and place in correct directory
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/gold_tests/pluginTest/TSVConnFd/CMakeLists.txt
Labels: Build, AuTest, CMake

#9963 Build regex_remap plugin in CMake build
  plugins/CMakeLists.txt
  plugins/regex_remap/CMakeLists.txt
Labels: Plugins, Build, regex_remap, CMake

#9964 Fix build_h3_tools for Mac builds
  tools/build_h3_tools.sh
Labels: Tools

#9967 Fix test plugin for mac build
  tests/gold_tests/pluginTest/TSVConnFd/CMakeLists.txt
Labels: CMake

#9905 Add support for recvmmsg and UDP GRO
  configure.ac
  doc/admin-guide/files/records.yaml.en.rst
  iocore/eventsystem/I_SocketManager.h
  iocore/eventsystem/P_UnixSocketManager.h
  iocore/net/I_UDPPacket.h
  iocore/net/P_UDPNet.h
  iocore/net/QUICPacketHandler_quiche.cc
  iocore/net/UnixUDPNet.cc
  src/records/RecordsConfig.cc
Labels: QUIC, UDP

#9971 Update to autest version 1.10.3
  tests/Pipfile
  tests/gold_tests/autest-site/init.cli.ext
Labels: AuTest

#9972 Remove the useless std::vector calls in plugin_agents_cleanup.
  proxy/http/HttpSM.cc
Labels: Cleanup

#9978 Build remap_purge plugin in CMake build
  plugins/CMakeLists.txt
  plugins/remap_purge/CMakeLists.txt
Labels: Plugins, Build, remap_purge, CMake

#9968 Add missing source file to CMake esi lib target
  plugins/esi/lib/CMakeLists.txt
Labels: esi, CMake

#9973 Don't use std::min when we don't care which value is smaller
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2, Performance

#9981 Build tcpinfo plugin in CMake build
  plugins/CMakeLists.txt
  plugins/tcpinfo/CMakeLists.txt
Labels: Plugins, Build, tcpinfo, CMake

#9896 Add support for async requests for wasm plugin
  doc/admin-guide/plugins/wasm.en.rst
  plugins/experimental/wasm/ats_context.cc
  plugins/experimental/wasm/ats_context.h
  plugins/experimental/wasm/examples/async/Makefile
  plugins/experimental/wasm/examples/async/README.md
  plugins/experimental/wasm/examples/async/async.cc
  plugins/experimental/wasm/examples/async/async.yaml
  plugins/experimental/wasm/wasm_main.cc
Labels: Plugins

#9979 Build regex_revalidate in CMake build
  plugins/CMakeLists.txt
  plugins/regex_revalidate/CMakeLists.txt
Labels: Plugins, Build, regex_revalidate, CMake

#9983 Add config to disable http/0.9 over QUIC by default
  doc/admin-guide/files/records.yaml.en.rst
  iocore/net/QUICNetProcessor_quiche.cc
  iocore/net/quic/QUICConfig.cc
  iocore/net/quic/QUICConfig.h
  proxy/http3/Http3SessionAccept.cc
  src/records/RecordsConfig.cc
Labels: QUIC

#9482 Add interface for NetVC services
  iocore/net/I_NetVConnection.h
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/SSLNetVConnection.cc
  proxy/ProxySession.cc
  proxy/http/Http1ClientSession.cc
  proxy/http/HttpSM.cc
  proxy/http2/Http2ClientSession.cc
  proxy/private/SSLProxySession.cc
  src/traffic_server/InkAPI.cc
Labels: Performance

#9990 Build tslua plugin in CMake build
  CMakeLists.txt
  cmake/FindLuaJIT.cmake
  plugins/CMakeLists.txt
  plugins/lua/CMakeLists.txt
Labels: Plugins, Build, CMake

#9996 Fix CMake build to install traffic_ctl target
  src/traffic_ctl/CMakeLists.txt
Labels: traffic ctl, CMake

#9984 Strategies vhost support
  doc/admin-guide/files/strategies.yaml.en.rst
  proxy/http/remap/NextHopConsistentHash.cc
  proxy/http/remap/NextHopRoundRobin.cc
  proxy/http/remap/NextHopSelectionStrategy.cc
  proxy/http/remap/NextHopSelectionStrategy.h
Labels: Parent Selection

#10003 Use NetVC::get_service
  proxy/http2/Http2ConnectionState.cc
Labels: Cleanup

#9869 Extract HttpUserAgent class from HttpSM
  proxy/http/CMakeLists.txt
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransactHeaders.cc
  proxy/http/HttpUserAgent.h
  proxy/http/HttpVCTable.cc
  proxy/http/HttpVCTable.h
  proxy/http/Makefile.am
  proxy/http/remap/UrlRewrite.cc
  proxy/http/unit_tests/CMakeLists.txt
  proxy/http/unit_tests/test_HttpUserAgent.cc
  proxy/http/unit_tests/test_PreWarm.cc
  proxy/logging/LogAccess.cc
  src/traffic_server/InkAPI.cc
Labels: Cleanup, HttpSM

#9974 Switch libtscore to static and deal with the fallout
  include/tscore/BufferWriter.h
  include/tscore/Extendible.h
  iocore/aio/CMakeLists.txt
  iocore/cache/Makefile.am
  iocore/cache/test/stub.cc
  iocore/net/CMakeLists.txt
  src/records/CMakeLists.txt
  src/traffic_server/CMakeLists.txt
  src/tscore/BufferWriterFormat.cc
  src/tscore/CMakeLists.txt
  src/tscore/Extendible.cc
  src/tscore/ink_mutex.cc
  src/tscpp/api/CMakeLists.txt
  src/tscpp/util/CMakeLists.txt
  tests/gold_tests/pluginTest/TSVConnFd/CMakeLists.txt
Labels: CMake

#10033 cmake: build the traffic_dump plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/experimental/CMakeLists.txt
  plugins/experimental/traffic_dump/CMakeLists.txt
  plugins/experimental/traffic_dump/unit_tests/CMakeLists.txt
Labels: Plugins, Build, CMake, traffic dump plugin

#10036 cmake: add a format custom target
  CMakeLists.txt
  lib/CMakeLists.txt
Labels: Build, CMake

#10005 Fix compiling wth both jemalloc with quiche
  m4/quiche.m4
Labels: QUIC, JeMalloc

#10000 cmake: asan support
  CMakeLists.txt
Labels: ASan, CMake

#9999 Better debug and error logging for memory_profile
  plugins/experimental/memory_profile/memory_profile.cc
Labels: memory_profile

#9405 Clean up the formatting of build options
  configure.ac
Labels: Cleanup

#10039 CID 1513230: Fix control flow issues in traffic_ctl
  src/traffic_ctl/FileConfigCommand.cc
Labels: Tools, Coverity, traffic ctl

#9845 Extract apply_ip_allow_filter
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
Labels: Cleanup, HttpSM

#10044 Fix CID 1513228: Performance inefficiencies (AUTO_CAUSES_COPY)
  proxy/http/remap/PluginFactory.cc
Labels: Coverity

#9970 RPC client: Increase message buffer size.
  include/shared/rpc/IPCSocketClient.h
  include/shared/rpc/RPCClient.h
  mgmt/rpc/server/unit_tests/test_rpcserver.cc
  src/shared/rpc/IPCSocketClient.cc
Labels: traffic ctl, JSONRPC Client

#10048 prefetch: make char explicitly signed
  plugins/prefetch/evaluate.cc
Labels: Build, prefetch

#10050 cmake: -Wall -Wextra flags
  CMakeLists.txt
  iocore/hostdb/P_RefCountCache.h
  proxy/http3/Http3Frame.cc
  src/tscpp/util/unit_tests/test_IntrusiveDList.cc
Labels: Build, CMake

#9989 Do not set @SECLEVEL with boringssl
  tests/gold_tests/tls/tls_client_versions.test.py
Labels: TLS, AuTest

#10038 LSan: Fix leaks of Cache Unit Test
  iocore/cache/test/test_Alternate_L_to_S_remove_L.cc
  iocore/cache/test/test_Alternate_L_to_S_remove_S.cc
  iocore/cache/test/test_Alternate_S_to_L_remove_L.cc
  iocore/cache/test/test_Alternate_S_to_L_remove_S.cc
Labels: ASan

#10041 coverity 1517813: null pointer dereference
  proxy/http/ConnectingEntry.cc
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
Labels: Coverity

#10042 coverity 1512701: remove the necessity of copy and move
  plugins/header_rewrite/parser.cc
Labels: Coverity

#9899 For xdebug plugin, add doublequotes around the URL of X-Effective-URL.
  doc/admin-guide/plugins/xdebug.en.rst
  plugins/xdebug/xdebug.cc
  tests/gold_tests/pluginTest/xdebug/x_effective_url/four.in
  tests/gold_tests/pluginTest/xdebug/x_effective_url/out.gold
  tests/gold_tests/pluginTest/xdebug/x_effective_url/x_effective_url.test.py
Labels: xdebug

#10034 Require options parameter for NetProcessor::connect_re().
  iocore/net/I_NetProcessor.h
  iocore/net/I_UDPNet.h
  iocore/net/P_QUICNetProcessor_native.h
  iocore/net/P_QUICNetProcessor_quiche.h
  iocore/net/P_UnixNetProcessor.h
  iocore/net/QUICNetProcessor.cc
  iocore/net/QUICNetProcessor_quiche.cc
  iocore/net/Socks.cc
  iocore/net/UnixNetProcessor.cc
  iocore/net/UnixUDPNet.cc
  proxy/http/HttpSM.cc
  proxy/http/PreWarmManager.cc
  src/traffic_quic/quic_client.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/SocksProxy.cc
Labels: Core, Coverity

#10053 Bump minimum CMake version from 3.20 to 3.26
  CMakeLists.txt
Labels: CMake

#10043 coverity 1508912: Avoid copy
  src/traffic_ctl/jsonrpc/ctrl_yaml_codecs.h
Labels: Coverity

#10049 cmake: add build support for even more more experimental plugins
  plugins/experimental/CMakeLists.txt
  plugins/experimental/statichit/CMakeLists.txt
  plugins/experimental/stream_editor/CMakeLists.txt
  plugins/experimental/system_stats/CMakeLists.txt
  plugins/experimental/system_stats/system_stats.cc
  plugins/experimental/tls_bridge/CMakeLists.txt
Labels: Plugins, CMake

#10058 Require PCRE and clean up usage in CMakeLists
  CMakeLists.txt
  cmake/FindPCRE.cmake
  iocore/eventsystem/CMakeLists.txt
  plugins/cachekey/CMakeLists.txt
  plugins/experimental/access_control/CMakeLists.txt
  plugins/experimental/cookie_remap/CMakeLists.txt
  plugins/experimental/slice/CMakeLists.txt
  plugins/header_rewrite/CMakeLists.txt
  plugins/prefetch/CMakeLists.txt
  plugins/regex_remap/CMakeLists.txt
  plugins/regex_revalidate/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: CMake

#10063 Remove remaining PCRE_LIBRARY uses that I missed
  plugins/experimental/slice/unit-tests/CMakeLists.txt
Labels: CMake

#10059 Confine some warning flags to GNU compiler builds
  CMakeLists.txt
Labels: CMake

#10054 Demote SSL log line to debug and remove key printing
  iocore/net/SSLUtils.cc
Labels: Logging, SSL

#9878 libswoc: Update Errata use in cache tool.
  include/tscpp/util/ts_errata.h
  src/traffic_cache_tool/CacheDefs.cc
  src/traffic_cache_tool/CacheDefs.h
  src/traffic_cache_tool/CacheScan.cc
  src/traffic_cache_tool/CacheTool.cc
Labels: Cache, CPP API, Cleanup

#9875 libswoc: Update WCCP use of Errata.
  include/tscpp/util/ts_errata.h
  include/wccp/Wccp.h
  src/traffic_wccp/Makefile.inc
  src/traffic_wccp/wccp_client.cc
  src/wccp/WccpConfig.cc
  src/wccp/WccpEndPoint.cc
  src/wccp/WccpLocal.h
  src/wccp/WccpMsg.cc
  src/wccp/WccpStatic.cc
  src/wccp/WccpUtil.h
Labels: CPP API, Cleanup, WCCP

#10060 Don't link overridable_txn_vars.o twice
  mgmt/rpc/Makefile.am
Labels: Build

#10065 Revert "Bump minimum CMake version from 3.20 to 3.26"
  CMakeLists.txt
Labels: Build, CMake

#10055 clang-analyzer fixes for clang14
  iocore/net/NetEvent.h
  iocore/net/NetHandler.cc
  iocore/net/P_QUICNetVConnection_quiche.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/P_UnixNetVConnection.h
  iocore/net/QUICNetProcessor_quiche.cc
  iocore/net/QUICNetVConnection.cc
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/UnixNetVConnection.cc
  proxy/http/HttpSM.cc
  src/tscore/ArgParser.cc
  src/tscore/Layout.cc
Labels: clang-analyzer

#10071 Fix a compiler warning in P_SNIActionPerformer.h
  iocore/net/P_SNIActionPerformer.h
Labels: Cleanup

#10064 LSan: Fix memory leak of test_HostFile
  iocore/hostdb/test_HostFile.cc
Labels: ASan

#10074 Clean up link libraries for traffic_server target
  iocore/aio/CMakeLists.txt
  iocore/cache/CMakeLists.txt
  iocore/dns/CMakeLists.txt
  iocore/hostdb/CMakeLists.txt
  mgmt/config/CMakeLists.txt
  mgmt/rpc/CMakeLists.txt
  proxy/http/remap/CMakeLists.txt
  proxy/http2/CMakeLists.txt
  proxy/logging/CMakeLists.txt
  proxy/shared/CMakeLists.txt
  src/traffic_server/CMakeLists.txt
Labels: CMake

#10068 Use of uninitialized variables reported by oss-fuzz
  src/tscore/Regex.cc
Labels: Core

#10073 Fix missing PCRE includes in CMake by linking to tscore
  iocore/aio/CMakeLists.txt
  iocore/cache/CMakeLists.txt
  iocore/dns/CMakeLists.txt
  iocore/hostdb/CMakeLists.txt
  iocore/io_uring/CMakeLists.txt
  iocore/net/CMakeLists.txt
  iocore/utils/CMakeLists.txt
  mgmt/config/CMakeLists.txt
  mgmt/rpc/CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/experimental/slice/CMakeLists.txt
  plugins/s3_auth/CMakeLists.txt
  proxy/CMakeLists.txt
  proxy/http/CMakeLists.txt
  proxy/http/remap/CMakeLists.txt
  proxy/http2/CMakeLists.txt
  proxy/logging/CMakeLists.txt
  proxy/shared/CMakeLists.txt
  src/tscore/CMakeLists.txt
  src/tscpp/api/CMakeLists.txt
  src/tscpp/util/CMakeLists.txt
Labels: CMake

#9976 fix: require RSRC_CLIENT_REQUEST_HEADERS in ConditionMethod
  plugins/header_rewrite/conditions.cc
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite_cond_method.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_cond_method.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_cond_method.conf
Labels: header_rewrite

#10077 Shutdown tests: update backing sleep command to 10
  tests/gold_tests/remap/remap_load_empty_failure.test.py
  tests/gold_tests/shutdown/emergency.test.py
  tests/gold_tests/shutdown/fatal.test.py
Labels: AuTest

#10079 Fix yaml-cpp dependency tree for CMake build
  iocore/net/CMakeLists.txt
  proxy/http/remap/CMakeLists.txt
  proxy/logging/CMakeLists.txt
  src/records/CMakeLists.txt
  src/traffic_ctl/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: CMake

#10080 Fix inkevent dependency tree for CMake build
  iocore/aio/CMakeLists.txt
  iocore/cache/CMakeLists.txt
  iocore/dns/CMakeLists.txt
  iocore/hostdb/CMakeLists.txt
  iocore/io_uring/CMakeLists.txt
  iocore/net/CMakeLists.txt
  iocore/net/quic/CMakeLists.txt
  iocore/utils/CMakeLists.txt
  proxy/CMakeLists.txt
  proxy/hdrs/CMakeLists.txt
  proxy/http/CMakeLists.txt
  proxy/http/remap/CMakeLists.txt
  proxy/http2/CMakeLists.txt
  proxy/logging/CMakeLists.txt
  src/records/CMakeLists.txt
  src/traffic_crashlog/CMakeLists.txt
Labels: CMake

#9960 Adding host URL to NextHop Strategies debug message during host mark down.
  proxy/http/remap/NextHopHealthStatus.cc
Labels: Debug

#10083 Proxy Verifier: update to v2.9.0
  tests/prepare_proxy_verifier.sh
  tests/proxy-verifier-version.txt
Labels: AuTest

#10081 Fix inkaio/cache/hostdb dependency tree for CMake
  iocore/aio/CMakeLists.txt
  iocore/cache/CMakeLists.txt
  iocore/dns/CMakeLists.txt
  iocore/hostdb/CMakeLists.txt
  iocore/io_uring/CMakeLists.txt
  iocore/utils/CMakeLists.txt
  mgmt/rpc/CMakeLists.txt
  proxy/CMakeLists.txt
  proxy/http/CMakeLists.txt
  proxy/http/remap/CMakeLists.txt
  proxy/http/unit_tests/CMakeLists.txt
  proxy/http2/CMakeLists.txt
  proxy/logging/CMakeLists.txt
Labels: CMake

#9998 Cleanup: Collect micro-benchmark programs
  .gitignore
  configure.ac
  iocore/eventsystem/Makefile.am
  src/tscore/Makefile.am
  tools/Makefile.am
  tools/benchmark/Makefile.am
  tools/benchmark/benchmark_FreeList.cc
  tools/benchmark/benchmark_ProxyAllocator.cc
  tools/benchmark/benchmark_SharedMutex.cc
Labels: Cleanup

#10084 ASan: Fix alloc-dealloc-mismatch of test_HostFile
  iocore/hostdb/test_HostFile.cc
Labels: ASan

#10085 Fix proxy dependency tree in CMake build
  iocore/cache/CMakeLists.txt
  iocore/dns/CMakeLists.txt
  iocore/hostdb/CMakeLists.txt
  iocore/net/CMakeLists.txt
  iocore/utils/CMakeLists.txt
  mgmt/config/CMakeLists.txt
  mgmt/rpc/CMakeLists.txt
  proxy/http/CMakeLists.txt
  proxy/http/remap/CMakeLists.txt
  proxy/http/unit_tests/CMakeLists.txt
  proxy/http2/CMakeLists.txt
  proxy/logging/CMakeLists.txt
  src/tests/CMakeLists.txt
Labels: CMake

#9859 Extract opening a pre_warm connection
  iocore/net/CMakeLists.txt
  iocore/net/Makefile.am
  iocore/net/PreWarmManager.cc
  iocore/net/PreWarmManager.h
  iocore/net/TLSTunnelSupport.cc
  iocore/net/TLSTunnelSupport.h
  proxy/http/CMakeLists.txt
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/Makefile.am
Labels: Cleanup, HttpSM

#10086 compress plugin: add minimum-content-length default value to docs
  doc/admin-guide/plugins/compress.en.rst
Labels: Documentation, compress

#10090 Do not set @SECLEVEL with boringssl. (round 2)
  tests/gold_tests/tls/tls_client_versions_minmax.test.py
Labels: AuTest

#9934 Add more debug to the regex_revalidate main handler.
  doc/admin-guide/plugins/regex_revalidate.en.rst
  plugins/regex_revalidate/regex_revalidate.c
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-hit.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-miss.gold
  tests/gold_tests/pluginTest/regex_revalidate/gold/regex_reval-stale.gold
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate.test.py
  tests/gold_tests/pluginTest/regex_revalidate/regex_revalidate_miss.test.py
Labels: Plugins, Documentation, Debug

#10093 tools/check-unused-dependencies: make exceptions for tools under clang+asan
  tools/check-unused-dependencies
Labels: Build, ASan

#10094 Update to libswoc 1.5.3
  lib/swoc/CMakeLists.txt
  lib/swoc/Makefile.am
  lib/swoc/include/swoc/BufferWriter.h
  lib/swoc/include/swoc/MemSpan.h
  lib/swoc/include/swoc/TextView.h
  lib/swoc/include/swoc/Vectray.h
  lib/swoc/include/swoc/bwf_base.h
  lib/swoc/include/swoc/bwf_fwd.h
  lib/swoc/include/swoc/bwf_ip.h
  lib/swoc/include/swoc/swoc_version.h
  lib/swoc/src/Errata.cc
  lib/swoc/src/bw_format.cc
  lib/swoc/src/bw_ip_format.cc
  lib/swoc/src/swoc_file.cc
Labels: CPP API, CPP Util

#10087 Several fixes around the H3 and QUICHE build.
  iocore/net/quic/Makefile.am
  m4/quiche.m4
  proxy/http3/Makefile.am
  tools/build_h3_tools.sh
Labels: Tools, QUIC

#10102 Add quiche openssl lib to LDFLAGS
  tools/build_h3_tools.sh
Labels: Build, HTTP/3

#10100 build_h3_tools: use openssl-3.1
  tools/build_h3_tools.sh
Labels: Tools

#10103 autest get_port: update to use psutil
  tests/gold_tests/autest-site/ports.py
Labels: AuTest

#10104 libswoc: Remove legacy IntrusiveHashMap
  doc/developer-guide/internal-libraries/index.en.rst
  doc/developer-guide/internal-libraries/intrusive-hash-map.en.rst
  include/tscore/IntrusiveHashMap.h
  src/tscore/CMakeLists.txt
  src/tscore/Makefile.am
  src/tscore/unit_tests/test_IntrusiveHashMap.cc
Labels: CPP API, Cleanup, CPP Util

#10107 Fix ports.py type hint for sets on older Python
  tests/gold_tests/autest-site/ports.py
Labels: AuTest

#10106 Remove legacy IntrusiveDList
  doc/developer-guide/internal-libraries/MemArena.en.rst
  doc/developer-guide/internal-libraries/index.en.rst
  doc/developer-guide/internal-libraries/intrusive-list.en.rst
  include/tscpp/util/IntrusiveDList.h
  include/tscpp/util/Makefile.am
  proxy/http/remap/PluginDso.h
  proxy/http/remap/PluginFactory.h
  proxy/http3/QPACK.h
  src/tscpp/util/CMakeLists.txt
  src/tscpp/util/unit_tests/test_IntrusiveDList.cc
Labels: CPP API, Cleanup, CPP Util

#10105 Update autest to the latest 1.10.4
  tests/Pipfile
  tests/gold_tests/autest-site/init.cli.ext
Labels: AuTest

#10109 libswoc - remove legacy RbTree.
  include/tscore/RbTree.h
  src/tscore/CMakeLists.txt
  src/tscore/Makefile.am
  src/tscore/RbTree.cc
Labels: CPP API, Cleanup, CPP Util

#10099 resize string so it doesn't over flow
  plugins/experimental/traffic_dump/sensitive_fields.h
Labels: Plugins, Crash

#10110 Check for SSL_CTX_set_client_hello_cb in CMake
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#10004 Add support for request/response transform for Wasm plugin
  doc/admin-guide/plugins/wasm.en.rst
  plugins/experimental/wasm/ats_context.cc
  plugins/experimental/wasm/ats_context.h
  plugins/experimental/wasm/examples/transform/Makefile
  plugins/experimental/wasm/examples/transform/README.md
  plugins/experimental/wasm/examples/transform/transform.cc
  plugins/experimental/wasm/examples/transform/transform.yaml
  plugins/experimental/wasm/wasm_main.cc
Labels: Plugins, Wasm

#10113 Reject reserved h2 to h3 frame types
  proxy/http3/Http3DebugNames.cc
  proxy/http3/Http3ProtocolEnforcer.cc
  proxy/http3/test/test_Http3FrameDispatcher.cc
Labels: HTTP/3

#10072 LSan: Suppress memory leak report of RegressionTest_UDPNet_echo
  ci/asan_leak_suppression/regression.txt
  iocore/net/Makefile.am
Labels: Tests, ASan
