Repository apache/trafficserver, pull requests merged in 2023-10, with the labels that each got.

#10553 CID 1508828: Resource leak
  plugins/experimental/cookie_remap/cookie_remap.cc
Labels: Plugins, Coverity

#10483 Fix unchecked dynamic_cast
  proxy/http2/Http2ConnectionState.cc
Labels: Coverity

#10095 Remove most dynamic_cast from SNIActionPerformer
  iocore/net/NetVCOptions.cc
  iocore/net/NetVCOptions.h
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SNIActionPerformer.cc
  iocore/net/SNIActionPerformer.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLUtils.cc
  iocore/net/TLSBasicSupport.cc
  iocore/net/TLSBasicSupport.h
  iocore/net/TLSEarlyDataSupport.cc
  iocore/net/TLSEarlyDataSupport.h
  iocore/net/TLSSNISupport.cc
  iocore/net/TLSSNISupport.h
  proxy/http/HttpSM.cc
  tests/gold_tests/h2/h2enable.test.py
Labels: TLS

#10461 Make Cripts buildable with BoringSSL
  src/cripts/Crypto.cc
Labels: Build, Cripts

#10554 cmake: Support external yaml-cpp
  CMakeLists.txt
  example/plugins/c-api/CMakeLists.txt
  lib/CMakeLists.txt
  lib/swoc/CMakeLists.txt
  plugins/cache_promote/CMakeLists.txt
  plugins/compress/CMakeLists.txt
  plugins/conf_remap/CMakeLists.txt
  plugins/esi/CMakeLists.txt
  plugins/esi/common/CMakeLists.txt
  plugins/esi/lib/CMakeLists.txt
  plugins/experimental/cert_reporting_tool/CMakeLists.txt
  plugins/experimental/money_trace/CMakeLists.txt
  plugins/header_rewrite/CMakeLists.txt
  plugins/regex_remap/CMakeLists.txt
  plugins/xdebug/CMakeLists.txt
  proxy/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: CMake

#10526 background fetch plugin docs for origins that can't do range requests
  doc/admin-guide/plugins/background_fetch.en.rst
Labels: Plugins, Documentation

#10462 [Fuzzing] add cifuzz
  .github/workflows/cifuzz.yml
  tests/fuzzing/oss-fuzz.sh
Labels: Tests

#10557 doc: fix typo min to max, and disabled by default for TLSv1 and TLSv1_0
  doc/admin-guide/files/records.yaml.en.rst
Labels: Documentation

#10544 CID-1508851: Possible "fix" for a false positive issue from coverity.
  mgmt/rpc/server/IPCSocketServer.cc
Labels: Coverity

#9736 Improve performance of finding SNI Actions
  include/tscpp/util/Convert.h
  iocore/net/SSLCertLookup.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSNIConfig.h
  iocore/net/unit_tests/sni_conf_test.yaml
  iocore/net/unit_tests/test_SSLSNIConfig.cc
  iocore/net/unit_tests/test_YamlSNIConfig.cc
  iocore/net/unit_tests/unit_test_main.cc
  tests/gold_tests/h2/h2disable.test.py
  tests/gold_tests/h2/h2disable_no_accept_threads.test.py
  tests/gold_tests/h2/h2enable.test.py
  tests/gold_tests/h2/h2enable_no_accept_threads.test.py
  tests/gold_tests/tls/tls_client_cert2.test.py
  tests/gold_tests/tls/tls_client_cert2_plugin.test.py
  tests/gold_tests/tls/tls_client_verify.test.py
  tests/gold_tests/tls/tls_client_verify2.test.py
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/gold_tests/tls/tls_verify3.test.py
Labels: TLS, Performance, Incompatible

#10564 Add an HTTP/2 related rate limiting
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/TLSSNISupport.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#10566 s3_auth: Fix hash calculation
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
Labels: s3_auth

#10568 Reallocate a buffer for H2 header block only if needed
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10567 s3_auth: Fix hash calculation
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
Labels: s3_auth

#10565 Add an HTTP/2 related rate limiting
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#10571 APIs to get the h2 error codes and a plugin to use them
  doc/admin-guide/plugins/block_errors.en.rst
  doc/admin-guide/plugins/index.en.rst
  include/ts/ts.h
  include/tscore/ink_inet.h
  plugins/Makefile.am
  plugins/experimental/block_errors/CMakeLists.txt
  plugins/experimental/block_errors/Makefile.inc
  plugins/experimental/block_errors/block_errors.cc
  proxy/ProxyTransaction.cc
  src/traffic_server/InkAPI.cc
Labels: HTTP/2, TS API

#10563 Add an HTTP/2 related rate limiting
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/TLSSNISupport.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  src/records/RecordsConfig.cc
Labels: HTTP/2

#10572 APIs to get the h2 error codes and a plugin to use them
  doc/admin-guide/plugins/block_errors.en.rst
  doc/admin-guide/plugins/index.en.rst
  include/ts/ts.h
  include/tscore/ink_inet.h
  plugins/Makefile.am
  plugins/experimental/block_errors/Makefile.inc
  plugins/experimental/block_errors/block_errors.cc
  src/traffic_server/InkAPI.cc
Labels: HTTP/2, TS API

#10574 Add support for vconn start handler for lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/Makefile.inc
  plugins/lua/example/test_vconn.lua
  plugins/lua/ts_lua.cc
  plugins/lua/ts_lua_common.h
  plugins/lua/ts_lua_fetch.cc
  plugins/lua/ts_lua_hook.cc
  plugins/lua/ts_lua_http.cc
  plugins/lua/ts_lua_http_intercept.cc
  plugins/lua/ts_lua_misc.cc
  plugins/lua/ts_lua_util.cc
  plugins/lua/ts_lua_util.h
  plugins/lua/ts_lua_vconn.cc
  plugins/lua/ts_lua_vconn.h
Labels: Plugins, Lua

#10573 Add support for vconn start handler in lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/Makefile.inc
  plugins/lua/example/test_vconn.lua
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_common.h
  plugins/lua/ts_lua_fetch.c
  plugins/lua/ts_lua_hook.c
  plugins/lua/ts_lua_http.c
  plugins/lua/ts_lua_http_intercept.c
  plugins/lua/ts_lua_misc.c
  plugins/lua/ts_lua_util.c
  plugins/lua/ts_lua_util.h
  plugins/lua/ts_lua_vconn.c
  plugins/lua/ts_lua_vconn.h
Labels: Plugins, Lua

#10575 Add support for vconn start handler for lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/Makefile.inc
  plugins/lua/example/test_vconn.lua
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_common.h
  plugins/lua/ts_lua_fetch.c
  plugins/lua/ts_lua_hook.c
  plugins/lua/ts_lua_http.c
  plugins/lua/ts_lua_http_intercept.c
  plugins/lua/ts_lua_misc.c
  plugins/lua/ts_lua_util.c
  plugins/lua/ts_lua_util.h
  plugins/lua/ts_lua_vconn.c
  plugins/lua/ts_lua_vconn.h
Labels: Plugins, Lua

#10550 Ran clang-tidy over the experimental plugins
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/experimental/cache_key_genid/cache_key_genid.cc
  plugins/experimental/cookie_remap/hash.cc
  plugins/experimental/fastcgi/src/Profiler.h
  plugins/experimental/fastcgi/src/ats_fastcgi.cc
  plugins/experimental/fastcgi/src/ats_fcgi_client.cc
  plugins/experimental/fastcgi/src/ats_fcgi_client.h
  plugins/experimental/fastcgi/src/fcgi_config.cc
  plugins/experimental/fastcgi/src/fcgi_config.h
  plugins/experimental/fastcgi/src/fcgi_protocol.h
  plugins/experimental/fastcgi/src/server.cc
  plugins/experimental/fastcgi/src/server_connection.cc
  plugins/experimental/fq_pacing/fq_pacing.cc
  plugins/experimental/http_stats/http_stats.cc
  plugins/experimental/maxmind_acl/mmdb.h
  plugins/experimental/memcache/protocol_binary.h
  plugins/experimental/memcache/tsmemcache.cc
  plugins/experimental/memcache/tsmemcache.h
  plugins/experimental/money_trace/money_trace.cc
  plugins/experimental/mp4/mp4_meta.h
  plugins/experimental/otel_tracer/otel_tracer.cc
  plugins/experimental/otel_tracer/tracer_common.h
  plugins/experimental/rate_limit/iprep_simu.cc
  plugins/experimental/rate_limit/limiter.h
  plugins/experimental/rate_limit/txn_limiter.h
  plugins/experimental/ssl_session_reuse/src/Config.h
  plugins/experimental/ssl_session_reuse/src/message.h
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.cc
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.h
  plugins/experimental/system_stats/system_stats.cc
  plugins/experimental/tls_bridge/tls_bridge.cc
  plugins/experimental/uri_signing/config.cc
  plugins/experimental/uri_signing/cookie.cc
  plugins/experimental/uri_signing/jwt.cc
  plugins/experimental/uri_signing/match.cc
  plugins/experimental/uri_signing/normalize.cc
  plugins/experimental/uri_signing/parse.cc
  plugins/experimental/uri_signing/timing.h
  plugins/experimental/uri_signing/unit_tests/uri_signing_test.cc
  plugins/experimental/uri_signing/uri_signing.cc
  plugins/experimental/url_sig/url_sig.cc
  plugins/experimental/wasm/ats_context.cc
  plugins/experimental/wasm/ats_context.h
  plugins/experimental/wasm/wasm_main.cc
  proxy/Plugin.h
Labels: Cleanup

#10548 Build unit tests only with BUILD_TESTING
  CMakeLists.txt
  mgmt/rpc/CMakeLists.txt
  plugins/esi/CMakeLists.txt
  plugins/header_rewrite/CMakeLists.txt
  plugins/prefetch/CMakeLists.txt
  plugins/s3_auth/CMakeLists.txt
  proxy/hdrs/CMakeLists.txt
  proxy/http/CMakeLists.txt
  proxy/http2/CMakeLists.txt
  proxy/logging/CMakeLists.txt
  src/api/CMakeLists.txt
  src/records/CMakeLists.txt
  src/traffic_logstats/CMakeLists.txt
  src/traffic_via/CMakeLists.txt
  src/tscore/CMakeLists.txt
  src/tscpp/util/CMakeLists.txt
Labels: Tests, CMake

#10234 fix(http): do reverse dns resolution only for IP addresses
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
Labels: DNS

#10268 Replace time_t with std::chrono
  plugins/experimental/ssl_session_reuse/src/ssl_key_utils.cc
Labels: Plugins, Coverity

#10273 Make sure open() and read() succeeded
  plugins/experimental/ssl_session_reuse/src/config.cc
  plugins/experimental/ssl_session_reuse/src/ssl_init.cc
Labels: Plugins, Coverity

#10576 Prevent HttpSM to be added to wrong ConnectingEntry
  proxy/http/ConnectingEntry.cc
  proxy/http/HttpSM.cc
Labels: HTTP, Crash

#10581 lua plugin: update CMakeLists.txt for ts_lua_vconn.cc
  plugins/lua/CMakeLists.txt
Labels: Build, Lua

#10582 Fix tunnel_transform.cc build for cmake
  tests/tools/plugins/CMakeLists.txt
Labels: Build, Transform, Tunneling

#10579 Fix typo in docs for sni.yml
  doc/admin-guide/files/sni.yaml.en.rst
Labels: Documentation

#10583 Fix H2 debug message for a rate limit
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10540 LSan: Fix memory leak of Cache Unit Tests
  iocore/cache/test/main.h
Labels: Tests, Leak

#10584 Fixed h2spec 6.4.3 test
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10148 Move APIHook classes to tsapicore
  include/api/APIHook.h
  include/api/APIHooks.h
  include/api/FeatureAPIHooks.h
  include/api/InkAPIInternal.h
  include/api/LifecycleAPIHooks.h
  iocore/cache/CMakeLists.txt
  iocore/cache/test/main.cc
  iocore/cache/test/stub.cc
  iocore/hostdb/CMakeLists.txt
  iocore/net/CMakeLists.txt
  iocore/net/Makefile.am
  iocore/net/Net.cc
  iocore/net/SSLAPIHooks.cc
  iocore/net/SSLAPIHooks.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSecret.cc
  iocore/net/SSLUtils.cc
  iocore/net/TLSSessionResumptionSupport.cc
  iocore/net/libinknet_stub.cc
  iocore/net/unit_tests/unit_test_main.cc
  mgmt/rpc/CMakeLists.txt
  mgmt/rpc/handlers/plugins/Plugins.cc
  proxy/CMakeLists.txt
  proxy/HttpAPIHooks.cc
  proxy/HttpAPIHooks.h
  proxy/Makefile.am
  proxy/http/CMakeLists.txt
  proxy/http/HttpProxyServerMain.cc
  proxy/http/remap/CMakeLists.txt
  proxy/http/remap/unit-tests/nexthop_test_stubs.cc
  src/api/APIHook.cc
  src/api/APIHooks.cc
  src/api/CMakeLists.txt
  src/api/InkAPI.cc
  src/api/LifecycleAPIHooks.cc
  src/api/Makefile.am
  src/tests/CMakeLists.txt
  src/traffic_logcat/CMakeLists.txt
  src/traffic_server/traffic_server.cc
Labels: Cleanup

#10551 Make NextHopConsistentHash unit test stable
  proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
Labels: Tests, Parent Selection

#10586 Enforce h2 MAX_* settings before SETTINGS ACK
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10591 Fix typo in block_errors documentation
  doc/admin-guide/plugins/block_errors.en.rst
Labels: Documentation

#10592 Fixes some build issues around cripts
  include/cripts/Instance.hpp
  src/cripts/CMakeLists.txt
  src/cripts/Instance.cc
  src/cripts/Lulu.cc
  src/cripts/Matcher.cc
Labels: Build, Cripts

#10594 Remove unused http headers from Cache.cc
  iocore/cache/Cache.cc
Labels: Cleanup

#10588 Honor BUILD_SHARED_LIBS for tscore.
  plugins/esi/common/CMakeLists.txt
  plugins/esi/fetcher/CMakeLists.txt
  plugins/esi/lib/CMakeLists.txt
  plugins/esi/test/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: CMake

#10599 Split CacheVC into its own source file
  iocore/cache/CMakeLists.txt
  iocore/cache/Cache.cc
  iocore/cache/CacheVC.cc
  iocore/cache/Makefile.am
  iocore/cache/P_CacheDisk.h
Labels: Cache, Cleanup

#10596 Add QUICSupport as a NetVC service
  iocore/net/CMakeLists.txt
  iocore/net/I_NetVConnection.h
  iocore/net/Makefile.am
  iocore/net/P_QUICNetVConnection_quiche.h
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/QUICSupport.cc
  iocore/net/QUICSupport.h
  iocore/net/SNIActionPerformer.cc
  proxy/http3/Http09App.cc
  proxy/http3/Http09App.h
  proxy/http3/Http3App.cc
  proxy/http3/Http3App.h
  proxy/http3/Http3Session.cc
  proxy/http3/Http3SessionAccept.cc
  proxy/http3/Http3Transaction.cc
Labels: Cleanup

#10598 Add library dirs to luajit target
  cmake/FindLuaJIT.cmake
Labels: CMake

#10597 Break inkdns->inkcache and inkhostdb->inkcache cycles
  include/ts/InkAPIPrivateIOCore.h
  iocore/cache/CMakeLists.txt
  iocore/cache/HttpTransactCache.cc
  iocore/cache/HttpTransactCache.h
  iocore/cache/Makefile.am
  iocore/dns/CMakeLists.txt
  iocore/dns/P_DNS.h
  iocore/hostdb/CMakeLists.txt
  iocore/hostdb/I_HostDB.h
  iocore/net/SSLNetVConnection.cc
  proxy/http/CMakeLists.txt
  proxy/http/HttpTunnel.cc
  proxy/http/Makefile.am
Labels: Cleanup, CMake

#10602 sslhdr library needs public ssl
  plugins/experimental/sslheaders/CMakeLists.txt
Labels: CMake

#10595 Break cycle between iocore/hostdb and proxy/http libraries
  iocore/hostdb/CMakeLists.txt
  iocore/hostdb/HostDB.cc
  proxy/http/CMakeLists.txt
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  src/api/InkAPI.cc
  src/tests/CMakeLists.txt
Labels: Cleanup

#10585 Move DbgCtl.cc from tscore to tsapicore
  iocore/hostdb/Makefile.am
  iocore/net/Makefile.am
  mgmt/rpc/CMakeLists.txt
  mgmt/rpc/Makefile.am
  proxy/hdrs/CMakeLists.txt
  proxy/hdrs/Makefile.am
  proxy/http2/Makefile.am
  proxy/logging/Makefile.am
  src/api/CMakeLists.txt
  src/api/DbgCtl.cc
  src/api/Makefile.am
  src/tscore/CMakeLists.txt
  src/tscore/Makefile.am
Labels: Cleanup, CMake

#10604 Move the H3 metrics stubs to new Metrics
  iocore/net/QUICNetVConnection.cc
  iocore/net/quic/QUICGlobals.cc
  iocore/net/quic/QUICStats.h
  proxy/http2/HTTP2.cc
  proxy/http3/Http3.cc
  proxy/http3/Http3.h
Labels: Metrics, HTTP/3

#10556 s3_auth: Clear handling TSAction in the config_reloader
  plugins/s3_auth/s3_auth.cc
Labels: Crash, s3_auth

#10618 Fix typo in block_errors documentation (#10591)
  doc/admin-guide/plugins/block_errors.en.rst
Labels: Documentation

#10614 Add rat target
  CMakeLists.txt
  ci/rat-regex.txt
Labels: CMake

#10587 Break cycle between iocore/inknet and proxy/http
  iocore/net/CMakeLists.txt
  iocore/net/Makefile.am
  iocore/net/PreWarm.h
  iocore/net/SSLConfig.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSNIConfig.h
  iocore/net/TLSTunnelSupport.cc
  iocore/net/TLSTunnelSupport.h
  iocore/net/libinknet_stub.cc
  iocore/net/unit_tests/test_SSLSNIConfig.cc
  proxy/http/CMakeLists.txt
  proxy/http/HttpSM.h
  proxy/http/Makefile.am
  proxy/http/PreWarmManager.cc
  proxy/http/PreWarmManager.h
Labels: Cleanup

#10621 Fixed h2spec 6.4.3 test (#10584)
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10622 Fix H2 debug message for a rate limit (#10583)
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10612 Change CMAKE_CXX_STANDARD to cache variable
  CMakeLists.txt
Labels: CMake

#10619 Fixes the gitignore, after plugin migration
  .gitignore
Labels: Cleanup

#10605 Removes the old DynamicStats, which are no longer used
  include/records/DynamicStats.h
  include/records/I_RecCore.h
  iocore/eventsystem/EventSystem.cc
  proxy/http/HttpConfig.h
  src/records/CMakeLists.txt
  src/records/Makefile.am
  src/records/P_RecCore.cc
  src/records/RecCore.cc
  src/records/unit_tests/test_DynamicStats.cc
Labels: Cleanup, Metrics

#10613 Convert ENABLE_POSIX_CAP to auto option
  CMakeLists.txt
  cmake/AutoOptionHelpers.cmake
Labels: CMake

#10623 Fix H2 debug message for a rate limit (#10583)
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#10561 Make build_h3_tools.sh more reliable
  tools/build_h3_tools.sh
Labels: Tools

#10542 LSan: Fix memory leak of test_proxy_hdrs
  ci/asan_leak_suppression/unit_tests.txt
  proxy/hdrs/Makefile.am
  proxy/hdrs/unit_tests/test_Hdrs.cc
  proxy/http/unit_tests/test_HttpTransact.cc
Labels: Tests, Leak

#10543 LSan: Fix memory leak of test_libhttp2
  proxy/http2/unit_tests/test_HpackIndexingTable.cc
Labels: Tests, Leak

#10611 Fixed logically dead code
  plugins/experimental/access_control/access_control.cc
Labels: Coverity

#10606 Update doc/README.md for cmake
  doc/README.md
Labels: Documentation

#10629 Add presets for debian and ubuntu with hardening flags
  CMakePresets.json
Labels: CMake

#10630 Manually apply upstream fix for deprecation warning
  lib/yamlcpp/CMakeLists.txt
Labels: CMake

#10632 Fix freebsd ci build
  CMakeLists.txt
  plugins/compress/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: CMake

#10600 Cleanup: Move Vol implementations into Vol.cc
  iocore/cache/CMakeLists.txt
  iocore/cache/Cache.cc
  iocore/cache/CacheDir.cc
  iocore/cache/Makefile.am
  iocore/cache/P_CacheDir.h
  iocore/cache/P_CacheVol.h
  iocore/cache/Vol.cc
Labels: Cache, Cleanup

#10603 Extract CacheEvacuateDocVC from CacheVC
  iocore/cache/CMakeLists.txt
  iocore/cache/Cache.cc
  iocore/cache/CacheEvacuateDocVC.cc
  iocore/cache/CacheEvacuateDocVC.h
  iocore/cache/CacheVC.h
  iocore/cache/CacheWrite.cc
  iocore/cache/I_Cache.h
  iocore/cache/Makefile.am
  iocore/cache/P_CacheDir.h
  iocore/cache/P_CacheInternal.h
  iocore/cache/P_CacheVol.h
  iocore/eventsystem/I_Thread.h
Labels: Cache, Cleanup

#10637 Fix QUICSupport
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/SSLUtils.cc
Labels: QUIC

#10639 Version.cc: make clang-analyzer happy for cmake
  src/tscore/Version.cc
Labels: clang-analyzer

#10640 Add VIA RWW cache result as acceptable for an IMS_HIT
  proxy/http/HttpTransactHeaders.cc
Labels: Metrics, Bug

#10643 Remove the CMake build requirement
  .asf.yaml
Labels: CI

#10635 Convert CacheDir regression tests into unit tests
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/Makefile.am
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/test/test_CacheDir.cc
  src/tests/CMakeLists.txt
Labels: Cache, Tests, Cleanup

#10644 Fix the builds after previous migrations
  include/proxy/http/remap/PluginDso.h
  include/records/RecProcess.h
Labels: Build

#10646 Add a cmake preset for clang-analyzer
  CMakePresets.json
Labels: Tools, CMake

#10633 fix case on cache var
  CMakeLists.txt
Labels: CMake

#10645 Rename cache/test/ to cache/unit_tests/
  .gitignore
  src/iocore/cache/unit_tests/CacheTestHandler.cc
  src/iocore/cache/unit_tests/CacheTestHandler.h
  src/iocore/cache/unit_tests/main.cc
  src/iocore/cache/unit_tests/main.h
  src/iocore/cache/unit_tests/storage.config
  src/iocore/cache/unit_tests/stub.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_S.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_S.cc
  src/iocore/cache/unit_tests/test_Cache.cc
  src/iocore/cache/unit_tests/test_CacheDir.cc
  src/iocore/cache/unit_tests/test_Disk_Failure.cc
  src/iocore/cache/unit_tests/test_Disk_Init_Failure.cc
  src/iocore/cache/unit_tests/test_Populated_Cache.cc
  src/iocore/cache/unit_tests/test_Populated_Cache_Disk_Failure.cc
  src/iocore/cache/unit_tests/test_RWW.cc
  src/iocore/cache/unit_tests/test_Update_L_to_S.cc
  src/iocore/cache/unit_tests/test_Update_S_to_L.cc
  src/iocore/cache/unit_tests/test_Update_header.cc
  src/iocore/cache/unit_tests/var/trafficserver/guard.txt
  src/proxy/http/Makefile.am
  src/proxy/http/unit_tests/CMakeLists.txt
  src/tests/CMakeLists.txt
Labels: Cache, Tests, Cleanup

#10659 Fix race of shutdown & retry of CacheDir unit test
  src/iocore/cache/unit_tests/test_CacheDir.cc
Labels: Cache, Tests

#10642 Improve the TSMgmtUpdateRegister with an optional file name
  doc/developer-guide/api/functions/TSMgmtUpdateRegister.en.rst
  include/api/InkAPIInternal.h
  include/ts/ts.h
  src/api/ConfigUpdateCbTable.cc
  src/api/InkAPI.cc
  src/mgmt/config/FileManager.cc
Labels: TS API

#10654 #10300 issue reworked please check
  doc/release-notes/roadmap.en.rst
Labels: Documentation

#10626 Upgrade disk error message to an error
  src/iocore/cache/CacheVC.cc
Labels: Cache

#10649 Convert CacheVol regression tests into unit tests
  src/iocore/cache/CacheHosting.cc
  src/iocore/cache/Makefile.am
  src/iocore/cache/unit_tests/storage.config
  src/iocore/cache/unit_tests/test_CacheVol.cc
  src/tests/CMakeLists.txt
Labels: Cache, Tests, Cleanup

#10664 Fix good_request_after_bad AuTest
  tests/gold_tests/headers/gold/bad_method.gold
Labels: AuTest

#10668 cmake: remkove -Wno-cast-function-type
  CMakeLists.txt
Labels: CMake

#10650 cmake: Install include files
  lib/CMakeLists.txt
  lib/swoc/CMakeLists.txt
  src/api/CMakeLists.txt
  src/tscpp/api/CMakeLists.txt
  src/tscpp/util/CMakeLists.txt
Labels: CMake

#10667 generate svg files from uml for docs
  doc/CMakeLists.txt
Labels: CMake

#10661 cmake: disable in-source builds.
  CMakeLists.txt
Labels: CMake

#10675 Fix target_include_directories for maxmind_acl plugin.
  plugins/experimental/maxmind_acl/CMakeLists.txt
Labels: CMake

#10656 Remove unused getbyxxx methods from DNSProcessor
  include/iocore/dns/DNSProcessor.h
Labels: DNS, Cleanup

#10682 CacheVC::openWriteCloseDir: fix metric array indexing
  src/iocore/cache/CacheWrite.cc
Labels: Cache, Metrics

#10680 Fix cmake test for 128 bit CAS.
  cmake/Check128BitCas.cmake
Labels: CMake

#10685 make doc lang configurable with cmake
  CMakeLists.txt
  doc/conf.cmake.in.py
Labels: Documentation

#10691 Codeql cmake
  .github/workflows/codeql.yml
Labels: CodeQL

#10655 List all includes explicitly in dns headers
  include/iocore/dns/DNSProcessor.h
  include/iocore/dns/SRV.h
  include/iocore/dns/SplitDNSProcessor.h
  src/iocore/dns/CMakeLists.txt
  src/iocore/dns/P_DNSConnection.h
  src/iocore/dns/P_DNSProcessor.h
  src/iocore/dns/P_SplitDNSProcessor.h
Labels: DNS, Cleanup

#10690 cmake: install traffic_logstats
  src/traffic_logstats/CMakeLists.txt
Labels: CMake

#10689 Cleanup: Remove unused members of CacheHostRecord
  src/iocore/cache/P_CacheHosting.h
Labels: Cache, Cleanup

#10683 Deprecate the C++ API.
  doc/developer-guide/introduction/header-file-structure.en.rst
  doc/release-notes/whats-new.en.rst
  include/tscpp/api/Async.h
  include/tscpp/api/AsyncHttpFetch.h
  include/tscpp/api/AsyncTimer.h
  include/tscpp/api/CaseInsensitiveStringComparator.h
  include/tscpp/api/ClientRequest.h
  include/tscpp/api/Continuation.h
  include/tscpp/api/GlobalPlugin.h
  include/tscpp/api/GzipDeflateTransformation.h
  include/tscpp/api/GzipInflateTransformation.h
  include/tscpp/api/Headers.h
  include/tscpp/api/HttpMethod.h
  include/tscpp/api/HttpStatus.h
  include/tscpp/api/HttpVersion.h
  include/tscpp/api/InterceptPlugin.h
  include/tscpp/api/Logger.h
  include/tscpp/api/Plugin.h
  include/tscpp/api/PluginInit.h
  include/tscpp/api/RemapPlugin.h
  include/tscpp/api/Request.h
  include/tscpp/api/Response.h
  include/tscpp/api/Stat.h
  include/tscpp/api/Transaction.h
  include/tscpp/api/TransactionPlugin.h
  include/tscpp/api/TransformationPlugin.h
  include/tscpp/api/Url.h
  include/tscpp/api/utils.h
Labels: CPP API, Documentation, Incompatible

#10695 cmake: use cmake to implement layout setup
  CMakeLists.txt
  CMakePresets.json
  cmake/add_atsplugin.cmake
  cmake/layout.cmake
  configs/CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: CMake

#10693 cmake: resolve install prefix later to pickup prefix override
  cmake/install_configs.cmake
  configs/CMakeLists.txt
Labels: CMake

#10679 cmake: add ENABLE_FIPS option
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: CMake
