Repository apache/trafficserver, pull requests merged in 2023-11, with the labels that each got.

#10666 Rename Vol to Stripe
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/cache-architecture/core-cache-functions.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  include/iocore/cache/CacheVC.h
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheDisk.cc
  src/iocore/cache/CacheHosting.cc
  src/iocore/cache/CachePagesInternal.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/Makefile.am
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheDisk.h
  src/iocore/cache/P_CacheHosting.h
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/P_RamCache.h
  src/iocore/cache/RamCacheCLFUS.cc
  src/iocore/cache/RamCacheLRU.cc
  src/iocore/cache/Stripe.cc
  src/iocore/cache/unit_tests/test_CacheDir.cc
  src/iocore/cache/unit_tests/test_CacheVol.cc
  src/traffic_cache_tool/CacheDefs.h
Labels: Cache, Cleanup

#10698 cmake: chown some paths at install time
  CMakeLists.txt
  cmake/post_install.cmake
Labels: CMake

#10696 HttpConnectionCount move to iocore/net
  include/iocore/net/ConnectionTracker.h
  include/iocore/net/SessionSharingAPIEnums.h
  include/proxy/PoolableSession.h
  include/proxy/http/Http1ServerSession.h
  include/proxy/http/HttpConfig.h
  include/proxy/http/HttpTransact.h
  include/shared/overridable_txn_vars.h
  plugins/experimental/tls_bridge/CMakeLists.txt
  plugins/experimental/tls_bridge/regex.cc
  plugins/experimental/tls_bridge/regex.h
  plugins/experimental/tls_bridge/tls_bridge.cc
  src/api/CMakeLists.txt
  src/api/InkAPI.cc
  src/iocore/cache/unit_tests/main.cc
  src/iocore/net/CMakeLists.txt
  src/iocore/net/ConnectionTracker.cc
  src/iocore/net/Makefile.am
  src/iocore/net/libinknet_stub.cc
  src/proxy/http/CMakeLists.txt
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpProxyServerMain.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/Makefile.am
  src/shared/overridable_txn_vars.cc
  src/tests/CMakeLists.txt
Labels: HTTP

#10713 link inknet for EventSystem test for release build
  src/tests/CMakeLists.txt
Labels: CMake

#10677 Add ENABLE_EVENT_TRACKER option
  CMakeLists.txt
Labels: CMake

#10708 Removes the cache_key_genid plugin, as agreed
  configure.ac
  plugins/Makefile.am
  plugins/experimental/cache_key_genid/Makefile.inc
  plugins/experimental/cache_key_genid/cache_key_genid.cc
Labels: Plugins

#10704 Add assert of CacheDisk is not nullptr
  src/iocore/cache/Cache.cc
Labels: clang-analyzer

#10711 Remove the dependency for HttpConfig from iocore/cache
  include/iocore/cache/Cache.h
  include/iocore/cache/CacheVC.h
  include/iocore/cache/HttpConfigAccessor.h
  include/iocore/cache/HttpTransactCache.h
  include/proxy/http/HttpCacheSM.h
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/HttpTransactCache.cc
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/unit_tests/main.h
  src/proxy/http/HttpCacheSM.cc
  src/tests/CMakeLists.txt
  src/traffic_logcat/CMakeLists.txt
Labels: Cleanup

#10706 Extract Stripe::aggregate_pending_writes
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheVol.h
Labels: Cache, Cleanup

#10687 Update ACCEPT thread configurations
  include/iocore/net/NetHandler.h
  src/iocore/net/NetHandler.cc
  src/iocore/net/UnixNetAccept.cc
Labels: Configuration, Threads

#10717 cmake: adding a release preset
  CMakePresets.json
Labels: CMake

#10728 Cleanup of the rate_limit simulator
  plugins/experimental/rate_limit/ip_reputation.cc
  plugins/experimental/rate_limit/iprep_simu.cc
Labels: rate_limit

#10733 logcat/CMakeLists: add inkevent as library dependency
  src/traffic_logcat/CMakeLists.txt
Labels: CMake

#10590 applying additional accepts PR to 9.2.x
  doc/admin-guide/files/records.config.en.rst
  doc/appendices/command-line/traffic_server.en.rst
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetAccept.cc
  mgmt/RecordsConfig.cc
  proxy/Main.h
  src/traffic_server/traffic_server.cc
Labels: Threads

#10727 Cleanup P_SNIActionPerformer
  include/iocore/net/SNIActionItem.h
  include/iocore/net/SSLSNIConfig.h
  include/iocore/net/YamlSNIConfig.h
  src/iocore/net/P_Connection.h
  src/iocore/net/P_SNIActionPerformer.h
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
  src/iocore/net/SSLSNIConfig.cc
  src/iocore/net/YamlSNIConfig.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http3/Http3SessionAccept.cc
Labels: TLS, Cleanup

#10714 Remove fastcgi plugin
  plugins/experimental/fastcgi/README.md
  plugins/experimental/fastcgi/src/Makefile
  plugins/experimental/fastcgi/src/Profiler.h
  plugins/experimental/fastcgi/src/Readme
  plugins/experimental/fastcgi/src/ats_fastcgi.cc
  plugins/experimental/fastcgi/src/ats_fastcgi.h
  plugins/experimental/fastcgi/src/ats_fcgi_client.cc
  plugins/experimental/fastcgi/src/ats_fcgi_client.h
  plugins/experimental/fastcgi/src/bin/php-fastcgi.sh
  plugins/experimental/fastcgi/src/config/ats_mod_fcgi.config
  plugins/experimental/fastcgi/src/config/fastcgi.config
  plugins/experimental/fastcgi/src/configuru.hpp
  plugins/experimental/fastcgi/src/connection_pool.cc
  plugins/experimental/fastcgi/src/connection_pool.h
  plugins/experimental/fastcgi/src/fcgi_config.cc
  plugins/experimental/fastcgi/src/fcgi_config.h
  plugins/experimental/fastcgi/src/fcgi_protocol.h
  plugins/experimental/fastcgi/src/request_queue.cc
  plugins/experimental/fastcgi/src/request_queue.h
  plugins/experimental/fastcgi/src/server.cc
  plugins/experimental/fastcgi/src/server.h
  plugins/experimental/fastcgi/src/server_connection.cc
  plugins/experimental/fastcgi/src/server_connection.h
  plugins/experimental/fastcgi/src/server_intercept.cc
  plugins/experimental/fastcgi/src/server_intercept.h
Labels: Cleanup

#10719 Don't include headers in proxy/http from iocore/cache
  include/iocore/cache/HttpTransactCache.h
  include/proxy/http/HttpTransactHeaders.h
  src/iocore/cache/HttpTransactCache.cc
  src/iocore/cache/unit_tests/main.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/HttpTransactHeaders.cc
Labels: Cleanup

#10724 add hint to options to help user
  cmake/AutoOptionHelpers.cmake
Labels: Build, CMake

#10735 Report plugin is not being built.
  plugins/experimental/CMakeLists.txt
Labels: Build, CMake

#10736 Standardize maxminddb package_find()
  CMakeLists.txt
  plugins/experimental/maxmind_acl/CMakeLists.txt
  plugins/header_rewrite/CMakeLists.txt
Labels: CMake

#10716 Fixes some compiler warnings
  src/iocore/cache/CacheVC.cc
Labels: Core

#10712 Cleanup AppVersionInfo and turn it into a singleton
  include/iocore/eventsystem/EventSystem.h
  include/records/RecCore.h
  include/tscore/Version.h
  src/api/CMakeLists.txt
  src/api/InkAPI.cc
  src/api/unit_tests/test_Metrics.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/unit_tests/stub.cc
  src/proxy/http/unit_tests/unit_test_main.cc
  src/proxy/http2/test_HPACK.cc
  src/proxy/logging/LogAccess.cc
  src/proxy/logging/LogStandalone.cc
  src/proxy/logging/unit-tests/benchmark_LogObject.cc
  src/records/P_RecCore.cc
  src/tests/CMakeLists.txt
  src/traffic_cache_tool/CMakeLists.txt
  src/traffic_crashlog/traffic_crashlog.cc
  src/traffic_ctl/CMakeLists.txt
  src/traffic_logcat/logcat.cc
  src/traffic_logstats/logstats.cc
  src/traffic_quic/traffic_quic.cc
  src/traffic_server/Crash.cc
  src/traffic_server/traffic_server.cc
  src/traffic_top/traffic_top.cc
  src/traffic_via/CMakeLists.txt
  src/traffic_via/traffic_via.cc
  src/tscore/ArgParser.cc
  src/tscore/CMakeLists.txt
  src/tscore/Regression.cc
  src/tscore/Version.cc
  src/tscore/ink_args.cc
  src/tscore/unit_tests/test_Version.cc
  tools/jtest/jtest.cc
Labels: Cleanup

#10738 min_keep_alive_conns -> _min_keep_alive_conns;
  include/iocore/net/ConnectionTracker.h
  src/proxy/http/HttpSessionManager.cc
Labels: Cleanup

#10729 Fixes Cripts compilation on gcc platforms
  example/cripts/CMakeLists.txt
  example/cripts/example1.cc
  include/cripts/Epilogue.hpp
  include/cripts/Lulu.hpp
  src/cripts/Geo.cc
  src/cripts/Instance.cc
  src/cripts/Urls.cc
Labels: Cripts

#10699 Add len to urlsig debug printing
  plugins/experimental/url_sig/url_sig.cc
Labels: Plugins, Bug

#10726 Harden the tunnel_transform Autest
  tests/gold_tests/tunnel/dumb_proxy.py
  tests/gold_tests/tunnel/tunnel_transform.test.py
Labels: Tests, AuTest

#10740 ConectionTracker: remove include dep in proxy/http
  include/iocore/net/ConnectionTracker.h
  include/records/RecCore.h
  include/records/RecDefs.h
  src/iocore/net/ConnectionTracker.cc
  src/proxy/http/HttpConfig.cc
  src/records/P_RecCore.cc
  src/records/P_RecDefs.h
  src/records/RecCore.cc
Labels: Build

#10747 Fix typo in autopep8.sh
  tools/autopep8.sh
Labels: Cleanup

#10725 Cleanup build with tsapibackend
  CMakeLists.txt
  plugins/experimental/uri_signing/unit_tests/CMakeLists.txt
  src/api/CMakeLists.txt
  src/api/HttpHookState.cc
  src/api/InkAPI.cc
  src/iocore/aio/CMakeLists.txt
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/unit_tests/main.cc
  src/iocore/cache/unit_tests/stub.cc
  src/iocore/eventsystem/CMakeLists.txt
  src/iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
  src/iocore/net/CMakeLists.txt
  src/iocore/net/libinknet_stub.cc
  src/mgmt/rpc/CMakeLists.txt
  src/proxy/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/traffic_layout/CMakeLists.txt
  src/traffic_logcat/CMakeLists.txt
  src/traffic_logstats/CMakeLists.txt
Labels: Cleanup

#10748 Move back private header files into src directory
  src/iocore/net/BIO_fastopen.cc
  src/iocore/net/BIO_fastopen.h
  src/iocore/net/BoringSSLUtils.cc
  src/iocore/net/BoringSSLUtils.h
  src/iocore/net/OCSPStapling.cc
  src/iocore/net/P_SSLConfig.h
  src/iocore/net/SSLCertLookup.cc
  src/iocore/net/SSLClientUtils.cc
  src/iocore/net/SSLConfig.cc
  src/iocore/net/SSLDiags.cc
  src/iocore/net/SSLDynlock.h
  src/iocore/net/SSLNetProcessor.cc
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/SSLSessionCache.cc
  src/iocore/net/SSLSessionCache.h
  src/iocore/net/SSLSessionTicket.cc
  src/iocore/net/SSLSessionTicket.h
  src/iocore/net/SSLStats.cc
  src/iocore/net/SSLStats.h
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSBasicSupport.cc
  src/iocore/net/TLSSessionResumptionSupport.cc
Labels: Cleanup

#10749 Fix sni.yaml's ip_allow
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
  tests/gold_tests/tls/replay/ip_allow.replay.yaml
  tests/gold_tests/tls/tls_sni_ip_allow.test.py
Labels: Bug, SSL

#10753 Fix script error in clang-format.sh.
  tools/clang-format.sh
Labels: Tools

#10752 Add check for config existence before cont creation
  plugins/stats_over_http/stats_over_http.cc
Labels: stats_over_http

#10751 Cleanup: Remove unimplemented event handlers from CacheVC
  include/iocore/cache/CacheVC.h
  src/iocore/cache/CacheWrite.cc
Labels: Cache, Cleanup

#10665 CMake: Fix binaryDir of presets
  .gitignore
  CMakePresets.json
  README.md
Labels: CMake

#10705 Remove dependency of ProxyMutex from rand_CacheKey
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/unit_tests/test_CacheDir.cc
Labels: Cache, Cleanup

#10739 Cleanup: Move stripe init functions
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
  src/iocore/cache/unit_tests/test_CacheDir.cc
Labels: Cache, Cleanup

#10760 Enable quiche on rocky ci preset
  CMakePresets.json
Labels: CI, CMake

#10754 Fix compile error with debug output in stek_share.cc.
  plugins/experimental/stek_share/stek_share.cc
Labels: Plugins

#10750 Fix Coverity issue CID 1518577 in TSVConnFd.cc.
  tests/gold_tests/pluginTest/TSVConnFd/TSVConnFd.cc
Labels: Coverity

#10755 Rename VOL macros to STRIPE
  doc/developer-guide/cache-architecture/cache-initialization.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDisk.cc
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/P_CacheDisk.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
  src/iocore/cache/unit_tests/test_CacheVol.cc
  src/traffic_cache_tool/CacheDefs.h
  src/traffic_cache_tool/CacheTool.cc
Labels: Cache, Cleanup

#10688 proxy.config.net.per_client.max_connections_in
  doc/admin-guide/files/records.yaml.en.rst
  include/iocore/net/ConnectionTracker.h
  include/iocore/net/NetHandler.h
  include/proxy/PoolableSession.h
  src/iocore/net/ConnectionTracker.cc
  src/iocore/net/Net.cc
  src/iocore/net/NetHandler.cc
  src/iocore/net/P_Net.h
  src/iocore/net/P_UnixNetVConnection.h
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/UnixNetAccept.cc
  src/iocore/net/UnixNetVConnection.cc
  src/proxy/http/HttpProxyServerMain.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/client_connection/http2_slow_origins.replay.yaml
  tests/gold_tests/client_connection/http_slow_origins.replay.yaml
  tests/gold_tests/client_connection/https_slow_origins.replay.yaml
  tests/gold_tests/client_connection/per_client_connection_max.test.py
Labels: Core, Network, Incompatible, Enhancement

#10761 Fix sni.yaml ip_allow tunnel_route
  src/iocore/net/SSLNetVConnection.cc
  tests/gold_tests/tls/replay/ip_allow_tunnel.replay.yaml
  tests/gold_tests/tls/tls_sni_ip_allow.test.py
Labels: TLS

#10741 Add auto options for maxmind_acl, stek_share, and uri_signing plugins
  CMakeLists.txt
  cmake/AutoOptionHelpers.cmake
  cmake/ExperimentalPlugins.cmake
  cmake/Findnuraft.cmake
  plugins/experimental/CMakeLists.txt
  plugins/experimental/maxmind_acl/CMakeLists.txt
Labels: Plugins, CMake

#10763 Removes all WCCP code and utilities, updates docs
  .gitignore
  CMakeLists.txt
  README.md
  ci/jenkins/bin/autest.sh
  ci/jenkins/bin/coverity.sh
  ci/jenkins/bin/github.sh
  ci/jenkins/bin/in_tree.sh
  ci/jenkins/bin/out_of_tree.sh
  ci/jenkins/jobs.yaml
  configure.ac
  doc/.tx/config
  doc/admin-guide/configuration/transparent-proxy.en.rst
  doc/admin-guide/configuration/transparent-proxy/wccp-configuration.en.rst
  doc/admin-guide/configuration/transparent-proxy/wccp-service-config.en.rst
  doc/appendices/command-line/traffic_wccp.en.rst
  doc/developer-guide/testing/blackbox-testing.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/configuration/transparent-proxy.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/configuration/transparent-proxy/wccp-configuration.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/configuration/transparent-proxy/wccp-service-config.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/transparent-proxy.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/transparent-proxy/wccp-configuration.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/transparent-proxy/wccp-service-config.en.po
  doc/locale/ja/LC_MESSAGES/appendices/command-line/traffic_wccp.en.po
  doc/manpages.cmake.in.py
  doc/manpages.py
  doc/static/images/admin/wccp-shared-outer.png
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_config.h.in
  include/wccp/Wccp.h
  src/Makefile.am
  src/records/RecordsConfig.cc
  src/traffic_layout/info.cc
  src/traffic_wccp/CMakeLists.txt
  src/traffic_wccp/Makefile.inc
  src/traffic_wccp/readme.txt
  src/traffic_wccp/service-nogre-example.yaml
  src/traffic_wccp/wccp_client.cc
  src/wccp/CMakeLists.txt
  src/wccp/Makefile.am
  src/wccp/WccpConfig.cc
  src/wccp/WccpEndPoint.cc
  src/wccp/WccpLocal.h
  src/wccp/WccpMeta.h
  src/wccp/WccpMsg.cc
  src/wccp/WccpStatic.cc
  src/wccp/WccpUtil.h
  src/wccp/wccp-test-router.cc
  tests/README.md
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/legacy_config/full_records.config
  tools/Makefile.am
Labels: Build, Documentation, WCCP, CMake

#10765 cmake: Fix CMAKE_INSTALL_CACHEDIR STRING value
  cmake/layout.cmake
Labels: CMake

#10758 Move find_package() to root build file
  CMakeLists.txt
  src/cripts/CMakeLists.txt
Labels: Build, CMake

#10764 Run cmake-format on .cmake files
  cmake/Check128BitCas.cmake
  cmake/CheckOpenSSLIsBoringSSL.cmake
  cmake/ConfigureTransparentProxy.cmake
  cmake/FindLuaJIT.cmake
  cmake/FindPCRE.cmake
  cmake/Findbrotli.cmake
  cmake/Findcap.cmake
  cmake/Findcjose.cmake
  cmake/Findhwloc.cmake
  cmake/Findjansson.cmake
  cmake/Findjemalloc.cmake
  cmake/Findmaxminddb.cmake
  cmake/Findprofiler.cmake
  cmake/Findquiche.cmake
  cmake/Findresolv.cmake
  cmake/Findunwind.cmake
  cmake/install_configs.cmake
  cmake/layout.cmake
  cmake/post_install.cmake
  cmake/proxy-verifier.cmake
  cmake/subproject_version.cmake
  tools/cmake-format.sh
  tools/git/pre-commit
Labels: Cleanup

#10701 Support upstream MPTCP
  CMakeLists.txt
  include/tscore/ink_platform.h
  src/iocore/net/Connection.cc
  src/iocore/net/P_UnixNetVConnection.h
  src/records/RecHttp.cc
Labels: Network

#10156 Fix: CID 1497247 - unitialized variable.
  src/traffic_cache_tool/CacheDefs.cc
Labels: Coverity, Stale

#10745 Only close on successful open
  plugins/experimental/ssl_session_reuse/src/config.cc
Labels: Coverity

#10722 Export Regex support to plugins.
  include/iocore/net/SSLSNIConfig.h
  include/proxy/ControlMatcher.h
  include/proxy/hdrs/HdrToken.h
  include/proxy/http/HttpConfig.h
  include/proxy/http/remap/UrlMapping.h
  include/proxy/http/remap/UrlRewrite.h
  include/tscore/DiagsTypes.h
  include/tscore/Regression.h
  include/tscpp/util/Regex.h
  plugins/experimental/tls_bridge/tls_bridge.cc
  src/iocore/cache/CachePages.cc
  src/iocore/net/SSLCertLookup.cc
  src/mgmt/rpc/CMakeLists.txt
  src/mgmt/rpc/handlers/common/RecordsUtils.cc
  src/proxy/CacheControl.cc
  src/proxy/hdrs/CMakeLists.txt
  src/proxy/hdrs/HdrToken.cc
  src/proxy/hdrs/test_urlhash.cc
  src/proxy/hdrs/unit_tests/test_Hdrs.cc
  src/traffic_cache_tool/CMakeLists.txt
  src/traffic_cache_tool/CacheDefs.h
  src/traffic_layout/info.cc
  src/traffic_via/traffic_via.cc
  src/tscore/CMakeLists.txt
  src/tscpp/util/CMakeLists.txt
  src/tscpp/util/Regex.cc
  src/tscpp/util/unit_tests/test_Regex.cc
Labels: Cleanup

#10774 tscore depends on tscpputil
  src/tscore/CMakeLists.txt
Labels: Build, Bug

#10710 Removes all the stats and cache inspector pages
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/storage/index.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/files/records.config.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/storage/index.en.po
  include/iocore/cache/CacheEvacuateDocVC.h
  include/iocore/cache/CacheVC.h
  include/iocore/hostdb/HostDBProcessor.h
  include/proxy/Show.h
  include/proxy/StatPages.h
  include/proxy/http/HttpConfig.h
  include/proxy/http/HttpPages.h
  include/proxy/http/HttpSM.h
  include/proxy/http/HttpTransact.h
  include/proxy/http/HttpTunnel.h
  include/proxy/http/remap/RemapHitCount.h
  include/proxy/http/remap/UrlMapping.h
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/Cache.cc
  src/iocore/cache/CachePages.cc
  src/iocore/cache/CachePagesInternal.cc
  src/iocore/cache/Makefile.am
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
  src/iocore/cache/unit_tests/main.cc
  src/iocore/hostdb/HostDB.cc
  src/iocore/net/CMakeLists.txt
  src/iocore/net/Makefile.am
  src/iocore/net/UnixNetPages.cc
  src/iocore/net/UnixNetProcessor.cc
  src/proxy/CMakeLists.txt
  src/proxy/Makefile.am
  src/proxy/StatPages.cc
  src/proxy/http/CMakeLists.txt
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpDebugNames.cc
  src/proxy/http/HttpPages.cc
  src/proxy/http/HttpProxyServerMain.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/Makefile.am
  src/proxy/http/remap/CMakeLists.txt
  src/proxy/http/remap/Makefile.am
  src/proxy/http/remap/RemapHitCount.cc
  src/records/RecordsConfig.cc
  src/traffic_quic/traffic_quic.cc
  src/traffic_server/traffic_server.cc
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/legacy_config/full_records.config
Labels: Cleanup

#10759 Fix capitalization of LuaJIT package and update
  CMakeLists.txt
  cmake/Findluajit.cmake
  plugins/lua/CMakeLists.txt
Labels: Build, CMake

#10769 remove odd include paths
  plugins/experimental/stek_share/CMakeLists.txt
  src/proxy/http/CMakeLists.txt
Labels: Build, CMake

#10777 report yaml-cpp being used when external version is used.
  CMakeLists.txt
Labels: Build, CMake

#10779 CI cmake preset updates
  CMakePresets.json
Labels: CI, CMake

#10718 Extract class AggregateWriteBuffer from Stripe
  include/iocore/cache/AggregateWriteBuffer.h
  include/iocore/cache/CacheVC.h
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheHosting.h
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheVol.h
Labels: Cache, Cleanup

#10781 Depend upon the Format job instead of Clang-Format
  .asf.yaml
Labels: CI

#10762 Display auto_option hint in all cases
  cmake/AutoOptionHelpers.cmake
Labels: CMake

#10723 uri_signing cmake: clean up unit test cmake and change suggested github repo
  doc/admin-guide/plugins/uri_signing.en.rst
  plugins/experimental/uri_signing/Makefile.inc
  plugins/experimental/uri_signing/common.cc
  plugins/experimental/uri_signing/common.h
  plugins/experimental/uri_signing/unit_tests/CMakeLists.txt
Labels: Plugins, Documentation, CMake

#10793 stek_share: resize instead of reserve
  plugins/experimental/stek_share/common.cc
Labels: stek_share

#10789 Coverity 1497291: Use of 32-bit time_t in MIME.cc
  include/proxy/hdrs/MIME.h
  src/proxy/hdrs/MIME.cc
Labels: Coverity

#10791 Coverity 1497253: Use of 32-bit time_t in RefCountCachePartition
  src/iocore/hostdb/P_RefCountCache.h
Labels: Coverity

#10780 Add logic to allow for external libswoc to be used
  CMakeLists.txt
  cmake/Findlibswoc.cmake
  example/plugins/c-api/CMakeLists.txt
  lib/CMakeLists.txt
  lib/swoc/CMakeLists.txt
  plugins/cache_promote/CMakeLists.txt
  plugins/compress/CMakeLists.txt
  plugins/esi/CMakeLists.txt
  plugins/esi/common/CMakeLists.txt
  plugins/esi/lib/CMakeLists.txt
  plugins/experimental/block_errors/CMakeLists.txt
  plugins/experimental/cert_reporting_tool/CMakeLists.txt
  plugins/experimental/maxmind_acl/CMakeLists.txt
  plugins/experimental/money_trace/CMakeLists.txt
  plugins/experimental/rate_limit/CMakeLists.txt
  plugins/experimental/tls_bridge/CMakeLists.txt
  plugins/header_rewrite/CMakeLists.txt
  plugins/regex_remap/CMakeLists.txt
  plugins/stats_over_http/CMakeLists.txt
  plugins/traffic_dump/CMakeLists.txt
  plugins/xdebug/CMakeLists.txt
  src/api/CMakeLists.txt
  src/cripts/CMakeLists.txt
  src/iocore/dns/CMakeLists.txt
  src/iocore/eventsystem/CMakeLists.txt
  src/iocore/io_uring/CMakeLists.txt
  src/mgmt/rpc/CMakeLists.txt
  src/proxy/hdrs/CMakeLists.txt
  src/proxy/http2/CMakeLists.txt
  src/records/CMakeLists.txt
  src/traffic_cache_tool/CMakeLists.txt
  src/traffic_ctl/CMakeLists.txt
  src/traffic_server/CMakeLists.txt
  src/traffic_top/CMakeLists.txt
  src/traffic_via/CMakeLists.txt
  src/tscore/CMakeLists.txt
  src/tscpp/api/CMakeLists.txt
  src/tscpp/util/CMakeLists.txt
  tests/fuzzing/CMakeLists.txt
  tests/gold_tests/jsonrpc/plugins/CMakeLists.txt
  tools/benchmark/CMakeLists.txt
Labels: Build, CMake

#10782 Remove HAVE_ALLOCA_H build var
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_platform.h
  src/iocore/eventsystem/UnixEventProcessor.cc
Labels: Build, CMake

#10798 stek_share: fix memcp usage
  plugins/experimental/stek_share/state_machine.h
Labels: Bug, stek_share

#10783 Remove HAVE_CPIO_H build var
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_platform.h
Labels: Build, CMake

#10799 cmake: Add -fPIC when checking for symbols
  CMakeLists.txt
Labels: CMake

#10786 Obliterate Stripe::reset_agg_buf_pos
  include/iocore/cache/AggregateWriteBuffer.h
  src/iocore/cache/AggregateWriteBuffer.cc
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#10804 Fix compiler warning on m1 macs printing time_t
  src/iocore/hostdb/P_RefCountCache.h
Labels: Build

#10771 Remove unused EventName.[h|cc]
  src/traffic_server/CMakeLists.txt
  src/traffic_server/EventName.cc
  src/traffic_server/EventName.h
Labels: Cleanup

#10788 Coverity 1523685: Use of 32-bit time_t in test_Hdrs.cc
  src/proxy/hdrs/unit_tests/test_Hdrs.cc
Labels: Coverity

#10800 Cleanup Cripts CMakeLists.txt
  include/cripts/Configs.hpp
  src/cripts/CMakeLists.txt
  tools/cripts/genconfig.py
Labels: Cleanup

#10787 Fix CID-15233643 - use move instead of assign.
  src/iocore/cache/unit_tests/main.cc
Labels: Coverity

#10816 stek_share: fix osx builds for undefined symbols
  plugins/experimental/stek_share/CMakeLists.txt
Labels: CMake, stek_share

#10812 Add CMAKE_COLOR_DIAGNOSTICS to the dev preset
  CMakePresets.json
Labels: Build, CMake

#10817 Coverity fixes
  plugins/experimental/maxmind_acl/mmdb.cc
  src/proxy/http/remap/NextHopConsistentHash.cc
Labels: Coverity

#10813 Add phongn as an ASF collaborator
  .asf.yaml
Labels: GitHub

#10819 stek_share: fix pthread_t print format warning
  plugins/experimental/stek_share/stek_share.cc
Labels: CMake

#10825 ConnectionTracker: Remove queue implementation
  include/iocore/net/ConnectionTracker.h
  src/proxy/http/HttpSM.cc
Labels: Cleanup

#10818 Add support to disable jit in using lua plugin in remap
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua.cc
Labels: Plugins, Lua

#10843 Cleanup: remove some autotools files from .gitignore.
  .gitignore
Labels: Cleanup

#10809 Add Errata support to YAML configuration support (promoted from IPAllow)
  include/tscpp/util/YamlCfg.h
  src/proxy/IPAllow.cc
  src/tscpp/util/YamlCfg.cc
Labels: YAML

#10842 Coverity 1518587: Buffer not null terminated in healthchecks plugin
  plugins/healthchecks/healthchecks.cc
Labels: Coverity, healthchecks

#10838 Coverity 1521594: Uninitialized pointer read for InterceptIO::vc
  example/plugins/c-api/intercept/intercept.cc
Labels: Plugins, Coverity

#10837 Coverity 1497238: Uninitialized scalar variable in DiagsConfigState class
  src/proxy/shared/DiagsConfig.cc
Labels: Coverity, Debug

#10836 Coverity 1497273: Uninitialized scalar variable in Machine class
  src/iocore/utils/Machine.cc
Labels: Core, Coverity

#10835 Coverity 1497314: Uninitialized scalar variable in ESI plugin
  plugins/esi/common/gzip.cc
Labels: Coverity, esi

#10833 Coverity 1523683: Uninitialized scalar variable in s3_auth unit test
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
Labels: Coverity, s3_auth

#10776 cmake: Update pre-commit even if it exists
  CMakeLists.txt
Labels: Bug, CMake

#10768 Cleanup/Flatten out some headers inclusion
  src/api/InkIOCoreAPI.cc
  src/iocore/cache/CacheEvacuateDocVC.cc
  src/iocore/eventsystem/ProxyAllocator.cc
  src/iocore/net/ProxyProtocol.cc
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SSLCertLookup.cc
  src/iocore/net/quic/QUICTypes.cc
  src/iocore/net/unit_tests/unit_test_main.cc
  src/proxy/ControlMatcher.cc
  src/proxy/ParentSelection.cc
  src/proxy/hdrs/HdrHeap.cc
  src/proxy/hdrs/unit_tests/test_mime.cc
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpTunnel.cc
  src/proxy/http2/test_HPACK.cc
  src/proxy/http3/test/main_qpack.cc
  src/proxy/private/SSLProxySession.cc
  src/records/unit_tests/unit_test_main_on_eventsystem.cc
  tools/benchmark/benchmark_ProxyAllocator.cc
Labels: Cleanup

#10851 Update _read_vio.cont/_write_vio.cont when application is changed to QPACK
  include/iocore/net/quic/QUICStreamVCAdapter.h
  include/proxy/http3/Http3App.h
  src/proxy/http3/Http3App.cc
Labels: QUIC, HTTP/3

#10847 Rename vol to stripe (local vars & args)
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheDisk.cc
  src/iocore/cache/CacheHosting.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheDisk.h
  src/iocore/cache/P_CacheHosting.h
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/P_RamCache.h
  src/iocore/cache/RamCacheCLFUS.cc
  src/iocore/cache/RamCacheLRU.cc
  src/iocore/cache/unit_tests/test_CacheDir.cc
  src/iocore/cache/unit_tests/test_CacheVol.cc
  src/traffic_cache_tool/CacheDefs.cc
Labels: Cache, Cleanup

#10796 Add check in ts.h that language is C++, version 17 or later.
  include/ts/ts.h
Labels: Plugins, Incompatible

#10807 Make dubiously correct changes to Japanese docs for TSDebug -> Dbg.
  doc/locale/ja/LC_MESSAGES/admin-guide/files/records.config.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSAPI.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSDebug.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/debugging/debug-tags.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/plugin-interfaces.en.po
Labels: Documentation

#10790 Removes the tsxs command line tool
  doc/admin-guide/plugins/url_sig.en.rst
  doc/appendices/command-line/tsxs.en.rst
  doc/developer-guide/plugins/getting-started/a-simple-plugin.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/plugins/url_sig.en.po
  doc/locale/ja/LC_MESSAGES/appendices/command-line/tsxs.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/getting-started/a-simple-plugin.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/troubleshooting-tips.en.po
  doc/manpages.cmake.in.py
  doc/manpages.py
  example/plugins/c-api/remap/remap.cc
  plugins/compress/README
  plugins/experimental/url_sig/Makefile.tsxs
  plugins/experimental/url_sig/README
  plugins/slice/Makefile.tsxs
  plugins/slice/README.md
  src/cripts/README.md
  src/traffic_layout/file_system.cc
  tests/gold_tests/autest-site/setup.cli.ext
  tests/gold_tests/tls/tls_engine.test.py
  tools/package/trafficserver.spec
  tools/tsxs.in
Labels: Cleanup

#10821 Add missing stdint.h to ink_file.h
  include/tscore/ink_file.h
Labels: Build, easy_review

#10820 Remove HAVE_LINUX_MAJOR_H build envs
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  src/iocore/cache/Store.cc
Labels: Build, CMake

#10810 For vscode users, automatically use ms-vscode.cmake-tools
  .vscode/c_cpp_properties.json
Labels: Build, CMake

#10849 Update to libswoc 1.5.8
  lib/swoc/include/swoc/BufferWriter.h
  lib/swoc/include/swoc/DiscreteRange.h
  lib/swoc/include/swoc/Errata.h
  lib/swoc/include/swoc/IPAddr.h
  lib/swoc/include/swoc/IPEndpoint.h
  lib/swoc/include/swoc/IPRange.h
  lib/swoc/include/swoc/IPSrv.h
  lib/swoc/include/swoc/IntrusiveDList.h
  lib/swoc/include/swoc/IntrusiveHashMap.h
  lib/swoc/include/swoc/Lexicon.h
  lib/swoc/include/swoc/MemArena.h
  lib/swoc/include/swoc/MemSpan.h
  lib/swoc/include/swoc/Scalar.h
  lib/swoc/include/swoc/TextView.h
  lib/swoc/include/swoc/Vectray.h
  lib/swoc/include/swoc/bwf_base.h
  lib/swoc/include/swoc/bwf_ex.h
  lib/swoc/include/swoc/bwf_fwd.h
  lib/swoc/include/swoc/bwf_ip.h
  lib/swoc/include/swoc/bwf_std.h
  lib/swoc/include/swoc/swoc_file.h
  lib/swoc/include/swoc/swoc_meta.h
  lib/swoc/include/swoc/swoc_version.h
  lib/swoc/src/Errata.cc
  lib/swoc/src/MemArena.cc
  lib/swoc/src/RBTree.cc
  lib/swoc/src/TextView.cc
  lib/swoc/src/bw_format.cc
  lib/swoc/src/bw_ip_format.cc
  lib/swoc/src/swoc_file.cc
  lib/swoc/src/swoc_ip.cc
Labels: CPP API

#10853 Fix chunked-encoding test to run with more basic netcat
  tests/gold_tests/chunked_encoding/case1.sh
  tests/gold_tests/chunked_encoding/case2.sh
  tests/gold_tests/chunked_encoding/case3.sh
  tests/gold_tests/chunked_encoding/case4.sh
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/chunked_encoding_h2.test.py
  tests/gold_tests/chunked_encoding/delay-server.sh
  tests/gold_tests/chunked_encoding/server2.sh
  tests/gold_tests/chunked_encoding/server3.sh
  tests/gold_tests/chunked_encoding/server4.sh
Labels: AuTest, Ubuntu

#10869 Fix connect test for ubuntu22
  tests/gold_tests/connect/gold/connect_0_stderr.gold
Labels: AuTest, Ubuntu

#10868 Remove unnecessary nc to fix u22 test
  tests/gold_tests/headers/cache_and_req_body.test.py
Labels: AuTest, Ubuntu

#10854 Coverity 1528667: Use of 32-bit time_t in mime_days_since_epoch_to_mdy_slowcase
  src/proxy/hdrs/MIME.cc
Labels: Coverity

#10855 Coverity 1523685: Use of 32-bit time_t in test_mime
  src/proxy/hdrs/unit_tests/test_mime.cc
Labels: Coverity

#10875 Adjust gold file to deal curl case differences
  tests/gold_tests/h2/gold/httpbin_0_stderr.gold
Labels: AuTest, Ubuntu

#10878 Adjust nc usage in fix-post-early-return test
  tests/gold_tests/post/delay_client.sh
  tests/gold_tests/post/delay_client2.sh
  tests/gold_tests/post/delay_client3.sh
  tests/gold_tests/post/post-early-return.test.py
  tests/gold_tests/post/server1.sh
Labels: AuTest, Ubuntu

#10871 ja3_fingerprint: autest and README update.
  plugins/ja3_fingerprint/README
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint.test.py
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint_global.replay.yaml
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint_remap.replay.yaml
Labels: ja3_fingerprint

#10737 Rename vol to stripe (defined in the CacheVC.h)
  include/iocore/cache/CacheVC.h
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheEvacuateDocVC.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheVol.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_S.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_S.cc
Labels: Cache, Cleanup

#10885 Fix remap_inc test for systems with dash
  tests/gold_tests/traffic_ctl/remap_inc/remap_inc.test.py
Labels: AuTest, Ubuntu

#10880 Coverity 1523692: Calling risky function in test_AcidPtr
  src/tscore/unit_tests/test_AcidPtr.cc
Labels: Coverity

#10876 Coverity 1528709: Pointer to local outside scope in PreWarmSM::state_dns_lookup
  src/proxy/http/PreWarmManager.cc
Labels: Coverity

#10857 Coverity 1497378: Use of 32-bit time_t in CacheVC
  include/iocore/cache/CacheVC.h
  src/iocore/cache/CacheWrite.cc
Labels: Coverity

#10866 Remove netcat from bigobj test
  tests/CMakeLists.txt
  tests/gold_tests/bigobj/CMakeLists.txt
  tests/gold_tests/bigobj/bigobj.test.py
  tests/gold_tests/bigobj/check_ramp.c
  tests/gold_tests/bigobj/log2.gold
  tests/gold_tests/bigobj/push_request.c
Labels: AuTest, Ubuntu

#10874 Fix double to watch for done like the other continuation tests
  tests/gold_tests/continuations/double.test.py
Labels: AuTest, Ubuntu

#10861 Simplify bad-fmt test use of nc
  tests/gold_tests/bad_http_fmt/bad_http_fmt.test.py
  tests/gold_tests/bad_http_fmt/method-server.sh
  tests/gold_tests/bad_http_fmt/server.gold
Labels: AuTest, Ubuntu
