Repository apache/trafficserver, pull requests merged in 2023-06, with the labels that each got.

#9764 parent_select plugin: look in ats config dir for yaml config if path is relative
  doc/admin-guide/files/strategies.yaml.en.rst
  plugins/experimental/parent_select/parent_select.cc
  tests/gold_tests/pluginTest/parent_select/parent_select_optional_scheme_matching.test.py
  tests/gold_tests/pluginTest/parent_select/parent_select_peer.test.py
  tests/gold_tests/pluginTest/parent_select/parent_select_peer2.test.py
Labels: Parent Selection

#9742 HostDB: cancelled action check when triggering pending
  iocore/hostdb/HostDB.cc
Labels: HostDB, Crash

#9765 UDP/QUIC: Make sure quiche gets the entire rx buffer from the udp packet.
  iocore/net/I_UDPPacket.h
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/QUICPacketHandler_quiche.cc
  iocore/net/UnixUDPNet.cc
Labels: QUIC, UDP, Bug

#9741 Add support for using sni to enabled/disable 0-rtt
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/TLSSNISupport.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  tests/gold_tests/tls/test-0rtt-s_client.py
  tests/gold_tests/tls/tls_0rtt_server.test.py
Labels: TLS

#9761 Skip body buffer autest if plugin was not built
  tests/gold_tests/pluginTest/test_hooks/body_buffer.test.py
Labels: AuTest

#9740 Update build badge list
  README.md
Labels: Documentation

#9707 Add a new configuration to ignore query params in cache keys
  doc/admin-guide/files/records.yaml.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  include/ts/apidefs.h.in
  iocore/cache/P_CacheInternal.h
  plugins/lua/ts_lua_http_config.c
  proxy/hdrs/URL.cc
  proxy/hdrs/URL.h
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  src/records/RecordsConfig.cc
  src/shared/overridable_txn_vars.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: Cache, Configuration

#9763 Add HTTP/2 no_activity_timeout tests
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ServerSession.cc
  tests/gold_tests/timeout/http2_no_activity_timeout.test.py
  tests/gold_tests/timeout/replay/http2_no_activity_timeout.replay.yaml
Labels: HTTP/2

#9766 Add HTTP/3 POST request handling
  proxy/http3/Http3StreamDataVIOAdaptor.cc
  proxy/http3/Http3StreamDataVIOAdaptor.h
  proxy/http3/Http3Transaction.cc
Labels: HTTP/3

#9727 Remove old header on CMakeLists.txt
  CMakeLists.txt
Labels: Cleanup

#9682 Add support for TS_HTTP_REQUEST_CLIENT/TS_HTTP_RESPONSE_CLIENT for lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/example/test_request_client.lua
  plugins/lua/example/test_response_client.lua
  plugins/lua/ts_lua_hook.c
  plugins/lua/ts_lua_transform.c
  plugins/lua/ts_lua_transform.h
  tests/gold_tests/pluginTest/lua/client_hook.lua
  tests/gold_tests/pluginTest/lua/lua_client_hook.test.py
Labels: Plugins, Lua

#9771 tools: use a private directory to build H3 dependencies
  tools/build_h3_tools.sh
Labels: Tools, QUIC, HTTP/3

#9770 Break the circular dependency between iocore and tscore.
  .gitignore
  iocore/net/quic/MTHashTable.h
  iocore/net/quic/Makefile.am
  iocore/net/quic/QUICConnectionTable.h
  iocore/net/quic/test_MTHashTable.cc
  src/tscore/CMakeLists.txt
  src/tscore/Makefile.am
Labels: Core

#9780 s3_auth: Fix hash calculation
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/aws_auth_v4.h
  plugins/s3_auth/aws_auth_v4_wrap.h
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.h
Labels: s3_auth

#9785 9.2.x: Add back push_method_enabled enforcement
  proxy/http/HttpSM.cc
  tests/gold_tests/bigobj/bigobj.test.py
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/proxy_protocol/proxy_serve_stale.test.py
  tests/gold_tests/proxy_protocol/proxy_serve_stale_dns_fail.test.py
Labels: HTTP

#9784 Add back push_method_enabled enforcement
  proxy/http/HttpSM.cc
  tests/gold_tests/bigobj/bigobj.test.py
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/proxy_protocol/proxy_serve_stale.test.py
  tests/gold_tests/proxy_protocol/proxy_serve_stale_dns_fail.test.py
Labels: HTTP

#9789 8.1.x: Deny the TRACE method by default
  configs/ip_allow.config.default
  doc/admin-guide/files/ip_allow.config.en.rst
  tests/gold_tests/autest-site/min_cfg/ip_allow.config
Labels: HTTP, Backport

#9788 Deny the TRACE method by default
  configs/ip_allow.yaml.default
  doc/admin-guide/files/ip_allow.yaml.en.rst
  tests/gold_tests/autest-site/min_cfg/ip_allow.yaml
Labels: HTTP

#9776 build: remove the SOCKS_WITH_TS build condition
  iocore/net/I_Socks.h
  iocore/net/P_Socks.h
  iocore/net/Socks.cc
  iocore/net/UnixNetProcessor.cc
Labels: SOCKS

#9777 9773 autest "list" subcommand doesn't seem to be present
  tests/autest.sh
Labels: AuTest

#9779 s3_auth: Fix hash calculation
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/aws_auth_v4.h
  plugins/s3_auth/aws_auth_v4_wrap.h
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.h
Labels: s3_auth

#9792 Avoid crash on traffic_server shutdown
  plugins/certifier/certifier.cc
Labels: AuTest

#9791 config: records.yaml default file. Remove duplicated node
  configs/records.yaml.default.in
Labels: Documentation

#9643 Allow plugins to use WKS header strings
  doc/developer-guide/api/functions/TSMimeHdrFieldFind.en.rst
  doc/developer-guide/api/functions/TSMimeHdrFieldValueStringGet.en.rst
  doc/developer-guide/plugins/http-headers/mime-headers.en.rst
  include/ts/ts.h
  plugins/header_rewrite/condition.h
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/operator.cc
  plugins/header_rewrite/operator.h
  plugins/header_rewrite/operators.cc
  src/traffic_server/InkAPI.cc
Labels: Plugins, TS API, header_rewrite

#9805 Fix build issue on mac
  iocore/net/QUICPacketHandler_quiche.cc
Labels: Build, QUIC

#9802 Use strncpy() in regex_remap plugin to make Coverity happy
  plugins/regex_remap/regex_remap.cc
Labels: Coverity

#9810 parent selection coverity driven fixes
  proxy/ParentConsistentHash.cc
  proxy/ParentSelection.cc
  proxy/ParentSelection.h
Labels: Coverity

#9815 Move Catch from tests/include to lib/catch2
  CMakeLists.txt
  iocore/cache/Makefile.am
  iocore/eventsystem/Makefile.am
  iocore/hostdb/Makefile.am
  iocore/io_uring/Makefile.am
  iocore/net/Makefile.am
  iocore/net/quic/Makefile.am
  lib/catch2/LICENSE_1_0.txt
  lib/catch2/catch.hpp
  mgmt/rpc/Makefile.am
  mgmt/utils/Makefile.am
  plugins/authproxy/Makefile.inc
  plugins/experimental/access_control/Makefile.inc
  plugins/experimental/cookie_remap/Makefile.inc
  plugins/experimental/slice/Makefile.inc
  plugins/experimental/sslheaders/Makefile.inc
  plugins/experimental/traffic_dump/Makefile.inc
  plugins/experimental/uri_signing/Makefile.inc
  plugins/prefetch/Makefile.inc
  plugins/s3_auth/Makefile.inc
  proxy/hdrs/Makefile.am
  proxy/http/Makefile.am
  proxy/http/remap/Makefile.am
  proxy/http2/Makefile.am
  proxy/http3/Makefile.am
  proxy/logging/Makefile.am
  src/records/Makefile.am
  src/tscore/Makefile.am
  src/tscore/unit_tests/test_BufferWriterFormat.cc
  src/tscore/unit_tests/test_IntrusiveHashMap.cc
  src/tscore/unit_tests/test_ParseRules.cc
  src/tscpp/util/Makefile.am
Labels: Build, Tests

#9801 WCCP pre-fix cleanup
  CMakeLists.txt
  include/wccp/Wccp.h
  src/wccp/CMakeLists.txt
  src/wccp/WccpEndPoint.cc
  src/wccp/WccpLocal.h
  src/wccp/WccpMsg.cc
Labels: Cleanup

#9817 Resolve circular dep in esi components
  plugins/esi/Makefile.inc
  plugins/esi/common/Attribute.h
  plugins/esi/common/ComponentBase.h
  plugins/esi/common/DocNode.cc
  plugins/esi/common/DocNode.h
  plugins/esi/common/HttpHeader.h
  plugins/esi/common/StringHash.h
  plugins/esi/common/Utils.cc
  plugins/esi/common/Utils.h
  plugins/esi/common/gzip.cc
  plugins/esi/common/gzip.h
  plugins/esi/esi.cc
  plugins/esi/fetcher/HttpDataFetcherImpl.cc
  plugins/esi/fetcher/HttpDataFetcherImpl.h
  plugins/esi/lib/EsiParser.h
  plugins/esi/lib/EsiProcessor.h
Labels: Plugins

#9814 Remove proxy/Main.h and associated globals.
  iocore/cache/test/stub.cc
  iocore/hostdb/HostDB.cc
  iocore/hostdb/I_HostDBProcessor.h
  iocore/net/P_NetAccept.h
  iocore/net/P_UnixNet.h
  iocore/net/UnixNetAccept.cc
  proxy/CacheControl.cc
  proxy/Main.h
  proxy/http/HttpProxyServerMain.cc
  proxy/logging/LogStandalone.cc
  src/traffic_server/Crash.cc
  src/traffic_server/Crash.h
  src/traffic_server/traffic_server.cc
Labels: Cleanup

#9822 Add esi plugin and tests to CMake build
  lib/CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/esi/CMakeLists.txt
  plugins/esi/Makefile.inc
  plugins/esi/common/CMakeLists.txt
  plugins/esi/fetcher/CMakeLists.txt
  plugins/esi/lib/CMakeLists.txt
  plugins/esi/test/CMakeLists.txt
  plugins/esi/test/gzip_test.cc
Labels: Plugins

#9820 Add support for jemalloc in CMake build
  CMakeLists.txt
  cmake/Findjemalloc.cmake
  include/tscore/ink_config.h.cmake.in
  src/tscore/CMakeLists.txt
Labels: Build, JeMalloc

#9798 fix: memory leak when using modsecurity
  example/plugins/lua-api/modsecurity/ats-luajit-modsecurity.lua
Labels: Plugins, Lua

#9790 Fix spelling and add context around changelog
  doc/release-notes/release-procedures.en.rst
Labels: Documentation

#9806 coverity 1508867: Unchecked dynamic_cast
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2, Coverity

#9826 Remove TS_HAS_LIBZ
  CMakeLists.txt
  doc/developer-guide/testing/blackbox-testing.en.rst
  iocore/cache/CMakeLists.txt
  iocore/cache/Cache.cc
  iocore/cache/RamCacheCLFUS.cc
  plugins/esi/common/CMakeLists.txt
  src/traffic_layout/info.cc
  tests/README.md
Labels: CMake

#9834 Update to Proxy Verifier v2.8.1
  tests/prepare_proxy_verifier.sh
  tests/proxy-verifier-version.txt
Labels: AuTest

#9835 Fix error due to bad generator expression
  src/tscore/CMakeLists.txt
Labels: CMake

#9832 Add support for TCMalloc in CMake build
  CMakeLists.txt
  cmake/FindTCMalloc.cmake
  cmake/FindTSMallocReplacement.cmake
  include/tscore/ink_config.h.cmake.in
  src/tscore/CMakeLists.txt
Labels: CMake

#9818 Deprecated APIs removal
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpTxnClientPacketTosSet.en.rst
  doc/developer-guide/api/functions/TSHttpTxnServerPacketTosSet.en.rst
  doc/developer-guide/api/types/TSRecordType.en.rst
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSHttpTxnClientPacketTosSet.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSHttpTxnServerPacketTosSet.en.po
  include/ts/apidefs.h.in
  include/ts/experimental.h
  include/ts/ts.h
  plugins/lua/ts_lua_http_config.c
  src/traffic_server/InkAPI.cc
Labels: Incompatible, Deprecated

#9775 cmake: add OPENSSL_ROOT_DIR to rpath to load the correct lib
  CMakeLists.txt
Labels: Build

#9774 doc: update the autest README
  tests/README.md
Labels: AuTest

#9828 Add brotli support to CMake build
  CMakeLists.txt
  cmake/Findbrotli.cmake
  include/tscore/ink_config.h.cmake.in
  plugins/compress/CMakeLists.txt
Labels: CMake

#9827 Add LZMA support to CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  iocore/cache/CMakeLists.txt
Labels: CMake

#9837 Convert esi tests to use Catch framework
  plugins/esi/Makefile.inc
  plugins/esi/test/CMakeLists.txt
  plugins/esi/test/docnode_test.cc
  plugins/esi/test/parser_test.cc
  plugins/esi/test/processor_test.cc
  plugins/esi/test/utils_test.cc
  plugins/esi/test/vars_test.cc
Labels: Tests, esi

#9844 Fix misuse of unique_ptr.release.
  iocore/net/UnixUDPNet.cc
Labels: UDP

#9839 Add mimalloc support to CMake build
  cmake/FindTSMallocReplacement.cmake
Labels: MiMalloc, CMake

#9843 Search for IN6_IS_ADDR_UNSPECIFIED in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: CMake

#9846 Add ENABLE_XXX options for all malloc substitutes
  CMakeLists.txt
  cmake/FindTSMallocReplacement.cmake
Labels: JeMalloc, MiMalloc, CMake

#9836 Rename h3 settings parameter name
  proxy/http3/Http3.cc
  proxy/http3/Http3.h
  proxy/http3/Http3App.cc
  proxy/http3/Http3Config.cc
  proxy/http3/Http3Config.h
  proxy/http3/Http3DebugNames.cc
  proxy/http3/Http3Frame.h
  proxy/http3/Http3Session.cc
  proxy/http3/Http3Types.h
  proxy/http3/QPACK.cc
  proxy/http3/QPACK.h
  proxy/http3/test/test_Http3Frame.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/legacy_config/full_records.config
Labels: HTTP/3

#9841 Search for and enable backtrace in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: CMake

#9830 Update to libswoc 1.5.0
  lib/swoc/CMakeLists.txt
  lib/swoc/Makefile.am
  lib/swoc/include/swoc/DiscreteRange.h
  lib/swoc/include/swoc/IPRange.h
  lib/swoc/include/swoc/Lexicon.h
  lib/swoc/include/swoc/MemSpan.h
  lib/swoc/include/swoc/bwf_base.h
  lib/swoc/include/swoc/swoc_version.h
  lib/swoc/src/swoc_file.cc
  lib/swoc/src/swoc_ip.cc
  proxy/ControlMatcher.cc
Labels: CPP API

#9850 Set SIZEOF_VOIDP in CMake build
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9858 libswoc - update to 1.5.1
  lib/swoc/CMakeLists.txt
  lib/swoc/Makefile.am
  lib/swoc/include/swoc/IPAddr.h
  lib/swoc/include/swoc/IPRange.h
  lib/swoc/include/swoc/swoc_version.h
Labels: CPP API

#9856 Check for TLS1.3 in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9851 Check for 128bit CAS in CMake build
  CMakeLists.txt
  cmake/Check128BitCas.cmake
  include/tscore/ink_config.h.cmake.in
  src/tscore/CMakeLists.txt
Labels: Build, CMake

#9824 WCCP update - remove ts::Buffer.
  include/wccp/Wccp.h
  src/wccp/Makefile.am
  src/wccp/WccpEndPoint.cc
  src/wccp/WccpLocal.h
  src/wccp/WccpMsg.cc
Labels: Cleanup

#9852 Add support for POSIX Cap in CMake build
  CMakeLists.txt
  cmake/Findcap.cmake
  include/tscore/ink_config.h.cmake.in
  iocore/net/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: Build, CMake

#9853 Add option to enable fast SDK in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9849 Remove unneeded DEBUG conditionals.
  iocore/eventsystem/I_Action.h
Labels: Cleanup

#9825 Clean up UnixNetProcessor entanglements.
  iocore/net/I_NetProcessor.h
  iocore/net/P_QUICNetProcessor_native.h
  iocore/net/P_QUICNetProcessor_quiche.h
  iocore/net/P_SSLNetProcessor.h
  iocore/net/P_UnixNetProcessor.h
  iocore/net/QUICNetProcessor.cc
  iocore/net/QUICNetProcessor_quiche.cc
  iocore/net/QUICPacketHandler_quiche.cc
  iocore/net/SSLNetProcessor.cc
  iocore/net/UnixNetAccept.cc
  iocore/net/UnixNetProcessor.cc
  src/traffic_server/traffic_server.cc
Labels: Cleanup

#9854 Check for SO_MARK in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9855 Check for SO_PEERCRED in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9840 Fix crash on config reload with BoringSSL
  iocore/net/SSLConfig.cc
Labels: TLS, Crash

#9863 Add option to build regression tests
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  iocore/cache/CMakeLists.txt
  iocore/net/CMakeLists.txt
  proxy/CMakeLists.txt
  proxy/http/CMakeLists.txt
Labels: Build, Tests, CMake

#9862 Add support for libunwind in CMake build
  CMakeLists.txt
  cmake/Findunwind.cmake
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9865 add some missing libs for clang
  src/records/CMakeLists.txt
  src/wccp/CMakeLists.txt
Labels: CMake

#9860 Fixes Coverity 1513058, introduced with #9643
  plugins/header_rewrite/operator.h
Labels: Coverity, header_rewrite

#9866 cleanup cast warning with reinterpret_cast
  include/records/I_RecProcess.h
Labels: Cleanup

#9867 Add traffic_wccp to CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  src/traffic_wccp/CMakeLists.txt
Labels: Build, WCCP, CMake

#9876 RAT license fix: renamed_records.out -> .gold
  tests/gold_tests/records/gold/renamed_records.gold
  tests/gold_tests/records/records_config_to_yaml.test.py
Labels: RAT

#9870 Check for symbol IP_TOS in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9884 Add transparent proxy support to CMake build
  CMakeLists.txt
  cmake/ConfigureTransparentProxy.cmake
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#9885 Add missing yaml libs reference to HTTP proxy test suite.
  proxy/http/Makefile.am
Labels: Build

#9883 Add max thread count options to CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, Threads, CMake

#9879 doc: fix the internal libraries section formatting
  doc/developer-guide/internal-libraries/index.en.rst
  doc/developer-guide/internal-libraries/intrusive-hash-map.en.rst
  doc/developer-guide/internal-libraries/intrusive-list.en.rst
  doc/developer-guide/internal-libraries/scalar.en.rst
Labels: Documentation

#9831 Allow slice plugin to purge requests
  doc/admin-guide/plugins/slice.en.rst
  plugins/experimental/slice/Config.h
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.cc
  plugins/experimental/slice/transfer.h
  plugins/experimental/slice/util.cc
  tests/gold_tests/pluginTest/slice/replay/slice_purge.replay.yaml
  tests/gold_tests/pluginTest/slice/replay/slice_purge_no_ref.replay.yaml
  tests/gold_tests/pluginTest/slice/replay/slice_purge_ref.replay.yaml
  tests/gold_tests/pluginTest/slice/slice_purge.test.py
Labels: Plugins

#9893 Install libswoc headers by default, can be disabled instead
  build/libswoc.m4
  configure.ac
Labels: Build

#9877 Do not add content-length for status 204 cache
  proxy/http/HttpTransact.cc
Labels: HTTP

#9868 Adds some casts to avoid pedantic compile warnings
  include/tscore/ink_mutex.h
  include/tscore/ink_rwlock.h
  include/tscpp/util/TsSharedMutex.h
Labels: Cleanup

#9891 tests: minor autest script fixes
  tests/autest.sh
  tests/prepare_proxy_verifier.sh
  tests/test-env-check.sh
Labels: AuTest

#9599 TS API - records.yaml Add API to parse YAML nodes that are expected to be read as legacy records.
  doc/developer-guide/api/functions/TSRecYAMLConfigParse.en.rst
  include/ts/apidefs.h.in
  include/ts/ts.h
  src/traffic_server/InkAPI.cc
Labels: Plugins, TS API, YAML, conf_remap

#9894 Add missing source file to http3 target
  proxy/http3/CMakeLists.txt
Labels: Build, QUIC, Bug, CMake

#9895 Build traffic_layout in CMake build
  CMakeLists.txt
  src/records/CMakeLists.txt
  src/traffic_layout/CMakeLists.txt
Labels: Build, CMake

#9348 Add an SNI action to reject QUIC connections
  doc/admin-guide/files/sni.yaml.en.rst
  iocore/cache/Makefile.am
  iocore/net/Makefile.am
  iocore/net/P_SNIActionPerformer.h
  iocore/net/SNIActionPerformer.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  proxy/http/Makefile.am
Labels: QUIC

#9907 Fix incorrect include path in CMake build
  CMakeLists.txt
Labels: CMake

#9909 build_h3_tools: fix path navigation
  tools/build_h3_tools.sh
Labels: Tools

#9781 Added Autest for H2 CONNECT and fix a crash triggered by the test
  proxy/http/HttpSM.cc
  tests/gold_tests/connect/connect.test.py
  tests/gold_tests/connect/replays/connect_h2.replay.yaml
Labels: HTTP/2, Bug, AuTest, Tunneling

#9897 records.yaml - Rename few records that I missed in the original
  doc/admin-guide/files/records.yaml.en.rst
  proxy/http/HttpConfig.cc
  src/records/RecordsConfig.cc
Labels: Configuration, Documentation, YAML

#9913 Add healthcheck plugin to CMake build
  plugins/CMakeLists.txt
  plugins/healthchecks/CMakeLists.txt
Labels: Plugins, Build, CMake

#9912 Add some proxy/http tests to CMake build
  proxy/http/CMakeLists.txt
  proxy/http/unit_tests/CMakeLists.txt
Labels: Build, Tests, CMake

#9903 Export traffic_server symbols
  plugins/CMakeLists.txt
  src/traffic_server/CMakeLists.txt
Labels: Plugins, Build, CMake

#9908 Enforce more CONTROL stream rules
  proxy/http3/Http3App.cc
  proxy/http3/Http3App.h
  proxy/http3/Http3ProtocolEnforcer.cc
Labels: HTTP/3

#9881 Fix autests for fedora 38
  tests/Pipfile
  tests/gold_tests/h2/gold/bigfile.gold
  tests/gold_tests/h2/gold/chunked.gold
  tests/gold_tests/h2/gold/remap-200.gold
  tests/gold_tests/h2/h2active_timeout.py
  tests/gold_tests/h2/h2bigclient.py
  tests/gold_tests/h2/h2chunked.py
  tests/gold_tests/h2/h2client.py
  tests/gold_tests/h2/http2.test.py
  tests/gold_tests/headers/gold/bad_method.gold
  tests/gold_tests/tls/test-nc-s_client.sh
Labels: AuTest

#9754 Fix OCSP detection during build (9.2.x)
  build/crypto.m4
Labels: TLS

#9918 healthchecks plugin is linux only
  plugins/CMakeLists.txt
Labels: CMake

#9915 Remove TCMalloc support
  CMakeLists.txt
  build/jemalloc.m4
  build/mimalloc.m4
  build/tcmalloc.m4
  cmake/FindTCMalloc.cmake
  cmake/FindTSMallocReplacement.cmake
  configure.ac
  doc/developer-guide/testing/blackbox-testing.en.rst
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_config.h.in
  src/traffic_layout/info.cc
  tests/README.md
Labels: Build, Documentation

#9910 Add back python3-devel check for autests
  tests/test-env-check.sh
Labels: AuTest

#9872 libswoc: Update IntrusiveHashMap in HTTP session manager.
  proxy/http/HttpSessionManager.h
Labels: CPP API, Cleanup

#9871 libswoc: Update IntrusiveHashMap in log rolling
  proxy/logging/RolledLogDeleter.h
Labels: CPP API, Cleanup

#9873 libswoc: Update IntrusvieHashMap in Http connection tracking.
  proxy/http/HttpConnectionCount.h
Labels: CPP API, Cleanup

#9874 libswoc: Update IntrusiveHashMap in HostDB.
  iocore/hostdb/HostDB.cc
  iocore/hostdb/P_RefCountCache.h
Labels: CPP API, Cleanup

#9518 Fix, add metrics testing to tls_tunnel Au test.
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  tests/gold_tests/tls/gold/tls-tunnel-metrics.gold
  tests/gold_tests/tls/tls_tunnel.test.py
  tests/tools/stdout_wait
Labels: TLS, Metrics, AuTest

#9767 Filter SNI based on port
  doc/admin-guide/files/sni.yaml.en.rst
  include/tscpp/util/ts_ip.h
  iocore/net/Makefile.am
  iocore/net/P_QUICNetVConnection_quiche.h
  iocore/net/P_SSLNetVConnection.h
  iocore/net/QUICNetVConnection_quiche.cc
  iocore/net/SSLNetVConnection.cc
  iocore/net/SSLSNIConfig.cc
  iocore/net/SSLSNIConfig.h
  iocore/net/TLSSNISupport.cc
  iocore/net/TLSSNISupport.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  iocore/net/unit_tests/sni_conf_test.yaml
  iocore/net/unit_tests/sni_conf_test_bad_port_0-1.yaml
  iocore/net/unit_tests/sni_conf_test_bad_port_1-yowzers2.yaml
  iocore/net/unit_tests/sni_conf_test_bad_port_65535-65536.yaml
  iocore/net/unit_tests/sni_conf_test_bad_port_8080-433.yaml
  iocore/net/unit_tests/sni_conf_test_bad_port_yowzers-1.yaml
  iocore/net/unit_tests/test_ProxyProtocol.cc
  iocore/net/unit_tests/test_SSLSNIConfig.cc
  iocore/net/unit_tests/test_YamlSNIConfig.cc
  iocore/net/unit_tests/unit_test_main.cc
  proxy/http/HttpSM.cc
  proxy/http/PreWarmManager.h
  src/tests/CMakeLists.txt
  tests/gold_tests/tls/tls_sni_with_port.replay.yaml
  tests/gold_tests/tls/tls_sni_with_port.test.py
Labels: TLS

#9922 cmake: added endian.h detection for Linux
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: CMake

#9921 Fixes defines for the version strings
  CMakeLists.txt
Labels: CMake

#9812 First stab at cleaning up experimental.h deps
  include/ts/apidefs.h.in
  include/ts/experimental.h
  include/ts/ts.h
  plugins/escalate/escalate.cc
  plugins/esi/combo_handler.cc
  plugins/esi/esi.cc
  plugins/experimental/mp4/mp4_common.h
  plugins/experimental/redo_cache_lookup/redo_cache_lookup.cc
  plugins/experimental/slice/Config.cc
  plugins/experimental/slice/server.cc
  plugins/experimental/slice/slice.h
  plugins/experimental/wasm/ats_context.h
  plugins/generator/generator.cc
  plugins/prefetch/fetch.h
  src/traffic_server/InkAPI.cc
Labels: Cleanup

#9925 Add escalate plugin to CMake build
  plugins/CMakeLists.txt
  plugins/escalate/CMakeLists.txt
Labels: Plugins, Build, escalate, CMake

#9920 Tools: build_h3_tools - Add support for FreeBSD
  tools/build_h3_tools.sh
Labels: Build, Tools, QUIC

#9926 Add multiplexer plugin to CMake build
  plugins/CMakeLists.txt
  plugins/multiplexer/CMakeLists.txt
Labels: Plugins, Build, multiplexer, CMake

#9930 Require new line at EOF
  .clang-format
  include/shared/rpc/RPCClient.h
  mgmt/rpc/handlers/common/ErrorUtils.h
  mgmt/rpc/handlers/common/Utils.h
  mgmt/rpc/handlers/common/convert.h
  mgmt/rpc/handlers/config/Configuration.h
  mgmt/rpc/server/CommBase.cc
  mgmt/rpc/server/CommBase.h
  plugins/experimental/slice/prefetch.h
  plugins/server_push_preload/server_push_preload.cc
  src/traffic_ctl/PrintUtils.h
  src/traffic_server/RpcAdminPubHandlers.h
  tests/tools/plugins/cert_update.cc
Labels: Cleanup

#9924 Check openssl version and add appropriate defines
  CMakeLists.txt
  plugins/certifier/CMakeLists.txt
  src/tscore/CMakeLists.txt
Labels: CMake

#9919 Move URL escapify functions into tscore
  include/tscore/Encoding.h
  proxy/logging/LogAccess.cc
  proxy/logging/LogUtils.cc
  proxy/logging/LogUtils.h
  proxy/logging/unit-tests/test_LogUtils.cc
  src/traffic_server/InkAPI.cc
  src/tscore/CMakeLists.txt
  src/tscore/Encoding.cc
  src/tscore/Makefile.am
  src/tscore/unit_tests/test_Encoding.cc
Labels: Core

#9927 Update openssl build_h3_tools to latest versions
  tools/build_h3_tools.sh
Labels: Tools

#9829 Add TSHttpTxnNextHopPortGet, add NEXT-HOP to header rewrite
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpTxnNextHopPortGet.en.rst
  include/ts/ts.h
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/resources.cc
  plugins/header_rewrite/statement.cc
  plugins/header_rewrite/statement.h
  plugins/lua/ts_lua_server_request.c
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
Labels: Plugins, Lua, TS API, header_rewrite

#9928 Detect SSL_CTX_set_keylog_callback in CMake build
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, TLS, CMake

#9933 Define DEBUG and _DEBUG in CMake Debug mode
  CMakeLists.txt
Labels: Build, Debug, CMake

#9838 Untangle some classes in iocore
  iocore/dns/P_DNSConnection.h
  iocore/eventsystem/I_ProxyAllocator.h
  iocore/eventsystem/I_Thread.h
  iocore/net/AcceptOptions.cc
  iocore/net/AcceptOptions.h
  iocore/net/CMakeLists.txt
  iocore/net/EventIO.cc
  iocore/net/EventIO.h
  iocore/net/I_NetProcessor.h
  iocore/net/I_NetVConnection.h
  iocore/net/I_UDPNet.h
  iocore/net/Makefile.am
  iocore/net/NetEvent.h
  iocore/net/NetHandler.cc
  iocore/net/NetHandler.h
  iocore/net/NetVCOptions.cc
  iocore/net/NetVCOptions.h
  iocore/net/P_NetAccept.h
  iocore/net/P_UDPNet.h
  iocore/net/P_UnixNet.h
  iocore/net/P_UnixPollDescriptor.h
  iocore/net/PollCont.cc
  iocore/net/PollCont.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetProcessor.cc
  iocore/net/UnixUDPNet.cc
  iocore/net/test_I_UDPNet.cc
  proxy/http/HttpDebugNames.cc
  src/traffic_server/InkIOCoreAPI.cc
Labels: Cleanup

#9931 Use string copy for the SNI server name.
  proxy/private/SSLProxySession.cc
  proxy/private/SSLProxySession.h
Labels: Cleanup

#9756 Disable proxies when running autest
  tests/autest.sh
Labels: AuTest
