Repository apache/trafficserver, pull requests merged in 2024-03, with the labels that each got.

#11116 Added namespace fmt to function call format_to in Cripts
  include/cripts/Crypto.hpp
  include/cripts/Headers.hpp
  include/cripts/Lulu.hpp
  include/cripts/Time.hpp
  include/cripts/Urls.hpp
Labels: Cripts

#11119 dont install static libraries
  src/api/CMakeLists.txt
  src/tsutil/CMakeLists.txt
Labels: Cleanup, CMake

#11118 autests change perl shasum to cksum
  tests/gold_tests/h2/gold/httpbin_2_stdout.gold
  tests/gold_tests/h2/gold/priority_0_stdout.gold
  tests/gold_tests/h2/http2_priority.test.py
  tests/gold_tests/h2/httpbin.test.py
Labels: AuTest

#11117 Mute some coverity issues.
  plugins/experimental/txn_box/plugin/include/txn_box/accl_util.h
Labels: Coverity

#11121 http3: Propagate edata as well
  include/proxy/http3/Http3Transaction.h
  src/proxy/http3/Http3Session.cc
  src/proxy/http3/Http3Transaction.cc
Labels: HTTP/3

#11125 cleanup: Remove unnecessary dependency from a header file
  include/tscore/Encoding.h
  src/tscore/Encoding.cc
Labels: Cleanup

#11104 fix hostdb.host_file.interval to be set at reconfig time
  src/iocore/hostdb/HostDB.cc
  src/iocore/hostdb/P_HostDBProcessor.h
Labels: Bug

#11105 Only work around dup lib issue on appleclang
  CMakeLists.txt
Labels: Build

#11109 Fix package name in build system.
  CMakeLists.txt
Labels: Cleanup

#11122 rate_limit plugin: Decouple metrics and queue config
  plugins/experimental/rate_limit/limiter.h
Labels: Plugins, rate_limit

#11094 NOT_WRITE_AVAIL: schedule event to resend data frames
  include/proxy/http2/Http2CommonSession.h
  include/proxy/http2/Http2ConnectionState.h
  include/proxy/http2/Http2Stream.h
  src/proxy/http2/Http2ConnectionState.cc
  src/proxy/http2/Http2Stream.cc
  tests/gold_tests/h2/grpc/grpc.test.py
  tests/gold_tests/h2/grpc/grpc_client.py
  tests/gold_tests/h2/grpc/grpc_server.py
  tests/gold_tests/h2/grpc/simple.proto
Labels: HTTP/2, gRPC

#11126 CI osx and fedora: -DENABLE_CRIPTS
  CMakePresets.json
Labels: CI, CMake

#11130 Fixes broken refactoring to new Metrics
  include/cripts/Metrics.hpp
Labels: Cripts

#11127 Fix for issue 11123. Do not return metrics when a config record is requested.
  src/mgmt/rpc/handlers/common/RecordsUtils.cc
  src/records/RecCore.cc
Labels: Metrics, JSONRPC

#11111 Coverity fixes. CID 1534726 , CID 1534745, CID1534723
  plugins/experimental/txn_box/plugin/include/txn_box/accl_util.h
  plugins/experimental/txn_box/unit_tests/CMakeLists.txt
Labels: Coverity, TxnBox

#11136 http3: Fix a crash on READ_READY event for QPACK
  src/proxy/http3/QPACK.cc
Labels: HTTP/3

#11146 Adds 10.0.x to the list of docs version
  doc/static/languages.json
Labels: Documentation

#11148 Docs: header rewrite regex has case insensitive pcre flag
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#11151 Add copying of _templates dir so sphinx can generate the version menu
  doc/CMakeLists.txt
Labels: Documentation, CMake

#11149 Fix validation regex for http.connect_ports
  src/records/RecordsConfig.cc
Labels: Configuration

#11137 Fix a couple misspellings
  doc/admin-guide/files/records.yaml.en.rst
  plugins/experimental/stale_response/stale_response.cc
  tests/gold_tests/tls/tls_sni_ip_allow.test.py
Labels: Cleanup

#11128 [Fuzzing] Add fuzzing harness for `HTTP3Frame`
  tests/fuzzing/CMakeLists.txt
  tests/fuzzing/fuzz_http3frame.cc
  tests/fuzzing/oss-fuzz.sh
Labels: Tests

#11120 cmake: Link pcre2 to src/api
  src/api/CMakeLists.txt
Labels: Build

#11134 CID1534729: txnbox - avoid copying object.
  plugins/experimental/txn_box/plugin/src/text_block.cc
Labels: Coverity, TxnBox

#11133 CID1534716: use after move on txn_box ip_space module.
  plugins/experimental/txn_box/plugin/src/ip_space.cc
Labels: Coverity, TxnBox

#10986 libsowc - remove legacy Errata.
  include/iocore/net/YamlSNIConfig.h
  include/mgmt/config/FileManager.h
  include/mgmt/rpc/handlers/common/ErrorUtils.h
  include/mgmt/rpc/handlers/common/RecordsUtils.h
  include/mgmt/rpc/handlers/config/Configuration.h
  include/mgmt/rpc/handlers/plugins/Plugins.h
  include/mgmt/rpc/handlers/records/Records.h
  include/mgmt/rpc/handlers/server/Server.h
  include/mgmt/rpc/handlers/storage/Storage.h
  include/mgmt/rpc/jsonrpc/Context.h
  include/mgmt/rpc/jsonrpc/Defs.h
  include/mgmt/rpc/jsonrpc/JsonRPCManager.h
  include/mgmt/rpc/jsonrpc/json/YAMLCodec.h
  include/mgmt/rpc/server/CommBase.h
  include/mgmt/rpc/server/IPCSocketServer.h
  include/tscore/Errata.h
  include/tsutil/ts_errata.h
  lib/swoc/include/swoc/Errata.h
  src/api/InkAPI.cc
  src/iocore/net/SSLSNIConfig.cc
  src/iocore/net/YamlSNIConfig.cc
  src/iocore/net/unit_tests/test_YamlSNIConfig.cc
  src/mgmt/config/AddConfigFilesHere.cc
  src/mgmt/config/FileManager.cc
  src/mgmt/rpc/CMakeLists.txt
  src/mgmt/rpc/handlers/common/ErrorUtils.cc
  src/mgmt/rpc/handlers/config/Configuration.cc
  src/mgmt/rpc/handlers/plugins/Plugins.cc
  src/mgmt/rpc/handlers/records/Records.cc
  src/mgmt/rpc/handlers/server/Server.cc
  src/mgmt/rpc/handlers/storage/Storage.cc
  src/mgmt/rpc/jsonrpc/Context.cc
  src/mgmt/rpc/jsonrpc/JsonRPCManager.cc
  src/mgmt/rpc/jsonrpc/unit_tests/test_basic_protocol.cc
  src/mgmt/rpc/server/IPCSocketServer.cc
  src/mgmt/rpc/server/unit_tests/test_rpcserver.cc
  src/proxy/CMakeLists.txt
  src/proxy/HostStatus.cc
  src/proxy/http/HttpConfig.cc
  src/traffic_cache_tool/CacheTool.cc
  src/tscore/CMakeLists.txt
  src/tscore/Errata.cc
  src/tscore/unit_tests/test_Errata.cc
  src/tsutil/CMakeLists.txt
  src/tsutil/ts_errata.cc
  tests/gold_tests/jsonrpc/plugins/jsonrpc_plugin_handler_test.cc
Labels: Cleanup, libswoc

#11141 install tsutil files even if tsutil is static
  src/tsutil/CMakeLists.txt
Labels: CMake

#11154 set CMAKE_HOST for TS_BUILD_CANONICAL_HOST
  CMakeLists.txt
Labels: CMake

#11138 Fix asan and vargrind issue with libswoc unit test
  lib/swoc/unit_tests/ex_IntrusiveDList.cc
  lib/swoc/unit_tests/ex_MemArena.cc
  lib/swoc/unit_tests/test_IntrusiveDList.cc
  lib/swoc/unit_tests/test_IntrusiveHashMap.cc
  lib/swoc/unit_tests/test_ip.cc
Labels: ASan, libswoc

#11026 Move Doc struct to Doc.h
  include/iocore/cache/CacheVC.h
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheEvacuateDocVC.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheDoc.h
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheTest.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#11157 Remove support for session id based session resumption
  doc/admin-guide/files/records.yaml.en.rst
  include/iocore/net/TLSSessionResumptionSupport.h
  include/ts/ts.h
  src/api/InkAPI.cc
  src/iocore/net/P_SSLConfig.h
  src/iocore/net/SSLConfig.cc
  src/iocore/net/SSLSessionCache.cc
  src/iocore/net/SSLSessionCache.h
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSSessionResumptionSupport.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/pluginTest/stek_share/stek_share.test.py
  tests/gold_tests/tls/tls_0rtt_server.test.py
  tests/gold_tests/tls/tls_origin_session_reuse.test.py
  tests/gold_tests/tls/tls_session_reuse.test.py
Labels: Core, TLS, Incompatible, Server Session, SSL

#11162 Fix a build error
  src/iocore/net/quic/QUICTypes.cc
Labels: Build, QUIC

#11077 Add ENABLE_CLANG_TIDY option
  CMakeLists.txt
  cmake/ClangTidy.cmake
  cmake/add_atsplugin.cmake
  src/api/CMakeLists.txt
  src/cripts/CMakeLists.txt
  src/iocore/aio/CMakeLists.txt
  src/iocore/cache/CMakeLists.txt
  src/iocore/dns/CMakeLists.txt
  src/iocore/eventsystem/CMakeLists.txt
  src/iocore/hostdb/CMakeLists.txt
  src/iocore/io_uring/CMakeLists.txt
  src/iocore/net/CMakeLists.txt
  src/iocore/utils/CMakeLists.txt
  src/mgmt/config/CMakeLists.txt
  src/mgmt/rpc/CMakeLists.txt
  src/proxy/CMakeLists.txt
  src/proxy/hdrs/CMakeLists.txt
  src/proxy/http/CMakeLists.txt
  src/proxy/http2/CMakeLists.txt
  src/proxy/http3/CMakeLists.txt
  src/proxy/logging/CMakeLists.txt
  src/records/CMakeLists.txt
  src/shared/CMakeLists.txt
  src/traffic_cache_tool/CMakeLists.txt
  src/traffic_crashlog/CMakeLists.txt
  src/traffic_ctl/CMakeLists.txt
  src/traffic_layout/CMakeLists.txt
  src/traffic_logcat/CMakeLists.txt
  src/traffic_logstats/CMakeLists.txt
  src/traffic_server/CMakeLists.txt
  src/traffic_top/CMakeLists.txt
  src/traffic_via/CMakeLists.txt
  src/tscore/CMakeLists.txt
  src/tscpp/api/CMakeLists.txt
  src/tsutil/CMakeLists.txt
Labels: CMake

#11163 Adds TSHttpTxnErrorBodyGet() corresponding to the Set
  doc/developer-guide/api/functions/TSHttpTxnErrorBodySet.en.rst
  include/ts/ts.h
  src/api/InkAPI.cc
Labels: TS API

#11167 Restore alignment for structs stored in cache
  include/proxy/hdrs/HTTP.h
  include/proxy/hdrs/HdrHeap.h
Labels: Bug

#11169 set compile definition to turn on maxminddb
  plugins/header_rewrite/CMakeLists.txt
Labels: Build

#11145 http3: Add missing declaration
  include/proxy/http3/Http3Transaction.h
Labels: HTTP/3

#11160 Test failure checks for Stripe::add_writer
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/unit_tests/test_Stripe.cc
Labels: Cache, Tests

#11159 Adds a conn.mark= operation for a connection
  example/cripts/example1.cc
  include/cripts/Connections.hpp
Labels: Cripts

#11166 CID1508922 - Fix Uncaught exception.
  include/mgmt/rpc/jsonrpc/json/YAMLCodec.h
Labels: Coverity

#11177 Version update: libswoc 1.5.11
  lib/swoc/CMakeLists.txt
  lib/swoc/include/swoc/swoc_version.h
Labels: libswoc

#11179 Fix external libswoc builds
  cmake/add_atsplugin.cmake
  src/proxy/hdrs/CMakeLists.txt
Labels: CMake, libswoc

#11176 SSL Diags - Use boringssl API to fetch a proper error description.
  src/iocore/net/SSLDiags.cc
Labels: Logging, SSL

#11175 Update HTTP3 test to use hostname instead of numeric address.
  tests/gold_tests/timeout/active_timeout.test.py
Labels: QUIC, HTTP/3, AuTest

#11147 Work around a GCC bug for __sync_val_compare_and_swap on ARMv8.1+
  include/tscore/ink_queue.h
Labels: Build

#11174 H3 deps build script update.
  tools/build_h3_tools.sh
Labels: Tools, HTTP/3

#11182 Fix external yaml-cpp builds
  cmake/add_atsplugin.cmake
Labels: YAML, CMake

#11171 Remove symbols with prefix INKUDP from plugin API.
  doc/release-notes/whats-new.en.rst
  include/iocore/eventsystem/Event.h
  include/ts/InkAPIPrivateIOCore.h
  src/api/InkIOCoreAPI.cc
Labels: TS API, Incompatible

#11180 Fixes for SRV records handling in hostdb rewrite
  src/iocore/hostdb/HostDB.cc
  src/iocore/hostdb/HostDBInfo.cc
  src/proxy/http/HttpSM.cc
Labels: Bug

#11185 Build an extra static boringssl for NuRaft
  tools/build_h3_tools.sh
Labels: Build, stek_share

#11183 magick.so: explicitly reference wand/core libraries
  CMakeLists.txt
  cmake/magick_target.cmake
  plugins/experimental/magick/CMakeLists.txt
Labels: CMake

#11189 Fix GCC 14.0.1 -std=c++20 build failures
  lib/swoc/include/swoc/TextView.h
  plugins/header_rewrite/matcher.h
  src/tscore/HostLookup.cc
Labels: Build

#11187 Print warning about valid_tls_versions_in on startup
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
Labels: TLS

#11191 Fix warnings from clang 18
  CMakeLists.txt
  plugins/experimental/inliner/ts.cc
  plugins/experimental/txn_box/plugin/include/txn_box/common.h
Labels: Build

#11195 CMakePresets: branch-quiche: use boringssl nuraft
  CMakePresets.json
Labels: Build, CMake, stek_share

#11190 swoc: install swoc_ip_util.h
  lib/swoc/CMakeLists.txt
Labels: Build, libswoc

#11152 This adds support for NOCASE on string compare / regex
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/CMakeLists.txt
  plugins/header_rewrite/condition.cc
  plugins/header_rewrite/condition.h
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/matcher.cc
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/regex_helper.cc
  plugins/header_rewrite/regex_helper.h
Labels: header_rewrite

#11188 http2: change stream state to closed from open if END_STREAM is sent and received
  src/proxy/http2/Http2Stream.cc
Labels: HTTP/2

#11181 rate_limit: Set initialized flag of SieveLru when loading yaml is done
  plugins/experimental/rate_limit/ip_reputation.cc
Labels: rate_limit
