Repository apache/trafficserver, pull requests merged in 2024-02, with the labels that each got.

#11023 Fix stripe metrics in the exclusive span case
  src/iocore/cache/Cache.cc
  tests/gold_tests/cache/gold/storage_metrics_2_stdout.gold
  tests/gold_tests/cache/storage-metrics.test.py
Labels: Cache, Metrics

#10897 fix race condition with session thread migration
  src/iocore/net/EventIO.cc
  src/iocore/net/UnixNetVConnection.cc
  src/proxy/http/HttpSessionManager.cc
Labels: Crash, Server Session

#11027 Cleanup SSLSNIConfig
  include/iocore/net/SSLSNIConfig.h
  include/iocore/net/TLSSNISupport.h
  src/iocore/net/SSLSNIConfig.cc
  src/iocore/net/TLSSNISupport.cc
  src/proxy/http/HttpSM.cc
Labels: TLS, Cleanup

#11019 Cleanup io_uring.
  include/iocore/io_uring/IO_URING.h
  src/iocore/aio/test_AIO.cc
  src/iocore/io_uring/CMakeLists.txt
  src/iocore/io_uring/io_uring.cc
  src/iocore/io_uring/unit_tests/test_diskIO.cc
Labels: io_uring

#11030 Allows the set-body to run as a pseudo remap hook
  plugins/header_rewrite/operators.cc
Labels: header_rewrite

#11028 docs: Fix pipfile package compatible release clause.
  doc/Pipfile
Labels: Documentation, easy_review

#11001 Fix Findunwind.cmake on RHEL
  cmake/Findunwind.cmake
Labels: Build, CMake

#11011 Fix esi-fetcher-plugin libswoc include issue
  plugins/esi/fetcher/CMakeLists.txt
Labels: Build, CMake

#11004 Core implementation of IP categories for ip_allow.yaml
  configs/ip_allow.schema.json
  doc/admin-guide/files/ip_allow.yaml.en.rst
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/files/remap.config.en.rst
  include/proxy/IPAllow.h
  include/proxy/http/remap/AclFiltering.h
  include/proxy/http/remap/RemapConfig.h
  include/tscore/Filenames.h
  src/mgmt/config/AddConfigFilesHere.cc
  src/proxy/IPAllow.cc
  src/proxy/http/remap/AclFiltering.cc
  src/proxy/http/remap/RemapConfig.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/records/RecordsConfig.cc
  src/traffic_server/traffic_server.cc
  tests/gold_tests/ip_allow/ip_category.test.py
  tests/gold_tests/ip_allow/replays/https_categories_all.replay.yaml
  tests/gold_tests/ip_allow/replays/https_categories_external.replay.yaml
  tests/gold_tests/ip_allow/replays/https_categories_external_remap.replay.yaml
  tests/gold_tests/ip_allow/replays/https_categories_internal.replay.yaml
  tests/gold_tests/ip_allow/replays/https_categories_server.replay.yaml
Labels: ip_allow

#11029 Remove many old HAVE_*_H configure build vars
  CMakeLists.txt
  include/tscore/ParseRules.h
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_file.h
  include/tscore/ink_memory.h
  include/tscore/ink_platform.h
  include/tscore/ink_thread.h
  plugins/experimental/system_stats/system_stats.cc
  plugins/header_rewrite/conditions.cc
  plugins/tcpinfo/tcpinfo.cc
  src/cripts/Connections.cc
  src/proxy/logging/LogConfig.cc
  src/traffic_server/traffic_server.cc
  src/tscore/ink_cap.cc
  src/tscore/ink_file.cc
  src/tscore/ink_hrtime.cc
  src/tscore/ink_res_init.cc
  src/tscore/ink_res_mkquery.cc
Labels: Build, CMake

#11042 tidy: Add virtual dtor. Mute compiler warnings.
  include/iocore/net/quic/QUICStream.h
Labels: Cleanup, QUIC

#11041 Add basic check for pcre2
  CMakeLists.txt
Labels: Build, CMake

#11024 Reuse arena for header compression
  include/proxy/http2/HPACK.h
  include/proxy/http3/QPACK.h
  src/proxy/http2/HPACK.cc
  src/proxy/http3/QPACK.cc
Labels: HTTP/2, HTTP/3

#11009 Segmentation crash caused by setting unavailable_server_retry_responses in parent.config
  src/proxy/ParentSelection.cc
  tests/gold_tests/parent_proxy/parent-retry.test.py
Labels: Parent Selection

#11051 SSLConfig: free temporary ALPN string
  src/iocore/net/SSLConfig.cc
Labels: Bug

#11052 include swoc/bwf_base.h so templates work
  plugins/cache_promote/policy.cc
Labels: cache_promote

#11045 Deprecate the support for NPN
  doc/admin-guide/configuration/session-protocol.en.rst
  doc/developer-guide/api/functions/TSHttpConnectPlugin.en.rst
  doc/developer-guide/api/functions/TSHttpConnectWithPluginId.en.rst
Labels: Documentation, Incompatible

#11054 Fix an assertion failure on QPACK
  src/proxy/hdrs/XPACK.cc
  src/proxy/http3/QPACK.cc
Labels: HTTP/3

#11056 Add support for verifying plugins at test time
  cmake/add_atsplugin.cmake
  plugins/cache_promote/CMakeLists.txt
Labels: Build

#11047 Move ts/parentselectdefs.h contents into ts/apidefs.h
  doc/developer-guide/api/functions/TSHttpTxnResponseActionGet.en.rst
  doc/developer-guide/api/functions/TSHttpTxnResponseActionSet.en.rst
  include/proxy/http/HttpTransact.h
  include/proxy/http/remap/NextHopSelectionStrategy.h
  include/ts/apidefs.h.in
  include/ts/parentselectdefs.h
  include/ts/ts.h
  src/api/CMakeLists.txt
  src/proxy/http/HttpTransact.cc
Labels: Plugins, Documentation, Parent Selection

#10814 remove curl depends from traffic_top
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
Labels: Build, CMake

#11050 Add auto_option for ImageMagick and add support for specifying a COMP…
  CMakeLists.txt
  cmake/AutoOptionHelpers.cmake
  cmake/magick_target.cmake
  plugins/CMakeLists.txt
  plugins/experimental/CMakeLists.txt
  plugins/experimental/magick/CMakeLists.txt
  plugins/experimental/magick/magick.cc
Labels: Build, CMake

#10978 Avoid arena temporary.
  src/proxy/http/HttpTransact.cc
Labels: HTTP, Cleanup

#11060 Remove ssl_session_reuse plugin
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/ssl_session_reuse.en.rst
  doc/admin-guide/plugins/stek_share.en.rst
  plugins/experimental/CMakeLists.txt
  plugins/experimental/ssl_session_reuse/.gitignore
  plugins/experimental/ssl_session_reuse/example_config.config
  plugins/experimental/ssl_session_reuse/src/Config.h
  plugins/experimental/ssl_session_reuse/src/ats_ssl_plugin.cc
  plugins/experimental/ssl_session_reuse/src/common.cc
  plugins/experimental/ssl_session_reuse/src/common.h
  plugins/experimental/ssl_session_reuse/src/config.cc
  plugins/experimental/ssl_session_reuse/src/connection.cc
  plugins/experimental/ssl_session_reuse/src/connection.h
  plugins/experimental/ssl_session_reuse/src/globals.h
  plugins/experimental/ssl_session_reuse/src/message.h
  plugins/experimental/ssl_session_reuse/src/openssl_utils.cc
  plugins/experimental/ssl_session_reuse/src/publish.cc
  plugins/experimental/ssl_session_reuse/src/publisher.h
  plugins/experimental/ssl_session_reuse/src/redis_auth.h
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.cc
  plugins/experimental/ssl_session_reuse/src/redis_endpoint.h
  plugins/experimental/ssl_session_reuse/src/session_process.cc
  plugins/experimental/ssl_session_reuse/src/session_process.h
  plugins/experimental/ssl_session_reuse/src/simple_pool.cc
  plugins/experimental/ssl_session_reuse/src/simple_pool.h
  plugins/experimental/ssl_session_reuse/src/ssl_init.cc
  plugins/experimental/ssl_session_reuse/src/ssl_key_utils.cc
  plugins/experimental/ssl_session_reuse/src/ssl_utils.h
  plugins/experimental/ssl_session_reuse/src/stek.h
  plugins/experimental/ssl_session_reuse/src/subscriber.cc
  plugins/experimental/ssl_session_reuse/src/subscriber.h
  plugins/experimental/ssl_session_reuse/tests/plug-load.test.py
Labels: Plugins

#11064 Fix 2 HTTP/2 trailing header memory leaks
  src/proxy/http/HttpSM.cc
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2, gRPC

#10863 Cleanup ink_thread.h of wrong BSD checks assuming missing pthread functions
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_platform.h
  include/tscore/ink_thread.h
  src/tscore/ink_memory.cc
  src/tscore/ink_mutex.cc
  src/tsutil/DbgCtl.cc
Labels: Build, CMake

#11067 tools/clang-format.sh: don't run on lib
  tools/clang-format.sh
Labels: format

#11057 cleanup: remove notes from removed parts related to traffic_manager
  .gitignore
  doc/developer-guide/api/types/TSRecordUpdateType.en.rst
  doc/developer-guide/config-vars.en.rst
  include/ts/apidefs.h.in
  tools/check-unused-dependencies
Labels: Cleanup, easy_review

#11070 qpack: Don't block decoding if Required Insert Count is zero
  src/proxy/http3/QPACK.cc
Labels: HTTP/3

#11065 traffic_top: Allow traffic_top to be running while TS is down.
  src/traffic_top/stats.h
  src/traffic_top/traffic_top.cc
Labels: traffic_top

#11008 Add utility files for building external plugins
  CMakeLists.txt
  Findtsapi.cmake.in
  doc/developer-guide/plugins/building-plugins.en.rst
  ts.pc.in
Labels: Build, CMake

#11069 Change malloc template to TSRalloc (fixes Ubuntu build).
  doc/developer-guide/api/functions/TSDebug.en.rst
  doc/developer-guide/api/functions/TSmalloc.en.rst
  doc/developer-guide/plugins/getting-started/naming-conventions.en.rst
  example/plugins/c-api/denylist_0/denylist_0.cc
  example/plugins/c-api/redirect_1/redirect_1.cc
  example/plugins/c-api/thread_pool/psi.cc
  example/plugins/c-api/thread_pool/thread.cc
  include/ts/ts.h
  plugins/experimental/fq_pacing/fq_pacing.cc
  plugins/experimental/url_sig/url_sig.cc
  plugins/healthchecks/healthchecks.cc
  plugins/libloader/libloader.cc
  plugins/lua/ts_lua.cc
  plugins/lua/ts_lua_client_response.cc
  plugins/lua/ts_lua_crypto.cc
  plugins/lua/ts_lua_util.cc
  plugins/remap_purge/remap_purge.cc
Labels: TS API

#11074 quic: Cancel events when streams get closed
  include/iocore/net/quic/QUICStreamVCAdapter.h
  src/iocore/net/quic/QUICStreamVCAdapter.cc
Labels: QUIC

#11059 Change the constructor for LocalBufferWriter to be noexcept
  lib/swoc/include/swoc/BufferWriter.h
Labels: libswoc

#11048 Building webp_transform plugin with cmake
  plugins/CMakeLists.txt
  plugins/webp_transform/CMakeLists.txt
Labels: CMake

#11079 add cmake autest_no_install target to run against and existing install
  tests/CMakeLists.txt
Labels: CMake

#11076 ESI plugin: make maximum document size configurable.
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  plugins/esi/lib/EsiParser.cc
  plugins/esi/lib/EsiParser.h
  plugins/esi/lib/EsiProcessor.cc
  plugins/esi/lib/EsiProcessor.h
  plugins/esi/test/docnode_test.cc
  plugins/esi/test/parser_test.cc
  plugins/esi/test/processor_test.cc
  tests/gold_tests/pluginTest/esi/esi.test.py
Labels: Plugins, esi

#11071 http3: Propagate events from QUICNetVC
  include/proxy/http3/Http3Session.h
  include/proxy/http3/Http3Transaction.h
  src/iocore/net/P_QUICNetVConnection.h
  src/iocore/net/QUICNetVConnection.cc
  src/proxy/http3/Http3Session.cc
  src/proxy/http3/Http3Transaction.cc
Labels: HTTP/3

#11080 http3: Don't use chunked encoding unnecessarily
  include/iocore/net/quic/QUICStream.h
  src/iocore/net/quic/QUICStream.cc
  src/proxy/http3/Http3Transaction.cc
Labels: HTTP/3

#11082 http3: Separate out Http3SettingsFramer
  include/proxy/http3/Http3App.h
  include/proxy/http3/Http3SettingsFramer.h
  src/proxy/http3/CMakeLists.txt
  src/proxy/http3/Http3App.cc
  src/proxy/http3/Http3SettingsFramer.cc
Labels: Cleanup, HTTP/3

#11085 doc: max_rst_stream_frames_per_minute defaults to 200
  doc/admin-guide/files/records.yaml.en.rst
Labels: HTTP/2, Documentation

#11087 Docs: Fix few things related to the docs.
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/stale_response.en.rst
Labels: Documentation, easy_review

#11088 http3: Fix use-after-free
  include/iocore/net/quic/Mock.h
  include/iocore/net/quic/QUICApplication.h
  include/iocore/net/quic/QUICStreamVCAdapter.h
  include/proxy/http3/Http09App.h
  include/proxy/http3/Http3App.h
  include/proxy/http3/QPACK.h
  src/iocore/net/quic/QUICStreamManager.cc
  src/iocore/net/quic/QUICStreamVCAdapter.cc
  src/proxy/http3/Http09App.cc
  src/proxy/http3/Http3App.cc
  src/proxy/http3/QPACK.cc
  src/proxy/http3/test/test_QPACK.cc
Labels: HTTP/3

#11035 ensure dns lookup happens after dns_info.lookup_name changes
  include/iocore/hostdb/HostDBProcessor.h
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/next_hop/parent_config/parent_config_dest_ip.test.py
Labels: DNS, HostDB, Parent Proxy

#11086 Cleanup cripts headers
  include/cripts/Connections.hpp
  include/cripts/Headers.hpp
  include/cripts/Matcher.hpp
  include/cripts/Transaction.hpp
  src/cripts/Bundles/LogsMetrics.cc
  src/cripts/Connections.cc
Labels: Cleanup

#11090 IPRange.h: resolve compiler error about dangling pointer to temporary
  lib/swoc/include/swoc/IPRange.h
  plugins/experimental/txn_box/plugin/src/ip_space.cc
Labels: Build, TxnBox

#11093 ipspace: introduce intermediate temporary to restore the structed bining decl
  plugins/experimental/txn_box/plugin/src/ip_space.cc
Labels: TxnBox

#11092 Remove dependency between tscore and iocore/eventsystem
  include/tscore/FrequencyCounter.h
Labels: Build

#11098 cmake README.md tweaks
  README.md
Labels: Documentation

#11099 TSVConnFd: replace autest wait condition
  tests/gold_tests/pluginTest/TSVConnFd/TSVConnFd.test.py
Labels: AuTest

#11095 Cleanup: Remove deprecated MUTEX_TAKE_LOCK_FOR
  include/iocore/eventsystem/Lock.h
  src/iocore/eventsystem/UnixEThread.cc
Labels: Cleanup, Event System

#11062 Fix MacOS linking warning for xcode 15
  CMakeLists.txt
Labels: Build, macOS

#11039 Make linking libraries to plugins optional
  CMakeLists.txt
  cmake/add_atsplugin.cmake
  plugins/experimental/maxmind_acl/CMakeLists.txt
Labels: Build

#10958 Added config to support exit on client cert load failure
  doc/admin-guide/files/records.yaml.en.rst
  src/iocore/net/P_SSLConfig.h
  src/iocore/net/SSLConfig.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/legacy_config/full_records.config
  tests/gold_tests/tls/exit_on_cert_load_fail.test.py
Labels: Configuration, TLS, SSL

#11101 Revert "fix race condition with session thread migration (#10897)"
  src/iocore/net/EventIO.cc
  src/iocore/net/UnixNetVConnection.cc
  src/proxy/http/HttpSessionManager.cc
Labels: Server Session, Threads

#11078 docs: Update cmake documentation for experimental plugins.
  doc/admin-guide/plugins/combo_handler.en.rst
  doc/admin-guide/plugins/header_freq.en.rst
  doc/admin-guide/plugins/icap.en.rst
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/regex_revalidate.en.rst
  doc/admin-guide/plugins/stek_share.en.rst
  doc/admin-guide/plugins/url_sig.en.rst
  doc/admin-guide/plugins/wasm.en.rst
  doc/developer-guide/plugins/example-plugins/index.en.rst
Labels: Plugins, Documentation, easy_review

#11073 Fix a bug in parsing chunked messages
  src/proxy/http/HttpTunnel.cc
  tests/gold_tests/chunked_encoding/bad_chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/replays/malformed_chunked_header.replay.yaml
Labels: HTTP

#11107 xpack: Fix division by zero error
  include/proxy/hdrs/XPACK.h
  src/proxy/hdrs/XPACK.cc
  src/proxy/hdrs/unit_tests/test_XPACK.cc
Labels: HTTP/2, HTTP/3

#11072 Handle EVENT_INTERVAL in HttpSM::state_raw_http_server_open and HttpSM::state_http_server_open
  src/proxy/http/HttpSM.cc
Labels: Core, HttpSM

#11106 Add libswoc unit tests
  lib/swoc/CMakeLists.txt
  lib/swoc/include/swoc/IntrusiveHashMap.h
  lib/swoc/include/swoc/TextView.h
  lib/swoc/unit_tests/CMakeLists.txt
  lib/swoc/unit_tests/ex_IntrusiveDList.cc
  lib/swoc/unit_tests/ex_Lexicon.cc
  lib/swoc/unit_tests/ex_MemArena.cc
  lib/swoc/unit_tests/ex_TextView.cc
  lib/swoc/unit_tests/ex_UnitParser.cc
  lib/swoc/unit_tests/ex_bw_format.cc
  lib/swoc/unit_tests/ex_ipspace_properties.cc
  lib/swoc/unit_tests/examples/resolver.txt
  lib/swoc/unit_tests/test_BufferWriter.cc
  lib/swoc/unit_tests/test_Errata.cc
  lib/swoc/unit_tests/test_IntrusiveDList.cc
  lib/swoc/unit_tests/test_IntrusiveHashMap.cc
  lib/swoc/unit_tests/test_Lexicon.cc
  lib/swoc/unit_tests/test_MemArena.cc
  lib/swoc/unit_tests/test_MemSpan.cc
  lib/swoc/unit_tests/test_Scalar.cc
  lib/swoc/unit_tests/test_TextView.cc
  lib/swoc/unit_tests/test_Vectray.cc
  lib/swoc/unit_tests/test_bw_format.cc
  lib/swoc/unit_tests/test_ip.cc
  lib/swoc/unit_tests/test_meta.cc
  lib/swoc/unit_tests/test_range.cc
  lib/swoc/unit_tests/test_swoc_file.cc
  lib/swoc/unit_tests/unit_test_main.cc
  lib/swoc/unit_tests/unit_tests.part
  src/proxy/http/HttpSessionManager.cc
Labels: Tests, libswoc

#11014 Change Regex class to use PCRE2
  CMakeLists.txt
  include/proxy/http/remap/UrlRewrite.h
  include/tsutil/Regex.h
  plugins/experimental/tls_bridge/CMakeLists.txt
  src/proxy/http/remap/UrlRewrite.cc
  src/tsutil/CMakeLists.txt
  src/tsutil/Regex.cc
  src/tsutil/unit_tests/test_Regex.cc
Labels: TS API

#11108 Use EMERGENCY instead of FATAL for some certificate loading errors
  src/iocore/net/SSLConfig.cc
  tests/gold_tests/tls/exit_on_cert_load_fail.test.py
  tests/gold_tests/tls/ssl_multicert_loader.test.py
Labels: Logging, SSL
