Repository apache/trafficserver, pull requests merged in 2024-07, with the labels that each got.

#11448 Doc: Clarification of ACL filters
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/files/remap.config.en.rst
Labels: Documentation, ip_allow, remap_acl

#11491 Fix unused parameters in conditionally built experimental plugins
  plugins/experimental/maxmind_acl/mmdb.cc
  plugins/experimental/otel_tracer/otel_tracer.cc
  plugins/experimental/stek_share/state_machine.h
  plugins/experimental/stek_share/state_manager.h
  plugins/experimental/stek_share/stek_share.cc
  plugins/experimental/uri_signing/match.cc
  plugins/experimental/uri_signing/parse.cc
  plugins/experimental/uri_signing/uri_signing.cc
  plugins/experimental/wasm/ats_context.cc
  plugins/experimental/wasm/ats_wasm.cc
  plugins/experimental/wasm/wasm_main.cc
Labels: Cleanup, Wasm, stek_share, otel_tracer

#11494 records.yaml - Some more cleanup from the records.yaml root key rename.
  tests/gold_tests/timeout/quic_poll_timeout.test.py
Labels: Cleanup, easy_review

#11492 Pascal case
  doc/developer-guide/cripts/cripts-bundles.en.rst
  doc/developer-guide/cripts/cripts-connections.en.rst
  doc/developer-guide/cripts/cripts-crypto.en.rst
  doc/developer-guide/cripts/cripts-headers.en.rst
  doc/developer-guide/cripts/cripts-matcher.en.rst
  doc/developer-guide/cripts/cripts-misc.en.rst
  doc/developer-guide/cripts/cripts-overview.en.rst
  doc/developer-guide/cripts/cripts-urls.en.rst
  doc/developer-guide/cripts/cripts-variables.en.rst
  example/cripts/example1.cc
  include/cripts/Bundle.hpp
  include/cripts/Bundles/Caching.hpp
  include/cripts/Bundles/Common.hpp
  include/cripts/Bundles/Headers.hpp
  include/cripts/Bundles/LogsMetrics.hpp
  include/cripts/ConfigsBase.hpp
  include/cripts/Connections.hpp
  include/cripts/Context.hpp
  include/cripts/Crypto.hpp
  include/cripts/Epilogue.hpp
  include/cripts/Error.hpp
  include/cripts/Files.hpp
  include/cripts/Headers.hpp
  include/cripts/Instance.hpp
  include/cripts/Lulu.hpp
  include/cripts/Matcher.hpp
  include/cripts/Metrics.hpp
  include/cripts/Plugins.hpp
  include/cripts/Preamble.hpp
  include/cripts/Time.hpp
  include/cripts/Transaction.hpp
  include/cripts/Urls.hpp
  src/cripts/Bundles/Common.cc
  src/cripts/Bundles/HRWBridge.cc
  src/cripts/Bundles/Headers.cc
  src/cripts/Bundles/LogsMetrics.cc
  src/cripts/Configs.cc
  src/cripts/Connections.cc
  src/cripts/Context.cc
  src/cripts/Crypto.cc
  src/cripts/Error.cc
  src/cripts/Files.cc
  src/cripts/Headers.cc
  src/cripts/Instance.cc
  src/cripts/Lulu.cc
  src/cripts/Matcher.cc
  src/cripts/Plugins.cc
  src/cripts/Urls.cc
Labels: Cripts

#11500 Fixes broken matchers after PascalCase
  include/cripts/Matcher.hpp
Labels: Cripts

#11502 records.yaml - Some more cleanup after renaming the root node.
  configs/records.yaml.default.in
Labels: Cleanup, YAML, easy_review, Records

#11503 wasm plugin: provide defaults for struct SanitizationConfig
  plugins/experimental/wasm/lib/include/proxy-wasm/wasm.h
Labels: Build

#11490 H3: Make sure we remove streams when needed.
  include/iocore/net/quic/QUICStreamManager.h
  src/iocore/net/QUICNetVConnection.cc
  src/iocore/net/quic/QUICStreamManager.cc
  src/iocore/net/quic/QUICStreamVCAdapter.cc
Labels: QUIC, HTTP/3

#11508 Fix incorrect metric for agg_copy bytes written
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/unit_tests/test_Stripe.cc
Labels: Cache, Metrics

#11510 Promote write_bytes and gc_frags_evacuated metrics
  src/iocore/cache/CacheWrite.cc
Labels: Cache, Metrics

#11511 Prioritize the library path for SSL library
  doc/developer-guide/plugins/building-plugins.en.rst
  plugins/experimental/access_control/CMakeLists.txt
  plugins/experimental/magick/CMakeLists.txt
  plugins/experimental/sslheaders/CMakeLists.txt
  plugins/experimental/stek_share/CMakeLists.txt
  plugins/experimental/txn_box/plugin/CMakeLists.txt
  plugins/experimental/txn_box/unit_tests/CMakeLists.txt
  plugins/experimental/uri_signing/unit_tests/CMakeLists.txt
  plugins/s3_auth/unit_tests/CMakeLists.txt
  src/api/CMakeLists.txt
  src/cripts/CMakeLists.txt
Labels: Build

#11504 Lowercase the headers appended by ja3_fingerprint
  plugins/ja3_fingerprint/ja3_fingerprint.cc
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-incoming-client.gold
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-incoming-proxy.gold
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-sent-proxy.gold
Labels: ja3_fingerprint

#11497 Enable receiving large H3 frames
  include/proxy/http3/Http3Frame.h
  include/proxy/http3/Http3FrameDispatcher.h
  src/proxy/http3/Http3Frame.cc
  src/proxy/http3/Http3FrameDispatcher.cc
  src/proxy/http3/Http3StreamDataVIOAdaptor.cc
  src/proxy/http3/test/test_Http3Frame.cc
Labels: HTTP/3

#11509 Remove jtest tool and its minions
  .gitignore
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/proxy/http/HttpSM.cc
  tools/check-unused-dependencies
  tools/jtest/README
  tools/jtest/README.zh.md
  tools/jtest/jtest.cc
Labels: Tools, Tests, Cleanup

#11512 Fix quick_server autest to verify server response
  tests/gold_tests/slow_post/quick_server.py
  tests/gold_tests/slow_post/quick_server.test.py
Labels: Tests

#11495 Use "git rev-parse --absolute-git-dir" in tools scripts.
  tools/autopep8.sh
  tools/clang-format.sh
  tools/cmake-format.sh
  tools/yapf.sh
Labels: Tools

#11507 wasm plugin: Initialize SanitizationConfig
  plugins/experimental/wasm/lib/include/proxy-wasm/wasm.h
  plugins/experimental/wasm/wasm_main.cc
Labels: Plugins

#11514 Provide a way to silence the warning about max_early_data
  include/iocore/net/TLSEarlyDataSupport.h
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SSLConfig.cc
  src/iocore/net/TLSEarlyDataSupport.cc
Labels: TLS

#11506 No remap rules matched metric
  include/proxy/http/HttpConfig.h
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpSM.cc
Labels: Metrics

#11522 Fix unused parameters in cripts, experimental plugins and iocore
  include/cripts/Epilogue.hpp
  include/cripts/Preamble.hpp
  plugins/experimental/fq_pacing/fq_pacing.cc
  src/iocore/net/UnixUDPNet.cc
  src/iocore/net/quic/QUICStreamManager.cc
Labels: Cleanup, QUIC, UDP, Cripts, fq_pacing

#11525 Fix unused parameters in tscore/ink_cap
  src/tscore/ink_cap.cc
Labels: Core, Cleanup

#11521 Use PrepareInstalledPlugin to prep txn_box.so
  tests/gold_tests/autest-site/txn_box.test.ext
Labels: Build, AuTest

#11527 Fix conditionally unused parameter in UnixNetVConnection
  src/iocore/net/UnixNetVConnection.cc
Labels: Network, Cleanup

#11515 Remove global `-Wno-unused-parameter` warning suppression
  CMakeLists.txt
  plugins/experimental/wasm/lib/CMakeLists.txt
Labels: Build, CMake

#11505 traffic_layout: remove directories not in runroot
  src/traffic_layout/engine.cc
Labels: traffic_layout

#11523 Tools: JSON-RPC - Change the Unix Domain Socket client to retry and wait when connection to the server.
  include/shared/rpc/IPCSocketClient.h
  include/shared/rpc/RPCClient.h
  src/mgmt/rpc/server/unit_tests/test_rpcserver.cc
  src/shared/rpc/IPCSocketClient.cc
Labels: Tools, traffic_ctl, traffic_top

#11531 CID-1550426: Uninitialized scalar variable Fix.
  src/iocore/net/UnixUDPNet.cc
Labels: Coverity, QUIC, UDP

#11528 Fix for imagemagick 7
  plugins/experimental/magick/magick.cc
Labels: Build

#11533 Fix unused parameters in the test plugins (#11524)
  src/tscore/hugepages.cc
  tests/gold_tests/continuations/plugins/session_id_verify.cc
  tests/gold_tests/jsonrpc/plugins/jsonrpc_plugin_handler_test.cc
  tests/gold_tests/pluginTest/TSVConnFd/TSVConnFd.cc
  tests/gold_tests/pluginTest/polite_hook_wait/polite_hook_wait.cc
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo.cc
  tests/gold_tests/pluginTest/tsapi/test_TSHttpTxnServerAddrSet.cc
  tests/gold_tests/pluginTest/tsapi/test_tsapi.cc
  tests/gold_tests/timeout/ssl-delay-server.cc
  tests/gold_tests/tls/ssl-post.c
  tests/tools/plugins/async_engine.c
  tests/tools/plugins/conf_remap_stripped.cc
  tests/tools/plugins/cont_schedule.cc
  tests/tools/plugins/continuations_verify.cc
  tests/tools/plugins/custom204plugin.cc
  tests/tools/plugins/emergency_shutdown.cc
  tests/tools/plugins/fatal_shutdown.cc
  tests/tools/plugins/hook_add_plugin.cc
  tests/tools/plugins/hook_tunnel_plugin.cc
  tests/tools/plugins/missing_mangled_definition_c.c
  tests/tools/plugins/missing_mangled_definition_cpp.cc
  tests/tools/plugins/ssl_hook_test.cc
  tests/tools/plugins/ssl_secret_load_test.cc
  tests/tools/plugins/ssntxnorder_verify.cc
  tests/tools/plugins/test_hooks.cc
  tests/tools/plugins/test_log_interface.cc
  tests/tools/plugins/tunnel_transform.cc
  tests/tools/plugins/user_args.cc
Labels: Cleanup, 10.0.x

#11532 Fix incorrect metric for agg_copy bytes written
  src/iocore/cache/CacheWrite.cc
Labels: Cache, Metrics, 10.0.x

#11526 Do not retry to open cache store on ENOMEM
  include/iocore/eventsystem/SocketManager.h
  include/tscore/ink_file.h
  src/iocore/cache/Store.cc
  src/iocore/eventsystem/P_UnixSocketManager.h
  src/tscore/ink_file.cc
Labels: Core, Cache, Cleanup, Event System

#11537 JSONRPC Client - Fix OSX/FreeBSD write socket issue.
  include/shared/rpc/IPCSocketClient.h
  src/mgmt/rpc/server/unit_tests/test_rpcserver.cc
  src/shared/rpc/IPCSocketClient.cc
Labels: JSONRPC Client

#11538 Remove dead locking logic in `HttpCacheSM`
  include/proxy/http/HttpCacheSM.h
  src/proxy/http/HttpCacheSM.cc
Labels: HTTP, Cleanup, HttpSM

#11535 Use UnixSocket instead of SocketManager in proxy
  include/iocore/eventsystem/UnixSocket.h
  src/iocore/eventsystem/P_UnixSocketManager.h
  src/iocore/eventsystem/SocketManager.cc
  src/iocore/eventsystem/UnixSocket.cc
  src/proxy/http/HttpConfig.cc
Labels: HTTP, Cleanup

#11536 Http/2: Fix a crash with empty bodied Expect: 100-continue
  include/proxy/http/HttpSM.h
  src/proxy/http/HttpSM.cc
  tests/gold_tests/h2/expect_100_continue.yaml
  tests/gold_tests/h2/gold/http-request-method-metrics.gold
  tests/gold_tests/h2/h2origin.test.py
Labels: HTTP/2, HTTP, Crash

#11539 Fix Japanese translation Sphinx docs warnings
  doc/locale/ja/LC_MESSAGES/admin-guide/configuration/cache-basics.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/configuration/redirecting-http-requests.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/configuring-traffic-server.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/files/storage.config.en.po
  doc/locale/ja/LC_MESSAGES/admin-guide/storage/index.en.po
  doc/locale/ja/LC_MESSAGES/appendices/faq.en.po
  doc/locale/ja/LC_MESSAGES/appendices/glossary.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/continuations/index.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/hooks-and-transactions/index.en.po
Labels: Documentation

#11456 Clean up agg_copy
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/CacheDoc.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheDoc.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#11540 H3 Tools: Disable libunwind build tests for boringssl.
  tools/build_boringssl_h3_tools.sh
Labels: Tools

#11544 Fixes the assertion in TSRemapDLHandleGet
  src/api/InkAPI.cc
Labels: TS API

#11472 Add set-custom-body config item to header_rewrite
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-set_body_from_200.gold
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-set_body_from_conn_fail.gold
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-set_body_from_remap_fail.gold
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-set_body_from_success.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_set_body_from.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_set_body_from_plugin.conf
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_set_body_from_remap.conf
Labels: Plugins, header_rewrite

#11548 setup_server_read_response_header: remove assertion
  src/proxy/http/HttpSM.cc
Labels: HTTP/2, HTTP, Crash

#11517 Try TCP_FASTOPEN socket option with mptcp
  doc/admin-guide/files/records.yaml.en.rst
  src/iocore/net/Connection.cc
Labels: Network

#11545 Check incoming protocol list length first
  src/iocore/net/ALPNSupport.cc
Labels: TLS

#11493 Update code and build scripts to use latest quiche(0.22.0) release.
  include/iocore/net/quic/QUICStream.h
  src/iocore/net/quic/QUICStream.cc
  tools/build_boringssl_h3_tools.sh
  tools/build_openssl_h3_tools.sh
Labels: Build, QUIC, HTTP/3, quiche

#11501 Fix for OpenSSL 3.2+.
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  src/iocore/net/BIO_fastopen.cc
  src/iocore/net/BIO_fastopen.h
  src/iocore/net/SSLNetVConnection.cc
Labels: TLS

#11345 Add HTTP/2 Empty CONTINUATION & DATA frame counter
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  include/iocore/net/TLSSNISupport.h
  include/proxy/http2/HTTP2.h
  include/proxy/http2/Http2ConnectionState.h
  src/proxy/http2/HTTP2.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/records/RecordsConfig.cc
Labels: HTTP/2

#11559 Document that = can be used between ESI param and value.
  doc/admin-guide/plugins/esi.en.rst
Labels: Documentation, esi

#11562 Rename `Stripe` to `StripeSM`
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/cache-architecture/core-cache-functions.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  include/iocore/cache/CacheVC.h
  src/iocore/cache/AggregateWriteBuffer.h
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheHosting.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheDisk.h
  src/iocore/cache/P_CacheHosting.h
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/P_RamCache.h
  src/iocore/cache/RamCacheCLFUS.cc
  src/iocore/cache/RamCacheLRU.cc
  src/iocore/cache/Stripe.cc
  src/iocore/cache/unit_tests/test_CacheDir.cc
  src/iocore/cache/unit_tests/test_Stripe.cc
  src/iocore/cache/unit_tests/test_doubles.h
  src/traffic_cache_tool/CacheDefs.cc
  src/traffic_cache_tool/CacheDefs.h
  src/traffic_cache_tool/CacheScan.h
  src/traffic_cache_tool/CacheTool.cc
Labels: Cache, Cleanup, Documentation

#11519 Deprecate the support for URL param segment
  include/ts/ts.h
  src/proxy/hdrs/URL.cc
  src/proxy/hdrs/unit_tests/test_URL.cc
  src/proxy/http/HttpSM.cc
  src/traffic_cache_tool/CacheScan.cc
Labels: Core, TS API, Incompatible

#11578 Comment out an unused parameter in URLImpl::set_params
  src/proxy/hdrs/URL.cc
Labels: Cleanup

#11577 Set `TS_HAVE_TLS_EARLY_DATA` correctly
  CMakeLists.txt
Labels: Build

#11576 Added Jasmin and remove Josiah from the collaborators list
  .asf.yaml
Labels: GitHub

#11569 Removes the Matrix parameters from Cripts
  doc/developer-guide/cripts/cripts-urls.en.rst
  include/cripts/Urls.hpp
  src/cripts/Urls.cc
Labels: Incompatible, Cripts

#11571 Removes matrix parameters from regex_remap plugin
  doc/admin-guide/plugins/regex_remap.en.rst
  plugins/regex_remap/regex_remap.cc
Labels: Incompatible, regex_remap

#11570 Removes matrix parameters from HRW
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/statement.cc
  plugins/header_rewrite/statement.h
Labels: Incompatible, header_rewrite

#11574 Dispatch WRITE_COMPLETE when TLS handshake completes
  src/iocore/net/UnixNetVConnection.cc
Labels: TLS

#11558 Make gitignore for cmake builds more strict
  .gitignore
Labels: Tools

#11582 Use VIO reader and writer APIs
  src/api/InkVConnInternal.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/UnixNetVConnection.cc
  src/iocore/net/quic/QUICStreamVCAdapter.cc
  src/proxy/PluginVC.cc
  src/proxy/Transform.cc
  src/proxy/http2/Http2Stream.cc
  src/proxy/http3/Http3Transaction.cc
Labels: Cleanup

#11550 Update `UnixSocket` API for inkdns
  include/iocore/eventsystem/UnixSocket.h
  src/iocore/dns/DNS.cc
  src/iocore/dns/DNSConnection.cc
  src/iocore/dns/P_DNSConnection.h
  src/iocore/eventsystem/UnixSocket.cc
Labels: DNS, Cleanup, Event System

#11581 Fix build for Http3frame fuzz test
  tests/fuzzing/fuzz_http3frame.cc
Labels: Tests

#11554 Errata: Make sure the initialization of the errata members are in place.
  src/traffic_server/traffic_server.cc
  src/tsutil/ts_diags.cc
Labels: Logging

#11580 Remove support of matrix parameters in Lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua_client_request.cc
  plugins/lua/ts_lua_server_request.cc
Labels: Plugins, Lua

#11586 Remove matrix parameters from s3_auth plugin
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/aws_auth_v4.h
  plugins/s3_auth/aws_auth_v4_wrap.h
  plugins/s3_auth/s3_auth.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.h
Labels: Plugins, Incompatible, s3_auth

#11572 stale_response: remove matrix parameters
  plugins/experimental/stale_response/UrlComponents.h
Labels: Incompatible, stale_response

#11587 Remove matrix parameters from the documentation
  doc/developer-guide/api/functions/TSUrlHostGet.en.rst
  doc/developer-guide/api/functions/TSUrlHostSet.en.rst
  doc/developer-guide/plugins/http-headers/urls.en.rst
  doc/locale/ja/LC_MESSAGES/admin-guide/plugins/regex_remap.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSUrlHostGet.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/api/functions/TSUrlHostSet.en.po
  doc/locale/ja/LC_MESSAGES/developer-guide/plugins/http-headers/urls.en.po
Labels: Documentation, Incompatible

#11600 Remove a trailing whitespace
  CHANGELOG-8.1.10
Labels: format

#11598 Normalize Accept-Encoding header value before cache lookup
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.h
Labels: Cache, HTTP

#11542 Reuse prepared cache write on redirected request
  include/proxy/http/HttpTransact.h
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/redirect/redirect_to_same_origin_on_cache.replay.yaml
  tests/gold_tests/redirect/redirect_to_same_origin_on_cache.test.py
Labels: HttpSM

#11594 Normalized ae cache lookup before cache lookup
  include/proxy/http/HttpTransact.h
  src/proxy/http/HttpSM.cc
  tests/gold_tests/headers/normalized_ae_match_vary_cache.test.py
  tests/gold_tests/headers/replays/normalized_ae_varied_transactions.replay.yaml
Labels: Cache, HTTP

#11593 Stricten field name check
  include/tscore/ParseRules.h
  src/proxy/hdrs/MIME.cc
  src/proxy/hdrs/unit_tests/test_Hdrs.cc
Labels: HTTP

#11597 Stricten field name check
  include/tscore/ParseRules.h
  proxy/hdrs/HdrTest.cc
  proxy/hdrs/MIME.cc
  proxy/hdrs/unit_tests/test_Hdrs.cc
Labels: HTTP

#11595 Stricten field name check
  include/tscore/ParseRules.h
  proxy/hdrs/MIME.cc
  proxy/hdrs/unit_tests/test_Hdrs.cc
Labels: HTTP

#11596 Normalize Accept-Encoding header value before cache lookup
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.h
  tests/gold_tests/headers/normalized_ae_match_vary_cache.test.py
  tests/gold_tests/headers/replays/normalized_ae_varied_transactions.replay.yaml
Labels: Cache, HTTP

#11604 proxy.config.http.drop_chunked_trailers (9.2.x)
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
  src/shared/overridable_txn_vars.cc
  src/traffic_server/FetchSM.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/replays/chunked_trailer_dropped.replay.yaml
  tests/gold_tests/chunked_encoding/replays/chunked_trailer_proxied.replay.yaml
  tools/clang-format.sh
Labels: HTTP

#11605 proxy.config.http.drop_chunked_trailers (8.1.x)
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  include/ts/apidefs.h.in
  mgmt/RecordsConfig.cc
  plugins/lua/ts_lua_http_config.c
  proxy/http/HttpConfig.cc
  proxy/http/HttpConfig.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
  src/traffic_server/FetchSM.cc
  src/traffic_server/InkAPI.cc
  src/traffic_server/InkAPITest.cc
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/replays/chunked_trailer_dropped.replay.yaml
  tests/gold_tests/chunked_encoding/replays/chunked_trailer_proxied.replay.yaml
Labels: HTTP

#11603 proxy.config.http.drop_chunked_trailers
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/plugins/lua.en.rst
  doc/developer-guide/api/functions/TSHttpOverridableConfig.en.rst
  doc/developer-guide/api/types/TSOverridableConfigKey.en.rst
  include/proxy/http/HttpConfig.h
  include/proxy/http/HttpTunnel.h
  include/ts/apidefs.h.in
  plugins/lua/ts_lua_http_config.cc
  src/api/InkAPI.cc
  src/api/InkAPITest.cc
  src/proxy/FetchSM.cc
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTunnel.cc
  src/records/RecordsConfig.cc
  src/shared/overridable_txn_vars.cc
  tests/gold_tests/chunked_encoding/chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/replays/chunked_trailer_dropped.replay.yaml
  tests/gold_tests/chunked_encoding/replays/chunked_trailer_proxied.replay.yaml
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/legacy_config/full_records.config
Labels: HTTP

#11601 Add an autest for s-maxage Cache-Control response directive
  tests/gold_tests/cache/cache-control.test.py
  tests/gold_tests/cache/replay/cache-control-s-maxage.replay.yaml
Labels: Cache, HTTP

#11561 Metrics: Remove code related to clear/reset metrics at runtime.
  doc/appendices/command-line/traffic_ctl.en.rst
  doc/developer-guide/jsonrpc/jsonrpc-api.en.rst
  include/records/RecCore.h
  src/mgmt/rpc/handlers/records/Records.cc
  src/records/P_RecCore.cc
  src/traffic_ctl/CtrlCommands.cc
  src/traffic_ctl/CtrlCommands.h
  src/traffic_ctl/jsonrpc/CtrlRPCRequests.h
  src/traffic_ctl/jsonrpc/ctrl_yaml_codecs.h
  src/traffic_ctl/traffic_ctl.cc
  src/traffic_server/RpcAdminPubHandlers.cc
  tests/gold_tests/jsonrpc/json/admin_clear_metrics_records_req.json
  tests/gold_tests/jsonrpc/jsonrpc_api_schema.test.py
Labels: Metrics, traffic_ctl

#11608 Remove duplicate setup in http3 tests
  src/proxy/http3/test/test_Http3FrameDispatcher.cc
Labels: Tests, Cleanup

#11599 Remove pathset for urlsig
  plugins/experimental/url_sig/url_sig.cc
  tests/gold_tests/pluginTest/url_sig/url_sig.gold
  tests/gold_tests/pluginTest/url_sig/url_sig.test.py
Labels: Plugins

#11565 Extract Stripe superclass from StripeSM
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  src/iocore/cache/AggregateWriteBuffer.h
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
  src/iocore/cache/Stripe.h
Labels: Cache, Cleanup, Documentation

#11602 Set -Werror=no-stringop-overflow for boringssl
  tools/build_boringssl_h3_tools.sh
Labels: Build, Tools

#11568 add_allow and add_deny ACL filter actions
  doc/admin-guide/files/remap.config.en.rst
  include/proxy/http/remap/AclFiltering.h
  src/proxy/http/remap/AclFiltering.cc
  src/proxy/http/remap/RemapConfig.cc
  src/proxy/http/remap/UrlRewrite.cc
  tests/gold_tests/remap/deactivate_ip_allow.py
  tests/gold_tests/remap/remap_acl.test.py
Labels: Remap

#11609 Restore returning string metrics from traffic_ctl match
  src/records/RecCore.cc
Labels: Bug

#11614 traffic_crashlog: use SIGCONT for parent death
  src/traffic_crashlog/traffic_crashlog.cc
Labels: Bug

#11613 Remove unused MIOBuffer constructor, add explicit to another.
  include/iocore/eventsystem/IOBuffer.h
  include/proxy/http2/Http2Stream.h
  include/proxy/http3/Http3Transaction.h
  src/iocore/eventsystem/P_IOBuffer.h
Labels: Cleanup

#11611 Parse frame types consisting of multiple bytes
  src/proxy/http3/Http3Frame.cc
  src/proxy/http3/test/test_Http3FrameDispatcher.cc
Labels: HTTP/3

#11615 Update boringssl in build-h3-tools script
  tools/build_boringssl_h3_tools.sh
Labels: Tools

#11560 records.yaml: Improve the output a little bit to make it clear what's the outcome in some error scenarios.
  doc/admin-guide/files/records.yaml.en.rst
  src/records/RecCore.cc
  src/records/RecYAMLDecoder.cc
Labels: YAML, easy_review, Records

#11617 Move `StripeSM` methods to StripeSM.cc
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
  src/iocore/cache/StripeSM.cc
Labels: Cache, Cleanup

#11579 Remove matrix parameters from the cookie remap plugin
  plugins/experimental/cookie_remap/cookie_remap.cc
  tests/gold_tests/pluginTest/cookie_remap/configs/matrixconfig.txt
  tests/gold_tests/pluginTest/cookie_remap/gold/matrix.gold
  tests/gold_tests/pluginTest/cookie_remap/matrixparams.test.py
Labels: Plugins, Incompatible

#11620 Fix fuzz build
  tests/fuzzing/CMakeLists.txt
  tests/fuzzing/fuzz_esi.cc
  tests/fuzzing/fuzz_http3frame.cc
Labels: Tests

#11627 Cleanup: remove invalid option from traffic_ctl
  src/traffic_ctl/CtrlPrinters.cc
Labels: Cleanup, easy_review

#11619 ACL filters: set_allow/set_deny
  include/proxy/IPAllow.h
  include/proxy/http/remap/RemapConfig.h
  include/proxy/http/remap/UrlRewrite.h
  src/proxy/IPAllow.cc
  src/proxy/http/remap/RemapConfig.cc
  src/proxy/http/remap/UrlRewrite.cc
  tests/gold_tests/ip_allow/ip_category.test.py
  tests/gold_tests/remap/all_acl_combinations.py
  tests/gold_tests/remap/remap_acl.test.py
Labels: Remap, ip_allow

#11623 Use `this_ethread()` for evacuation block alloc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/StripeSM.cc
Labels: Cache, Cleanup

#11630 Remove a false comment
  src/iocore/net/SSLUtils.cc
Labels: Cleanup

#11631 Make TSVConnSslConnectionGet available on QUIC connections
  include/iocore/net/TLSBasicSupport.h
  src/api/InkAPI.cc
  src/iocore/net/TLSBasicSupport.cc
Labels: TS API, QUIC

#11632 Remove H3 frame sequence number tracking
  include/proxy/http3/Http3FrameCounter.h
  include/proxy/http3/Http3FrameHandler.h
  include/proxy/http3/Http3HeaderVIOAdaptor.h
  include/proxy/http3/Http3ProtocolEnforcer.h
  include/proxy/http3/Http3SettingsHandler.h
  include/proxy/http3/Http3StreamDataVIOAdaptor.h
  src/proxy/http3/Http3FrameCounter.cc
  src/proxy/http3/Http3FrameDispatcher.cc
  src/proxy/http3/Http3HeaderVIOAdaptor.cc
  src/proxy/http3/Http3ProtocolEnforcer.cc
  src/proxy/http3/Http3SettingsHandler.cc
  src/proxy/http3/Http3StreamDataVIOAdaptor.cc
  src/proxy/http3/test/Mock.h
  src/proxy/http3/test/test_Http3FrameDispatcher.cc
Labels: Cleanup, HTTP/3
