Repository apache/trafficserver, pull requests merged in 2024-10, with the labels that each got.

#11761 Event loop sub-stats
  doc/admin-guide/monitoring/statistics/core/eventloop.en.rst
  include/iocore/eventsystem/EThread.h
  src/iocore/eventsystem/UnixEThread.cc
  src/iocore/eventsystem/UnixEventProcessor.cc
  src/iocore/net/NetHandler.cc
Labels: Metrics, Event System

#11789 INKVConnInternal::do_io_*: handle null buffer
  src/api/InkVConnInternal.cc
Labels: Core, Crash

#11802 INKVConnInternal::do_io_*: handle null buffer (#11789)
  src/api/InkVConnInternal.cc
Labels: Core, Crash

#11797 ASan: Fix use-after-free of SDK_API_TSCache Regression Test
  src/traffic_server/traffic_server.cc
Labels: Tests, ASan

#11786 Use BRAVO rwlock for ReplaceablePtr
  src/iocore/cache/P_CacheHosting.h
Labels: Cache, Performance

#11798 CID-1550425: Mute coverity. Overflowed return value
  include/tscore/ink_sock.h
  src/tscore/ink_sock.cc
Labels: Coverity

#11800 Coverity: txn_box, fix a few copy instead of move warnings.
  plugins/experimental/txn_box/plugin/src/Config.cc
  plugins/experimental/txn_box/plugin/src/Modifier.cc
  plugins/experimental/txn_box/plugin/src/text_block.cc
  plugins/experimental/txn_box/plugin/src/txn_box.cc
Labels: Coverity, TxnBox

#11799 Coverity: Fix a few copy instead of move warnings.
  src/proxy/http/remap/unit-tests/test_RemapPlugin.cc
Labels: Coverity

#11804 Coverity: Fix for CID-1534640 - Use of 32-bit time_t
  plugins/experimental/stale_response/stale_response.cc
Labels: Coverity

#11792 Cleanup aio inline and remove P_AIO header
  include/iocore/aio/AIO.h
  include/iocore/cache/CacheVC.h
  src/iocore/aio/AIO.cc
  src/iocore/aio/CMakeLists.txt
  src/iocore/aio/Inline.cc
  src/iocore/aio/P_AIO.h
  src/iocore/aio/test_AIO.cc
  src/iocore/cache/CacheEvacuateDocVC.cc
  src/iocore/cache/P_Cache.h
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheDisk.h
  src/iocore/cache/P_CacheStats.h
  src/iocore/cache/Stripe.cc
  src/iocore/cache/StripeSM.cc
  src/iocore/cache/StripeSM.h
  src/iocore/cache/unit_tests/main.h
  src/iocore/cache/unit_tests/test_doubles.h
  src/iocore/io_uring/IOUringEventIO.cc
Labels: Cleanup, AIO

#11772 multiplexer: support request bodies from non-POST/PUT
  doc/admin-guide/plugins/multiplexer.en.rst
  plugins/multiplexer/ats-multiplexer.cc
  tests/gold_tests/pluginTest/multiplexer/multiplexer.test.py
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_copy.replay.yaml
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_copy_skip_post.replay.yaml
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_original.replay.yaml
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_original_skip_post.replay.yaml
Labels: multiplexer

#11810 Update gcp documentation
  doc/admin-guide/plugins/origin_server_auth.en.rst
Labels: Plugins, Documentation, s3_auth, origin_server_auth

#11809 Add support for ATS_PROBES with up to twelve arguments
  include/ts/ats_probe.h
Labels: ATS Probe

#11464 Remove remaining use of obsolete debug output functions.
  include/iocore/net/NetTimeout.h
  include/iocore/net/quic/QUICStream.h
  include/proxy/FetchSM.h
  include/proxy/ProxySession.h
  include/proxy/http/HttpSM.h
  include/proxy/http/remap/UrlMappingPathIndex.h
  include/proxy/http/remap/UrlRewrite.h
  include/proxy/http2/Http2CommonSessionInternal.h
  include/proxy/logging/LogObject.h
  include/tscore/Diags.h
  include/tscore/DiagsTypes.h
  include/tscore/ink_cap.h
  plugins/experimental/memcache/tsmemcache.cc
  plugins/experimental/stale_response/BodyData.h
  plugins/experimental/stale_response/CacheUpdate.cc
  plugins/experimental/stale_response/ServerIntercept.cc
  plugins/experimental/stale_response/stale_response.cc
  plugins/experimental/stale_response/stale_response.h
  plugins/experimental/stale_response/ts_wrap.h
  plugins/experimental/stale_response/unit_tests/test_BodyData.cc
  plugins/experimental/txn_box/plugin/include/txn_box/ts_util.h
  src/api/HttpHookState.cc
  src/api/InkAPI.cc
  src/api/InkAPITest.cc
  src/api/InkContInternal.cc
  src/iocore/eventsystem/Lock.cc
  src/iocore/net/SSLSecret.cc
  src/mgmt/config/FileManager.cc
  src/mgmt/rpc/handlers/config/Configuration.cc
  src/mgmt/rpc/handlers/plugins/Plugins.cc
  src/mgmt/rpc/handlers/server/Server.cc
  src/mgmt/rpc/handlers/storage/Storage.cc
  src/mgmt/rpc/jsonrpc/JsonRPCManager.cc
  src/mgmt/rpc/server/IPCSocketServer.cc
  src/mgmt/rpc/server/RPCServer.cc
  src/mgmt/rpc/server/unit_tests/test_rpcserver.cc
  src/proxy/ProxyTransaction.cc
  src/proxy/http2/Http2Stream.cc
  src/proxy/http3/Http3FrameDispatcher.cc
  src/records/RecHttp.cc
  src/records/RecRawStats.cc
  src/traffic_crashlog/backtrace.cc
  src/traffic_logcat/logcat.cc
  src/traffic_logstats/logstats.cc
  src/traffic_quic/quic_client.cc
  src/traffic_quic/traffic_quic.cc
  src/traffic_server/Crash.cc
  src/traffic_server/SocksProxy.cc
  src/traffic_server/traffic_server.cc
  src/tscore/BaseLogFile.cc
  src/tscore/Encoding.cc
  src/tscore/JeMiAllocator.cc
  src/tscore/hugepages.cc
  src/tscore/ink_cap.cc
  src/tscore/ink_queue.cc
Labels: Cleanup, Debug

#11805 Coverity. Fixes for CID-1497391 and CID-1497371
  include/tscore/ArgParser.h
Labels: Coverity

#11814 Fixes to HostDB marking IPs up/down
  include/iocore/hostdb/HostDBProcessor.h
  src/iocore/hostdb/HostDB.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/dns/dns_host_down.test.py
  tests/gold_tests/dns/replay/server_down.replay.yaml
Labels: HostDB, Bug

#11807 Coverity. CID-1559195: Fix for uninitialized scalar field.
  include/proxy/http/remap/RemapConfig.h
  include/proxy/http/remap/UrlRewrite.h
  src/proxy/http/remap/UrlRewrite.cc
Labels: Coverity, remap_acl

#11813 Defer deletion of reloadable remap plugins
  cmake/layout.cmake
  include/proxy/http/remap/PluginDso.h
  include/proxy/http/remap/PluginFactory.h
  src/proxy/http/remap/PluginDso.cc
  src/proxy/http/remap/PluginFactory.cc
  src/proxy/http/remap/unit-tests/test_PluginDso.cc
  src/proxy/http/remap/unit-tests/test_PluginFactory.cc
  src/traffic_server/traffic_server.cc
Labels: Plugins

#11793 Foundation laid for global Cripts
  doc/developer-guide/cripts/cripts-global.en.rst
  doc/developer-guide/cripts/index.en.rst
  example/cripts/global.cc
  include/cripts/Bundle.hpp
  include/cripts/Context.hpp
  include/cripts/Epilogue.hpp
  include/cripts/Instance.hpp
  include/cripts/Preamble.hpp
  include/cripts/Transaction.hpp
  src/cripts/Instance.cc
  src/cripts/Urls.cc
Labels: Cripts

#11811 Add a constructor to `Stripe` to impose invariants early
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/Stripe.cc
  src/iocore/cache/Stripe.h
  src/iocore/cache/StripeSM.cc
  src/iocore/cache/StripeSM.h
  src/iocore/cache/unit_tests/test_Stripe.cc
Labels: Cache, Cleanup

#11768 Cleanup log filter code, and add supports for LT and GT filters.
  configs/logging.yaml.default
  doc/admin-guide/files/logging.yaml.en.rst
  include/proxy/logging/LogFilter.h
  src/proxy/logging/LogField.cc
  src/proxy/logging/LogFilter.cc
  src/proxy/logging/LogObject.cc
Labels: Logging

#11820 Updates to release process
  doc/developer-guide/release-process/index.en.rst
Labels: Documentation

#11823 fix typo in list of TS_LUA_MAKE_VAR_ITEM calls
  plugins/lua/ts_lua_http_config.cc
Labels: Configuration, Lua

#11803 Add bcc tool to observe pthread trylock
  NOTICE
  tools/ebpf/trylock-stats/README.md
  tools/ebpf/trylock-stats/trylock-stats.bpf.c
  tools/ebpf/trylock-stats/trylock-stats.py
Labels: Tools

#11816 records - Honour the minimum value for `--maxRecords`
  src/records/P_RecCore.cc
  src/records/P_RecDefs.h
  src/records/RecCore.cc
  src/records/RecUtils.cc
  src/records/RecordsConfigUtils.cc
  src/traffic_server/traffic_server.cc
  tests/gold_tests/records/ts_max_records_param.test.py
Labels: Configuration, Records

#11795 add cache_open_write_fail_count metric
  include/proxy/http/HttpConfig.h
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpTransact.cc
Labels: Cache, Metrics

#11828 Update sni.yaml.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
Labels: Documentation

#11826 docs: Fix code section to use the right include lines.
  doc/developer-guide/api/functions/TSHttpTxnIsInternal.en.rst
Labels: Documentation

#11827 check if client response is still valid on txn close
  src/cripts/Bundles/LogsMetrics.cc
Labels: Cripts

#11832 Make more of the dir entry sync configurable
  doc/admin-guide/files/records.yaml.en.rst
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/P_CacheDir.h
  src/iocore/cache/P_CacheInternal.h
  src/records/RecordsConfig.cc
Labels: Cache

#11830 doc: remove spurious character in header_rewrite example
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#11821 Content-type lost when sent after duplicate headers
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/headers/cachedDuplicateHeaders.test.py
  tests/gold_tests/headers/replays/cache-test.replay.yaml
Labels: HTTP, Bug

#11835 Content-type lost when sent after duplicate headers (#11821)
  proxy/http/HttpTransact.cc
  tests/gold_tests/headers/cachedDuplicateHeaders.test.py
  tests/gold_tests/headers/replays/cache-test.replay.yaml
Labels: HTTP, Bug
