Repository apache/trafficserver, pull requests merged in 2024-04, with the labels that each got.

#11161 records.yaml - Make sure we validate the input value with the configured check expr.
  include/mgmt/rpc/handlers/common/RecordsUtils.h
  src/mgmt/rpc/handlers/common/RecordsUtils.cc
  src/mgmt/rpc/handlers/config/Configuration.cc
  src/records/P_RecUtils.h
  src/records/RecUtils.cc
  src/records/RecYAMLDecoder.cc
  src/records/RecordsConfig.cc
Labels: Configuration, YAML, Records

#11186 Use GCC standard pre-defined macros to determine endianess.
  lib/swoc/include/swoc/swoc_ip_util.h
  src/tscore/MMH.cc
Labels: Core, libswoc

#11196 Don't delete QUIC stream until both read and write complete
  include/iocore/net/quic/QUICStreamManager.h
  include/iocore/net/quic/QUICStreamVCAdapter.h
  include/proxy/http3/Http3App.h
  src/iocore/net/quic/QUICStreamManager.cc
  src/iocore/net/quic/QUICStreamVCAdapter.cc
  src/proxy/http3/Http3App.cc
Labels: HTTP/3

#11193 Fix logic around srv records at other code path
  src/proxy/http/HttpSM.cc
Labels: Bug

#11165 Fix a build issue with autest plugins
  tests/CMakeLists.txt
Labels: Build, CMake

#11202 ja3_fingerprint: Add condition to run test only if the plugin was built.
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint.test.py
Labels: AuTest, easy_review

#11206 Add proxy.config.http2.max_continuation_frames_per_minute
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/SSLSNIConfig.cc
  iocore/net/TLSSNISupport.h
  iocore/net/YamlSNIConfig.cc
  iocore/net/YamlSNIConfig.h
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#11207 Add proxy.config.http2.max_continuation_frames_per_minute
  doc/admin-guide/files/records.config.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  include/tscore/Ptr.h
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/HTTP2.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
Labels: HTTP/2

#11205 Add proxy.config.http2.max_continuation_frames_per_minute
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/files/sni.yaml.en.rst
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  include/iocore/net/TLSSNISupport.h
  include/iocore/net/YamlSNIConfig.h
  include/proxy/http2/HTTP2.h
  include/proxy/http2/Http2ConnectionState.h
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
  src/iocore/net/YamlSNIConfig.cc
  src/proxy/http2/HTTP2.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/records/RecordsConfig.cc
Labels: HTTP/2

#11143 Fix HTTP/2 Buffering Issues
  include/proxy/http2/Http2CommonSession.h
  include/proxy/http2/Http2ConnectionState.h
  src/proxy/http2/Http2ClientSession.cc
  src/proxy/http2/Http2CommonSession.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/proxy/http2/Http2ServerSession.cc
  tests/Pipfile
  tests/gold_tests/h2/http2_write_threshold.test.py
  tests/gold_tests/h2/trickle_client.py
  tests/gold_tests/h2/trickle_server.py
Labels: HTTP/2

#11208 Clean up some of Cripts strings with modern libSWOC
  example/cripts/example1.cc
  include/cripts/Error.hpp
  include/cripts/Lulu.hpp
  include/cripts/Matcher.hpp
  include/cripts/Urls.hpp
Labels: Cleanup, Cripts

#11172 Support rate limit on active connections instead of txn
  doc/admin-guide/plugins/rate_limit.en.rst
  plugins/experimental/rate_limit/rate_limit.cc
  plugins/experimental/rate_limit/txn_limiter.cc
  plugins/experimental/rate_limit/txn_limiter.h
Labels: rate_limit

#10662 Improve seen list for the RAM cache
  doc/admin-guide/files/records.yaml.en.rst
  src/iocore/cache/RamCacheLRU.cc
  src/records/RecordsConfig.cc
Labels: Cache, Stale

#11213 Fix TLS tunneling
  src/iocore/net/SSLNetVConnection.cc
Labels: TLS

#11215 Check the appropriate functions and set variables correctly
  CMakeLists.txt
  src/iocore/net/SSLNetVConnection.cc
  tests/gold_tests/tls/tls_0rtt_server.test.py
Labels: Build, TLS

#11210 http2: Set SSN active on create_stream
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#11209 http2: close stream on sending RST_STREAM
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#11212 Update asan settings and fail if other allocators are used
  CMakeLists.txt
Labels: CMake

#11218 Fix test_TSHttpSsnInfo: Use host name instead of numeric address.
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo.test.py
Labels: HTTP/3, AuTest

#11220 Fix parent proxy connection stat overcounting
  src/proxy/http/HttpSM.cc
Labels: Parent Proxy

#11156 txn_box - Fix ASAN issue on txn_box string trie.
  plugins/experimental/txn_box/plugin/include/txn_box/accl_util.h
Labels: Tests, ASan, TxnBox

#11226 ja3_fingerprint.so docs: --modify-incoming
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
Labels: Documentation, ja3_fingerprint

#11217 Remove deprecated debug output functions from proxy/http source files.
  include/proxy/ProxySession.h
  include/proxy/http/remap/PluginDso.h
  include/proxy/http/remap/PluginFactory.h
  src/proxy/http/ConnectingEntry.cc
  src/proxy/http/Http1ClientSession.cc
  src/proxy/http/Http1ServerSession.cc
  src/proxy/http/HttpBodyFactory.cc
  src/proxy/http/HttpCacheSM.cc
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpSessionAccept.cc
  src/proxy/http/HttpSessionManager.cc
  src/proxy/http/HttpTransactHeaders.cc
  src/proxy/http/HttpTunnel.cc
  src/proxy/http/PreWarmManager.cc
  src/proxy/http/remap/PluginDso.cc
  src/proxy/http/remap/PluginFactory.cc
  src/proxy/http/remap/RemapConfig.cc
  src/proxy/http/remap/RemapPluginInfo.cc
  src/proxy/http/remap/RemapPlugins.cc
  src/proxy/http/remap/RemapProcessor.cc
  src/proxy/http/remap/UrlMapping.cc
  src/proxy/http/remap/UrlMappingPathIndex.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http/remap/unit-tests/plugin_testing_common.h
Labels: 10.0.x

#11231 add missing CMakeLists.txt for otel_tracer plugin
  plugins/experimental/otel_tracer/CMakeLists.txt
Labels: CMake

#11223 find PkgConfig earlier
  CMakeLists.txt
Labels: CMake

#11199 Add RefCountObjInHeap class.
  include/iocore/eventsystem/ConfigProcessor.h
  include/proxy/http/remap/PluginDso.h
  include/proxy/http/remap/UrlRewrite.h
  include/proxy/logging/LogFieldAliasMap.h
  include/proxy/logging/LogFile.h
  include/proxy/logging/LogFilter.h
  include/proxy/logging/LogFormat.h
  include/proxy/logging/LogObject.h
  include/tscore/Ptr.h
  src/iocore/net/P_NetAccept.h
  src/proxy/hdrs/unit_tests/test_Hdrs.cc
  src/proxy/http/remap/PluginDso.cc
  src/proxy/logging/LogFormat.cc
  src/tscore/unit_tests/test_Ptr.cc
Labels: Core, Cleanup

#11232 Update curl library references to CURL
  cmake/ExperimentalPlugins.cmake
  plugins/experimental/otel_tracer/CMakeLists.txt
Labels: CMake, otel_tracer

#11201 Restore private key passphrase behavior
  src/iocore/net/SSLConfig.cc
  src/iocore/net/SSLUtils.cc
  tests/gold_tests/tls/ssl/passphrase.key
  tests/gold_tests/tls/ssl/passphrase.pem
  tests/gold_tests/tls/ssl/passphrase2.key
  tests/gold_tests/tls/ssl/passphrase2.pem
  tests/gold_tests/tls/ssl_key_dialog.test.py
Labels: TLS

#11233 CI: have rocky and fedora builds use curl in /opt
  CMakePresets.json
Labels: Build, CMake

#11224 Manage storage for ssl hooks
  include/iocore/eventsystem/ProxyAllocator.h
  include/iocore/eventsystem/Thread.h
  include/iocore/net/SSLAPIHooks.h
  src/api/APIHooks.cc
  src/api/InkAPI.cc
  src/api/InkAPIInternal.cc
  src/iocore/cache/unit_tests/main.cc
  src/iocore/eventsystem/Thread.cc
  src/iocore/net/Net.cc
  src/iocore/net/SSLAPIHooks.cc
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSSessionResumptionSupport.cc
  src/iocore/net/unit_tests/unit_test_main.cc
Labels: ASan

#11214 Refactor Metrics storage to preserve lifetime
  include/tsutil/Metrics.h
  src/tsutil/Metrics.cc
Labels: ASan

#11237 cleanup asan odr violations
  plugins/background_fetch/CMakeLists.txt
  plugins/compress/compress.cc
  plugins/experimental/sslheaders/CMakeLists.txt
  plugins/experimental/tls_bridge/CMakeLists.txt
  plugins/remap_stats/CMakeLists.txt
  plugins/slice/CMakeLists.txt
Labels: ASan, CMake

#11234 Cleanup: rename client_vc to txn
  include/proxy/http/HttpSM.h
  src/proxy/http/HttpSM.cc
Labels: HTTP, Cleanup

#11240 IP Allow: document when rules are applied
  doc/admin-guide/files/ip_allow.yaml.en.rst
  doc/admin-guide/files/remap.config.en.rst
Labels: Documentation

#11236 jsonrpc: small cleanup.
  src/mgmt/rpc/jsonrpc/JsonRPCManager.cc
Labels: Cleanup, easy_review

#11192 Allow Cripts to be used directly as @plugin
  doc/admin-guide/files/records.yaml.en.rst
  include/proxy/http/remap/PluginDso.h
  include/proxy/http/remap/PluginFactory.h
  include/proxy/http/remap/RemapPluginInfo.h
  src/proxy/http/remap/PluginDso.cc
  src/proxy/http/remap/PluginFactory.cc
  src/proxy/http/remap/RemapPluginInfo.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/records/RecordsConfig.cc
  src/traffic_server/traffic_server.cc
  tools/cripts/compiler.sh
Labels: Cripts

#11238 header_rewrite: add debug to accompany parse_line errors
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/value.cc
Labels: Debug

#11184 Fixed asan leak issues with RegexContext
  src/tsutil/DbgCtl.cc
  src/tsutil/Regex.cc
Labels: ASan

#11230 AuTest: Make ja3_fingerprint test stable
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-sent-client.gold
Labels: AuTest, ja3_fingerprint

#11222 Terminate H2 connection by COMPRESSION_ERROR
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#11242 HttpSM::tunnel_handler: Handle WRITE events
  src/proxy/http/HttpSM.cc
Labels: HttpSM

#11239 Fix asan leak errors for cachevol test
  src/iocore/cache/unit_tests/test_CacheVol.cc
Labels: ASan

#11250 Fixes the HRW regexes after refactoring in #11152
  plugins/header_rewrite/matcher.h
Labels: header_rewrite

#11249 CID 1534744: txn_box: Move config object insetad of copy.
  plugins/experimental/txn_box/plugin/src/txn_box_remap.cc
Labels: Coverity, TxnBox

#11248 CID 1374999: plugin stale_response, delete pointer on early exit.
  plugins/experimental/stale_response/stale_response.cc
Labels: Plugins, Coverity

#11246 Avoid including pcre2.h in Regex.h.
  include/tsutil/Regex.h
  src/tsutil/Regex.cc
Labels: Plugins, Cleanup

#11255 libswoc: fix unresolved function type for transform_view_of.
  lib/swoc/include/swoc/Lexicon.h
Labels: Tools, dependencies, libswoc

#11252 CMakePresets: add opentelemetry_ROOT with CURL_ROOT
  CMakePresets.json
Labels: Build, CMake, otel_tracer

#11251 Findwamr.cmake: a find script for the WAMR library
  cmake/Findwamr.cmake
Labels: Build, CMake

#11256 libswoc: version update to 1.5.12
  lib/swoc/CMakeLists.txt
  lib/swoc/include/swoc/swoc_version.h
Labels: libswoc

#11254 AuTest: Make ja3_fingerprint test more stable
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-incoming-client.gold
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-incoming-proxy.gold
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-sent-client.gold
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-sent-proxy.gold
Labels: AuTest, ja3_fingerprint

#11235 Cleanup: Http2ConnectionState
  src/proxy/http2/Http2ConnectionState.cc
  tests/gold_tests/h2/http2_rst_stream.test.py
Labels: HTTP/2, Cleanup

#11112 Coverity: trying fixing some of the issues related to an unitialized variant member.
  plugins/experimental/txn_box/plugin/src/Ex_Base.cc
  plugins/experimental/txn_box/plugin/src/Ex_HTTP.cc
  plugins/experimental/txn_box/plugin/src/Modifier.cc
  plugins/experimental/txn_box/plugin/src/text_block.cc
Labels: Coverity, TxnBox

#11262 http2: Track scheduled events
  include/proxy/http2/Http2ConnectionState.h
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#11264 Initialize HistoryEntry array
  include/tscore/History.h
Labels: Core

#11268 [9.2.x] Fix GCC 14.0.1 -std=c++20 build failures (#11189)
  include/tscpp/util/TextView.h
  plugins/header_rewrite/matcher.h
  src/tscore/HostLookup.cc
Labels: Backport

#11272 tslua.so: handle unrecognized status codes
  plugins/lua/ts_lua_client_response.cc
  tests/gold_tests/pluginTest/lua/lua_set_error_response.test.py
  tests/gold_tests/pluginTest/lua/set_error_response.lua
  tests/gold_tests/pluginTest/lua/set_error_response.replay.yaml
Labels: Lua

#11276 CMake: add missing verify_remap_plugin() calls.
  cmake/add_atsplugin.cmake
  plugins/authproxy/CMakeLists.txt
  plugins/background_fetch/CMakeLists.txt
  plugins/cache_range_requests/CMakeLists.txt
  plugins/cachekey/CMakeLists.txt
  plugins/compress/CMakeLists.txt
  plugins/conf_remap/CMakeLists.txt
  plugins/escalate/CMakeLists.txt
  plugins/esi/CMakeLists.txt
  plugins/experimental/access_control/CMakeLists.txt
  plugins/experimental/cache_fill/CMakeLists.txt
  plugins/experimental/cookie_remap/CMakeLists.txt
  plugins/experimental/fq_pacing/CMakeLists.txt
  plugins/experimental/geoip_acl/CMakeLists.txt
  plugins/experimental/http_stats/CMakeLists.txt
  plugins/experimental/maxmind_acl/CMakeLists.txt
  plugins/experimental/money_trace/CMakeLists.txt
  plugins/experimental/mp4/CMakeLists.txt
  plugins/experimental/rate_limit/CMakeLists.txt
  plugins/experimental/sslheaders/CMakeLists.txt
  plugins/experimental/stale_response/CMakeLists.txt
  plugins/experimental/txn_box/plugin/CMakeLists.txt
  plugins/experimental/uri_signing/CMakeLists.txt
  plugins/experimental/url_sig/CMakeLists.txt
  plugins/generator/CMakeLists.txt
  plugins/header_rewrite/CMakeLists.txt
  plugins/ja3_fingerprint/CMakeLists.txt
  plugins/lua/CMakeLists.txt
  plugins/multiplexer/CMakeLists.txt
  plugins/prefetch/CMakeLists.txt
  plugins/regex_remap/CMakeLists.txt
  plugins/remap_purge/CMakeLists.txt
  plugins/s3_auth/CMakeLists.txt
  plugins/slice/CMakeLists.txt
  plugins/statichit/CMakeLists.txt
Labels: CMake

#11275 Eliminate leaking of HostStatusSync instances.
  include/proxy/HostStatus.h
  src/proxy/HostStatus.cc
Labels: ASan

#11277 CMake. Fix yamlcpp version definition when an external yaml lib is set.
  CMakeLists.txt
Labels: CMake

#11266 Add nullptr guards in ActivityCop functions
  include/iocore/net/NetTimeout.h
Labels: HTTP/2

#11243 txn_box ramp autest reliability improvements
  tests/gold_tests/pluginTest/txn_box/ramp/ramp.replay.yaml
  tests/gold_tests/pluginTest/txn_box/ramp/ramp.test.py
Labels: AuTest, TxnBox

#11267 cleanup: Resolve some of dependencies on private headers
  include/iocore/eventsystem/VIO.h
  include/iocore/net/EventIO.h
  include/iocore/net/NetEvent.h
  include/iocore/net/QUICMultiCertConfigLoader.h
  include/iocore/net/SSLMultiCertConfigLoader.h
  include/iocore/net/SSLTypes.h
  include/iocore/net/TLSBasicSupport.h
  include/iocore/net/TLSCertSwitchSupport.h
  include/iocore/net/TLSSessionResumptionSupport.h
  include/iocore/net/quic/Mock.h
  include/iocore/net/quic/QUICConfig.h
  include/iocore/net/quic/QUICStream.h
  include/proxy/FetchSM.h
  src/iocore/dns/DNSEventIO.cc
  src/iocore/net/EventIO.cc
  src/iocore/net/P_SSLCertLookup.h
  src/iocore/net/P_SSLUtils.h
  src/iocore/net/P_UnixNetState.h
  src/iocore/net/P_UnixNetVConnection.h
  src/iocore/net/P_UnixPollDescriptor.h
  src/iocore/net/QUICNetVConnection.cc
  src/iocore/net/QUICPacketHandler.cc
  src/iocore/net/SSLConfig.cc
  src/iocore/net/SSLStats.cc
  src/iocore/net/SSLUtils.cc
  src/proxy/http3/test/test_QPACK.cc
Labels: Cleanup

#11278 RPC: Add log when handler fail yamlcpp validation on registration.
  src/api/InkAPI.cc
Labels: JSONRPC

#11259 Raise unit tests for src/proxy/http/remap from the dead.
  include/proxy/http/remap/PluginFactory.h
  src/proxy/http/remap/CMakeLists.txt
  src/proxy/http/remap/unit-tests/CMakeLists.txt
  src/proxy/http/remap/unit-tests/nexthop_test_stubs.cc
  src/proxy/http/remap/unit-tests/test_NextHopConsistentHash.cc
  src/proxy/http/remap/unit-tests/test_NextHopRoundRobin.cc
  src/proxy/http/remap/unit-tests/test_NextHopStrategyFactory.cc
  src/proxy/http/remap/unit-tests/test_PluginDso.cc
  src/proxy/http/remap/unit-tests/test_PluginFactory.cc
  src/proxy/http/remap/unit-tests/test_RemapPlugin.cc
Labels: Plugins, Parent Selection, CMake

#11283 Remove reduntant link of ts:: libraries in plugins
  cmake/ExperimentalPlugins.cmake
  plugins/experimental/access_control/CMakeLists.txt
  plugins/experimental/maxmind_acl/CMakeLists.txt
  plugins/experimental/sslheaders/CMakeLists.txt
  plugins/s3_auth/CMakeLists.txt
Labels: Build, CMake

#11282 lsan suppression files for ImageMagic plugins
  cmake/add_atsplugin.cmake
  plugins/experimental/magick/CMakeLists.txt
  plugins/experimental/magick/image_magic_dlopen_leak_suppression.txt
  plugins/webp_transform/CMakeLists.txt
  plugins/webp_transform/image_magic_dlopen_leak_suppression.txt
Labels: ASan

#11280 cleanup: Resolve some of dependencies on private headers (records)
  include/records/RecordsConfig.h
  src/api/InkAPI.cc
  src/mgmt/rpc/handlers/common/RecordsUtils.cc
  src/mgmt/rpc/handlers/common/RecordsUtils.h
  src/mgmt/rpc/handlers/common/convert.h
  src/mgmt/rpc/handlers/config/Configuration.cc
  src/mgmt/rpc/handlers/records/Records.cc
  src/records/RecordsConfigUtils.cc
  src/traffic_layout/info.cc
  src/traffic_server/traffic_server.cc
Labels: Cleanup

#11286 txn_box autests: prefix each with 'txn_box'
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_basic.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_cmp.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_ip-addr.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_mod.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_multi-cfg.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_redirect.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_reply.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_rxp.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_stat.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_tls-cert.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_tls.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_tuple.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_txn-debug.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_txn-error.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_txn_open_1.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_txn_open_2.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_txn_open_3.test.py
  tests/gold_tests/pluginTest/txn_box/basic/txn_box_with.test.py
  tests/gold_tests/pluginTest/txn_box/ct_header/txn_box_ct_header.test.py
  tests/gold_tests/pluginTest/txn_box/example/txn_box_accept-encoding.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_cors-origin.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_cors-referrer.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_ip-acl.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_mTLS.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_query-delete-filter.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_query-delete-regex.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_query.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_stanley.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_vznith-1.test.py
  tests/gold_tests/pluginTest/txn_box/prod/txn_box_yts-3489.test.py
  tests/gold_tests/pluginTest/txn_box/ramp/txn_box_multi-ramp-1.test.py
  tests/gold_tests/pluginTest/txn_box/ramp/txn_box_multi-ramp-2.test.py
  tests/gold_tests/pluginTest/txn_box/ramp/txn_box_multi-ramp-3.test.py
  tests/gold_tests/pluginTest/txn_box/ramp/txn_box_ramp.test.py
  tests/gold_tests/pluginTest/txn_box/remap/txn_box_remap-base.test.py
  tests/gold_tests/pluginTest/txn_box/smoke/txn_box_smoke-2.test.py
  tests/gold_tests/pluginTest/txn_box/smoke/txn_box_smoke.test.py
  tests/gold_tests/pluginTest/txn_box/static_file/txn_box_static_file.test.py
Labels: Tests, TxnBox

#11263 [9.2.x] Terminate H2 connection by COMPRESSION_ERROR (#11222)
  proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2, Backport

#11178 Get Stripe::aggWrite into a test harness
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/unit_tests/test_Stripe.cc
Labels: Tests

#11241 CID 1534718: txn_box - Fix invalid use of signed index.
  plugins/experimental/txn_box/plugin/src/query.cc
Labels: Coverity, TxnBox

#11290 Fedora 40: update autest output expectations
  tests/gold_tests/pluginTest/certifier/certifier.test.py
  tests/gold_tests/pluginTest/compress/compress.gold
  tests/gold_tests/tls/tls_check_dual_cert_selection.test.py
  tests/gold_tests/tls/tls_check_dual_cert_selection2.test.py
  tests/gold_tests/tls/tls_check_dual_cert_selection_plugin.test.py
Labels: Tests

#11291 Update the build_h3_tools.sh curl version to 8.7.1
  tools/build_h3_tools.sh
Labels: Tools

#11288 cleanup: Resolve some of dependencies on private headers (proxy)
  include/proxy/ProxySession.h
  src/proxy/ProxySession.cc
  src/proxy/logging/LogAccess.cc
Labels: Cleanup

#11281 cleanup: Resolve some of dependencies on private headers (cache)
  include/iocore/cache/CacheVC.h
  src/iocore/cache/CacheEvacuateDocVC.cc
  src/iocore/cache/CacheEvacuateDocVC.h
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheInternal.h
Labels: Cleanup

#11295 http2.test.py: Name TestRun entities
  tests/gold_tests/h2/http2.test.py
Labels: Tests, AuTest

#11296 Fedora 40: autest output updates for new curl and openssl
  tests/gold_tests/h2/gold/http2_8_stderr.gold
  tests/gold_tests/h2/gold/http2_8_stdout.gold
  tests/gold_tests/h2/http2.test.py
  tests/gold_tests/tls/h2_early_decode.py
  tests/gold_tests/tls/test-0rtt-s_client.py
  tests/gold_tests/tls/tls_verify_override_base.test.py
Labels: Tests, AuTest

#10936 Help background fill autest to run on ubuntu
  tests/gold_tests/cache/background_fill.test.py
  tests/gold_tests/cache/gold/background_fill_0_stderr_H.gold
  tests/gold_tests/cache/gold/background_fill_0_stderr_W.gold
  tests/gold_tests/cache/gold/background_fill_1_stderr_H.gold
  tests/gold_tests/cache/gold/background_fill_1_stderr_W.gold
  tests/gold_tests/cache/gold/background_fill_2_stderr_H.gold
  tests/gold_tests/cache/gold/background_fill_2_stderr_W.gold
Labels: AuTest, Ubuntu

#11302 fix background fill test gold file
  tests/gold_tests/cache/gold/background_fill_1_stderr_H.gold
Labels: Tests, AuTest

#11270 tools: Dual build for openssl and boringssl H3 tools.
  tools/build_boringssl_h3_tools.sh
  tools/build_h3_tools.sh
  tools/build_openssl_h3_tools.sh
Labels: Tools

#11289 cleanup: Remove CLIENT_CONNECTION_FIRST_READ_BUFFER_SIZE_INDEX
  include/proxy/http/HttpSM.h
  include/proxy/http2/Http2CommonSession.h
  include/proxy/http2/Http2Stream.h
  include/proxy/http3/Http3Transaction.h
  src/iocore/net/P_Net.h
  src/proxy/ProtocolProbeSessionAccept.cc
Labels: Cleanup

#11287 Update XPACK.cc to fix use-of-uninitialized-pointer-field case
  src/proxy/hdrs/XPACK.cc
Labels: HTTP/3

#11297 Restore derived metrics using new metrics
  include/tsutil/Metrics.h
  src/iocore/eventsystem/RecProcess.cc
  src/proxy/http/HttpConfig.cc
  src/tsutil/Metrics.cc
  src/tsutil/unit_tests/test_Metrics.cc
Labels: Metrics

#11300 ci-fedora-cxx20 preset: build cripts
  CMakePresets.json
Labels: CI, CMake

#11304 Fixes clang-format v18.1.2 on linux AARCH64
  tools/clang-format.sh
Labels: Build
