Repository apache/trafficserver, pull requests merged in 2024-06, with the labels that each got.

#11410 Http2ConnectionState::restart_receiving: check for closed peer
  src/proxy/http2/Http2CommonSession.cc
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2

#11305 Don't assume LogAccess::m_client_req_unmapped_url_canon_str is null terminated.
  src/proxy/logging/LogAccess.cc
Labels: Logging, Bug

#11404 Some cleanup of error handling in statichit plugin.
  plugins/statichit/statichit.cc
Labels: Plugins, Cleanup

#11384 HRW: Adds an optional list of query params to remove/keep
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/operator.cc
  plugins/header_rewrite/operator.h
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
Labels: header_rewrite

#11412 Unit-Tests: Make jsonrpc tests write the socket/lock file inside the build directory.
  src/mgmt/rpc/CMakeLists.txt
  src/mgmt/rpc/server/unit_tests/test_rpcserver.cc
Labels: Tests, Cleanup

#11400 Update Http3Frame.cc - fix Use-of-uninitialized-value error
  src/proxy/http3/Http3Frame.cc
Labels: HTTP/3

#11398 Fixes Bundles errors, and better checks
  include/cripts/Bundle.hpp
  include/cripts/Bundles/Common.hpp
  include/cripts/Bundles/LogsMetrics.hpp
  include/cripts/Epilogue.hpp
  include/cripts/Headers.hpp
  include/cripts/Instance.hpp
  src/cripts/Bundles/Common.cc
  src/cripts/Bundles/LogsMetrics.cc
  src/cripts/CMakeLists.txt
Labels: Cripts

#11338 Coverity 1523684: Resource leak
  src/iocore/aio/test_AIO.cc
Labels: Tests, Coverity

#11411 Fix unused parameters in `traffic_*` utilities
  src/traffic_cache_tool/CacheDefs.cc
  src/traffic_cache_tool/CacheTool.cc
  src/traffic_crashlog/backtrace.cc
  src/traffic_ctl/CtrlPrinters.cc
  src/traffic_ctl/CtrlPrinters.h
  src/traffic_ctl/traffic_ctl.cc
  src/traffic_layout/engine.cc
  src/traffic_layout/file_system.cc
  src/traffic_layout/traffic_layout.cc
  src/traffic_logstats/logstats.cc
  src/traffic_server/SocksProxy.cc
  src/traffic_top/traffic_top.cc
Labels: Cleanup

#11393 Remove unused length parameter in the `plugin/multiplexer/dispatch.cc`
  plugins/multiplexer/dispatch.cc
Labels: Cleanup

#11416 Avoid race conditions in Regex.cc.
  src/tsutil/DbgCtl.cc
  src/tsutil/Regex.cc
Labels: Crash, Debug

#11417 Adds a bridge betwen Cripts and HRW operators
  doc/developer-guide/cripts/cripts-bundles.en.rst
  doc/developer-guide/cripts/cripts-connections.en.rst
  doc/developer-guide/cripts/cripts-headers.en.rst
  doc/developer-guide/cripts/cripts-misc.en.rst
  doc/developer-guide/cripts/cripts-urls.en.rst
  include/cripts/Bundles/Headers.hpp
  include/cripts/Connections.hpp
  include/cripts/Context.hpp
  include/cripts/Epilogue.hpp
  include/cripts/Urls.hpp
  src/cripts/Bundles/Common.cc
  src/cripts/Bundles/HRWBridge.cc
  src/cripts/Bundles/Headers.cc
  src/cripts/Bundles/LogsMetrics.cc
  src/cripts/CMakeLists.txt
  src/cripts/Connections.cc
  src/cripts/Geo.cc
  src/cripts/Urls.cc
Labels: Cripts

#11420 10.0.x: Fix some doc generation warnings (#11370)
  doc/admin-guide/plugins/header_rewrite.en.rst
  doc/admin-guide/plugins/txn_box/reference.en.rst
  doc/developer-guide/api/functions/TSActionCancel.en.rst
  doc/developer-guide/api/functions/TSContScheduleEveryOnPool.en.rst
  doc/developer-guide/api/functions/TSContScheduleOnThread.en.rst
  doc/developer-guide/api/functions/TSHttpTxnResponseActionSet.en.rst
  doc/developer-guide/cripts/cripts-matcher.en.rst
  doc/developer-guide/plugins/actions/index.en.rst
Labels: Documentation

#11427 Remove Stripe::get_agg_todo_size
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheInternal.h
  src/iocore/cache/P_CacheVol.h
Labels: Cache, Cleanup

#11414 Fix acl_remap bug
  src/proxy/http/remap/RemapConfig.cc
  tests/gold_tests/remap/deny_head_post.replay.yaml
  tests/gold_tests/remap/remap_acl.test.py
Labels: Remap, remap_acl

#11344 Reduce the default size of max header sizes
  doc/admin-guide/files/records.yaml.en.rst
  src/records/RecordsConfig.cc
Labels: HTTP/2, HTTP, Incompatible

#11219 Make code buildable with AWS-LC
  CMakeLists.txt
  cmake/CheckOpenSSLIsAwsLc.cmake
  include/tscore/ink_config.h.cmake.in
  plugins/CMakeLists.txt
  src/iocore/net/OCSPStapling.cc
  src/iocore/net/P_OCSPStapling.h
  src/iocore/net/SSLUtils.cc
  src/tscore/CMakeLists.txt
Labels: Build, TLS

#11424 Modernize ja3 fingerprint encoding implementation
  plugins/ja3_fingerprint/CMakeLists.txt
  plugins/ja3_fingerprint/ja3_fingerprint.cc
  plugins/ja3_fingerprint/ja3_utils.cc
  plugins/ja3_fingerprint/ja3_utils.h
  plugins/ja3_fingerprint/test_utils.cc
Labels: Tests, ja3_fingerprint

#11366 Add SO_INCOMING_CPU support to net.sock_option_flag_in
  doc/admin-guide/files/records.yaml.en.rst
  include/iocore/eventsystem/EThread.h
  include/iocore/net/NetVCOptions.h
  src/iocore/eventsystem/UnixEventProcessor.cc
  src/iocore/net/Connection.cc
Labels: Network

#11430 Add missing experimental plugins to build
  cmake/ExperimentalPlugins.cmake
  plugins/experimental/CMakeLists.txt
Labels: Plugins, CMake

#11413 Add metrics to memory Allocators
  CMakeLists.txt
  include/iocore/eventsystem/IOBuffer.h
  include/tscore/Allocator.h
  include/tscore/ink_config.h.cmake.in
  include/tsutil/Metrics.h
  src/iocore/eventsystem/IOBuffer.cc
Labels: Metrics

#11435 Fix building without HWLOC
  src/iocore/net/Connection.cc
Labels: Build

#11439 access_control: Remove unused dumpHeaders
  plugins/experimental/access_control/headers.cc
  plugins/experimental/access_control/headers.h
Labels: Cleanup, access_control

#11401 Pass unused length parameter in HeaderField::append function
  src/tscpp/api/Headers.cc
Labels: Cleanup

#11440 Remove unused _setFunc parameter to LogField constructor overload.
  include/proxy/logging/LogField.h
  src/proxy/logging/LogField.cc
Labels: Logging, Cleanup

#11428 txn_box: Address use after free in Do_upstream_rsp_body
  plugins/experimental/txn_box/plugin/src/Machinery.cc
Labels: TxnBox

#11429 support full range of unsigned char for hex conversion.
  include/tsutil/StringConvert.h
  src/tsutil/CMakeLists.txt
  src/tsutil/unit_tests/test_StringConvert.cc
Labels: Bug

#11432 Fix race condition causing interleaved logs
  doc/developer-guide/api/functions/TSMimeHdrPrint.en.rst
  example/plugins/c-api/cache_scan/cache_scan.cc
  example/plugins/c-api/output_header/output_header.cc
  include/proxy/hdrs/HTTP.h
  include/proxy/hdrs/MIME.h
  include/proxy/http/HttpTransact.h
  include/ts/ts.h
  plugins/background_fetch/background_fetch.cc
  plugins/background_fetch/headers.cc
  plugins/background_fetch/headers.h
  plugins/experimental/cache_fill/background_fetch.cc
  plugins/experimental/stale_response/CacheUpdate.cc
  plugins/prefetch/fetch.cc
  plugins/prefetch/headers.cc
  plugins/prefetch/headers.h
  src/api/InkAPI.cc
  src/proxy/hdrs/HTTP.cc
  src/proxy/hdrs/MIME.cc
  src/proxy/hdrs/unit_tests/test_HdrUtils.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
Labels: Logging, Cleanup, TS API, Incompatible

#11441 Update magick plugin to OpenSSL 1.1.1 API
  plugins/experimental/magick/magick.cc
Labels: magick

#11443 LSan: Suppress libssl.so leak for verify_global_magick unit test
  plugins/experimental/magick/image_magic_dlopen_leak_suppression.txt
Labels: Tests, ASan, Leak

#11407 Clean up the insertion of documents into the aggregate write buffer
  src/iocore/cache/AggregateWriteBuffer.cc
  src/iocore/cache/AggregateWriteBuffer.h
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/unit_tests/test_AggregateWriteBuffer.cc
Labels: Cache, Cleanup

#11444 docs: fix header rewrite nexthop sample usage
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#11426 Make Cripts contexts use Proxy Allocator, and cleanup
  CMakeLists.txt
  doc/developer-guide/cripts/cripts-connections.en.rst
  doc/developer-guide/cripts/cripts-misc.en.rst
  example/cripts/example1.cc
  include/cripts/Context.hpp
  include/cripts/Crypto.hpp
  include/cripts/Urls.hpp
  include/iocore/eventsystem/Thread.h
  include/tscore/ink_config.h.cmake.in
  src/cripts/Bundles/Common.cc
  src/cripts/Context.cc
  src/cripts/Crypto.cc
  src/cripts/Headers.cc
  src/cripts/Lulu.cc
  src/cripts/Urls.cc
Labels: Cripts

#11442 Properly handle string return from function
  plugins/experimental/wasm/ats_context.h
Labels: Plugins

#11450 Fix use of uninitialized stack memory in records
  src/records/RecHttp.cc
Labels: Records

#11453 Remove inkevent dependency from records
  src/proxy/logging/CMakeLists.txt
  src/records/CMakeLists.txt
Labels: Build, CMake

#11451 Make NetDbg available on releaes builds
  src/iocore/net/P_Net.h
  src/iocore/net/PollCont.cc
Labels: AuTest

#11406 Fix unused parameters in tscore
  include/tscore/Allocator.h
  include/tscore/Extendible.h
  src/tscore/ArgParser.cc
  src/tscore/ink_memory.cc
  src/tscore/ink_queue.cc
Labels: Cleanup

#11445 Coverity Fixes.
  src/iocore/hostdb/HostDB.cc
Labels: HostDB, Coverity

#10991 Clarify cache_config_agg_write_backlog
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache

#11452 Fix unused parameters in iocore
  include/iocore/eventsystem/Lock.h
  include/iocore/net/NetVConnection.h
  include/iocore/net/SNIActionItem.h
  include/iocore/net/TLSALPNSupport.h
  include/iocore/net/TLSSessionResumptionSupport.h
  src/iocore/aio/AIO.cc
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/RamCacheLRU.cc
  src/iocore/cache/unit_tests/CacheTestHandler.cc
  src/iocore/cache/unit_tests/CacheTestHandler.h
  src/iocore/cache/unit_tests/main.cc
  src/iocore/cache/unit_tests/main.h
  src/iocore/cache/unit_tests/stub.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_S.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_S.cc
  src/iocore/cache/unit_tests/test_Cache.cc
  src/iocore/cache/unit_tests/test_CacheDir.cc
  src/iocore/cache/unit_tests/test_CacheVol.cc
  src/iocore/cache/unit_tests/test_Populated_Cache.cc
  src/iocore/cache/unit_tests/test_RWW.cc
  src/iocore/cache/unit_tests/test_Update_L_to_S.cc
  src/iocore/cache/unit_tests/test_Update_S_to_L.cc
  src/iocore/cache/unit_tests/test_Update_header.cc
  src/iocore/dns/DNSEventIO.cc
  src/iocore/eventsystem/MIOBufferWriter.cc
  src/iocore/eventsystem/unit_tests/test_EventSystem.cc
  src/iocore/eventsystem/unit_tests/test_IOBuffer.cc
  src/iocore/eventsystem/unit_tests/test_MIOBufferWriter.cc
  src/iocore/net/ALPNSupport.cc
  src/iocore/net/AsyncSignalEventIO.cc
  src/iocore/net/Connection.cc
  src/iocore/net/ConnectionTracker.cc
  src/iocore/net/NetAcceptEventIO.cc
  src/iocore/net/OCSPStapling.cc
  src/iocore/net/P_TLSKeyLogger.h
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
  src/iocore/net/SSLCertLookup.cc
  src/iocore/net/SSLConfig.cc
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSSNISupport.cc
  src/iocore/net/TLSSessionResumptionSupport.cc
  src/iocore/net/UnixNetAccept.cc
  src/iocore/net/UnixNetVConnection.cc
  src/iocore/net/YamlSNIConfig.cc
  src/iocore/utils/OneWayMultiTunnel.cc
Labels: Cleanup

#11402 Fix unused parameters in the tscpp source code
  include/tscpp/api/Plugin.h
  src/tscpp/api/AsyncTimer.cc
  src/tscpp/api/RemapPlugin.cc
  src/tscpp/api/TransformationPlugin.cc
  src/tscpp/api/utils_internal.cc
Labels: Build, Cleanup

#11454 records.yaml - Rename 'ts' yaml tag to 'records'.
  configs/remap.config.default
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/files/remap.config.en.rst
  doc/admin-guide/performance/index.en.rst
  doc/admin-guide/plugins/conf_remap.en.rst
  doc/admin-guide/plugins/lua.en.rst
  doc/admin-guide/plugins/url_sig.en.rst
  doc/admin-guide/security/index.en.rst
  doc/admin-guide/tools/converting-records-to-yaml.en.rst
  doc/appendices/command-line/traffic_ctl.en.rst
  doc/developer-guide/api/functions/TSRecYAMLConfigParse.en.rst
  doc/developer-guide/cripts/cripts-overview.en.rst
  doc/developer-guide/debugging/debug-tags.en.rst
  doc/developer-guide/debugging/memory-leaks.en.rst
  doc/developer-guide/plugins/example-plugins/tls_bridge.en.rst
  doc/ext/traffic-server.cmake.in.py
  doc/ext/traffic-server.py
  doc/getting-started/index.en.rst
  include/records/RecYAMLDecoder.h
  plugins/experimental/url_sig/README
  src/records/RecYAMLDecoder.cc
  src/traffic_ctl/FileConfigCommand.cc
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/gold/records.yaml.cold_test0.gold
  tests/gold_tests/records/gold/records.yaml.cold_test2.gold
  tests/gold_tests/records/gold/records.yaml.cold_test4.gold
  tests/gold_tests/records/gold/records.yaml.cold_test5.gold
  tests/gold_tests/records/gold/renamed_records.yaml
  tests/gold_tests/remap/basic_conf_remap_yaml.test.py
  tests/gold_tests/remap/conf_remap_float.test.py
  tools/records/convert2yaml.py
Labels: Configuration, YAML, Records

#11438 Fail earlier if Netcat is not installed
  CMakeLists.txt
  tests/autest.sh
Labels: Build, AuTest

#11469 Restore webp_transform to build
  plugins/CMakeLists.txt
Labels: Build, webp_transform

#11466 Fix unused function parameters in the plugins functionality
  plugins/cache_promote/policy.h
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/cachekey/plugin.cc
  plugins/certifier/certifier.cc
  plugins/compress/compress.cc
  plugins/esi/combo_handler.cc
  plugins/esi/test/TestHttpDataFetcher.h
  plugins/experimental/access_control/plugin.cc
  plugins/experimental/access_control/utils.cc
  plugins/experimental/block_errors/block_errors.cc
  plugins/experimental/cache_fill/cache_fill.cc
  plugins/experimental/cert_reporting_tool/cert_reporting_tool.cc
  plugins/experimental/cookie_remap/cookie_remap.cc
  plugins/experimental/fq_pacing/fq_pacing.cc
  plugins/experimental/geoip_acl/acl.cc
  plugins/experimental/header_freq/header_freq.cc
  plugins/experimental/hook-trace/hook-trace.cc
  plugins/experimental/http_stats/http_stats.cc
  plugins/experimental/icap/icap_plugin.cc
  plugins/experimental/inliner/fetcher.h
  plugins/experimental/inliner/ts.cc
  plugins/experimental/memcache/tsmemcache.cc
  plugins/experimental/memory_profile/memory_profile.cc
  plugins/experimental/money_trace/money_trace.cc
  plugins/experimental/rate_limit/rate_limit.cc
  plugins/experimental/rate_limit/sni_selector.cc
  plugins/experimental/rate_limit/txn_limiter.cc
  plugins/experimental/stale_response/stale_response.cc
  plugins/experimental/stream_editor/stream_editor.cc
  plugins/experimental/system_stats/system_stats.cc
  plugins/experimental/tls_bridge/tls_bridge.cc
  plugins/experimental/txn_box/plugin/include/txn_box/accl_util.h
  plugins/generator/generator.cc
  plugins/header_rewrite/conditions.cc
  plugins/ja3_fingerprint/ja3_fingerprint.cc
  plugins/multiplexer/ats-multiplexer.cc
  plugins/multiplexer/fetcher.h
  plugins/multiplexer/post.cc
  plugins/prefetch/fetch_policy_simple.cc
  plugins/prefetch/plugin.cc
  plugins/regex_revalidate/regex_revalidate.cc
  plugins/remap_purge/remap_purge.cc
  plugins/s3_auth/aws_auth_v4.cc
  plugins/s3_auth/s3_auth.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.cc
  plugins/s3_auth/unit_tests/test_aws_auth_v4.h
  plugins/server_push_preload/server_push_preload.cc
  plugins/slice/server.cc
  plugins/slice/slice.cc
  plugins/statichit/statichit.cc
  plugins/stats_over_http/stats_over_http.cc
  plugins/traffic_dump/session_data.cc
  plugins/traffic_dump/traffic_dump.cc
  plugins/traffic_dump/transaction_data.cc
  plugins/xdebug/xdebug.cc
  plugins/xdebug/xdebug_headers.cc
  plugins/xdebug/xdebug_transforms.cc
Labels: Plugins, Cleanup

#11458 Make NetDbg available on release builds (#11451)
  src/iocore/net/P_Net.h
  src/iocore/net/PollCont.cc
Labels: Backport, AuTest

#11470 Skip verify imagemagick plugins for asan builds
  plugins/experimental/magick/CMakeLists.txt
  plugins/webp_transform/CMakeLists.txt
Labels: Build

#11389 Add Sphinx documentation for statichit plugin.
  doc/admin-guide/plugins/index.en.rst
  doc/admin-guide/plugins/statichit.en.rst
  plugins/statichit/README.md
  tests/gold_tests/pluginTest/statichit/statichit.replay.yaml
  tests/gold_tests/pluginTest/statichit/statichit.test.py
Labels: Documentation

#11459 Clarify VCONN_CLOSE serialization in developer docs
  doc/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.rst
Labels: Documentation

#11467 Update access_control to OpenSSL 1.1.1 HMAC API
  plugins/experimental/access_control/access_control.cc
  plugins/experimental/access_control/utils.cc
Labels: Cleanup, access_control

#11463 HttpSM request tunneling naming updates
  include/iocore/eventsystem/VIO.h
  include/iocore/net/NetVConnection.h
  include/proxy/http/Http1ClientSession.h
  include/proxy/http/HttpSM.h
  src/proxy/http/Http1ClientSession.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
Labels: Cleanup, HttpSM

#11474 Remove HAVE_HMAC_CTX_NEW
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  plugins/s3_auth/s3_auth.cc
Labels: Build, Cleanup, s3_auth

#11476 yapf.sh: run on non-.py tools/ scripts
  tools/check-unused-dependencies
  tools/cvtremappi
  tools/yapf.sh
Labels: format

#11462 Clean up ja3_fingerprint continuation handlers
  plugins/ja3_fingerprint/ja3_fingerprint.cc
Labels: Cleanup, ja3_fingerprint

#11046 Add autest to make sure H2 grace shutdown is working as intended
  tests/gold_tests/h2/http2_close_connection.test.py
  tests/gold_tests/h2/http2_close_connection.yaml
  tests/tools/plugins/CMakeLists.txt
  tests/tools/plugins/http2_close_connection.cc
Labels: HTTP/2

#11473 Remove unused defines from P_Connection.h
  src/iocore/dns/P_DNSConnection.h
  src/iocore/net/Connection.cc
  src/iocore/net/P_Connection.h
  src/iocore/net/P_NetAccept.h
  src/iocore/net/UnixConnection.cc
  src/iocore/net/UnixNetAccept.cc
Labels: Network, Cleanup

#11481 Fix unused parameters in `exemple/plugins/c-api`
  example/plugins/c-api/cert_update/cert_update.cc
  example/plugins/c-api/client_context_dump/client_context_dump.cc
  example/plugins/c-api/disable_http2/disable_http2.cc
  example/plugins/c-api/hello/hello.cc
  example/plugins/c-api/lifecycle_plugin/lifecycle_plugin.cc
  example/plugins/c-api/null_transform/null_transform.cc
  example/plugins/c-api/protocol_stack/protocol_stack.cc
  example/plugins/c-api/session_hooks/session_hooks.cc
  example/plugins/c-api/ssl_sni/ssl_sni.cc
  example/plugins/c-api/ssl_sni_allowlist/ssl_sni_allowlist.cc
  example/plugins/c-api/txn_data_sink/txn_data_sink.cc
  example/plugins/c-api/vconn_args/vconn_args.cc
  example/plugins/c-api/verify_cert/verify_cert.cc
Labels: Cleanup

#11483 Fix unused parameters in the `iocore` functionality (SSL and QUIC related code)
  include/iocore/net/quic/Mock.h
  src/iocore/net/QUICClosedConCollector.cc
  src/iocore/net/QUICMultiCertConfigLoader.cc
  src/iocore/net/QUICNetProcessor.cc
  src/iocore/net/QUICNetVConnection.cc
  src/iocore/net/QUICPacketHandler.cc
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSEarlyDataSupport.cc
  src/iocore/net/quic/QUICGlobals.cc
  src/iocore/net/quic/QUICStream.cc
  src/iocore/net/quic/QUICStreamManager.cc
  src/iocore/net/quic/QUICStreamVCAdapter.cc
Labels: TLS, Cleanup, QUIC

#11482 Fix unused parameters in `proxy/http3` functionality
  src/proxy/http3/Http09App.cc
  src/proxy/http3/Http3App.cc
  src/proxy/http3/Http3FrameCounter.cc
  src/proxy/http3/Http3HeaderVIOAdaptor.cc
  src/proxy/http3/Http3Session.cc
  src/proxy/http3/Http3SessionAccept.cc
  src/proxy/http3/Http3Transaction.cc
  src/proxy/http3/QPACK.cc
  src/proxy/http3/test/Mock.h
  src/proxy/http3/test/stub.cc
  src/proxy/http3/test/test_QPACK.cc
Labels: Cleanup, HTTP/3

#11479 Add UnixSocket class based on SocketManager
  src/iocore/eventsystem/CMakeLists.txt
  src/iocore/eventsystem/P_UnixSocketManager.h
  src/iocore/eventsystem/SocketManager.cc
  src/iocore/eventsystem/UnixSocket.cc
  src/iocore/eventsystem/UnixSocket.h
Labels: Cleanup, Event System

#11487 Add optional way to extend the build
  CMakeLists.txt
  cmake/add_cripts_bundle.cmake
  ext/CMakeLists.txt
  ext/README.md
Labels: Cripts

#11478 Restructure the Config objects
  example/cripts/example1.cc
  include/cripts/Bundles/Common.hpp
  include/cripts/Configs.hpp
  include/cripts/ConfigsBase.hpp
  include/cripts/Context.hpp
  include/cripts/Epilogue.hpp
  include/cripts/Headers.hpp
  include/cripts/Instance.hpp
  include/cripts/Lulu.hpp
  include/cripts/Matcher.hpp
  include/cripts/Metrics.hpp
  src/cripts/Bundles/Common.cc
  src/cripts/Bundles/HRWBridge.cc
  src/cripts/Bundles/Headers.cc
  src/cripts/Configs.cc
  src/cripts/Connections.cc
  src/cripts/Crypto.cc
  src/cripts/Headers.cc
  src/cripts/Matcher.cc
  src/cripts/Urls.cc
  tools/cripts/genconfig.py
Labels: Cripts

#11488 cripts: rename get/set macros to Get/Set
  example/cripts/example1.cc
  include/cripts/Context.hpp
  src/cripts/Bundles/Caching.cc
  src/cripts/Bundles/Common.cc
  src/cripts/Bundles/HRWBridge.cc
  src/cripts/Bundles/Headers.cc
  src/cripts/Bundles/LogsMetrics.cc
Labels: Cripts
