Repository apache/trafficserver, pull requests merged in 2024-01, with the labels that each got.

#10957 Support elevated access option when loading client certs
  src/iocore/net/SSLConfig.cc
Labels: Configuration, TLS, SSL

#10944 Update to libswoc 1.5.9
  lib/swoc/include/swoc/Errata.h
  lib/swoc/include/swoc/IPAddr.h
  lib/swoc/include/swoc/IPEndpoint.h
  lib/swoc/include/swoc/IPRange.h
  lib/swoc/include/swoc/IPSrv.h
  lib/swoc/include/swoc/MemArena.h
  lib/swoc/include/swoc/TextView.h
  lib/swoc/include/swoc/swoc_ip_util.h
  lib/swoc/include/swoc/swoc_version.h
  lib/swoc/src/Errata.cc
  lib/swoc/src/MemArena.cc
  lib/swoc/src/TextView.cc
  lib/swoc/src/swoc_ip.cc
Labels: CPP Util

#10962 adds stdint.h include to ink_file.h needed for rocky9/clang16
  include/tscore/ink_file.h
Labels: Build

#10963 multiplexer: set up transforms for PUT requests
  plugins/multiplexer/ats-multiplexer.cc
Labels: multiplexer

#10964 multiplexer: debug logging and variable name updates
  plugins/multiplexer/ats-multiplexer.cc
  plugins/multiplexer/dispatch.cc
  plugins/multiplexer/fetcher.cc
  plugins/multiplexer/fetcher.h
  plugins/multiplexer/post.cc
  plugins/multiplexer/post.h
  plugins/multiplexer/ts.cc
  plugins/multiplexer/ts.h
Labels: multiplexer

#10968 Add tscore to access_control dependencies
  plugins/experimental/access_control/CMakeLists.txt
Labels: CMake

#10831 Pull out down origin check from HttpSM::apply_ip_allow_filter
  src/proxy/http/HttpSM.cc
Labels: Cleanup

#10959 Fix a bug in OCSP update with dual cert configuration
  src/iocore/net/OCSPStapling.cc
  src/iocore/net/P_SSLCertLookup.h
  src/iocore/net/SSLCertLookup.cc
  src/iocore/net/SSLUtils.cc
Labels: TLS

#10973 HttpSM.cc::do_http_server_open SMDebug -> SMDbg
  src/proxy/http/HttpSM.cc
Labels: Build

#10970 tools/install_cmake.sh
  tools/install_cmake.sh
Labels: Tools

#10965 multiplexer: Correctly Handle Large Content-Length POST/PUT Request Bodies
  plugins/multiplexer/ats-multiplexer.cc
  plugins/multiplexer/post.cc
  plugins/multiplexer/post.h
  tests/gold_tests/pluginTest/multiplexer/multiplexer.test.py
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_copy.replay.yaml
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_original.replay.yaml
  tests/gold_tests/pluginTest/multiplexer/replays/multiplexer_original_skip_post.replay.yaml
Labels: multiplexer

#10952 Cleanup: Span and Store
  include/iocore/cache/Store.h
  src/iocore/cache/Cache.cc
  src/iocore/cache/Store.cc
Labels: Cache, Cleanup

#10972 Allow passing options to autest with AUTEST_OPTIONS cache var
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/autest.sh.in
Labels: AuTest, CMake

#10977 cmake/Findluajit: don't require luajit_LIBRARY_DIRS for rockylinux builds
  cmake/Findluajit.cmake
Labels: Plugins, CMake

#10976 Cleanup of Thread and EThread classes.
  include/iocore/eventsystem/EThread.h
  include/iocore/eventsystem/Thread.h
  src/iocore/eventsystem/Thread.cc
  src/iocore/eventsystem/UnixEThread.cc
Labels: Cleanup

#10961 Cleanup of HdrHeap::HeapGuard and HdrStrHeap classes.
  include/proxy/hdrs/HdrHeap.h
  src/proxy/hdrs/HTTP.cc
  src/proxy/hdrs/HdrHeap.cc
  src/proxy/hdrs/unit_tests/test_HdrHeap.cc
Labels: HTTP, Cleanup

#10982 Update build_h3_tools.sh
  tools/build_h3_tools.sh
Labels: Tools, HTTP/3

#10974 Fix a leak in tls_hooks_client_verify test
  tests/tools/plugins/ssl_client_verify_test.cc
Labels: Leak, AuTest

#10949 cmake: Add a check for BoringSSL version
  CMakeLists.txt
  cmake/CheckOpenSSLIsBoringSSL.cmake
Labels: CMake

#10867 Remove POSIX_THREAD constants and fix unmigrated HAVE_PTHREAD_MUTEXATTR_SETTYPE
  CMakeLists.txt
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_defs.h
  include/tscore/ink_queue.h
  include/tscore/ink_thread.h
  src/tscore/ink_mutex.cc
Labels: Build, CMake

#10980 TSFile - remove from background_fetch plugin
  doc/admin-guide/plugins/background_fetch.en.rst
  plugins/background_fetch/CMakeLists.txt
  plugins/background_fetch/configs.cc
  plugins/background_fetch/configs.h
  plugins/background_fetch/rules.cc
  plugins/background_fetch/rules.h
Labels: background_fetch

#10984 OCSP update: fix ctxCount to be specific about the type
  src/iocore/net/OCSPStapling.cc
Labels: TLS

#10827 Remove Stripe::add_agg_todo
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#10672 Don't make boringssl mandatory when QUIC & quiche is enabled/used.
  CMakeLists.txt
  cmake/CheckOpenSSLIsQuictls.cmake
Labels: CMake

#10971 Fix problem with the negation in TextView/libswoc
  lib/swoc/src/TextView.cc
Labels: libswoc

#10985 CMake: Make sure pthread is available when checking for some of the library functions.
  CMakeLists.txt
Labels: CMake

#10960 Persist bad disks
  doc/admin-guide/files/records.yaml.en.rst
  include/tscore/Filenames.h
  src/iocore/cache/Cache.cc
  src/records/RecordsConfig.cc
  src/traffic_layout/info.cc
Labels: Cache

#10987 Move some logic from CacheVC to Stripe and AggregateWriteBuffer
  include/iocore/cache/AggregateWriteBuffer.h
  include/iocore/cache/CacheVC.h
  src/iocore/cache/AggregateWriteBuffer.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#10923 Fix cache.volume_N.stripes metric issue by cleaning up CacheProcessor::cacheInitialized
  src/iocore/cache/Cache.cc
  tests/gold_tests/cache/gold/storage_metrics_0_stdout.gold
  tests/gold_tests/cache/gold/storage_metrics_1_stdout.gold
  tests/gold_tests/cache/storage-metrics.test.py
Labels: Cache, Metrics

#10995 traffic_top: avoid abort when rpc node is not available.
  src/traffic_top/stats.h
  src/traffic_top/traffic_top.cc
Labels: traffic_top

#10994 cleanup: TM removal leftovers - RecUpdateT cleanup.
  include/records/RecDefs.h
  src/records/P_RecDefs.h
  src/records/RecordsConfig.cc
Labels: Cleanup

#10983 CMAKE_INSTALL_FULL_LOGDIR and CMAKE_INSTALL_FULL_CACHEDIR
  cmake/layout.cmake
Labels: Build

#10998 Cleanup: CacheProcessor::start_internal
  src/iocore/cache/Cache.cc
Labels: Cache, Cleanup

#10996 Move session pool metrics calls outside critical section
  src/proxy/http/HttpSessionManager.cc
Labels: Origin Session

#10918 Removes experimental.h, moving remaining declarations to ts.h
  doc/developer-guide/api/functions/TSHttpTxnRedoCacheLookup.en.rst
  doc/developer-guide/api/functions/TSIpStringToAddr.en.rst
  example/plugins/c-api/cache_scan/cache_scan.cc
  include/api/InkAPIInternal.h
  include/ts/experimental.h
  include/ts/ts.h
  plugins/lua/ts_lua_common.h
  plugins/xdebug/xdebug.cc
  src/api/CMakeLists.txt
  src/api/InkAPI.cc
  src/api/InkAPITest.cc
  src/tscpp/api/AsyncHttpFetch.cc
Labels: Cleanup, TS API

#11002 Fix src/api/CMakeLists.txt formatting
  src/api/CMakeLists.txt
Labels: format

#10990 sslheader Plugin: Remap params fix.
  plugins/experimental/sslheaders/sslheaders.cc
Labels: Plugins, easy_review

#11003 Set TS_HAS_TLS_SESSION_TICKET correctly
  CMakeLists.txt
Labels: Build, TLS

#9987 Support gRPC traffic
  include/proxy/http/HttpSM.h
  include/proxy/http2/Http2Stream.h
  include/tscore/ink_string++.h
  src/proxy/hdrs/HdrToken.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransactHeaders.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/proxy/http2/Http2Stream.cc
  tests/Pipfile
  tests/gold_tests/h2/grpc/grpc.test.py
  tests/gold_tests/h2/grpc/grpc_client.py
  tests/gold_tests/h2/grpc/grpc_server.py
  tests/gold_tests/h2/grpc/simple.proto
Labels: HTTP/2, New Feature, gRPC

#10992 Restore IntrusiveHashMap insert code from tscore (ats92)
  lib/swoc/include/swoc/IntrusiveHashMap.h
Labels: libswoc

#11007 traffic_top cleanup - remove unused curl related code.
  src/traffic_top/stats.h
  src/traffic_top/traffic_top.cc
Labels: Tools, Cleanup, traffic_top

#10993 Refactor sync_cache_dir_on_shutdown
  include/iocore/cache/AggregateWriteBuffer.h
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#10744 Update accept thread configuration changes from #10687 applied to 9.2.x
  iocore/net/P_UnixNet.h
  iocore/net/UnixNet.cc
  iocore/net/UnixNetAccept.cc
Labels: Configuration, Backport, Threads

#10627 Add metrics for H2/3 frames and a way to access them from plugins
  doc/developer-guide/api/functions/TSHttpSsnInfoIntGet.en.rst
  include/proxy/ProxySession.h
  include/proxy/http2/HTTP2.h
  include/proxy/http2/Http2ClientSession.h
  include/proxy/http2/Http2CommonSession.h
  include/proxy/http2/Http2ServerSession.h
  include/proxy/http3/Http3.h
  include/proxy/http3/Http3FrameCounter.h
  include/proxy/http3/Http3Session.h
  include/proxy/http3/Http3Types.h
  include/ts/apidefs.h.in
  include/ts/ts.h
  src/api/InkAPI.cc
  src/proxy/ProxySession.cc
  src/proxy/http2/HTTP2.cc
  src/proxy/http2/Http2ClientSession.cc
  src/proxy/http2/Http2CommonSession.cc
  src/proxy/http2/Http2ServerSession.cc
  src/proxy/http3/CMakeLists.txt
  src/proxy/http3/Http3.cc
  src/proxy/http3/Http3App.cc
  src/proxy/http3/Http3DebugNames.cc
  src/proxy/http3/Http3FrameCounter.cc
  src/proxy/http3/Http3ProtocolEnforcer.cc
  src/proxy/http3/Http3Session.cc
  src/proxy/http3/Http3Transaction.cc
  tests/gold_tests/h2/gold/log.gold
  tests/gold_tests/pluginTest/tsapi/CMakeLists.txt
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo.cc
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo_curl0.gold
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo_nghttp0.gold
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo_plugin_log.gold
Labels: HTTP/2, TS API, Metrics, HTTP/3

#11020 Make Dir parameters const in all Stripe methods
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheVol.h
  src/iocore/cache/Stripe.cc
Labels: Cache, Cleanup

#11015 CMake: use --git-common-dir to find the git dir
  CMakeLists.txt
  tools/autopep8.sh
  tools/clang-format.sh
  tools/cmake-format.sh
  tools/yapf.sh
Labels: CMake, format

#11018 Cleanup: Rename key_to_vol
  doc/developer-guide/cache-architecture/architecture.en.rst
  doc/developer-guide/cache-architecture/cache-initialization.en.rst
  doc/developer-guide/cache-architecture/data-structures.en.rst
  src/iocore/cache/Cache.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheTest.cc
  src/iocore/cache/CacheWrite.cc
  src/iocore/cache/P_CacheInternal.h
Labels: Cache, Cleanup

#10997 Unify Dynamic Table implementation
  include/proxy/hdrs/XPACK.h
  include/proxy/http2/HPACK.h
  include/proxy/http3/QPACK.h
  src/proxy/hdrs/CMakeLists.txt
  src/proxy/hdrs/XPACK.cc
  src/proxy/hdrs/unit_tests/test_XPACK.cc
  src/proxy/http2/HPACK.cc
  src/proxy/http3/QPACK.cc
Labels: HTTP/2

#11021 Ensure connection retry attempts can reach the config specified value
  proxy/http/HttpTransact.cc
Labels: Parent Proxy
