Repository apache/trafficserver, pull requests merged in 2024-12, with the labels that each got.

#11878 Fix for CID-1523646. Invalid iterator.
  src/proxy/http2/test_HPACK.cc
Labels: Coverity

#11846 [9.2.x] Fix setting TLS groups with BoringSSL
  iocore/net/SSLUtils.cc
Labels: TLS

#11888 jsonrpc - Make sure we do not start the rpc server when ats runs on command mode.
  include/mgmt/rpc/server/IPCSocketServer.h
  src/mgmt/rpc/server/IPCSocketServer.cc
  src/traffic_server/traffic_server.cc
Labels: Bug, JSONRPC

#11894 Fix merge issue from PR #11857
  src/mgmt/rpc/server/IPCSocketServer.cc
Labels: Build

#11892 s3_auth does not retry after a file read error (#11864)
  doc/admin-guide/plugins/s3_auth.en.rst
  plugins/s3_auth/s3_auth.cc
Labels: s3_auth

#11899 Fix records length for log roll and normalize
  src/records/RecordsConfig.cc
Labels: Bug

#11895 Cleanup: Remove disk path copy from Stripe
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/Stripe.cc
  src/iocore/cache/Stripe.h
  src/iocore/cache/unit_tests/test_Stripe.cc
Labels: Cache, Cleanup

#11737 Decouple disk from stripe
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/Stripe.cc
  src/iocore/cache/Stripe.h
  src/iocore/cache/StripeSM.cc
  src/iocore/cache/StripeSM.h
Labels: Cache, Cleanup

#11904 Fix documentation - cookie remap is an experimental plugin
  doc/admin-guide/plugins/index.en.rst
Labels: Documentation

#11905 Add support for millisecond sleep in Lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua_misc.cc
Labels: Plugins, Lua

#11883 Record the amount of early data correctly
  src/iocore/net/SSLNetVConnection.cc
  src/proxy/http2/Http2CommonSession.cc
  tests/gold_tests/tls/test-0rtt-s_client.py
Labels: TLS, Bug

#11906 Do not touch fd from StripeSM::handle_dir_clear
  src/iocore/cache/StripeSM.cc
Labels: Cache

#11893 Add support to retrieve request header block to lua plugin
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua_client_request.cc
Labels: Plugins, Lua

#11885 Add better logging for origin_server_auth
  plugins/origin_server_auth/origin_server_auth.cc
Labels: Logging, origin_server_auth

#11845 Remove deprecated ld_classic linker flag
  CMakeLists.txt
Labels: Build

#11844 Add metrics for negotiated group with client
  src/iocore/net/SSLStats.cc
  src/iocore/net/SSLStats.h
  src/iocore/net/SSLUtils.cc
Labels: TLS, Metrics

#11847 escalate plugin: handle origin not reachable
  plugins/escalate/escalate.cc
  tests/gold_tests/pluginTest/escalate/escalate.test.py
  tests/gold_tests/pluginTest/escalate/escalate_failover.replay.yaml
  tests/gold_tests/pluginTest/escalate/escalate_original.replay.yaml
Labels: escalate, Redirect

#11909 Do not touch fd from StripeSM::handle_dir_clear (#11906)
  src/iocore/cache/Stripe.cc
Labels: Backport

#11910 Fix the boxes around rm-destination example
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation, header_rewrite

#11859 TransformTerminus::do_io_*: handle null buffer
  include/proxy/TransformInternal.h
  src/proxy/Transform.cc
Labels: Crash, Transform, multiplexer

#11915 Fix where we get the filename from
  plugins/origin_server_auth/origin_server_auth.cc
Labels: s3_auth, origin_server_auth

#11911 Make error if remap ACL has more than one @action
  src/proxy/http/remap/RemapConfig.cc
Labels: Configuration, remap_acl

#11913 Restore speed bucket metrics with more buckets
  include/proxy/http/HttpConfig.h
  include/proxy/http/HttpTransact.h
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpTransact.cc
Labels: Metrics

#11918 Note that some settings are unavailable with BoringSSL
  doc/admin-guide/files/records.yaml.en.rst
Labels: Documentation

#11914 Add better logging for origin_server_auth (#11885)
  plugins/s3_auth/s3_auth.cc
Labels: s3_auth, origin_server_auth

#11916 Remove some autotools leftovers
  README.md
Labels: Cleanup
