Repository apache/trafficserver, pull requests merged in 2024-09, with the labels that each got.

#11747 Add geoguard specific fields to maxmind anonymous blocking
  doc/admin-guide/plugins/maxmind_acl.en.rst
  plugins/experimental/maxmind_acl/mmdb.cc
  plugins/experimental/maxmind_acl/mmdb.h
Labels: Plugins, maxmind_acl

#11755 Adds some more checks around Python tooling for YAPF
  tools/yapf.sh
Labels: format

#11751 Cleanup of redundant HdrToken & WKS
  include/tsutil/Regex.h
  src/proxy/hdrs/HdrToken.cc
  src/tsutil/Regex.cc
Labels: Cleanup

#11757 Cleanup: Redundant definition of cache_bytes_used
  src/iocore/cache/Cache.cc
Labels: Cache, Cleanup

#11759 http2: use exponential backoff for restarting streams when going past watermark
  include/proxy/http2/Http2ConnectionState.h
  src/proxy/http2/Http2ConnectionState.cc
Labels: HTTP/2, Performance, Bug

#11567 Make the error handle deal with remap redirects
  include/cripts/Error.hpp
  src/cripts/Error.cc
Labels: Cripts

#11760 build tests for hostdb. Add new benchmark for hostdb
  src/iocore/hostdb/CMakeLists.txt
  src/iocore/hostdb/benchmark_HostDB.cc
  src/iocore/hostdb/test_HostFile.cc
  src/iocore/hostdb/test_I_HostDB.cc
  src/iocore/hostdb/test_P_HostDB.cc
  src/iocore/hostdb/test_RefCountCache.cc
Labels: Build, Tests, HostDB

#11766 ja3_fingerprint.test.py: address race condition
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint.test.py
Labels: AuTest, ja3_fingerprint

#11767 Fix sni.yaml link in records.config
  doc/admin-guide/files/records.yaml.en.rst
Labels: Documentation

#11764 hostdb: remove latency with cache misses
  src/iocore/hostdb/HostDB.cc
  src/iocore/hostdb/P_HostDBProcessor.h
Labels: HostDB

#11745 Cleanup: Remove server name stuff from NetVConnection
  include/iocore/net/NetVConnection.h
  include/iocore/net/TLSSNISupport.h
  src/api/InkAPI.cc
  src/iocore/net/CMakeLists.txt
  src/iocore/net/P_QUICNetVConnection.h
  src/iocore/net/P_SSLNetVConnection.h
  src/iocore/net/P_UnixNetVConnection.h
  src/iocore/net/QUICNetVConnection.cc
  src/iocore/net/unit_tests/test_Net.cc
  src/proxy/ProxySession.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpSessionManager.cc
  src/proxy/private/SSLProxySession.cc
Labels: Core, TLS, Cleanup

#11771 Fix libswoc compile with clang 20
  lib/swoc/include/swoc/DiscreteRange.h
  lib/swoc/include/swoc/Vectray.h
Labels: Build, libswoc

#11770 Only include TestBox.h if needed
  src/iocore/net/SSLCertLookup.cc
  src/proxy/logging/LogObject.cc
Labels: Build, Cleanup

#11769 Add USDTs for HTTP milestones and states
  include/proxy/Milestones.h
  include/proxy/logging/LogFilter.h
  src/proxy/http/HttpSM.cc
Labels: ATS Probe

#11774 quic: Enable quiche debug logging only if debug tag vv_quiche is set
  src/iocore/net/QUICNetProcessor.cc
Labels: Performance, QUIC

#11777 Add const to cripts formatter format functions
  include/cripts/Crypto.hpp
  include/cripts/Headers.hpp
  include/cripts/Lulu.hpp
  include/cripts/Time.hpp
  include/cripts/Urls.hpp
Labels: Build, Cripts

#11762 ja3_fingerprint: add --preserve option
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
  plugins/ja3_fingerprint/README
  plugins/ja3_fingerprint/ja3_fingerprint.cc
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint.test.py
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint_global.replay.yaml
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-incoming-proxy.gold
  tests/gold_tests/pluginTest/ja3_fingerprint/modify-sent-proxy.gold
Labels: ja3_fingerprint

#11775 http3: Remove an unnecessary copy
  include/proxy/http3/Http3Frame.h
  src/proxy/http3/Http3Frame.cc
  src/proxy/http3/test/test_Http3Frame.cc
Labels: Performance, HTTP/3

#11773 TS API: TSVConnSslSniGet sets 0 as length if it returns nullptr
  doc/developer-guide/api/functions/TSVConnSslSniGet.en.rst
  src/api/InkAPI.cc
Labels: TS API, Documentation

#11778 Reduce the number of calls for ERR_clear_error
  src/iocore/net/SSLNetVConnection.cc
Labels: TLS, Performance

#11744 Add TLSEventSupport
  include/iocore/net/NetVConnection.h
  include/iocore/net/TLSEventSupport.h
  include/iocore/net/TLSSNISupport.h
  src/api/InkAPI.cc
  src/iocore/net/CMakeLists.txt
  src/iocore/net/P_QUICNetVConnection.h
  src/iocore/net/P_SSLNetVConnection.h
  src/iocore/net/QUICNetVConnection.cc
  src/iocore/net/SSLClientUtils.cc
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSEventSupport.cc
  src/iocore/net/TLSSNISupport.cc
Labels: TLS

#11763 JSONRPC - Use dynamic and configurable buffer for incoming jsonrpc messages.
  doc/admin-guide/files/jsonrpc.yaml.en.rst
  include/mgmt/rpc/server/IPCSocketServer.h
  include/shared/rpc/MessageStorage.h
  src/mgmt/rpc/server/IPCSocketServer.cc
  src/mgmt/rpc/server/unit_tests/test_rpcserver.cc
  src/shared/rpc/IPCSocketClient.cc
Labels: Tools, JSONRPC

#11740 Tools & Test: Add autest to validate `traffic_ctl config` output and also add a new `--default` option.
  doc/appendices/command-line/traffic_ctl.en.rst
  src/traffic_ctl/CtrlCommands.cc
  src/traffic_ctl/CtrlCommands.h
  src/traffic_ctl/CtrlPrinters.cc
  src/traffic_ctl/CtrlPrinters.h
  src/traffic_ctl/traffic_ctl.cc
  tests/gold_tests/traffic_ctl/gold/describe.gold
  tests/gold_tests/traffic_ctl/gold/diff.gold
  tests/gold_tests/traffic_ctl/gold/diff_yaml.gold
  tests/gold_tests/traffic_ctl/gold/match.gold
  tests/gold_tests/traffic_ctl/gold/t1_yaml.gold
  tests/gold_tests/traffic_ctl/gold/t2_yaml.gold
  tests/gold_tests/traffic_ctl/gold/t3_yaml.gold
  tests/gold_tests/traffic_ctl/gold/t4_yaml.gold
  tests/gold_tests/traffic_ctl/traffic_ctl_config_output.test.py
Labels: Tools, AuTest, traffic_ctl

#11788 autest target: PYTHONPATH for remap_acl.test.py
  tests/CMakeLists.txt
Labels: AuTest, CMake

#11782 Cleanup: Remove leftovers from remote management logging initialization.
  include/proxy/logging/Log.h
  src/proxy/logging/Log.cc
  src/proxy/logging/unit-tests/benchmark_LogObject.cc
  src/traffic_logcat/logcat.cc
  src/traffic_logstats/logstats.cc
Labels: Logging, Cleanup

#11787 Add support for cert verification to QUIC
  include/iocore/net/TLSBasicSupport.h
  src/api/InkAPI.cc
  src/iocore/net/P_QUICNetVConnection.h
  src/iocore/net/P_SSLNetVConnection.h
  src/iocore/net/QUICNetVConnection.cc
  src/iocore/net/SSLClientUtils.cc
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/SSLUtils.cc
  src/iocore/net/TLSBasicSupport.cc
Labels: TLS, QUIC

#11790 Build unit tests for BRAVO
  include/tsutil/Bravo.h
  src/tsutil/CMakeLists.txt
  src/tsutil/unit_tests/test_Bravo.cc
Labels: Build, Tests, CMake

#11791 Move HttpAPIHooks from proxy to tsapibackend
  include/api/HttpAPIHooks.h
  include/api/InkAPIInternal.h
  src/api/CMakeLists.txt
  src/api/HttpAPIHooks.cc
  src/api/InkAPI.cc
  src/iocore/cache/CMakeLists.txt
  src/iocore/cache/HttpTransactCache.cc
  src/iocore/cache/unit_tests/main.cc
  src/iocore/cache/unit_tests/stub.cc
  src/proxy/CMakeLists.txt
Labels: Cleanup

#11785 header_rewrite: Fix condition parser
  plugins/header_rewrite/condition.cc
  plugins/header_rewrite/header_rewrite_test.cc
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/parser.cc
  plugins/header_rewrite/ruleset.cc
Labels: Plugins, Bug, header_rewrite
