Repository apache/trafficserver, pull requests merged in 2025-03, with the labels that each got.

#12059 Cleanup: Make Cache functions const
  src/iocore/cache/Cache.cc
  src/iocore/cache/P_CacheInternal.h
Labels: Cache, Cleanup

#12062 Fix `tools/benchmark` code/build.
  tools/benchmark/CMakeLists.txt
  tools/benchmark/benchmark_SharedMutex.cc
Labels: Tools, Tests

#12037 Coverity: Avoid order initalization issue - part 2.
  lib/swoc/include/swoc/bwf_base.h
  lib/swoc/src/bw_format.cc
Labels: Coverity, libswoc

#12065 Fix memory leak in ink_event_system_init
  src/iocore/eventsystem/EventSystem.cc
Labels: Bug

#12063 Clarifies that parent.config is to be replaced with strategies
  doc/admin-guide/files/index.en.rst
Labels: Documentation

#12068 Extend timeout from 5 to 10 in tunnel_transform test
  tests/gold_tests/tunnel/tunnel_transform.test.py
Labels: Tests, AuTest

#12027 Deprecate name_get() and value_get() function returns const char * (#10153)
  include/proxy/hdrs/MIME.h
  include/proxy/http2/HPACK.h
  src/api/InkAPI.cc
  src/iocore/cache/HttpTransactCache.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_S.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_S.cc
  src/iocore/cache/unit_tests/test_Update_header.cc
  src/proxy/hdrs/HTTP.cc
  src/proxy/hdrs/HeaderValidator.cc
  src/proxy/hdrs/MIME.cc
  src/proxy/hdrs/VersionConverter.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/unit_tests/test_HttpTransact.cc
  src/proxy/http2/HPACK.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/proxy/http2/Http2Stream.cc
  src/proxy/http2/test_HPACK.cc
  src/proxy/http2/unit_tests/test_HpackIndexingTable.cc
  src/proxy/http3/QPACK.cc
  src/proxy/http3/test/test_QPACK.cc
  src/proxy/logging/LogAccess.cc
  src/proxy/logging/LogUtils.cc
  src/proxy/logging/unit-tests/test_LogUtils.h
Labels: Cleanup

#11975 [compress] Add range request control option
  doc/admin-guide/plugins/compress.en.rst
  plugins/compress/compress.cc
  plugins/compress/configuration.cc
  plugins/compress/configuration.h
  tests/gold_tests/pluginTest/compress/compress-range.test.py
  tests/gold_tests/pluginTest/compress/etc/cache-true-ignore-range.config
  tests/gold_tests/pluginTest/compress/etc/cache-true-no-compression.config
  tests/gold_tests/pluginTest/compress/replay/compress-and-range.replay.yaml
Labels: compress

#12061 Cleanup - remove a few unused files.
  src/proxy/http/TestUrl.cc
  src/proxy/http/test_socket_close.cc
  src/proxy/http/testheaders.cc
  src/records/test_I_RecLocal.cc
  src/records/test_I_RecProcess.cc
  src/records/test_P_RecProcess.cc
  src/records/test_RecProcess.i
Labels: Cleanup

#12073 Fix format error on the changelog file
  CHANGELOG-10.0.3
Labels: format

#12077 Fix intercept plugin ignoring ACL
  proxy/http/HttpTransact.cc
Labels: Plugins, access_control

#12079 ACL combination tests for 9.2.x
  tests/Pipfile
  tests/autest.sh
  tests/gold_tests/remap/all_acl_combinations.py
  tests/gold_tests/remap/base.replay.yaml
  tests/gold_tests/remap/deactivate_ip_allow.py
  tests/gold_tests/remap/named_filter_combinations.py
  tests/gold_tests/remap/remap_acl.test.py
Labels: Tests, AuTest

#12075 Fix send 100 Continue optimization for GET
  proxy/hdrs/HTTP.h
  proxy/http/HttpSM.cc
  proxy/http/HttpTransact.cc
  tests/gold_tests/post/expect_client.py
  tests/gold_tests/post/expect_tests.test.py
  tests/gold_tests/post/http_utils.py
  tests/gold_tests/post/replay/expect-continue.replay.yaml
Labels: HTTP

#12071 Fix chunked pipelined requests
  proxy/ProxyTransaction.cc
  proxy/ProxyTransaction.h
  proxy/http/HttpSM.cc
  proxy/http/HttpSM.h
  proxy/http/HttpTunnel.cc
  proxy/http/HttpTunnel.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
  src/traffic_server/FetchSM.cc
  tests/gold_tests/pipeline/pipeline.test.py
  tests/gold_tests/pipeline/pipeline_client.py
  tests/gold_tests/pipeline/pipeline_server.py
  tests/gold_tests/redirect/redirect_post.test.py
  tests/gold_tests/timeout/inactive_client_timeout.test.py
  tests/gold_tests/timeout/slow_server.yaml
Labels: HTTP

#12078 Fix legacy acl
  src/proxy/http/remap/UrlRewrite.cc
  tests/gold_tests/remap/all_acl_combinations.py
  tests/gold_tests/remap/deactivate_ip_allow.py
  tests/gold_tests/remap/remap_acl.test.py
Labels: AuTest

#12070 Fix chunked pipelined requests
  include/proxy/http/HttpSM.h
  include/proxy/http/HttpTunnel.h
  src/proxy/FetchSM.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTunnel.cc
  tests/gold_tests/h2/replay_h2origin/h1-client-h2-origin.yaml
  tests/gold_tests/pipeline/pipeline.test.py
  tests/gold_tests/pipeline/pipeline_client.py
  tests/gold_tests/pipeline/pipeline_server.py
  tests/gold_tests/redirect/redirect_post.test.py
  tests/gold_tests/timeout/inactive_client_timeout.test.py
  tests/gold_tests/timeout/slow_server.yaml
Labels: HTTP

#12072 Fix send 100 Continue optimization for GET
  include/proxy/hdrs/HTTP.h
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/post/expect_client.py
  tests/gold_tests/post/expect_tests.test.py
  tests/gold_tests/post/http_utils.py
  tests/gold_tests/post/replay/expect-continue.replay.yaml
Labels: HTTP

#12080 Fix chunked pipelined requests
  include/proxy/http/HttpSM.h
  include/proxy/http/HttpTunnel.h
  src/proxy/FetchSM.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTunnel.cc
  tests/gold_tests/h2/replay_h2origin/h1-client-h2-origin.yaml
  tests/gold_tests/pipeline/pipeline.test.py
  tests/gold_tests/pipeline/pipeline_client.py
  tests/gold_tests/pipeline/pipeline_server.py
  tests/gold_tests/redirect/redirect_post.test.py
  tests/gold_tests/timeout/inactive_client_timeout.test.py
  tests/gold_tests/timeout/slow_server.yaml
Labels: HTTP

#12081 Fix send 100 Continue optimization for GET
  include/proxy/hdrs/HTTP.h
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/post/expect_client.py
  tests/gold_tests/post/expect_tests.test.py
  tests/gold_tests/post/http_utils.py
  tests/gold_tests/post/replay/expect-continue.replay.yaml
Labels: HTTP

#12058 Export MPTCP CMAKE var to header files
  include/tscore/ink_config.h.cmake.in
  src/iocore/net/P_UnixNetVConnection.h
  src/records/RecHttp.cc
Labels: Network, CMake

#12084 [cachekey] Cleanup debug log
  plugins/cachekey/common.h
Labels: Debug, cachekey

#12089 Bump version to 10.2.0
  CMakeLists.txt
Labels: Build

#12067 Use ip command as a fallback in redirect_actions test
  tests/gold_tests/redirect/redirect_actions.test.py
Labels: AuTest

#12086 cppcheck - Fix some some errors and warnings.
  example/plugins/c-api/client_context_dump/client_context_dump.cc
  plugins/compress/misc.cc
  plugins/experimental/cert_reporting_tool/cert_reporting_tool.cc
Labels: CPPCheck

#12055 Add mark_bulk() method to lib/swoc to rebuild the RBTree in one operation
  lib/swoc/CMakeLists.txt
  lib/swoc/include/swoc/DiscreteRange.h
  lib/swoc/include/swoc/IPRange.h
  lib/swoc/include/swoc/RBTree.h
  lib/swoc/src/RBTree.cc
  lib/swoc/unit_tests/test_ip.cc
Labels: libswoc

#12083 Some cleanup for header_rewrite docs
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation, header_rewrite

#12093 Fix up logging for write-fail-5/collapsed-forwarding (#12050)
  proxy/logging/LogAccess.cc
Labels: Logging

#12095 Fix a few places where inet_ntop could fail
  plugins/experimental/wasm/ats_context.cc
  plugins/lua/ts_lua_client_request.cc
  plugins/lua/ts_lua_http.cc
  plugins/lua/ts_lua_server_request.cc
Labels: Cleanup

#12085 Move defaulting install prefix before layout setup
  CMakeLists.txt
Labels: CMake

#12097 libswoc version update: 1.5.14
  lib/swoc/CMakeLists.txt
  lib/swoc/include/swoc/swoc_version.h
Labels: libswoc

#12087 [9.2.x] Backport: Fix ordering Via response header values (#9239)
  proxy/http/HttpTransact.cc
  proxy/http/HttpTransact.h
  proxy/http/HttpTransactHeaders.cc
Labels: Backport

#12098 Error::Status can now take optional reason
  doc/developer-guide/cripts/cripts-misc.en.rst
  include/cripts/Context.hpp
  include/cripts/Error.hpp
  src/cripts/Error.cc
Labels: Cripts

#12103 11-Dev: SSLUtils.cc address unused ctx parameter
  src/iocore/net/SSLUtils.cc
Labels: Build, SSL

#12101 Tools: records 2 yaml script fix.
  tools/records/convert2yaml.py
Labels: Tools, YAML, Records

#12096 Slice plugin support UDS path
  plugins/slice/slice.cc
  src/api/InkAPI.cc
Labels: Plugins, slice

#12110 Add server_cipher_suite to sni.yaml
  doc/admin-guide/files/sni.yaml.en.rst
  include/iocore/net/TLSBasicSupport.h
  include/iocore/net/YamlSNIConfig.h
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
  src/iocore/net/TLSBasicSupport.cc
  src/iocore/net/YamlSNIConfig.cc
  tests/gold_tests/tls/tls_client_versions_minmax.test.py
Labels: Configuration, TLS, Documentation, New Feature

#12109 Fix typo on header_rewrite documentation
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation

#12115 Fix logging for origin_server_auth
  plugins/origin_server_auth/origin_server_auth.cc
  tests/gold_tests/pluginTest/origin_server_auth/origin_server_auth.test.py
  tests/gold_tests/pluginTest/origin_server_auth/rules/gcp-parse-test.test_input
Labels: origin_server_auth

#12108 Add nullptr check in HttpTransact::is_stale_cache_response_returnable
  src/proxy/http/HttpTransact.cc
Labels: Crash

#12104 Add proxy.process.http.total_client_connections_uds
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  include/proxy/http/HttpConfig.h
  src/proxy/http/Http1ClientSession.cc
  src/proxy/http/HttpConfig.cc
Labels: Metrics

#12107 Fix hii log field for UDS
  include/tscore/ink_inet.h
  src/proxy/logging/LogAccess.cc
Labels: Logging

#12132 Doc updates to prepare for Sphinx 8
  doc/admin-guide/plugins/txn_box/dev/dev-guide.en.rst
  doc/admin-guide/plugins/txn_box/misc.en.rst
  doc/developer-guide/cache-architecture/architecture.en.rst
Labels: Documentation

#12127 Fix cache initialization
  src/iocore/cache/PreservationTable.cc
  src/iocore/cache/PreservationTable.h
  src/iocore/cache/StripeSM.cc
Labels: Cache, Crash, Bug

#12130 Cleanup debug log of plugins
  plugins/compress/debug_macros.h
  plugins/experimental/uri_signing/common.h
  plugins/slice/slice.h
Labels: Cleanup, compress, slice, uri_signing

#12118 Cleanup rc/trafficserver to use layout
  cmake/layout.cmake
  rc/CMakeLists.txt
Labels: Build, Cleanup

#12133 Sphinx 8.x and sphinx-rtd-theme 3.x
  doc/Pipfile
  doc/conf.cmake.in.py
  doc/conf.py
Labels: Documentation

#12136 tools/build_boringssl_h3_tools.sh tweaks
  tools/build_boringssl_h3_tools.sh
Labels: Tools

#12128 Fix check for tcp_info struct
  CMakeLists.txt
  include/cripts/Connections.hpp
  plugins/header_rewrite/conditions.cc
  src/cripts/Connections.cc
Labels: Build, CMake

#12026 Static link opentelemetry-cpp libraries to otel_tracer plugin
  cmake/Findopentelemetry.cmake
  doc/admin-guide/plugins/otel_tracer.en.rst
  plugins/experimental/otel_tracer/CMakeLists.txt
Labels: Build, otel_tracer

#12138 Stabilize autest tls_sni_with_port
  tests/gold_tests/tls/tls_sni_with_port.test.py
Labels: AuTest

#12092 slice/cache_range_requests plugin: avoid subsequent slice IMS requests
  doc/admin-guide/plugins/cache_range_requests.en.rst
  doc/admin-guide/plugins/slice.en.rst
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/header_rewrite/parser.cc
  plugins/slice/Config.cc
  plugins/slice/Config.h
  plugins/slice/slice.cc
  plugins/slice/util.cc
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_ident.test.py
  tests/gold_tests/pluginTest/slice/gold/slice_crr_ident.gold
  tests/gold_tests/pluginTest/slice/gold/slice_ident.gold
  tests/gold_tests/pluginTest/slice/slice_crr_ident.test.py
  tests/gold_tests/pluginTest/slice/slice_ident.test.py
  tests/gold_tests/pluginTest/slice/slice_selfhealing.test.py
Labels: Plugins, cache_range_requests, slice

#12141 Fix a bug that PPv2 parser fails to read TLV
  src/iocore/net/ProxyProtocol.cc
  src/iocore/net/unit_tests/test_ProxyProtocol.cc
Labels: Bug, PROXY Protocol

#12139 Add some debug logs to proxy protoocl parser
  src/iocore/net/ProxyProtocol.cc
Labels: Debug, PROXY Protocol
