Repository apache/trafficserver, pull requests merged in 2025-08, with the labels that each got.

#12411 Update what's new page for 10.1
  doc/admin-guide/monitoring/statistics/core/http-connection.en.rst
  doc/release-notes/whats-new.en.rst
Labels: Documentation

#12413 RecordsConfig.cc: Ensure RechCheckT/regex consistency
  include/records/RecDefs.h
  include/records/RecordsConfig.h
  src/records/RecUtils.cc
  src/records/RecordsConfig.cc
Labels: Build, Configuration

#12406 stats_over_http: Add HINT and TYPE Prometheus annotations
  plugins/stats_over_http/stats_over_http.cc
  tests/gold_tests/pluginTest/stats_over_http/stats_over_http.test.py
Labels: stats_over_http

#12423 Update README.md - Fix rocky 9 badge
  README.md
Labels: Documentation

#12419 10.1.x: proxy.config.ssl.session_cache.mode (#12414)
  doc/admin-guide/files/records.yaml.en.rst
  doc/admin-guide/performance/index.en.rst
  doc/admin-guide/tools/converting-records-to-yaml.en.rst
  doc/developer-guide/api/functions/TSSslSession.en.rst
  doc/developer-guide/plugins/hooks-and-transactions/ssl-session-api.en.rst
  doc/release-notes/upgrading.en.rst
  include/records/RecDefs.h
  src/iocore/net/SSLConfig.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/pluginTest/stek_share/stek_share.test.py
  tests/gold_tests/records/gold/full_records.yaml
  tests/gold_tests/records/gold/renamed_records.gold
  tests/gold_tests/records/gold/renamed_records.yaml
  tests/gold_tests/tls/tls_0rtt_server.test.py
  tests/gold_tests/tls/tls_origin_session_reuse.test.py
  tests/gold_tests/tls/tls_session_reuse.test.py
  tools/records/convert2yaml.py
Labels: Configuration, TLS, Backport

#12425 AuTest: cache after following redirect
  tests/gold_tests/redirect/redirect_to_same_origin_on_cache.test.py
  tests/gold_tests/redirect/replay/redirect_to_same_origin_on_cache.replay.yaml
Labels: AuTest, Redirect

#12391 Add range request support to cache fill + global plugin support
  doc/admin-guide/plugins/cache_fill.en.rst
  plugins/experimental/cache_fill/background_fetch.cc
  plugins/experimental/cache_fill/background_fetch.h
  plugins/experimental/cache_fill/cache_fill.cc
  plugins/experimental/cache_fill/configs.cc
  plugins/experimental/cache_fill/configs.h
  tests/gold_tests/pluginTest/cache_fill/cache_fill.test.py
Labels: Plugins, cache_fill

#12435 XDebug Probe missing comma prevents valid json
  plugins/xdebug/xdebug_transforms.cc
  tests/gold_tests/pluginTest/xdebug/x_remap/out.gold
Labels: Plugins

#12427 test_SnowflakeID: Avoid sequence number continuation
  src/tscore/unit_tests/test_SnowflakeID.cc
Labels: Tests, Bug

#12424 Cursor Rules File for autests
  .cursor/rules/writing-autests.mdc
Labels: Tools

#12429 Add log messages about QUIC cert loading for consistency
  src/iocore/net/QUICMultiCertConfigLoader.cc
  src/iocore/net/SSLConfig.cc
Labels: QUIC

#12403 hrw4u: Wrong validator for status reason
  tools/hrw4u/src/symbols.py
  tools/hrw4u/src/validation.py
Labels: hrw4u

#12454 These two plugins depends on libswoc
  plugins/origin_server_auth/CMakeLists.txt
  plugins/slice/CMakeLists.txt
Labels: Plugins

#12377 Cripts: Refactor the cache key / URL APIs
  doc/developer-guide/cripts/cripts-convenience.en.rst
  doc/developer-guide/cripts/cripts-headers.en.rst
  doc/developer-guide/cripts/cripts-misc.en.rst
  example/cripts/example1.cc
  example/cripts/example2.cc
  include/cripts/Context.hpp
  include/cripts/Epilogue.hpp
  include/cripts/Headers.hpp
  include/cripts/Instance.hpp
  include/cripts/Lulu.hpp
  include/cripts/Matcher.hpp
  include/cripts/Preamble.hpp
  include/cripts/Time.hpp
  include/cripts/Transaction.hpp
  include/cripts/Urls.hpp
  src/cripts/Bundles/LogsMetrics.cc
  src/cripts/Context.cc
  src/cripts/Headers.cc
  src/cripts/Urls.cc
Labels: Cripts

#12447 escalate: Add x-escalate-redirect header (#1092)
  doc/admin-guide/plugins/escalate.en.rst
  plugins/escalate/escalate.cc
  tests/gold_tests/pluginTest/escalate/escalate.test.py
Labels: New Feature, escalate

#12459 ESI: --allowed-response-codes
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  tests/gold_tests/pluginTest/esi/esi.test.py
Labels: esi

#12446 Retry connect if server closes before receiving response
  src/proxy/http/HttpSM.cc
Labels: Regression

#12408 slice plugin: simplify self healing by switching to ident header
  doc/admin-guide/plugins/cache_range_requests.en.rst
  doc/admin-guide/plugins/slice.en.rst
  plugins/cache_range_requests/cache_range_requests.cc
  plugins/slice/Config.cc
  plugins/slice/Config.h
  plugins/slice/Data.h
  plugins/slice/server.cc
  plugins/slice/util.cc
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_cache_complete_responses.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_ident.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_ims.test.py
  tests/gold_tests/pluginTest/slice/gold/slice_crr_ident.gold
  tests/gold_tests/pluginTest/slice/gold/slice_ident.gold
  tests/gold_tests/pluginTest/slice/slice_ident.test.py
  tests/gold_tests/pluginTest/slice/slice_selfhealing.test.py
Labels: Plugins, cache_range_requests, slice

#12461 xdebug probe: fix empty value handling
  plugins/xdebug/xdebug_headers.cc
  tests/gold_tests/pluginTest/xdebug/x_probe/x_probe.replay.yaml
  tests/gold_tests/pluginTest/xdebug/x_probe/x_probe.test.py
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/x_probe_full_json.replay.yaml
Labels: xdebug

#12462 Cripts: Fix standalone query URI component
  include/cripts/Urls.hpp
  src/cripts/Urls.cc
Labels: Cripts

#12466 Comment out the matcher header_rewrite test
  plugins/header_rewrite/CMakeLists.txt
Labels: Build

#12457 [cache_promote] Add --disable-on-redirect option
  doc/admin-guide/plugins/cache_promote.en.rst
  plugins/cache_promote/cache_promote.cc
  plugins/cache_promote/configs.cc
  plugins/cache_promote/configs.h
  tests/gold_tests/pluginTest/cache_promote/cache_promote.test.py
  tests/gold_tests/pluginTest/cache_promote/replay/cache_promote.replay.yaml.tmpl
Labels: cache_promote

#12468 [Doc] additional delays with linux defer_accept
  doc/admin-guide/files/records.yaml.en.rst
Labels: Documentation

#12452 Print note when listen is delayed
  src/traffic_server/traffic_server.cc
Labels: Logging

#12472 Fix validation regex for proxy.config.http2.default_buffer_water_mark
  src/records/RecordsConfig.cc
Labels: Configuration
