Repository apache/trafficserver, pull requests merged in 2025-10, with the labels that each got.

#12537 Fix traffic_ctl server AuTest
  tests/gold_tests/traffic_ctl/traffic_ctl_server_output.test.py
Labels: AuTest

#12531 Fixes sni.yaml-configured initial window sizing
  src/proxy/http2/Http2ConnectionState.cc
Labels: Bug

#12526 Warn if existing remap shadows inserted remap
  include/proxy/hdrs/URL.h
  src/proxy/hdrs/URL.cc
  src/proxy/http/remap/UrlMappingPathIndex.cc
Labels: Remap

#12541 autest: tighten config_update_interval_ms
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/cache/cache-generation-clear.test.py
  tests/gold_tests/cache/cache-generation-disjoint.test.py
  tests/gold_tests/cache/disjoint-wait-for-cache.test.py
  tests/gold_tests/tls/ssl_key_dialog.test.py
  tests/gold_tests/traffic_ctl/gold/diff.gold
  tests/gold_tests/traffic_ctl/gold/diff_yaml.gold
  tests/gold_tests/traffic_ctl/traffic_ctl_server_output.test.py
Labels: AuTest

#12535 Cleanup: remove unused static variable
  src/api/InkAPI.cc
Labels: Cleanup

#12532 Check valid ts in curl command
  tests/gold_tests/autest-site/curl.test.ext
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/x_probe_full_json.test.py
Labels: AuTest

#12536 HRW: Bug where after an elif an else may be required
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/parser.cc
Labels: header_rewrite

#12540 remap_acl speedup via config reload
  tests/gold_tests/remap/remap_acl.test.py
Labels: AuTest, Remap

#12484 prscs: proxy response status code setter
  doc/admin-guide/logging/formatting.en.rst
  doc/developer-guide/api/functions/TSHttpHdrStatusSet.en.rst
  doc/developer-guide/api/functions/TSHttpTxnStatusSet.en.rst
  example/plugins/c-api/basic_auth/basic_auth.cc
  example/plugins/c-api/denylist_0/denylist_0.cc
  example/plugins/c-api/denylist_1/denylist_1.cc
  example/plugins/c-api/redirect_1/redirect_1.cc
  example/plugins/c-api/remap/remap.cc
  example/plugins/c-api/secure_link/secure_link.cc
  include/proxy/http/HttpTransact.h
  include/proxy/logging/LogAccess.h
  include/ts/ts.h
  plugins/authproxy/authproxy.cc
  plugins/experimental/access_control/plugin.cc
  plugins/experimental/cookie_remap/cookie_remap.cc
  plugins/experimental/geoip_acl/geoip_acl.cc
  plugins/experimental/http_stats/http_stats.cc
  plugins/experimental/icap/icap_plugin.cc
  plugins/experimental/maxmind_acl/maxmind_acl.cc
  plugins/experimental/mp4/mp4.cc
  plugins/experimental/rate_limit/rate_limit.cc
  plugins/experimental/rate_limit/txn_limiter.cc
  plugins/experimental/tls_bridge/tls_bridge.cc
  plugins/experimental/txn_box/plugin/src/ts_util.cc
  plugins/experimental/uri_signing/uri_signing.cc
  plugins/experimental/url_sig/url_sig.cc
  plugins/experimental/wasm/ats_context.cc
  plugins/header_rewrite/operators.cc
  plugins/lua/ts_lua_client_response.cc
  plugins/lua/ts_lua_http.cc
  plugins/lua/ts_lua_server_response.cc
  plugins/origin_server_auth/origin_server_auth.cc
  plugins/prefetch/plugin.cc
  plugins/regex_remap/regex_remap.cc
  plugins/remap_purge/remap_purge.cc
  plugins/statichit/statichit.cc
  plugins/stats_over_http/stats_over_http.cc
  src/api/InkAPI.cc
  src/cripts/Error.cc
  src/cripts/Headers.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/logging/Log.cc
  src/proxy/logging/LogAccess.cc
  src/tscpp/api/Transaction.cc
  tests/gold_tests/ip_allow/gold/log.gold
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-502.gold
  tests/gold_tests/pluginTest/header_rewrite/gold/plugin-status-test.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule.conf
  tests/gold_tests/pluginTest/polite_hook_wait/polite_hook_wait.cc
  tests/tools/plugins/custom204plugin.cc
  tests/tools/plugins/user_args.cc
Labels: Logging, TS API
