Repository apache/trafficserver, pull requests merged in 2025-06, with the labels that each got.

#12266 Remove unused function from OpenDirEntry
  src/iocore/cache/CacheDir.cc
  src/iocore/cache/P_CacheDir.h
Labels: Cache, Cleanup

#12264 Fix narrowing conversion of connection ID
  include/proxy/http/HttpSM.h
  include/proxy/http/HttpUserAgent.h
Labels: Logging, Bug, HttpSM

#12267 Include records.yaml line and column in the logs when error is found.
  include/records/RecYAMLDefs.h
  src/records/RecYAMLDecoder.cc
Labels: YAML, Records

#12272 Cleanup: Track HttpCacheSM read retry event (#12193)
  include/proxy/http/HttpCacheSM.h
  src/api/InkAPITest.cc
  src/proxy/http/HttpCacheSM.cc
  src/proxy/http/HttpSM.cc
Labels: Backport

#12241 Serve stale contents until max-age + max_stale_age
  doc/admin-guide/files/records.yaml.en.rst
  src/proxy/http/HttpTransact.cc
  tests/gold_tests/cache/replay/negative-revalidating-enabled.replay.yaml
  tests/gold_tests/cache/replay/negative-revalidating-list.replay.yaml
  tests/gold_tests/proxy_protocol/proxy_serve_stale_dns_fail.test.py
  tests/gold_tests/proxy_protocol/replay/proxy_serve_stale.replay.yaml
Labels: Cache, Configuration

#12274 healthchecks: fix event matching for directory events
  plugins/healthchecks/healthchecks.cc
  tests/gold_tests/pluginTest/healthchecks/acme
  tests/gold_tests/pluginTest/healthchecks/acme-ssl
  tests/gold_tests/pluginTest/healthchecks/healthchecks.test.py
Labels: Bug, healthchecks

#12256 HRW: Allow sets to have quoted strings
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/parser.cc
  plugins/header_rewrite/parser.h
  tests/gold_tests/pluginTest/header_rewrite/gold/ext-sets.gold
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-client.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_url.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_client.conf
Labels: header_rewrite

#12296 Add max inclusion support to esi plugin for 9.2.x
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  tests/gold_tests/pluginTest/esi/esi_nested_include.test.py
  tests/gold_tests/pluginTest/esi/gold/nested_include_body.gold
Labels: Plugins, esi

#12294 Add a setting to choose the data source of IP address for ACL
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_SNIActionPerformer.h
  iocore/net/libinknet_stub.cc
  mgmt/RecordsConfig.cc
  proxy/IPAllow.cc
  proxy/IPAllow.h
  proxy/http/HttpSessionAccept.cc
  proxy/http/remap/UrlRewrite.cc
  proxy/http2/Http2SessionAccept.cc
  tests/gold_tests/autest-site/trafficserver.test.ext
  tests/gold_tests/remap/remap_acl.test.py
  tests/gold_tests/remap/remap_acl_get_post_allowed_pp.replay.yaml
Labels: PROXY Protocol

#12289 Docs: add doc build folders to gitignore
  .gitignore
Labels: Documentation

#12301 autest updates for recent curl and nghttp2 versions (#12165)
  tests/gold_tests/chunked_encoding/chunked_encoding_h2.test.py
  tests/gold_tests/connect/connect.test.py
  tests/gold_tests/connect/gold/connect_0_stderr.gold
  tests/gold_tests/pluginTest/compress/compress.test.py
  tests/gold_tests/pluginTest/compress/greplog.sh
  tests/gold_tests/pluginTest/polite_hook_wait/polite_hook_wait.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo_nghttp0.gold
  tests/gold_tests/redirect/number_of_redirects.test.py
Labels: AuTest

#12288 Docs: Clarify URL Parts
  doc/admin-guide/plugins/header_rewrite.en.rst
Labels: Documentation, header_rewrite

#12281 Cleanup: Move serve_stale autests under cache
  tests/gold_tests/cache/gold/serve_stale_dns_fail.gold
  tests/gold_tests/cache/proxy_serve_stale.test.py
  tests/gold_tests/cache/proxy_serve_stale_dns_fail.test.py
  tests/gold_tests/cache/replay/proxy_serve_stale.replay.yaml
Labels: Cleanup, AuTest

#12293 Add a setting to choose the data source of IP address for ACL
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.yaml.en.rst
  include/proxy/IPAllow.h
  src/iocore/net/SNIActionPerformer.cc
  src/proxy/IPAllow.cc
  src/proxy/http/HttpSessionAccept.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http2/Http2SessionAccept.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/ip_allow/replays/http_proxy_protocol.replay.yaml
  tests/gold_tests/remap/remap_acl.test.py
  tests/gold_tests/remap/remap_acl_get_post_allowed_pp.replay.yaml
  tests/gold_tests/tls/replay/ip_allow_proxy.replay.yaml
  tests/gold_tests/tls/tls_sni_ip_allow.test.py
Labels: PROXY Protocol

#12295 Add max inclusion depth support to esi plugin
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  tests/gold_tests/pluginTest/esi/esi_nested_include.test.py
  tests/gold_tests/pluginTest/esi/gold/nested_include_body.gold
Labels: Plugins, esi

#12298 Add a setting to choose the data source of IP address for ACL
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.yaml.en.rst
  include/proxy/IPAllow.h
  src/iocore/net/SNIActionPerformer.cc
  src/proxy/IPAllow.cc
  src/proxy/http/HttpSessionAccept.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http2/Http2SessionAccept.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/ip_allow/replays/http_proxy_protocol.replay.yaml
  tests/gold_tests/remap/remap_acl.test.py
  tests/gold_tests/remap/remap_acl_get_post_allowed_pp.replay.yaml
  tests/gold_tests/tls/replay/ip_allow_proxy.replay.yaml
  tests/gold_tests/tls/tls_sni_ip_allow.test.py
Labels: PROXY Protocol

#12299 Add max inclusion depth support for esi plugin 10.0.x
  doc/admin-guide/plugins/esi.en.rst
  plugins/esi/esi.cc
  tests/gold_tests/pluginTest/esi/esi_nested_include.test.py
  tests/gold_tests/pluginTest/esi/gold/nested_include_body.gold
Labels: Plugins, esi

#12287 HRW4U: Allow repeated sections within a section
  tools/hrw4u/grammar/hrw4u.g4
  tools/hrw4u/src/visitor.py
  tools/hrw4u/tests/data/conds/access.ast.txt
  tools/hrw4u/tests/data/conds/cache.ast.txt
  tools/hrw4u/tests/data/conds/capture.ast.txt
  tools/hrw4u/tests/data/conds/cidr.ast.txt
  tools/hrw4u/tests/data/conds/cookie.ast.txt
  tools/hrw4u/tests/data/conds/from-url.ast.txt
  tools/hrw4u/tests/data/conds/geo.ast.txt
  tools/hrw4u/tests/data/conds/http-cntl.ast.txt
  tools/hrw4u/tests/data/conds/inbound.ast.txt
  tools/hrw4u/tests/data/conds/internal.ast.txt
  tools/hrw4u/tests/data/conds/ip.ast.txt
  tools/hrw4u/tests/data/conds/method.ast.txt
  tools/hrw4u/tests/data/conds/multi-if.ast.txt
  tools/hrw4u/tests/data/conds/multi-if.input.txt
  tools/hrw4u/tests/data/conds/multi-if.output.txt
  tools/hrw4u/tests/data/conds/now.ast.txt
  tools/hrw4u/tests/data/conds/outbound.ast.txt
  tools/hrw4u/tests/data/conds/split-if.ast.txt
  tools/hrw4u/tests/data/conds/split-if.input.txt
  tools/hrw4u/tests/data/conds/split-if.output.txt
  tools/hrw4u/tests/data/conds/to-url.ast.txt
  tools/hrw4u/tests/data/conds/true_false.ast.txt
  tools/hrw4u/tests/data/conds/txn-count.ast.txt
  tools/hrw4u/tests/data/examples/add-cc-path.ast.txt
  tools/hrw4u/tests/data/examples/conn-drain.ast.txt
  tools/hrw4u/tests/data/examples/dbg-req.ast.txt
  tools/hrw4u/tests/data/examples/hdr-exists.ast.txt
  tools/hrw4u/tests/data/examples/hsts.ast.txt
  tools/hrw4u/tests/data/examples/int-header.ast.txt
  tools/hrw4u/tests/data/examples/meth-resp-hdr.ast.txt
  tools/hrw4u/tests/data/examples/norm_status.ast.txt
  tools/hrw4u/tests/data/examples/path-ext.ast.txt
  tools/hrw4u/tests/data/examples/rem_org_auth.ast.txt
  tools/hrw4u/tests/data/examples/rm-cc-out.ast.txt
  tools/hrw4u/tests/data/examples/rm-int-hdr.ast.txt
  tools/hrw4u/tests/data/examples/rm-query.ast.txt
  tools/hrw4u/tests/data/examples/run-plugin.ast.txt
  tools/hrw4u/tests/data/examples/teapots.ast.txt
  tools/hrw4u/tests/data/examples/useless.ast.txt
  tools/hrw4u/tests/data/examples/uuid.ast.txt
  tools/hrw4u/tests/data/examples/x-debug.ast.txt
  tools/hrw4u/tests/data/hooks/read_response.ast.txt
  tools/hrw4u/tests/data/hooks/remap.ast.txt
  tools/hrw4u/tests/data/hooks/send_request.ast.txt
  tools/hrw4u/tests/data/hooks/send_response.ast.txt
  tools/hrw4u/tests/data/ops/dscp.ast.txt
  tools/hrw4u/tests/data/ops/expansion.ast.txt
  tools/hrw4u/tests/data/ops/no-op.ast.txt
  tools/hrw4u/tests/data/ops/redirect.ast.txt
  tools/hrw4u/tests/data/ops/set-body.ast.txt
  tools/hrw4u/tests/data/ops/set-conf.ast.txt
  tools/hrw4u/tests/data/ops/skip-remap.ast.txt
  tools/hrw4u/tests/data/ops/status.ast.txt
  tools/hrw4u/tests/data/vars/assign.ast.txt
  tools/hrw4u/tests/data/vars/bool.ast.txt
  tools/hrw4u/tests/data/vars/int16.ast.txt
  tools/hrw4u/tests/data/vars/int8.ast.txt
Labels: New Feature, hrw4u

#12243 Cleanup: Use string_view in URL and HTTPHdr
  include/proxy/hdrs/HTTP.h
  include/proxy/hdrs/URL.h
  src/api/InkAPI.cc
  src/api/InkAPIInternal.cc
  src/iocore/cache/P_CacheInternal.h
  src/proxy/ControlBase.cc
  src/proxy/FetchSM.cc
  src/proxy/ParentConsistentHash.cc
  src/proxy/ParentSelection.cc
  src/proxy/Transform.cc
  src/proxy/hdrs/HTTP.cc
  src/proxy/hdrs/HeaderValidator.cc
  src/proxy/hdrs/URL.cc
  src/proxy/hdrs/VersionConverter.cc
  src/proxy/hdrs/unit_tests/test_HdrHeap.cc
  src/proxy/hdrs/unit_tests/test_URL.cc
  src/proxy/http/HttpDebugNames.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/HttpTransactHeaders.cc
  src/proxy/http/RegressionHttpTransact.cc
  src/proxy/http/remap/NextHopConsistentHash.cc
  src/proxy/http/remap/RemapConfig.cc
  src/proxy/http/remap/RemapProcessor.cc
  src/proxy/http/remap/UrlMappingPathIndex.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/proxy/http2/Http2Stream.cc
Labels: Cleanup

#12278 Update url_m_loc variable to the newly generated one in set-destination
  plugins/header_rewrite/operators.cc
Labels: header_rewrite

#12305 HRW4U: Adds support for HRW if-elif clauses
  tools/hrw4u/grammar/hrw4u.g4
  tools/hrw4u/src/visitor.py
  tools/hrw4u/tests/data/conds/if-elif.ast.txt
  tools/hrw4u/tests/data/conds/if-elif.input.txt
  tools/hrw4u/tests/data/conds/if-elif.output.txt
Labels: hrw4u

#12314 per_server_connection_max.test.py: Process fixes
  tests/gold_tests/origin_connection/per_server_connection_max.test.py
Labels: Bug, AuTest

#12303 Add a setting to choose the data source of IP address for ACL
  doc/admin-guide/configuration/proxy-protocol.en.rst
  doc/admin-guide/files/records.yaml.en.rst
  include/proxy/IPAllow.h
  src/iocore/net/SNIActionPerformer.cc
  src/proxy/IPAllow.cc
  src/proxy/http/HttpSessionAccept.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http2/Http2SessionAccept.cc
  src/records/RecordsConfig.cc
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/ip_allow/replays/http_proxy_protocol.replay.yaml
  tests/gold_tests/remap/remap_acl.test.py
  tests/gold_tests/remap/remap_acl_get_post_allowed_pp.replay.yaml
  tests/gold_tests/tls/replay/ip_allow_proxy.replay.yaml
  tests/gold_tests/tls/tls_sni_ip_allow.test.py
Labels: PROXY Protocol

#12199 Add URL argument to USDT
  src/proxy/http/HttpSM.cc
Labels: Tracing

#12315 initialize the OptionInfo in the ESI plugin using default member initializer
  plugins/esi/esi.cc
Labels: esi
