Repository apache/trafficserver, pull requests merged in 2025-09, with the labels that each got.

#12463 xdebug probe-full-json: encoding the origin body
  doc/admin-guide/plugins/xdebug.en.rst
  plugins/xdebug/CMakeLists.txt
  plugins/xdebug/unit_tests/test_xdebug_utils.cc
  plugins/xdebug/xdebug.cc
  plugins/xdebug/xdebug_transforms.cc
  plugins/xdebug/xdebug_types.h
  plugins/xdebug/xdebug_utils.cc
  plugins/xdebug/xdebug_utils.h
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/gold/jq.gold
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/gold/jq_escaped.gold
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/gold/jq_hex.gold
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/gold/jq_nobody.gold
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/x_probe_full_json.replay.yaml
  tests/gold_tests/pluginTest/xdebug/x_probe_full_json/x_probe_full_json.test.py
Labels: New Feature, xdebug

#12431 Fix HostDB sync issue by preserving expiry_time on load
  iocore/hostdb/P_RefCountCache.h
Labels: HostDB

#12478 Fix integer overflow in compress plugin for large file compression
  plugins/compress/compress.cc
  plugins/compress/misc.h
Labels: compress

#12491 Add 10.1.x to the list of versions in the docs
  doc/static/languages.json
Labels: Documentation

#12490 Fix pqus marshaling
  include/proxy/logging/LogAccess.h
  src/proxy/logging/LogAccess.cc
  src/traffic_logstats/logstats.cc
  tests/gold_tests/ip_allow/gold/log.gold
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/ip_allow/run_sed.sh
Labels: Logging, Crash

#12507 Add nullptr check in HttpTransact::is_stale_cache_response_returnable…
  proxy/http/HttpTransact.cc
Labels: Backport

#12481 test: make test_layout independent of TS_ROOT
  src/tscore/unit_tests/test_layout.cc
Labels: Tests

#12513 Fix a merge issue with PR #12485
  src/proxy/http/HttpSM.cc
Labels: Cleanup

#12516 Remove ready=When.PortOpen that are used for httpbin
  tests/gold_tests/cache/background_fill.test.py
  tests/gold_tests/connect/connect.test.py
  tests/gold_tests/h2/h2spec.test.py
  tests/gold_tests/h2/httpbin.test.py
  tests/gold_tests/h2/nghttp.test.py
  tests/gold_tests/logging/new_log_flds.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSHttpSsnInfo.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSHttpTxnVerifiedAddr.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSVConnPPInfo.test.py
Labels: Tests

#12519 10.1.x: Fix pqus marshaling (#12490)
  include/proxy/logging/LogAccess.h
  src/proxy/logging/LogAccess.cc
  src/traffic_logstats/logstats.cc
  tests/gold_tests/ip_allow/gold/log.gold
  tests/gold_tests/ip_allow/ip_allow.test.py
  tests/gold_tests/ip_allow/run_sed.sh
Labels: Logging, Crash

#12515 Update test for TSHttpTxnVerifiedAddr
  tests/gold_tests/pluginTest/tsapi/test_TSHttpTxnVerifiedAddr.test.py
Labels: Tests

#12518 header_rewrite: Fix that address source PLUGIN is unavailable for remap plugin use case
  plugins/header_rewrite/header_rewrite.cc
Labels: header_rewrite

#12520 header_rewrite: Fix uninitialized bufp/hdr_loc
  plugins/header_rewrite/resources.cc
Labels: header_rewrite

#12494 esi: Add URL to many error messages
  plugins/esi/CMakeLists.txt
  plugins/esi/combo_handler.cc
  plugins/esi/esi.cc
  plugins/esi/http_utils.cc
  plugins/esi/http_utils.h
  plugins/esi/lib/EsiParser.cc
  plugins/esi/lib/EsiParser.h
  plugins/esi/lib/EsiProcessor.cc
  plugins/esi/lib/EsiProcessor.h
  plugins/esi/serverIntercept.cc
  tests/gold_tests/pluginTest/esi/esi.test.py
Labels: esi

#12405 Fix user_agent_session_miss for ATS SSL session cache
  doc/admin-guide/monitoring/statistics/core/ssl.en.rst
  src/iocore/net/SSLStats.cc
  src/iocore/net/SSLStats.h
  src/iocore/net/TLSSessionResumptionSupport.cc
Labels: Metrics, SSL

#12527 Convert const and #define to constexpr
  src/proxy/hdrs/HdrHeap.cc
  src/proxy/hdrs/HdrToken.cc
  src/proxy/hdrs/MIME.cc
  src/proxy/hdrs/URL.cc
  src/proxy/hdrs/test_urlhash.cc
  src/proxy/http/HttpSM.cc
Labels: Cleanup

#12521 header_rewrite: Add set-effective-address operator
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite_effective_address.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_effective_address.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_effective_address.conf
Labels: header_rewrite

#12529 Fix connection leak on client abort
  src/proxy/http/HttpSM.cc
  tests/gold_tests/h2/http2_concurrent_streams.test.py
  tests/gold_tests/h2/http2_rst_stream.test.py
  tests/gold_tests/h2/replay/http2_concurrent_streams.replay.yaml
Labels: Cache
