Repository apache/trafficserver, pull requests merged in 2025-02, with the labels that each got.

#12008 ypaf update: v0.32.0 -> v0.43.0
  tools/yapf.sh
Labels: format

#12004 [Doc] Add deprecated plugins list for 10.0.0
  doc/release-notes/upgrading.en.rst
Labels: Documentation

#12010 Fixes some typos on Cripts docs
  doc/developer-guide/cripts/cripts-urls.en.rst
  src/cripts/tests/query_test.cc
Labels: Documentation, Cripts

#12007 Adding a 103 Early Hints Autest
  tests/gold_tests/early_hints/early_hints.test.py
  tests/gold_tests/early_hints/early_hints_server.py
  tests/gold_tests/slow_post/quick_server.test.py
  tests/tools/http_utils.py
Labels: HTTP, AuTest

#12013 Fix cifuzz job
  .github/workflows/cifuzz.yml
Labels: CI

#12011 Accept PROXY protocol header that carries UDP address info
  include/iocore/net/ProxyProtocol.h
  src/iocore/net/ProxyProtocol.cc
  src/iocore/net/unit_tests/test_ProxyProtocol.cc
Labels: PROXY Protocol

#12000 Fix a build issue from iocore cleanup
  src/iocore/net/CMakeLists.txt
Labels: Build, Must-Fix

#12002 traffic_crashlog: compile for FreeBSD
  src/traffic_crashlog/backtrace.cc
Labels: Build, traffic_crashlog

#12009 Adds the %{GROUP} condition to HRW, and else clause
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/parser.cc
  plugins/header_rewrite/parser.h
  plugins/header_rewrite/ruleset.cc
  plugins/header_rewrite/ruleset.h
Labels: header_rewrite

#11985 Update modsecurity example that leverages lua plugin
  example/plugins/lua-api/modsecurity/README.md
  example/plugins/lua-api/modsecurity/example.conf
  example/plugins/lua-api/modsecurity/owasp.conf
Labels: Plugins

#12025 Fix memory leaks in the Healthchecks plugin
  plugins/healthchecks/healthchecks.cc
Labels: Leak, healthchecks

#12024 Use ats_free instead of free in LogFlushData destructor
  include/proxy/logging/Log.h
Labels: Logging, Cleanup

#12017 Prioritise unwind_INCLUDE_DIRS path
  src/traffic_crashlog/CMakeLists.txt
Labels: traffic_crashlog

#12030 records.yaml: Error logs - Include record name as part of the error description.
  src/records/RecYAMLDecoder.cc
  tests/gold_tests/records/records_yaml.test.py
Labels: Records

#12023 Verbose debugging for setting the number of net threads
  src/traffic_server/traffic_server.cc
  src/tscore/ink_hw.cc
Labels: Debug, Threads

#12019 install libswoc with versioned filenames
  lib/swoc/CMakeLists.txt
Labels: Build

#12044 unit test - Update cert `enddate`
  tests/gold_tests/timeout/ssl/cert.crt
Labels: AuTest, SSL

#12033 Update the cmake hwloc processing unit support test to use the hwloc include directory
  CMakeLists.txt
Labels: CMake

#12006 Added option for proxy.config.http.auth_server_session_private
  doc/admin-guide/files/records.yaml.en.rst
  src/proxy/http/HttpConfig.cc
  src/proxy/http/HttpSM.cc
  src/records/RecordsConfig.cc
Labels: New Feature

#12041 [cache_range_requests] Cleanup debug log
  plugins/cache_range_requests/cache_range_requests.cc
Labels: Cleanup, cache_range_requests

#12042 CID-1591526 - Fix double unlocking.
  src/mgmt/rpc/jsonrpc/JsonRPCManager.cc
Labels: Coverity

#12043 Coverity - fix some new unit test's new issues.
  src/proxy/http/remap/unit-tests/test_PluginFactory.cc
  src/proxy/http/remap/unit-tests/test_RemapRules.cc
Labels: Coverity

#12045 CID-1508827 Fix leak in icap_plugin
  plugins/experimental/icap/icap_plugin.cc
Labels: Plugins, Coverity, Leak

#12031 Add support for Unix Domain Socket server
  CMakeLists.txt
  doc/admin-guide/files/records.yaml.en.rst
  include/iocore/net/AcceptOptions.h
  include/proxy/logging/LogField.h
  include/records/RecHttp.h
  include/tscore/ink_config.h.cmake.in
  include/tscore/ink_inet.h
  src/iocore/net/Server.cc
  src/iocore/net/UnixNetAccept.cc
  src/iocore/net/UnixNetProcessor.cc
  src/iocore/net/UnixNetVConnection.cc
  src/proxy/http/HttpProxyServerMain.cc
  src/proxy/http/HttpSessionAccept.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/logging/LogAccess.cc
  src/records/RecHttp.cc
  src/tscore/ink_inet.cc
  src/tscore/unit_tests/test_ink_inet.cc
Labels: Enhancement

#12039 access_control plugin: Generate Session Cookie by "exp=0"
  doc/admin-guide/plugins/access_control.en.rst
  plugins/experimental/access_control/access_control.cc
  plugins/experimental/access_control/plugin.cc
  tests/gold_tests/pluginTest/access_control/access_control.test.py
  tests/gold_tests/pluginTest/access_control/etc/hmac_keys.txt
  tests/gold_tests/pluginTest/access_control/replays/access_control.replay.yaml
Labels: New Feature, access_control

#12040 Cleanup debug log of do_http_server_open
  src/proxy/http/HttpSM.cc
Labels: Cleanup, Debug, HttpSM

#12051 Build tools - Bump quiche version to 0.23.2
  tools/build_boringssl_h3_tools.sh
  tools/build_openssl_h3_tools.sh
Labels: Tools

#12050 Fix up logging for write-fail-5/collapsed-forwarding
  src/proxy/logging/LogAccess.cc
Labels: Logging

#12049 Add support for getting authority information from Proxy Protocol
  doc/admin-guide/logging/formatting.en.rst
  include/iocore/net/NetVConnection.h
  include/iocore/net/ProxyProtocol.h
  include/proxy/logging/LogAccess.h
  src/iocore/net/ProxyProtocol.cc
  src/proxy/logging/Log.cc
  src/proxy/logging/LogAccess.cc
Labels: PROXY Protocol, Enhancement

#12054 traffic_logcat: Bump buffer size
  src/traffic_logcat/logcat.cc
Labels: traffic_logcat

#12015 Adds HRW state variables, 16 flags, 4 int8s and 1 int16
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/header_rewrite.cc
  plugins/header_rewrite/header_rewrite_test.cc
  plugins/header_rewrite/lulu.h
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
  plugins/header_rewrite/parser.h
  plugins/header_rewrite/statement.cc
  plugins/header_rewrite/statement.h
  plugins/header_rewrite/value.h
Labels: header_rewrite
