Repository apache/trafficserver, pull requests merged in 2025-05, with the labels that each got.

#12170 Add a StatusCode() macro for Cripts convenience mode
  doc/developer-guide/cripts/cripts-convenience.en.rst
  include/cripts/Preamble.hpp
Labels: Cripts

#12218 Refactor HRW matchers, add SETS
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/condition.cc
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/lulu.h
  plugins/header_rewrite/matcher.cc
  plugins/header_rewrite/matcher.h
  plugins/header_rewrite/parser.h
  tests/gold_tests/pluginTest/header_rewrite/gold/ext-sets.gold
  tests/gold_tests/pluginTest/header_rewrite/gold/header_rewrite-client.gold
  tests/gold_tests/pluginTest/header_rewrite/header_rewrite_url.test.py
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_client.conf
  tests/gold_tests/pluginTest/header_rewrite/rules/rule_cond_method.conf
Labels: header_rewrite

#12220 x-ja3-via and x-ja4-via
  doc/admin-guide/plugins/ja3_fingerprint.en.rst
  plugins/experimental/ja4_fingerprint/plugin.cc
  plugins/ja3_fingerprint/ja3_fingerprint.cc
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint.test.py
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint_global.replay.yaml
  tests/gold_tests/pluginTest/ja3_fingerprint/ja3_fingerprint_remap.replay.yaml
  tests/gold_tests/pluginTest/ja4_fingerprint/ja4_fingerprint.replay.yaml
  tests/gold_tests/pluginTest/ja4_fingerprint/ja4_fingerprint.test.py
Labels: New Feature, ja3_fingerprint, ja4_fingerprint

#12217 Make TS_VERSION_STRING overridable
  CMakeLists.txt
Labels: Build, CMake

#12091 Return string view from HTTPHdr methods
  include/proxy/hdrs/HTTP.h
  src/api/InkAPI.cc
  src/iocore/cache/CacheVC.cc
  src/proxy/ControlBase.cc
  src/proxy/hdrs/HTTP.cc
  src/proxy/hdrs/VersionConverter.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpSessionManager.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/HttpTransactHeaders.cc
  src/proxy/http/remap/RemapProcessor.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http2/Http2Stream.cc
  src/proxy/logging/LogAccess.cc
Labels: Cleanup

#12228 XPACK: Inspect _start_expanding_capacity before expanding
  include/proxy/hdrs/XPACK.h
  src/proxy/hdrs/XPACK.cc
  src/proxy/hdrs/unit_tests/test_XPACK.cc
Labels: HTTP/2, Bug, HTTP/3

#12235 cachekey doc: --include-headers matched case insensitively
  doc/admin-guide/plugins/cachekey.en.rst
Labels: Documentation, cachekey

#12233 revert #10996 move session pool metrics outside critical section
  src/proxy/http/HttpSessionManager.cc
Labels: Metrics

#12239 Cleanup: Remove unused member of CacheLookupInfo
  include/proxy/http/HttpTransact.h
Labels: HTTP, Cleanup

#12231 Update SNI for origin side connections
  include/iocore/net/TLSSNISupport.h
  src/iocore/net/SSLNetVConnection.cc
  src/iocore/net/TLSSNISupport.cc
Labels: HTTP, TLS, Bug

#12167 Take string view in mime methods
  include/proxy/hdrs/HTTP.h
  include/proxy/hdrs/HdrToken.h
  include/proxy/hdrs/MIME.h
  include/proxy/http/Http1Transaction.h
  include/proxy/http2/HPACK.h
  include/tscore/ink_memory.h
  src/api/InkAPI.cc
  src/api/InkAPIInternal.cc
  src/iocore/cache/CacheRead.cc
  src/iocore/cache/CacheVC.cc
  src/iocore/cache/HttpTransactCache.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_L_to_S_remove_S.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_L.cc
  src/iocore/cache/unit_tests/test_Alternate_S_to_L_remove_S.cc
  src/iocore/cache/unit_tests/test_Update_header.cc
  src/proxy/FetchSM.cc
  src/proxy/Transform.cc
  src/proxy/hdrs/HTTP.cc
  src/proxy/hdrs/HdrToken.cc
  src/proxy/hdrs/HeaderValidator.cc
  src/proxy/hdrs/MIME.cc
  src/proxy/hdrs/URL.cc
  src/proxy/hdrs/VersionConverter.cc
  src/proxy/hdrs/unit_tests/test_HdrUtils.cc
  src/proxy/hdrs/unit_tests/test_Hdrs.cc
  src/proxy/hdrs/unit_tests/test_HeaderValidator.cc
  src/proxy/hdrs/unit_tests/test_mime.cc
  src/proxy/http/HttpBodyFactory.cc
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTransact.cc
  src/proxy/http/HttpTransactHeaders.cc
  src/proxy/http/remap/NextHopSelectionStrategy.cc
  src/proxy/http/remap/RemapProcessor.cc
  src/proxy/http/remap/UrlRewrite.cc
  src/proxy/http/unit_tests/test_HttpTransact.cc
  src/proxy/http2/Http2ConnectionState.cc
  src/proxy/http2/Http2Stream.cc
  src/proxy/http2/test_HPACK.cc
  src/proxy/http2/unit_tests/test_HTTP2.cc
  src/proxy/http2/unit_tests/test_HpackIndexingTable.cc
  src/proxy/http3/QPACK.cc
  src/proxy/http3/test/test_QPACK.cc
  src/proxy/logging/LogAccess.cc
Labels: Cleanup

#12229 Cleanup: Just use vector for seen in RamCacheLRU
  src/iocore/cache/RamCacheLRU.cc
Labels: Cleanup

#12215 Reset write lock state to init after closing write
  src/proxy/http/HttpSM.cc
Labels: Bug, HttpSM, Redirect

#12125 header_rewrite: Add set-plugin-cntl
  doc/admin-guide/plugins/header_rewrite.en.rst
  plugins/header_rewrite/conditions.cc
  plugins/header_rewrite/conditions.h
  plugins/header_rewrite/factory.cc
  plugins/header_rewrite/operators.cc
  plugins/header_rewrite/operators.h
  plugins/header_rewrite/statement.cc
  plugins/header_rewrite/statement.h
Labels: New Feature, header_rewrite

#12032 Add TSVConnPPInfoGet
  include/ts/apidefs.h.in
  include/ts/ts.h
  src/api/InkAPI.cc
  src/iocore/net/ProxyProtocol.cc
  tests/gold_tests/pluginTest/tsapi/CMakeLists.txt
  tests/gold_tests/pluginTest/tsapi/test_TSVConnPPInfo.cc
  tests/gold_tests/pluginTest/tsapi/test_TSVConnPPInfo.test.py
  tests/gold_tests/pluginTest/tsapi/test_TSVConnPPInfo_curl0.gold
  tests/gold_tests/pluginTest/tsapi/test_TSVConnPPInfo_curl1.gold
  tests/gold_tests/pluginTest/tsapi/test_TSVConnPPInfo_plugin_log.gold
Labels: TS API, PROXY Protocol

#12192 Return a 400 on chunk parse errors
  include/proxy/http/HttpTunnel.h
  src/proxy/http/HttpSM.cc
  src/proxy/http/HttpTunnel.cc
  tests/gold_tests/chunked_encoding/bad_chunked_encoding.test.py
  tests/gold_tests/chunked_encoding/replays/malformed_chunked_header.replay.yaml
Labels: HTTP

#12242 Fix build for io_uring
  src/iocore/aio/AIO.cc
  src/iocore/aio/test_AIO.cc
  src/traffic_server/traffic_server.cc
Labels: Build, io_uring

#12121 [compress] Add an option to do not compress partial object
  doc/admin-guide/plugins/compress.en.rst
  plugins/compress/compress.cc
  plugins/compress/configuration.cc
  plugins/compress/configuration.h
  tests/gold_tests/pluginTest/compress/compress-range.test.py
  tests/gold_tests/pluginTest/compress/etc/cache-true-remove-accept-encoding.config
  tests/gold_tests/pluginTest/compress/etc/cache-true-remove-range.config
  tests/gold_tests/pluginTest/compress/replay/compress-and-range.replay.yaml
Labels: compress

#12255 gdb pretty printer for HttpSM history
  tools/gdb-helpers.py
Labels: Tools, Debug

#12223 Add server_group_list option to sni
  doc/admin-guide/files/sni.yaml.en.rst
  include/iocore/net/TLSBasicSupport.h
  include/iocore/net/YamlSNIConfig.h
  src/iocore/net/SNIActionPerformer.cc
  src/iocore/net/SNIActionPerformer.h
  src/iocore/net/TLSBasicSupport.cc
  src/iocore/net/YamlSNIConfig.cc
  tests/gold_tests/tls/tls_sni_groups.test.py
Labels: Plugins

#12245 Connection tracker: Add functions to query inbound groups.
  include/iocore/net/ConnectionTracker.h
  src/iocore/net/ConnectionTracker.cc
Labels: Tools
