Repository apache/trafficserver, changes with the owners that CODEOWNERS names for each.
All owners: @bryancall, @SolidWallOfCode, @zwoop, @masaori335, @maskit, @gtenev, @mlibbey

Fix memory leak of HPACK
  proxy/http2/HPACK.cc
Owners: @masaori335

Added bonded interface support to system stats plugin (#6668)
  plugins/experimental/system_stats/system_stats.c
Owners: @bryancall

Bug fixes to h2 buffering
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Owners: @bryancall, @masaori335

Bug fixes to h2 buffering
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Owners: @bryancall, @masaori335

remove unnecessary Last-Modified header from tests
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests_ims.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Owners: @bryancall

CODEOWNERS:

#   Licensed to the Apache Software Foundation (ASF) under one
#   or more contributor license agreements.  See the NOTICE file
#   distributed with this work for additional information
#   regarding copyright ownership.  The ASF licenses this file
#   to you under the Apache License, Version 2.0 (the
#   "License"); you may not use this file except in compliance
#   with the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Order is important. The last matching pattern has the most precedence.
# A component can have more than one owner!

# These owners will be the default owners for everything in the repo.
*                           @bryancall

# The new order "src" tree
src/tscore/*                @SolidWallOfCode
src/wccp/*                  @SolidWallOfCode
src/traffic_top/*           @bryancall
src/traffic_logstats/*      @zwoop

# The proxy tree, where all flavor of HTTP lives
proxy/http2/*               @masaori335
proxy/http3/*               @maskit @masaori335

# Various plugins
plugins/*                   @zwoop
plugins/cachekey/*          @gtenev

# Documentation
doc/*                       @SolidWallOfCode @mlibbey
