Repository apache/trafficserver, changes with the owners that CODEOWNERS names for each.
All owners: @bryancall, @SolidWallOfCode, @zwoop, @maskit, @bryan_call, @masaori335, @gtenev, @mlibbey

Fixes minor memory leak in configure_net
  iocore/net/Net.cc
Owners: @bryancall

Fixes memory leak during log configuration
  proxy/logging/LogConfig.cc
Owners: @zwoop

Remove tls_versions from host sni policy check
  doc/admin-guide/files/records.config.en.rst
  iocore/net/P_SNIActionPerformer.h
Owners: @bryancall

code and documentation for lua states configuration and stats printing
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_coroutine.h
  plugins/lua/ts_lua_util.c
  tests/gold_tests/pluginTest/lua/gold/lifecycle.stderr.gold
  tests/gold_tests/pluginTest/lua/gold/metrics.stdout.gold
  tests/gold_tests/pluginTest/lua/hello.lua
  tests/gold_tests/pluginTest/lua/lua_states_stats.test.py
Owners: @bryancall

Update TSStatFindName to check that sync callback is set on the stat
  lib/records/I_RecCore.h
  lib/records/RecCore.cc
  src/traffic_server/InkAPI.cc
Owners: @zwoop

Fixes minor memory leak in configure_net
  iocore/net/Net.cc
Owners: @bryancall

Update TSStatFindName to check that sync callback is set on the stat
  lib/records/I_RecCore.h
  lib/records/RecCore.cc
  src/traffic_server/InkAPI.cc
Owners: @zwoop

Fixes minor memory leak in configure_net
  iocore/net/Net.cc
Owners: @bryancall

Fixes minor memory leak in configure_net
  iocore/net/Net.cc
Owners: @bryancall

Bug fixes to h2 buffering
  doc/admin-guide/files/records.config.en.rst
  mgmt/RecordsConfig.cc
  proxy/http2/HTTP2.cc
  proxy/http2/Http2ClientSession.cc
  proxy/http2/Http2ClientSession.h
  proxy/http2/Http2ConnectionState.cc
  proxy/http2/Http2ConnectionState.h
  proxy/http2/Http2Stream.cc
  proxy/http2/Http2Stream.h
Owners: @bryancall, @zwoop, @masaori335

code and documentation for lua states configuration and stats printing (#6571)
  doc/admin-guide/plugins/lua.en.rst
  plugins/lua/ts_lua.c
  plugins/lua/ts_lua_coroutine.h
  plugins/lua/ts_lua_util.c
  tests/gold_tests/pluginTest/lua/gold/lifecycle.stderr.gold
  tests/gold_tests/pluginTest/lua/gold/metrics.stdout.gold
  tests/gold_tests/pluginTest/lua/hello.lua
  tests/gold_tests/pluginTest/lua/lua_states_stats.test.py
Owners: @bryancall

cache_range_requests autests remove unnecessary Last-Modified header from tests
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Owners: @bryancall

Updated ChangeLog
  CHANGELOG-8.1.0
Owners: @bryancall

Fix link issue of test_libhttp2 on FreeBSD 12 with --enable-debug
  proxy/http2/Makefile.am
Owners: @masaori335

Updated docs for guaranteed_{min,max}_lifetime
  doc/admin-guide/files/records.config.en.rst
Owners: @bryancall

Traffic Dump: Adding an SNI filtering option. (#6645)
  doc/admin-guide/plugins/traffic_dump.en.rst
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_bob.gold
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_dave.gold
  tests/gold_tests/pluginTest/traffic_dump/ssl/server.key
  tests/gold_tests/pluginTest/traffic_dump/ssl/server.pem
  tests/gold_tests/pluginTest/traffic_dump/ssl/signed-foo.key
  tests/gold_tests/pluginTest/traffic_dump/ssl/signed-foo.pem
  tests/gold_tests/pluginTest/traffic_dump/ssl/signer.pem
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump_sni_filter.test.py
Owners: @bryancall

Updated ChangeLog
  CHANGELOG-9.0.0
Owners: @bryancall

cache_range_requests autests remove unnecessary Last-Modified header from tests
  tests/gold_tests/pluginTest/cache_range_requests/cache_range_requests.test.py
  tests/gold_tests/pluginTest/cache_range_requests/gold/frange.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/full.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/inner.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/last.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect.stdout.gold
  tests/gold_tests/pluginTest/cache_range_requests/gold/pselect_none.stdout.gold
Owners: @bryancall

Convert check programs in iocore/eventsystem/ into Catch based unit tests
  .gitignore
  iocore/eventsystem/Makefile.am
  iocore/eventsystem/test_Buffer.cc
  iocore/eventsystem/test_Event.cc
  iocore/eventsystem/unit_tests/test_EventSystem.cc
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
Owners: @bryancall

Add unit tests for MIOBuffer:write()
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
Owners: @bryancall

Reduce unnecesary IOBufferBlock allocation
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
  iocore/eventsystem/unit_tests/test_IOBuffer.cc
Owners: @bryancall

Avoid IOBufferReader::read_avail() call from MIOBuffer::high_water()
  iocore/eventsystem/IOBuffer.cc
  iocore/eventsystem/I_IOBuffer.h
Owners: @bryancall

Cleanup: Remove unused AllocType and unused functions
  iocore/eventsystem/I_IOBuffer.h
  iocore/eventsystem/P_IOBuffer.h
Owners: @bryancall

Updated ChangeLog
  CHANGELOG-8.1.0
Owners: @bryancall

forwarding
  include/tscore/Extendible.h
Owners: @SolidWallOfCode, @zwoop

Fix link issue of test_libhttp2 on FreeBSD 12 with --enable-debug
  proxy/http2/Makefile.am
Owners: @masaori335

Fix link issue of test_libhttp2 on FreeBSD 12 with --enable-debug
  proxy/http2/Makefile.am
Owners: @masaori335

Fix link issue of test_libhttp2 on FreeBSD 12 with --enable-debug
  proxy/http2/Makefile.am
Owners: @masaori335

Test PUSHing an object into the cache and the GETting it with a few variations on the client connection protocol.
  tests/gold_tests/bigobj/bigobj.test.py
  tests/gold_tests/bigobj/check_ramp.c
  tests/gold_tests/bigobj/log2.gold
  tests/gold_tests/bigobj/push_request.c
  tests/gold_tests/bigobj/ssl/server.key
  tests/gold_tests/bigobj/ssl/server.pem
Owners: @bryancall

traffic_dump: don't dump cookies from the wire (#6586)
  doc/admin-guide/plugins/traffic_dump.en.rst
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/gold_tests/pluginTest/traffic_dump/gold/200.gold
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump.test.py
  tests/gold_tests/pluginTest/traffic_dump/verify_replay.py
Owners: @bryancall

Traffic Dump: Adding an SNI filtering option. (#6645)
  doc/admin-guide/plugins/traffic_dump.en.rst
  plugins/experimental/traffic_dump/traffic_dump.cc
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_bob.gold
  tests/gold_tests/pluginTest/traffic_dump/gold/200_sni_dave.gold
  tests/gold_tests/pluginTest/traffic_dump/ssl/server.key
  tests/gold_tests/pluginTest/traffic_dump/ssl/server.pem
  tests/gold_tests/pluginTest/traffic_dump/ssl/signed-foo.key
  tests/gold_tests/pluginTest/traffic_dump/ssl/signed-foo.pem
  tests/gold_tests/pluginTest/traffic_dump/ssl/signer.pem
  tests/gold_tests/pluginTest/traffic_dump/traffic_dump_sni_filter.test.py
Owners: @bryancall

Fixes memory leak during log configuration
  proxy/logging/LogConfig.cc
Owners: @zwoop

Normalizes function names to match hook names in intercept plugins
  example/plugins/c-api/intercept/intercept.cc
  plugins/generator/generator.cc
Owners: @bryancall

Updated ChangeLog
  CHANGELOG-9.0.0
Owners: @bryancall

Test PUSHing an object into the cache and the GETting it with a few variations on the client connection protocol.
  tests/gold_tests/bigobj/bigobj.test.py
  tests/gold_tests/bigobj/check_ramp.c
  tests/gold_tests/bigobj/log2.gold
  tests/gold_tests/bigobj/push_request.c
  tests/gold_tests/bigobj/ssl/server.key
  tests/gold_tests/bigobj/ssl/server.pem
Owners: @bryancall

Fixed memory leak in header unit test
  proxy/hdrs/unit_tests/test_HdrUtils.cc
Owners: @bryancall

Increase the default max_record_entries to match the original compiled in value
  lib/records/P_RecDefs.h
  lib/records/RecCore.cc
  mgmt/api/CoreAPI.cc
Owners: @zwoop, @bryancall

Fix deprecated-copy warning in cache tool
  src/traffic_cache_tool/CacheTool.cc
Owners: @SolidWallOfCode

Added Apache notifications file
  .asf.yaml
Owners: @bryancall

Added Apache notifications file
  .asf.yaml
Owners: @bryancall

CODEOWNERS:

#   Licensed to the Apache Software Foundation (ASF) under one
#   or more contributor license agreements.  See the NOTICE file
#   distributed with this work for additional information
#   regarding copyright ownership.  The ASF licenses this file
#   to you under the Apache License, Version 2.0 (the
#   "License"); you may not use this file except in compliance
#   with the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Order is important. The last matching pattern has the most precedence.
# A component can have more than one owner!

# These owners will be the default owners for everything in the repo.
*                           @bryancall

# The new order "src" tree
src/shared/*                @SolidWallOfCode
src/traffic_cache_tool/*    @SolidWallOfCode
src/traffic_crashlog/*      @zwoop
src/traffic_ctl/*           @zwoop
src/traffic_layout/*        @zwoop
src/traffic_logcat/*        @zwoop
src/traffic_logstats/*      @zwoop
src/traffic_manager/*       @zwoop
src/traffic_quic/*          @maskit
src/traffic_server/*        @zwoop
src/traffic_top/*           @bryancall
src/traffic_via/*           @zwoop
src/traffic_wccp/*          @SolidWallOfCode
src/tscore/*                @SolidWallOfCode @zwoop
src/wccp/*                  @SolidWallOfCode

# Include tree
include/*                   @bryan_call
include/tscpp/*             @SolidWallOfCode
include/wccp/*              @SolidWallOfCode
include/shared/*            @SolidWallOfCode @zwoop
include/tscore/*            @SolidWallOfCode @zwoop
include/ts/*                @zwoop

# iocore src
tscore/*                    @bryan_call
tscore/aio/*                @bryan_call
tscore/cache/*              @SolidWallOfCode
tscore/dns/*                @SolidWallOfCode
tscore/eventsystem/*        @bryan_call
tscore/hostdb/*             @SolidWallOfCode
tscore/net/*                @bryan_call
tscore/utils/*              @bryan_call

# Old lib tree
lib/records/*               @zwoop
lib/perl/*                  @zwoop
lib/yamlcpp/*               @bryancall

# The proxy tree, where all flavor of HTTP lives
proxy/*                     @zwoop
proxy/hdrs/*                @SolidWallOfCode
proxy/http/*                @zwoop
proxy/http2/*               @masaori335
proxy/http3/*               @maskit @masaori335
proxy/logging/*             @zwoop
proxy/private/*             @zwoop
proxy/shared/*              @zwoop

# Test tree
tests/*                     @SolidWallOfCode
tests/include/*             @SolidWallOfCode
tests/gold_tests/*          @SolidWallOfCode
tests/tools/*               @SolidWallOfCode
tests/unit_tests/*          @SolidWallOfCode

# The manager source
mgmt/*                      @zwoop @bryancall

# Various plugins
plugins/*                   @zwoop
plugins/cachekey/*          @gtenev

# Example plugins / code
example/*                   @SolidWallOfCode

# Tools tree
tools/*                     @bryancall @zwoop

# CI tools
ci/*                        @zwoop

# Documentation
doc/*                       @SolidWallOfCode @mlibbey
